<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin/admin-layout}">
<head>
<link rel="stylesheet"
	href="/assets/extensions/summernote/summernote-lite.css">

<link rel="stylesheet"
	href="/assets/compiled/css/form-editor-summernote.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<th:block layout:fragment="admincontent">
	<!-- Main__container Start-->
	<div class="main__container">
		<!-- Main Inner Wrapper Start -->
		<div class="main__inner--wrapper" style="padding: 40px 0;">
			<!-- Product List Start -->
			<div class="row">
				<div class="col-12">

					<div class="dashboard__header">
						<div class="d__header--left">
							<h2 class="title">공지사항 게시글 수정</h2>
						</div>
					</div>

					<!-- freeBrd insert Form -->
					<div class="container">
						<div class="page-heading email-application overflow-hidden">

							<!-- Basic Vertical form layout section start -->
							<section id="basic-vertical-layouts">
								<div class="row match-height">
									<div class="col-md-12 col-12">

										<div class="card">
											<div class="card-content">
												<div class="card-body">
													<form th:action="@{/adminEdit_notice}" method="Post"
														name="editForm" th:object="${brdVO}"
														class="form form-vertical" enctype="multipart/form-data">
														<div class="form-body">
															<div class="row">
																<input type="hidden" name="brdWrtNo"
																	th:value="${notice.brdWrtNo}">
																<section class="section">
																	<div class="row">
																		<div class="col-12">
																			<div class="card">
																				<div class="card-header">
																					<div class="form-group mandatory">
																						<label for="password-vertical"
																							data-parsley-required="true">제목</label> <input
																							type="text" id="password-vertical"
																							th:value="${notice.brdTitle}"
																							class="form-control" name="brdTitle"
																							placeholder="">
																					</div>
																				</div>
																				<div class="card-body smNote">
																					<textarea class="summernote" name="brdCtt">[[${notice.brdCtt}]]</textarea>
																				</div>
																			</div>

																		</div>
																	</div>
																</section>

																<div class="col-12 d-flex justify-content-end">
																	<button type="submit" class="btn btn-primary me-1 mb-1">수정</button>
																	<button type="reset"
																		class="btn btn-light-secondary me-1 mb-1">취소</button>
																	<button type="button"
																		class="btn btn-primary -o me-auto"
																		th:onclick="|location.href='@{admin_notice}'|">목록으로</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>

									</div>

								</div>
							</section>
							<!-- // Basic Vertical form layout section end -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- End freeBrd insert Form -->


	<script src="assets/extensions/summernote/summernote-lite.min.js"></script>
	<script src="assets/static/js/pages/summernote.js"></script>
	<!-- include summernote-ko-KR -->


	<script>
		//여기 아래 부분
		$('.summernote').summernote({
			height : 500, // 에디터 높이
			minHeight : null, // 최소 높이
			maxHeight : null, // 최대 높이
			focus : true, // 에디터 로딩후 포커스를 맞출지 여부
			lang : "ko-KR", // 한글 설정
			placeholder : '최대 2048자까지 쓸 수 있습니다' //placeholder 설정
			,
			callbacks : {
				onFocus : function(contents) {
					if ($('.summernote').summernote('isEmpty')) {
						$(".summernote").html('');
					}
				}
			}
		});

		/* 		// 서머노트에 text 쓰기
		 $('#summernote').summernote('insertText', '써머노트에 쓸 텍스트');


		 // 서머노트 쓰기 비활성화
		 $('#summernote').summernote('disable');

		 // 서머노트 쓰기 활성화
		 $('#summernote').summernote('enable');


		 // 서머노트 리셋
		 $('#summernote').summernote('reset');


		 // 마지막으로 한 행동 취소 ( 뒤로가기 )
		 $('#summernote').summernote('undo');
		 // 앞으로가기
		 $('#summernote').summernote('redo'); */
	</script>
</th:block>

</html>