<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/admin/admin-layout}">
<head>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<th:block layout:fragment="admincontent">
	<!-- Main__container Start-->
	<div class="main__container">
		<!-- Main Inner Wrapper Start -->
		<div class="main__inner--wrapper">
			<!-- Product List Start -->
			<div class="row">
				<div class="col-12">
					<div class="dashboard__breadcrumb">
						<div class="breadcrumb__meta">
							<ul style="padding: 0;">
								<li><a onclick="history.back()" class="link"><i class="fa-solid fa-arrow-left me-2"></i>
										Back</a></li>
							</ul>
						</div>
					</div>
					<div class="dashboard__header">
						<div class="d__header--left">
							<h2 class="title">Create product</h2>
						</div>
					</div>

					<!-- start form -->
					<form th:object="${prodVO}" id="addProdForm" class="dashboard__form" enctype="multipart/form-data">
						<div class="row">
							<div class="col-xxl-4">
								<div class="dashboard-block">
									<div class="dashboard-block__title">
										<h4>Product Image</h4>
									</div>
									<div class="card block__card" style="padding: 20px">
										<div class="upload__drag">
											<label for="imageUpload">
												<img src="assets/admin/images/upload-icon.png" class="upload-icon"
													alt="icon" /> <span> <a href="#">Click to upload</a>
													or drag and drop
												</span> <span>SVG, PNG, JPG or GIF (max. 2Mb)</span>
											</label>
											<input type="file" id="imageUpload" accept=".png, .jpg, .jpeg, .svg, .gif"
												multiple="multiple" onchange="setThumbnail(event)" />
										</div>

										<div class="preview__wrapper">
											<!--
											<div class="preview__item__wrapper">
												<div class="preview__item">
													<img src="assets/admin/images/upload-icon.png"
														class="upload-icon" alt="upload-icon" />
													<button class="close-btn">
														<i class="fa-solid fa-xmark"></i>
													</button>
													<input type="file" id="imageUpload"
													accept=".png, .jpg, .jpeg, .svg, .gif" />
												</div>
											</div>
											-->
										</div>
										<!-- <p>
											<a href="#" class="btn btn-outline">Add more image</a>
										</p> -->
									</div>
								</div>
							</div>

							<div class="col-xxl-8">
								<div class="dashboard-block">
									<div class="dashboard-block__title">
										<h4>Basic info</h4>
									</div>
									<div class="form__wrapper form-padding">
										<div class="flex__form c-3">
											<!-- 이름 -->
											<div class="form-group">
												<label for="prodName">상품 이름</label> 
												<input type="text" th:field="*{prodName}" class="form-control"
													placeholder="상품 이름을 입력해주세요." />
												<!-- name="product_name" id="product_name" -->
											</div>
											
											<!-- 카테고리 -->
											<div class="form-group">
												<label for="category">카테고리</label> 
												<select class="category-select" th:field="*{cateProd}">
												<!-- name="category" id="category" -->
													<option value="q6">기타</option>
													<option value="q1">의류</option>
													<option value="q2">신발</option>
													<option value="q3">테니스 라켓</option>
													<option value="q4">테니스 가방</option>
													<option value="q5">테니스 용품</option>
												</select>
											</div>
											
											<!-- 성별 -->
											<div class="form-group">
												<label for="gender">성별</label>
												<select class="gender-select" th:field="*{cateGen}">
												<!-- name="gender" id="gender" -->
													<option value="c3">성별 무관</option>
													<option value="c1">남성</option>
													<option value="c2">여성</option>
												</select>
											</div>
											
											<!-- 브랜드 -->
											<div class="form-group">
												<label for="brand">브랜드</label>
												<input type="text" class="form-control" placeholder="브랜드를 입력해주세요." th:field="*{prodBrand}"/>
												<!-- name="brand" id="brand" -->
											</div>
											
											<!-- 가격 -->
											<div class="form-group">
												<label for="prodPrice">가격</label>
												<input type="number" class="form-control" placeholder="가격을 입력해주세요." th:field="*{prodPrice}"/>
												<!-- name="price" id="price" -->
											</div>
											
											<!-- 판매유무 -->
											<div class="form-group">
												<label>판매 유무</label>
												<div class="custom-checkbox">
													<input name="prodSaleSts" id="prodSaleSts" type="checkbox" value="p1"/>
													<!--  name="status" id="statuss" -->
													<label for="prodSaleSts"> 
														<span class="active">Active</span>
														<span class="inactive">Inactive</span>
													</label>
												</div>
											</div>
										</div>
										<!-- <div class="flex__form c-1">
											<div class="form-group">
												<label for="tag">Tags</label> <select name="tag" id="tag"
													class="tags-select">
													<option value="select">Select Tag</option>
													<option value="select">Select Tag</option>
													<option value="select">Select Tag</option>
												</select>
											</div>
										</div> -->
										
										<!-- 상품 설명 -->
										<div class="form-group">
											<label for="description">상품 설명</label>
											<!-- name="description" id="description" -->
											<textarea class="form-control" cols="30" rows="7"
												placeholder="Write about your product description briefly"
												th:field="*{prodExp}"></textarea>
										</div>
										
										<div class="btn__group flex-wrap">
											<button type="button" class="btn btn-outline">Cancel</button>
											<button type="button" id="addBnt" class="btn btn-gray-filled">Add Product</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- end form -->
					
				</div>
			</div>
			<!-- Product List End -->
		</div>
		<!-- Main Inner Wrapper End -->
	</div>
	<!-- Main__container End-->
	
	<script type="text/javascript">
	
		$('#addBnt').on('click', insertProd);
	
		function insertProd(e) {
			let prodInfo = getProdInfo();

			// Ajax -> JSON
			$.ajax('adminAdd_Product', {
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify(prodInfo)
			})
			.done(result => {
				//console.log('JSON', result);
				if(result != -1){
					Swal.fire({
						  icon: "success",
						  title: "등록 완료",
						  text: "상품 정보가 등록되었습니다.",
						}).then(function(){
							location.href = "/adminDetail_Product?prodNo="+result;
					})
				} else {
					Swal.fire({
						  icon: "error",
						  title: "등록 실패",
						  text: "등록 중 문제 발생",
					}).then(function(){
						location.reload();
					})
				}
				
			})
			.fail(err => console.log(err));
		}
		

		function getProdInfo() {
			let formData = $('#addProdForm').serializeArray();
			let prodSaleSts = $('#prodSaleSts').is(':checked') ? 'p1' : 'p2';
			formData.push({name: 'prodSaleSts', value: prodSaleSts});

			let objData = {};

			$.each(formData, (idx, obj) => {
				objData[obj.name] = obj.value;
			});
			return objData;
		}
	</script>
	
	<script type="text/javascript">
		function setThumbnail(event) {
			// 이미지 비워주기
			$('#imageUpload').empty();
			console.log(event.target.files);

			let files = event.target.files;
			let arr = Array.prototype.slice.call(files);

			// 업로드 가능 파일인지 체크
			for (let i = 0; i < files.length; i++) {
				if (!checkExtension(files[i].name, files[i].size)) {
					return false;
				}
			}
			preview(arr);
		}


		function checkExtension(fileName, fileSize) {
			var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
			var maxSize = 20971520;  //20MB

			if (fileSize >= maxSize) {
				alert('파일 사이즈 초과');
				$("input[type='file']").val("");  //파일 초기화
				return false;
			}

			if (regex.test(fileName)) {
				alert('업로드 불가능한 파일이 있습니다.');
				$("input[type='file']").val("");  //파일 초기화
				return false;
			}
			return true;
		}

		function preview(arr) {
			var reader = new FileReader();
			arr.forEach(function (f) {
				//파일명이 길면 파일명...으로 처리
				let fileName = f.name;
				if (fileName.length > 10) {
					fileName = fileName.substring(0, 7) + "...";
				}

				let divT1 = $('<div>').attr('class', 'preview__item__wrapper');
				let divT2 = $('<div>').attr('class', 'preview__item');
				let btnT = $('<button>').attr('class', 'close-btn');
				let iT = $('<i>').addClass('fa-solid').addClass('fa-xmark').on('click', function (event) {
					console.log(event.target.parentElement.parentElement);
					event.target.parentElement.parentElement.parentElement.remove();
				});
				
				//이미지 파일 미리보기
				if (f.type.match('image.*')) {
					reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
					reader.onload = function (e) { //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
						//console.log(e.target.result);
						let img = $('<img>').attr('src', e.target.result);
						btnT.append(iT);
						divT2.append(img);
						divT2.append(btnT);
						divT1.append(divT2);
						$('.preview__wrapper').append(divT1);
					}
					reader.readAsDataURL(f);
				}
			});
		}


		// for (let image of event.target.files) {
		// 	let divT1 = $('<div>').attr('class', 'preview__item__wrapper');
		// 	let divT2 = $('<div>').attr('class', 'preview__item');
		// 	let btnT = $('<button>').attr('class', 'close-btn').on('click', function (event) {
		// 		console.log(event.target.parentElement.parentElement);
		// 		event.target.parentElement.parentElement.parentElement.remove();
		// 	});
		// 	let iT = $('<i>').addClass('fa-solid').addClass('fa-xmark');

		// 	let reader = new FileReader();

		// 	reader.onload = function (e) {
		// 		let img = $('<img>').attr('src', e.target.result);
		// 		btnT.append(iT);
		// 		divT2.append(img);
		// 		divT2.append(btnT);
		// 		divT1.append(divT2);
		// 		$('.preview__wrapper').append(divT1);
		// 	};
		// 	reader.readAsDataURL(image);
		// }
		
	</script>
	<script type="text/javascript">
		$('#prodPrice').val(null);
		//console.log([[ ${prodVO} ]]);
	</script>
</th:block>

</html>