<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin/admin-layout}">
<head>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<style type="text/css">
		#imgArea {
			font-family: 'Noto Sans KR', sans-serif !important;
			margin: 0;
			
		}
	</style>
</head>
<th:block layout:fragment="admincontent">
	<style>
		.nice-select span,
		.nice-select li {
			font-family: 'Noto Sans KR', sans-serif;
			font-size: 15px;
  			font-weight: 500;
  			color: #667085;
		}
		.btn__group button {
			font-family: 'Noto Sans KR', sans-serif;
		}
	</style>
	<!-- Main__container Start-->
	<div class="main__container">
		<!-- Main Inner Wrapper Start -->
		<div class="main__inner--wrapper">
			<!-- Product List Start -->
			<div class="row">
				<div class="col-12">
					<div class="dashboard__breadcrumb">
						<div class="breadcrumb__meta">
							<ul style="padding: 0;">
								<li><a onclick="history.back()" class="link" style="cursor:pointer;"><i class="fa-solid fa-arrow-left me-2"></i>
										Back</a></li>
							</ul>
						</div>
					</div>
					<div class="dashboard__header">
						<div class="d__header--left">
							<h2 class="title">상품 정보 등록</h2>
						</div>
					</div>

					<!-- start form -->
					<form th:object="${prodVO}" id="addProdForm" class="dashboard__form" enctype="multipart/form-data">
						<div class="row">
							<div class="col-xxl-4">
								<div class="dashboard-block">
									<div class="dashboard-block__title">
										<h4>Product Image</h4>
									</div>
									<div class="card block__card" style="padding: 30px">
											<!-- <label for="imageUpload">
												<img src="assets/admin/images/upload-icon.png" class="upload-icon"
													alt="icon" /> <span> <a href="#">Click to upload</a>
													or drag and drop
												</span> <span>SVG, PNG, JPG or GIF (max. 2Mb)</span>
											</label>
											<input type="file" id="imageUpload" accept=".png, .jpg, .jpeg, .svg, .gif"
												multiple="multiple" onchange="setThumbnail(event)" /> -->
										<div class="form-group">	
											<div class="container card text-center" id="imgArea">
												<!-- File uploader with image preview -->
												<label style="margin-bottom: 6px; font-size: 15px; text-align: left;">상품 사진</label>
												<input type="file" class="image-preview-filepond" id="files"
													name="files" multiple style="font-family: 'Noto Sans KR', sans-serif !important;">
												<!-- File uploader with multiple files upload -->
                            					<!-- <input type="file" class="multiple-files-filepond" multiple> -->
											</div>
										</div>
										<!-- <div class="preview__wrapper">
											
											<div class="preview__item__wrapper">
												<div class="preview__item">
													<img src="assets/admin/images/upload-icon.png"
														class="upload-icon" alt="upload-icon" />
													<button class="close-btn">
														<i class="fa-solid fa-xmark"></i>
													</button>
													<input type="file" id="imageUpload"
													accept=".png, .jpg, .jpeg, .svg, .gif" />
												</div>
											</div>
											
										</div> -->
										<!-- <p>
											<a href="#" class="btn btn-outline">Add more image</a>
										</p> -->
									</div>
								</div>
							</div>

							<div class="col-xxl-8">
								<div class="dashboard-block">
									<div class="dashboard-block__title">
										<h4>Basic info</h4>
									</div>
									<div class="form__wrapper form-padding">
										<div class="flex__form c-3">
											<!-- 이름 -->
											<div class="form-group">
												<label for="prodName">상품 이름</label> 
												<input type="text" th:field="*{prodName}" class="form-control"
													placeholder="상품 이름을 입력해주세요." />
												<!-- name="product_name" id="product_name" -->
											</div>
											
											<!-- 카테고리 -->
											<div class="form-group">
												<label for="category">카테고리</label> 
												<select class="category-select" th:field="*{cateProd}">
												<!-- name="category" id="category" -->
													<option value="q6">기타</option>
													<option value="q1">의류</option>
													<option value="q2">신발</option>
													<option value="q3">테니스 라켓</option>
													<option value="q4">테니스 가방</option>
													<option value="q5">테니스 용품</option>
												</select>
											</div>
											
											<!-- 성별 -->
											<div class="form-group">
												<label for="gender">성별</label>
												<select class="gender-select" th:field="*{cateGen}">
												<!-- name="gender" id="gender" -->
													<option value="c3">성별 무관</option>
													<option value="c1">남성</option>
													<option value="c2">여성</option>
												</select>
											</div>
											
											<!-- 브랜드 -->
											<div class="form-group">
												<label for="prodBrand">브랜드</label>
												<input type="text" class="form-control" placeholder="브랜드를 입력해주세요." th:field="*{prodBrand}"/>
												<!-- name="brand" id="brand" -->
											</div>
											
											<!-- 가격 -->
											<div class="form-group">
												<label for="prodPrice">가격</label>
												<input type="number" class="form-control" placeholder="가격을 입력해주세요." th:field="*{prodPrice}"/>
												<!-- name="price" id="price" -->
											</div>
											
											<!-- 판매유무 -->
											<div class="form-group">
												<label>판매 유무</label>
												<div class="custom-checkbox">
													<input name="prodSaleSts" id="prodSaleSts" type="checkbox" value="p1"/>
													<!--  name="status" id="statuss" -->
													<label for="prodSaleSts"> 
														<span class="active">Active</span>
														<span class="inactive">Inactive</span>
													</label>
												</div>
											</div>
										</div>
										<!-- <div class="flex__form c-1">
											<div class="form-group">
												<label for="tag">Tags</label> <select name="tag" id="tag"
													class="tags-select">
													<option value="select">Select Tag</option>
													<option value="select">Select Tag</option>
													<option value="select">Select Tag</option>
												</select>
											</div>
										</div> -->
										
										<!-- 상품 설명 -->
										<div class="form-group">
											<label for="description">상품 설명</label>
											<!-- name="description" id="description" -->
											<textarea class="form-control" cols="30" rows="7"
												placeholder="상품 상세 설명을 입력해주세요."
												th:field="*{prodExp}"></textarea>
										</div>
										
										<div class="btn__group flex-wrap">
											<button type="button" class="btn btn-outline" th:onclick="|location.href='@{/admin_Product}'|"
												style="font-family: 'Noto Sans KR', sans-serif; color: #3c3c3c; font-weight: 500">등록 취소</button>
											<button type="button" id="addBnt" class="btn btn-dark" style="font-weight: 500;">등록 완료</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- end form -->
					
				</div>
			</div>
			<!-- Product List End -->
		</div>
		<!-- Main Inner Wrapper End -->
	</div>
	<!-- Main__container End-->
	
	<script type="text/javascript">
	
		$('#addBnt').on('click', insertProd);
	
		function insertProd(e) {
			/* let prodInfo = getProdInfo();
			console.log(prodInfo); */
			//console.log(prodInfo.prodName);
			
			let form = $('#addProdForm')[0];
			let prodInfo = new FormData(form);
			
			for(let value of prodInfo.values())
				console.log(value);
			
			//return;	
			
			let str = $('#prodPrice').val();
			let regex = /[0-9]/g;
			let result = str.replace(regex, '');
			
			if($('#prodName').val() == '') {
				Swal.fire({
					title: "상품 이름",
					text: "상품 이름을 입력하세요.",
					icon: "info",
					didClose: () =>{
						$('#prodName').focus();
					}
				})				
				return;	
			} else if($('#prodBrand').val() == '') {
				Swal.fire({
					title: "상품 브랜드",
					text: "상품 브랜드를 입력하세요.",
					icon: "info",
					didClose: () =>{
						$('#prodBrand').focus();
					}
				})				
				return;	
			} else if($('#prodExp').val() == '') {
				Swal.fire({
					title: "상품 설명",
					text: "상품 설명을 입력하세요.",
					icon: "info",
					didClose: () =>{
						$('#prodExp').focus();
					}
				})				
				return;	
			} else if($('#prodPrice').val() == '' || result != '') {
				Swal.fire({
					title: "상품 가격",
					text: "상품 가격을 입력하세요.",
					icon: "info",
					didClose: () =>{
						$('#prodPrice').focus();
					}
				})				
				return;	
			}

			// Ajax -> JSON
			$.ajax('adminAdd_Product', {
				type : 'post',
				//contentType : 'application/json',
				//data : JSON.stringify(prodInfo)
				data : prodInfo,
				enctype: 'multipart/form-data',
				//dataType : 'json'
				//cache : false,
				contentType : false,
				processData : false
			})
			.done(result => {
				//console.log('JSON', result);
				if(result > -1){
					Swal.fire({
						  icon: "success",
						  title: "등록 완료",
						  text: "상품 정보가 등록되었습니다.",
						}).then(function(){
							location.href = "/adminDetail_Product?prodNo="+result;
					})
				} else {
					Swal.fire({
						  icon: "error",
						  title: "등록 실패",
						  text: "등록 중 문제 발생",
					}).then(function(){
						location.reload();
					})
				}
				
			})
			.fail(err => console.log(err));
		}
		

		/* function getProdInfo() {
			let formData = $('#addProdForm').serializeArray();
			let prodSaleSts = $('#prodSaleSts').is(':checked') ? 'p1' : 'p2';
			formData.push({name: 'prodSaleSts', value: prodSaleSts});
			let prodImg = $('#files').;
			formData.push({name: 'files', value: });
			
			let objData = {};

			$.each(formData, (idx, obj) => {
				objData[obj.name] = obj.value;
			});
			return objData;
		} */
	</script>
	
	<script type="text/javascript">
		$('#prodPrice').val(null);
		//console.log([[ ${prodVO} ]]);
	</script>
</th:block>

</html>