<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/admin/admin-layout}">

<th:block layout:fragment="admincontent">
	<!-- Main__container Start-->
	<div class="main__container">
		<!-- Main Inner Wrapper Start -->
		<div class="main__inner--wrapper">
			<!-- Product List Start -->
			<div class="row">
				<div class="col-12">
					<div class="dashboard__breadcrumb">
						<div class="breadcrumb__meta">
							<ul style="padding: 0;">
								<li><a onclick="history.back()" class="link"><i
										class="fa-solid fa-arrow-left me-2"></i> Back</a></li>
							</ul>
						</div>
					</div>
					<div class="dashboard__header">
						<div class="d__header--left">
							<h2 class="title">Update product</h2>
						</div>
					</div>

					<form action="#" class="dashboard__form">
						<div class="row">
							<div class="col-xxl-4">
								<div class="dashboard-block">
									<div class="dashboard-block__title">
										<h4>Product Image</h4>
									</div>
									<div class="card block__card" style="padding: 20px">
										<div class="upload__drag">
											<label for="imageUpload"> 
												<img src="assets/admin/images/upload-icon.png" class="upload-icon"
													alt="icon" /> <span> <a href="#">Click to upload</a>
														or drag and drop
												</span> <span>SVG, PNG, JPG or GIF (max. 2Mb)</span>
											</label> 
											<input type="file" id="imageUpload"
												accept=".png, .jpg, .jpeg, .svg, .gif" multiple="multiple" onchange="setThumbnail(event)"/>
										</div>
										
										<div class="preview__wrapper">
											<!--
											<div class="preview__item__wrapper">
												<div class="preview__item">
													<img src="assets/admin/images/upload-icon.png"
														class="upload-icon" alt="upload-icon" />
													<button class="close-btn">
														<i class="fa-solid fa-xmark"></i>
													</button>
													<input type="file" id="imageUpload"
													accept=".png, .jpg, .jpeg, .svg, .gif" />
												</div>
											</div>
											-->
										</div>
										<!-- <p>
											<a href="#" class="btn btn-outline">Add more image</a>
										</p> -->
									</div>
								</div>
							</div>

							<div class="col-xxl-8">
								<div class="dashboard-block">
									<div class="dashboard-block__title">
										<h4>Basic info</h4>
									</div>
									<div class="form__wrapper form-padding">
										<div class="flex__form c-3">
											<div class="form-group">
												<label for="product_name">상품 이름</label> <input
													type="text" name="product_name" id="product_name"
													class="form-control" placeholder="상품 이름을 입력해주세요." />
											</div>
											<div class="form-group">
												<label for="category">카테고리</label> <select
													name="category" id="category" class="category-select">
													<option value="category ">all category</option>
													<option value="clothes">의류</option>
													<option value="shoes">신발</option>
													<option value="racket">테니스 라켓</option>
													<option value="bag">테니스 가방</option>
													<option value="supplies">테니스 용품</option>
													<option value="etc">기타</option>
												</select>
											</div>
											<div class="form-group">
												<label for="brand">성별</label> <select name="gender"
													id="gender" class="gender-select">
													<option value="genderAll">성별 무관</option>
													<option value="male">남성</option>
													<option value="female">여성</option>
												</select>
											</div>
											<div class="form-group">
												<label for="brand">브랜드</label> <input type="text"
													name="brand" id="brand" class="form-control"
													placeholder="브랜드를 입력해주세요." />
											</div>
											<div class="form-group">
												<label for="price">가격</label> <input type="number"
													name="price" id="price" class="form-control"
													placeholder="가격을 입력해주세요." />
											</div>
											<div class="form-group">
												<label>판매 유무</label>
												<div class="custom-checkbox">
													<input type="checkbox" name="status" id="statuss" disabled="disabled"/> <label
														for="statuss"> <span class="active">Active</span>
														<span class="inactive">Inactive</span>
													</label>
												</div>
											</div>
										</div>
										<!-- <div class="flex__form c-1">
											<div class="form-group">
												<label for="tag">Tags</label> <select name="tag" id="tag"
													class="tags-select">
													<option value="select">Select Tag</option>
													<option value="select">Select Tag</option>
													<option value="select">Select Tag</option>
												</select>
											</div>
										</div> -->
										<div class="form-group">
											<label for="description">상품 설명</label>
											<textarea name="description" class="form-control"
												id="description" cols="30" rows="7"
												placeholder="Write about your product description briefly"></textarea>
										</div>
										<div class="btn__group flex-wrap">
											<button type="button" class="btn btn-outline">Cancel</button>
											<button type="submit" class="btn btn-gray-filled">Edit
												Product</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- Product List End -->
		</div>
		<!-- Main Inner Wrapper End -->
	</div>
	<!-- Main__container End-->
	<script type="text/javascript">
		function setThumbnail(event) {
			console.log(event.target.files);
			for(let image of event.target.files) {
				let divT1 = $('<div>').attr('class', 'preview__item__wrapper');
				let divT2 = $('<div>').attr('class', 'preview__item');
				let btnT = $('<button>').attr('class', 'close-btn').on('click', function(event){
					console.log(event.target.parentElement.parentElement);
					event.target.parentElement.parentElement.parentElement.remove();
				});
				let iT = $('<i>').addClass('fa-solid').addClass('fa-xmark');

				let reader = new FileReader();

				reader.onload = function(e) {
					
					let img = $('<img>').attr('src', e.target.result);
					btnT.append(iT);
					divT2.append(img);
					divT2.append(btnT);
					divT1.append(divT2);
					$('.preview__wrapper').append(divT1);
				};
				reader.readAsDataURL(image);
			}
		}
	</script>
</th:block>

</html>