<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.tenniswing.project.community.mapper.BrdMapper">
  	<!-- 공지 게시판 전체 조회  -->
 	<select id="selectBrdAllInfo" resultType="BrdVO">
 	select * from (    select A.* , rownum rn from (
  	
  				select brd_wrt_no
 			   , brd_title
 			   , brd_ctt
 			   , brd_write_date
 			   , brd_hit
 			   , FIND_CATEGORY_NAME(brd_div) brd_div_name
 			   , m.mem_id
 			   , m.name
 		from brd b, mem m
 		where b.mem_id = m.mem_id
 	    and brd_div ='bc2'
 		order by brd_wrt_no DESC
 	
 	) A) b where rn between (#{page}-1)*#{pageUnit} + 1 and #{page} * #{pageUnit}
  	</select>
  	
  	
  	<select id="selectCount" resultType="int">
   		select count(*)
   		from brd b, mem m
 		where b.mem_id = m.mem_id
 	    and brd_div ='bc2'
   	</select>
  	
  	<!-- 공지 게시판 단건조회 -->
  	<select id="selectBrdInfo" resultType="BrdVO">
  		select   brd_wrt_no
 			   , brd_title
 			   , brd_ctt
 			   , brd_write_date
 			   , brd_hit
 			   , FIND_CATEGORY_NAME(brd_div) brd_div_name
 			   , m.mem_id
 			   , m.name
 			   
 		  from brd b, mem m
 		  
 		 where b.mem_id = m.mem_id
 		   and brd_wrt_no = #{brdWrtNo}
 		   and brd_div ='bc2'
  
  	</select>
  	
  	
  	<!-- 공지게시판 게시글 등록 -->
  	<insert id="insertBrd" parameterType="BrdVO">
  	 	<selectKey keyProperty="brdWrtNo" 
  	 			   resultType="int" 
  	 			   order="BEFORE">
  	 		<!-- primarykey가 숫자일 경우 사용 -->
  	 		SELECT NVL(MAX(brd_wrt_no), 0) + 1 
			FROM brd
  	 	</selectKey>
  	 	INSERT INTO brd
  	 			(
  	 				brd_wrt_no
	 			   , brd_title
	 			   , brd_ctt
	 			   , brd_write_date
	 			   , mem_id
	 			   , brd_div
  	 			)
  	 			VALUES
  	 			(
  	 				#{brdWrtNo}
  	 				,#{brdTitle}
  	 				,#{brdCtt}
 					, SYSDATE
  	 				,#{memId}
  	 				,'bc2'
  	 			)

  	</insert>
  
  	
  	<!-- 수정 : 전제조건, 전체 데이터 전송 -->
  	<update id="updateBrd" parameterType="BrdVO">
  		UPDATE brd
           SET
              brd_title = #{brdTitle}
              , brd_ctt = #{brdCtt}
              , brd_edit_date = SYSDATE
        WHERE brd_wrt_no = #{brdWrtNo}
  	</update>
  	
  	
  	<!-- 삭제 -->
  	<delete id="deleteBrd" parameterType="int">
  		DELETE FROM brd
  		WHERE brd_wrt_no = #{brdWrtNo}
  	</delete>
  </mapper>