<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.tenniswing.project.community.mapper.SnsMapper">
  	<!-- 전체 조회  -->
  	<resultMap type="SnsVO" id="snsResult">
  		<collection property="attachList" javaType="ArrayList" column="sns_wrt_no" ofType="SnsVO" select="selectSnsAttach"></collection>
  	</resultMap>
  	<select id="selectAllSnsInfo" resultMap="snsResult">
	select s.sns_wrt_no
			   , s.sns_title
  			   , s.sns_ctt
  			   , s.sns_write_date
  			   , s.sns_tag
  			   , s.sns_hit
  			   , s.mem_no
  			   , m.name
  			   , g.grp_name
  			   ,(   SELECT COUNT(*)
                    FROM sns_like l
                    where l.sns_wrt_no = s.sns_wrt_no ) as like_cnt
	from sns s 
	join sns_grp g
	on s.sns_grp_no = g.sns_grp_no
	join mem m
	on s.mem_no = m.mem_no
	order by s.sns_wrt_no
  	</select>
  	<select id="selectSnsAttach" resultType="SnsVO">
  		select attach_no
  			   , attach_ext
  			   , attach_origin_name
  			   , attach_path
  			   , attach_turn
  			   , attach_table_div
  			   , attach_table_pk
  			   , attach_save_name
  		from attach
  		where attach_table_pk = #{snsWrtNo}
  	</select>
  	
  	<!-- 단건조회 -->
  	<select id="selectSnsInfo" resultType="SnsVO">
		select s.sns_wrt_no
  			   , s.sns_ctt
  			   , s.sns_write_date
  			   , s.sns_tag
  			   , s.sns_hit
  			   , s.mem_no
  			   , g.sns_grp_no
  			   , l.like_no
  			   , s.sns_grp_no
  		from sns s join sns_like l
        on s.sns_wrt_no = l.sns_wrt_no
        join sns_grp g
        on s.sns_grp_no = g.sns_grp_no
        join attach a
        on a.attach_table_pk = s.sns_wrt_no
        where mem_no = #{memNo};
  		 <!-- LIKE '%' || #{keyword} || '%'
  		 	  LIKE '%${keyword}%'		   -->
  	</select>
  	
  	
  	<!-- 등록 -->
  	<insert id="insertSns" parameterType="SnsVO">
  	 	<selectKey keyProperty="snsWrtNo" 
  	 			   resultType="int" 
  	 			   order="BEFORE">
  	 		<!-- primarykey가 숫자일 경우 사용 -->
  	 		SELECT NVL(MAX(sns_wrt_no), 0) + 1 
			FROM sns
  	 	</selectKey>
  	 	INSERT ALL
  	 			INTO sns
  	 			(
  	 				sns_wrt_no
  	 				,sns_title
  	 				,sns_ctt
  	 				,sns_tag
  	 				,mem_no
  	 				,snsHit
  	 				,sns_write_date
  	 			)
  	 			VALUES
  	 			(
  	 				#{snsWrtNo}
  	 				,#{snsTitle}
  	 				,#{snsCtt}
  	 				,#{snsTag}
  	 				,#{memNo}
  	 				,#{snsHit}
  	 				,
  	 				<choose>
  	 					<when test="snsWriteDate != null">,#{snsWriteDate}</when>
  	 					<otherwise>,sysdate</otherwise>
  	 				</choose>  	 				
  	 				
  	 			)
  	 			INTO sns_grp
  	 			(
  	 			sns_grp_no
  	 			,grp_create_date
  	 			,post_num
  	 			,grp_name
  	 			)
  	 			VALUES
  	 			(
  	 			#{snsGrpNo}
  	 			,#{grpCreateDate}
  	 			,#{postNum}
  	 			,#{grpName}
  	 			)
  	</insert>
  	<!-- sns 그룹 등록 -->
  	<insert id="insertSnsGrp" parameterType="SnsVO">
  			<selectKey keyProperty="snsGrpNo" 
  	 			   resultType="int" 
  	 			   order="BEFORE">
  	 		<!-- primarykey가 숫자일 경우 사용 -->
  	 		SELECT NVL(MAX(sns_grp_no), 0) + 1 
			FROM sns_grp
  	 	</selectKey>
  	 		 	INSERT INTO sns_grp
  	 			(
  	 				sns_grp_no
  	 				,grp_create_date
  	 				,grp_name
  	 			)
  	 			VALUES
  	 			(
  	 				#{snsGrpNo}
  	 				<choose>
  	 					<when test="grpCreateDate != null">,#{grpCreateDate}</when>
  	 					<otherwise>,sysdate</otherwise>
  	 				</choose>  	
  	 				,#{grpName}
  	 				 				
  	 				
  	 			)
  	</insert>
  	
  	<!-- 수정 : 전제조건, 전체 데이터 전송 -->
  	<update id="updateSns" parameterType="SnsVO">
  		UPDATE employees
  			SET
  				first_name = #{firstName}
  			  , email = #{email}
  			  , salary = #{salary}
  		WHERE employee_id = #{employeeId}
  	</update>
  	
  	
  	<!-- 삭제 -->
  	<delete id="deleteSns" parameterType="int">
  		DELETE FROM employees
  		WHERE employee_id = #{empid} <!-- 기본타입으로 한건만 넘어올 경우 #에 다 집어넣어서 일치하지 않아도 됨 -->
  	</delete>
  </mapper>