<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
<style>
.snsdiv {
	margin: 0 auto;
}
</style>
<th:block layout:fragment="content">
	<!-- community sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="sns"><div>
						<i class="fa-solid fa-photo-film fs-3 text-info"></i>
					</div>SNS</a></li>
			<li class="d-flex flex-column"><a href="freeboardList"><div>
						<i class="fa-solid fa-chalkboard-teacher fs-3 text-primary"></i>
					</div>자유게시판</a></li>
			<li class="d-flex flex-column"><a href="noticeList"><div>
						<i class="fa-solid fa-clipboard-list fs-3 text-warning"></i>
					</div>공지사항</a></li>
		</ul>
	</div>
	<!-- End community sub menu  -->

	<div class="container">
		<div class="row">
			<div class="col-3 border border-1">dsdf</div>
			<div class="col-6">
				<!-- Basic card section start -->
				<section id="content-types">
					<div class="row">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="snsdiv col-xl-12">
										<div class="card">
											<div class="card-content">
												<div class="card-body">
													<h4 class="card-title">Carousel</h4>
													<h6 class="card-subtitle">Support card subtitle</h6>
												</div>
												<div id="carouselExampleControls" class="carousel slide"
													data-ride="carousel">
													<div class="carousel-inner">
														<div class="carousel-item active">
															<img src="./assets/compiled/jpg/banana.jpg"
																class="d-block w-100" alt="...">
														</div>
														<div class="carousel-item">
															<img src="./assets/compiled/jpg/bg-mountain.jpg"
																class="d-block w-100" alt="...">
														</div>
													</div>
													<a class="carousel-control-prev"
														href="#carouselExampleControls" role="button"
														data-bs-slide="prev"> <span
														class="carousel-control-prev-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Previous</span>
													</a> <a class="carousel-control-next"
														href="#carouselExampleControls" role="button"
														data-bs-slide="next"> <span
														class="carousel-control-next-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Next</span>
													</a>
												</div>
												<div class="card-body">
													<p class="card-text">Lorem ipsum dolor sit amet
														consectetur adipisicing elit. Sunt assumenda mollitia
														officia dolorum eius quasi.Chocolate sesame snaps apple
														pie danish cupcake sweet roll jujubes tiramisu.</p>
													<p class="card-text">Gummies bonbon apple pie fruitcake
														icing biscuit apple pie jelly-o sweet roll. Toffee sugar
														plum sugar plum jelly-o jujubes bonbon dessert carrot
														cake. Sweet pie candy jelly. Sesame snaps biscuit sugar
														plum. Sweet roll topping fruitcake. Caramels liquorice
														biscuit ice cream fruitcake cotton candy tart.</p>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-content"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="snsdiv col-xl-12">
										<div class="card">
											<div class="card-content">
												<div class="card-body">
													<h4 class="card-title">222222</h4>
													<h6 class="card-subtitle">Support card subtitle</h6>
												</div>
												<div id="carouselExampleControls" class="carousel slide"
													data-ride="carousel">
													<div class="carousel-inner">
														<div class="carousel-item active">
															<img src="./assets/compiled/jpg/banana.jpg"
																class="d-block w-100" alt="...">
														</div>
														<div class="carousel-item">
															<img src="./assets/compiled/jpg/bg-mountain.jpg"
																class="d-block w-100" alt="...">
														</div>
													</div>
													<a class="carousel-control-prev"
														href="#carouselExampleControls" role="button"
														data-bs-slide="prev"> <span
														class="carousel-control-prev-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Previous</span>
													</a> <a class="carousel-control-next"
														href="#carouselExampleControls" role="button"
														data-bs-slide="next"> <span
														class="carousel-control-next-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Next</span>
													</a>
												</div>
												<div class="card-body">
													<p class="card-text">Lorem ipsum dolor sit amet
														consectetur adipisicing elit. Sunt assumenda mollitia
														officia dolorum eius quasi.Chocolate sesame snaps apple
														pie danish cupcake sweet roll jujubes tiramisu.</p>
													<p class="card-text">Gummies bonbon apple pie fruitcake
														icing biscuit apple pie jelly-o sweet roll. Toffee sugar
														plum sugar plum jelly-o jujubes bonbon dessert carrot
														cake. Sweet pie candy jelly. Sesame snaps biscuit sugar
														plum. Sweet roll topping fruitcake. Caramels liquorice
														biscuit ice cream fruitcake cotton candy tart.</p>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-content"></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="snsdiv col-xl-12">
										<div class="card">
											<div class="card-content">
												<div class="card-body">
													<h4 class="card-title">3333333</h4>
													<h6 class="card-subtitle">Support card subtitle</h6>
												</div>
												<div id="carouselExampleControls" class="carousel slide"
													data-ride="carousel">
													<div class="carousel-inner">
														<div class="carousel-item active">
															<img src="./assets/compiled/jpg/banana.jpg"
																class="d-block w-100" alt="...">
														</div>
														<div class="carousel-item">
															<img src="./assets/compiled/jpg/bg-mountain.jpg"
																class="d-block w-100" alt="...">
														</div>
													</div>
													<a class="carousel-control-prev"
														href="#carouselExampleControls" role="button"
														data-bs-slide="prev"> <span
														class="carousel-control-prev-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Previous</span>
													</a> <a class="carousel-control-next"
														href="#carouselExampleControls" role="button"
														data-bs-slide="next"> <span
														class="carousel-control-next-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Next</span>
													</a>
												</div>
												<div class="card-body">
													<p class="card-text">Lorem ipsum dolor sit amet
														consectetur adipisicing elit. Sunt assumenda mollitia
														officia dolorum eius quasi.Chocolate sesame snaps apple
														pie danish cupcake sweet roll jujubes tiramisu.</p>
													<p class="card-text">Gummies bonbon apple pie fruitcake
														icing biscuit apple pie jelly-o sweet roll. Toffee sugar
														plum sugar plum jelly-o jujubes bonbon dessert carrot
														cake. Sweet pie candy jelly. Sesame snaps biscuit sugar
														plum. Sweet roll topping fruitcake. Caramels liquorice
														biscuit ice cream fruitcake cotton candy tart.</p>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-content"></div>
										</div>
									</div>
								</div>

							</div>
							<div class="swiper-pagination-sns"></div>
						</div>

						<!-- Swiper JS -->

						<!-- Initialize Swiper -->
						<script>
							var swiper = new Swiper(".mySwiper", {
								direction : "vertical",
								autoplay :  true,
								loop: true,
								pagination : {
									
									el : ".swiper-pagination-sns",
									clickable : true,
								},
								scrollbar:{
									el : '.swiper-pagination-sns',
							        draggable: true
								
							    },
							});
						</script>

					</div>
				</section>
			</div>
			<div class="col-3">asdfasdf</div>
		</div>


	</div>

</th:block>

</html>