<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
	<head>
	<style>
	.swiper {
  width: 600px;
  height: 1200px;
}
	</style>
	</head>

<th:block layout:fragment="content">

	<!-- community sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center matchsidevar">
			<li class="d-flex flex-column"><a href="sns"><img
					src="assets/img/match/icon/icon1.png" class=" miconimg">SNS</a></li>
			<li class="d-flex flex-column"><a href="freeboardList"><img
					src="assets/img/match/icon/icon3.png" class=" miconimg">자유게시판</a></li>
			<li class="d-flex flex-column"><a href="noticeList"><img
					src="assets/img/match/icon/icon4.png" class=" miconimg">공지사항</a></li>
		</ul>
	</div>
	<!-- community sub menu End -->

	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">

				<div class="input-group">
					<input type="text" class="form-control" placeholder="">
					<button type="button" class="input-group-text">
						<i class="icon dripicons dripicons-search fs-3"></i>
					</button>
				</div>
				<div class="insertBtn">
					<a href="#" class="btn btn-secondary rounded-pill"
						th:onclick="|location.href='@{snsMyList}'|">내가 등록한 sns 보기</a> <a
						class="btn btn-secondary rounded-pill"
						th:onclick="|location.href='@{snsRegister}'|">등록</a>
				</div>

				<!-- Basic card section start -->

			  <!-- Slider main container -->
					<div class="swiper">
					  <!-- Additional required wrapper -->
					  <div class="swiper-wrapper">
					    <!-- Slides -->
					    <div class="swiper-slide" th:each="s : ${snsList}">
					    <section id="content-types" style="height:900px">
								<div class="row">
									<div class="snsdiv col-xl-12 border border-1 rounded-4">
										<div class="card snsimg">
											<div class="card-content">
												<div class="card-body">
													<h4 class="card-title">[[${s.snsTitle}]]</h4>
													<h6 class="card-subtitle" style="font-weight: 300;">[[${s.grpName}]]</h6>
												</div>
												<div id="myCarousel" th:attrappend="id=${sStat.count}" class="carousel slide"	data-ride="carousel">
													<div class="carousel-inner">
														<div class="carousel-item active">
															<img src="./assets/compiled/jpg/jump.jpg"
																class="d-block w-100" alt="...">
														</div>
														<div class="carousel-item">
															<img src="./assets/compiled/jpg/bg-mountain.jpg"
																class="d-block w-100" alt="...">
														</div>
													</div>
													<a class="carousel-control-prev"
														href="#myCarousel" th:attrappend="href=${sStat.count}" role="button"
														data-bs-slide="prev"> <span
														class="carousel-control-prev-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Previous</span>
													</a> <a class="carousel-control-next"
														href="#myCarousel" th:attrappend="href=${sStat.count}" role="button"
														data-bs-slide="next"> <span
														class="carousel-control-next-icon" aria-hidden="true"></span>
														<span class="visually-hidden">Next</span>
													</a>
												</div>
												<div class="card-body">
													<h6 class="card-subtitle">[[${s.name}]]</h6>
													<p class="card-text">[[${s.snsCtt}]]</p>
													<p class="card-text"></p>
												</div>

											</div><!-- 카드콘텐트 END -->

											<div class="buttons" style="float: right">
												<ul class="nav d-flex justify-content-around text-center"
													style="float: right">
													<li class="d-flex flex-column"><div>
															<a class="btn icon btn-white"> <i
																class="fa-solid fa-thumbs-up fs-5 text-secondary"></i></a>
														</div>[[${s.likeCnt}]]</li>
													<li class="d-flex flex-column"><div>
															<a class="btn icon btn-white"
																data-bs-toggle="modal" data-bs-target="#large"> <i
																class="fa-solid fa-comment fs-5 text-secondary"></i></a>
														</div></li>
													<li class="d-flex flex-column"><div>
															<a class="btn icon btn-white snsBtns"
																data-bs-toggle="collapse"
																data-bs-target="#collapseExample" th:attrappend="aria-controls=${sStat.count}" aria-expanded="false"
																aria-controls="collapseExample"><i class="fa-solid fa-share-from-square fs-5 text-secondary"  th:id="${sStat.count}"></i></a>
														</div> <!-- 콜랩스 추가 -->
														<div class="collapse snsBtnsCol" id="collapseExample" th:attrappend="id=${sStat.count}">
															<span onclick="shareNaver()"> <script
																	type="text/javascript"
																	src="https://ssl.pstatic.net/share/js/naver_sharebutton.js"></script>
																<script type="text/javascript">
																	new ShareNaver.makeButton(
																			{
																				"type" : "a"
																			});
																</script>
															</span>
															<span th:onclick="javascript:kakaoShare()" id="kakao-link-btn" ><img src="assets/img/sns/kakaoTalk.png" style="width:16px; height:16px;"></span>
														</div> <!-- 콜랩스 추가 끝 --></li>

													<li class="d-flex flex-column"><div>
															<a class="btn icon btn-white bmark"><i
																class="fa-regular fa-bookmark fs-5 text-secondary iBmark"></i></a>
														</div></li>
												</ul>
											</div> <!-- button end -->
										</div><!-- snsimg -->

									</div>
									<!-- snsdiv end -->
								</div><!-- 슬라이더 안 row End -->
							</section>
					    </div>


					  </div>


					</div>
			</div>
			<!-- col6 end -->

		</div>
		<!-- div row end -->

		<div class="col-3"></div>

	</div> <!-- div container end -->

	<!-- Initialize Swiper -->
		<script>

		const swiper = new Swiper('.swiper', {
			  // Optional parameters
			  direction: 'vertical',
			  loop: false,
			  mousewheel : true,
			  centeredSlides: true, // 1번 슬라이드가 가운데 보이기


			});

	

			$('.btn.icon.btn-white.snsBtns i').on('click', function(e) {
						$(e.target).toggleClass('active');
						
				let cnt = $(e.target).prop('id');
				
				for(let i=1; i<= $('.btn.icon.btn-white.snsBtns').length; i++){
					$('#collapseExample'+ i).attr('class', 'snsBtnsCol collapse')				
					
				}
				
				
				
				
				if ($(e.target).hasClass('active')) {

					$('#collapseExample'+ cnt).attr('class',
							'snsBtnsCol collapse show')

							//console.log($('#collapseExample'+i));

				}else{
					$('.btn.icon.btn-white.snsBtns i').attr("class", "fa-solid fa-share-from-square fs-5 text-secondary" );
				}
				



	});

		</script>

	<div class="modal fade text-left" id="large" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">

		<div class="modal-dialog modal-dialog-scrollable modal-lg"
			role="document">

			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel1">댓글</h5>
					<button type="button" class="close rounded-pill"
						data-bs-dismiss="modal" aria-label="Close">
						<i data-feather="x"></i>
					</button>
				</div>
				<div class="modal-body">

					<section class="section">
						<div class="card">
							<div class="card-header"></div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table" id="table1">
										<thead>
											<tr>
												<th>작성자</th>
												<th>댓글 내용</th>
												<th>작성일자</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="num : ${#numbers.sequence(1,5)}">
												<td>Graiden</td>
												<td>vehicula.aliquet@semconsequat.co.uk</td>
												<td>076 4820 8838</td>
												<td><i type="button"
													class="fa-regular fa-pen-to-square"></i> <i type="button"
													class="fa-regular fa-trash-can"></i></td>
											</tr>

										</tbody>

									</table>

								</div>
							</div>
						</div>

					</section>
				</div>
				<div class="modal-footer">
					<div class="input-group mb-3">
						<input type="text" class="form-control"
							placeholder="enter your comment"
							aria-label="Recipient's username" aria-describedby="basic-addon2">
						<button type="button" class="input-group-text" id="basic-addon2">등록</button>
					</div>

					<button type="button" class="btn" data-bs-dismiss="modal">
						<i class="bx bx-x d-block d-sm-none"></i> <span
							class="d-none d-sm-block">Close</span>
					</button>

				</div>
			</div>
		</div>
	</div>

	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

	<script type="text/javascript">
		// SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
		Kakao.init('5cb79bd417ece35ea33fa7b756305a02');

		// SDK 초기화 여부를 판단합니다.
		console.log(Kakao.isInitialized());

		function kakaoShare() {
			Kakao.Link
					.sendDefault({
						objectType : 'feed',
						content : {
							title : 'TENNISWING-SNS',
							description : '클럽매치데이 ',
							imageUrl : 'https://mblogthumb-phinf.pstatic.net/MjAyMjEyMjdfMjU0/MDAxNjcyMTA4NDk3Mjgz.FL2vinKY8blok71V-vE8Ragtb29OxcmA-8gD7a72rPsg.QmZok2QhKWPsRRnpmI1cWj1eNlcF60LQ9chHwyofRiAg.JPEG.qmfosej/IMG_4003.jpg?type=w800',
							link : {
								mobileWebUrl : '카카오공유하기 시 클릭 후 이동 경로',
								webUrl : '카카오공유하기 시 클릭 후 이동 경로',
							},
						},
						buttons : [ {
							title : '웹으로 보기',
							link : {
								mobileWebUrl : '카카오공유하기 시 클릭 후 이동 경로',
								webUrl : '카카오공유하기 시 클릭 후 이동 경로',
							},
						}, ],
						// 카카오톡 미설치 시 카카오톡 설치 경로이동
						installTalk : true,
					})
		}
		// Twitter
		function shareTwitter() {
			const text = "TENNISWING-SNS";
			const url = "https://mblogthumb-phinf.pstatic.net/MjAyMjEyMjdfMjU0/MDAxNjcyMTA4NDk3Mjgz.FL2vinKY8blok71V-vE8Ragtb29OxcmA-8gD7a72rPsg.QmZok2QhKWPsRRnpmI1cWj1eNlcF60LQ9chHwyofRiAg.JPEG.qmfosej/IMG_4003.jpg?type=w800";
			window.open("https://twitter.com/intent/tweet?text=" + url + text);
		}
		// NAVER
		function shareNaver() {
			const title = "TENNISWING";
			const url = "https://mblogthumb-phinf.pstatic.net/MjAyMjEyMjdfMjU0/MDAxNjcyMTA4NDk3Mjgz.FL2vinKY8blok71V-vE8Ragtb29OxcmA-8gD7a72rPsg.QmZok2QhKWPsRRnpmI1cWj1eNlcF60LQ9chHwyofRiAg.JPEG.qmfosej/IMG_4003.jpg?type=w800";
			window.open("https://share.naver.com/web/shareView?url=" + url
					+ "&title=" + title);
		}
		// Facebook
		function shareFacebook() {
			const title = "TENNISWING-SNS";
			const url = "https://mblogthumb-phinf.pstatic.net/MjAyMjEyMjdfMjU0/MDAxNjcyMTA4NDk3Mjgz.FL2vinKY8blok71V-vE8Ragtb29OxcmA-8gD7a72rPsg.QmZok2QhKWPsRRnpmI1cWj1eNlcF60LQ9chHwyofRiAg.JPEG.qmfosej/IMG_4003.jpg?type=w800";
			window.open("http://www.facebook.com/sharer/sharer.php?u=" + url
					+ "&title=" + title);
		}

		/* i
		class="fa-regular fa-bookmark fs-5 text-secondary" */
		$('.bmark')
				.on(
						'click',
						function(e) {
							event.stopPropagation()
							console.log(e.target);
							if ($(e.target)
									.hasClass(
											'fa-regular fa-bookmark fs-5 text-secondary iBmark')) {
								$(e.target)
										.attr('class',
												'fa-solid fa-bookmark fs-5 text-secondary iBmark')
							} else if ($(e.target)
									.hasClass(
											'fa-solid fa-bookmark fs-5 text-secondary iBmark')) {
								$(e.target)
										.attr('class',
												'fa-regular fa-bookmark fs-5 text-secondary iBmark')
							}
						});
	</script>
</th:block>

</html>