<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
<style>
.snsdiv {
	margin: 0 auto;
}
</style>
<th:block layout:fragment="content">
	<!-- community sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="sns">
					<div>
						<i class="fa-solid fa-photo-film fs-3 text-info"></i>
					</div>SNS
			</a></li>
			<li class="d-flex flex-column"><a href="freeboardList">
					<div>
						<i class="fa-solid fa-chalkboard-teacher fs-3 text-primary"></i>
					</div>자유게시판
			</a></li>
			<li class="d-flex flex-column"><a href="noticeList">
					<div>
						<i class="fa-solid fa-clipboard-list fs-3 text-warning"></i>
					</div>공지사항
			</a></li>
		</ul>
	</div>
	<!-- End community sub menu  -->

	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      direction: "vertical",
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>

			<!-- 	<div class="swiper mySwiper sub">
					<div class="swiper-wrapper sub">
						<div class="swiper-slide sub">
							<img src="/assets/img/slide.png">1111
						</div>
						<div class="swiper-slide sub">
							<img src="/assets/img/slide.png">
						</div>
					</div>
					<div class="swiper-button-next sub"></div>
					<div class="swiper-button-prev sub"></div>
					<div class="swiper-pagination sub"></div>
				</div> -->
			<!-- 	<script>
					let swipersub = new Swiper(".mySwiper.sub", {
						pagination : {
							el : ".swiper-pagination.sub",
						},
						navigation : {
							nextEl : ".swiper-button-next.sub",
							prevEl : ".swiper-button-prev.sub",
						},
					});

					let swipermain = new Swiper(".mySwiper.main", {
						direction : "vertical",
						forceToAxis : true,
						mousewheel : true,
						pagination : {
							el : ".swiper-pagination.main",
						},
					});
				</script> -->
			</div>
			<div class="col-3"></div>
		</div>


	</div>
	
</th:block>

</html>