<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

	<th:block layout:fragment="content">
            <!-- community sub menu -->
            <div class="container mb-4">
                <ul class="nav d-flex justify-content-around text-center">
                    <li class="d-flex flex-column"><a href="sns"><div><i class="fa-solid fa-photo-film fs-3 text-info"></i></div>SNS</a></li>
                    <li class="d-flex flex-column"><a href="freeboardList"><div><i class="fa-solid fa-chalkboard-teacher fs-3 text-primary"></i></div>자유게시판</a></li>
                    <li class="d-flex flex-column"><a href="noticeList"><div><i class="fa-solid fa-clipboard-list fs-3 text-warning"></i></div>공지사항</a></li>                    
                </ul>
            </div>
            <!-- End community sub menu  -->

		
            <!-- match table -->
            <div class="container">
              <div class="row">
				<div class="content__body">
									<section class="archive-category">
										<div class="col-12">
											<div class="filter__area" style="margin: 0;">
												<div class="email-fixed-search col-6 ">
													<div
														class="form-group position-relative  mb-0 has-icon-left">
														<input type="text" class="form-control"
															placeholder="Search...">
															<div class="fbrdInsertBtn">
															<a class="btn btn-secondary rounded-pill" th:onclick="|location.href='@{freeBrdForm}'|">글 등록</a>
															</div>
															
														<div class="form-control-icon">
															<svg class="bi" width="1.5em" height="1.5em"
																fill="currentColor">
                                                        <use
																	xlink:href="assets/static/images/bootstrap-icons.svg#search" />
                                                    </svg>
														</div>
													</div>
												</div>
												<div class="shortBy-select select__style d-lg-flex d-none">
													<label for="sortBy2">Sort by:</label> <select name="sortBy"
														id="sortBy2">
														<option value="0">최신순</option>
														<option value="0">인기순</option>
														<option value="0">이름순</option>
													</select>
												</div>
											</div>
										</div>
									</section>
								</div>
								<!-- table hover -->
								<div class="table-responsive">
									<table class="table table-hover mb-0">
										<thead>
											<tr>
												<th>NO</th>
												<th>제목</th>
												<th>작성자</th>
												<th>작성일</th>
												<th>조회수</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="num : ${#numbers.sequence(1,10)}"
												style="height: 70px;">
												<td>1</td>
												<td>이것은 자유게시판 제목</td>
												<td>user kim</td>
												<td>2023-11-24</td>
												<td>6</td>
											</tr>
										</tbody>
									</table>
								</div>
								<br>
								<ul class="pagination justify-content-center">
									<li class="page-item disabled"><a class="page-link"
										href="#" tabindex="-1" aria-disabled="true">이전</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">다음</a>
									</li>
								</ul>
							
						</div>
              
            </div>
            </div>
            <!-- End match table -->

         
            <!-- End viewed history -->
	</th:block>

</html>