<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<link rel="stylesheet"
	href="assets/extensions/summernote/summernote-lite.css">

<link rel="stylesheet"
	href="./assets/compiled/css/form-editor-summernote.css">
	
<style type="text/css">
	section a,
	section span,
	section button,
	section input,
	section h1,
	section h2,
	section h3,
	section h4,
	section h5,
	section h6,
	section tr,
	section td,
	section th,
	section pre{
		font-family: 'Noto Sans KR', sans-serif !important;
	}

</style>
</head>
<th:block layout:fragment="content">
	<!-- freeBrd insert Form -->
	<div class="container">
		<div class="page-heading email-application overflow-hidden">
			<div class="page-title">
				<div class="row">
					<div class="col-12 col-md-6 order-md-1 order-last">
						<h3 style="color: #4b4b4b; font-family: 'Noto Sans KR', sans-serif !important;">공지사항 등록</h3>
						<br>
					</div>
					<div class="col-12 col-md-6 order-md-2 order-first">
						<nav aria-label="breadcrumb"
							class="breadcrumb-header float-start float-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">공지사항 게시판</a></li>
								<li class="breadcrumb-item active" aria-current="page">글 등록</li>
							</ol>
						</nav>
					</div>
				</div>
				<hr>

			</div>
			<!-- Basic Vertical form layout section start -->
			<section id="basic-vertical-layouts">
				<div class="row match-height">
					<div class="col-md-12 col-12">
					
						<div class="card">
							<div class="card-content">
								<div class="card-body">
									<form th:action="@{/noticeForm}" method="Post" name="insertForm" 
                            th:object="${brdVO}" class="form form-vertical" enctype="multipart/form-data">
										<div class="form-body">
											<div class="row">
												<!-- 	<div class="col-12">
													<div class="form-group mandatory">
														<label for="password-vertical"
															data-parsley-required="true" class="form-label">제목</label>
														<input type="text" id="password-vertical"
															class="form-control" name="contact" placeholder="">
													</div>
												</div> -->
												<section class="section">
													<div class="row">
														<div class="col-12">
															<div class="card">
																<div class="card-header">
																	<div class="form-group mandatory">
																		<label for="password-vertical"
																			data-parsley-required="true" class="">제목</label> 
																			<input type="text" id="password-vertical"
																			class="form-control" name="brdTitle" placeholder="">
																	</div>
																</div>
																<div class="card-body smNote">
																	<textarea class="summernote" name ="brdCtt"></textarea>
																</div>
															</div>
															
														</div>
													</div>
												</section>

											<!-- 	<div class="col-12">
													<div class="form-group mandatory">
														<label for="contact-info-vertical">사진 / 동영상 첨부하기</label> <input
															type="file" name="files" class="image-preview-filepond" multiple>
													</div>
												</div> -->

												<div class="col-12 d-flex justify-content-end">
													<button type="button" class="btn btn-outline -o me-auto"
                        th:onclick="|location.href='@{noticeList}'|" style="font-family: 'Noto Sans KR', sans-serif !important;">목록으로</button>
													<button type="submit" class="btn btn-dark me-1 mb-1">등록</button>
													<button type="reset"
														class="btn btn-outline me-1 mb-1">취소</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
				
					</div>

				</div>
			</section>
			<!-- // Basic Vertical form layout section end -->


		</div>
	</div>

	<!-- End freeBrd insert Form -->

	
	<script src="assets/extensions/summernote/summernote-lite.min.js"></script>
	<script src="assets/static/js/pages/summernote.js"></script>
	<!-- include summernote-ko-KR -->

	
	<script>
		
			//여기 아래 부분
			$('.summernote').summernote({
				height : 500, // 에디터 높이
				minHeight : null, // 최소 높이
				maxHeight : null, // 최대 높이
				focus : true, // 에디터 로딩후 포커스를 맞출지 여부
				lang : "ko-KR", // 한글 설정
				placeholder : '최대 2048자까지 쓸 수 있습니다' //placeholder 설정
				, callbacks: {
					  onFocus: function (contents) {
						    if($('.summernote').summernote('isEmpty')){
						      $(".summernote").html(''); 
						    }
						  }
						}
			});
	
/* 		// 서머노트에 text 쓰기
		$('#summernote').summernote('insertText', '써머노트에 쓸 텍스트');


		// 서머노트 쓰기 비활성화
		$('#summernote').summernote('disable');

		// 서머노트 쓰기 활성화
		$('#summernote').summernote('enable');


		// 서머노트 리셋
		$('#summernote').summernote('reset');


		// 마지막으로 한 행동 취소 ( 뒤로가기 )
		$('#summernote').summernote('undo');
		// 앞으로가기
		$('#summernote').summernote('redo'); */
		
	</script>
	
	
</th:block>

</html>