<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
<head>
	<!-- tagify 소스 다운 -->
	<script src="https://unpkg.com/@yaireo/tagify"></script>
	<!-- 폴리필 (구버젼 브라우저 지원) -->
	<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
	
   
</head>
<th:block layout:fragment="content">


	<!-- club sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="sns">
					<div>
						<i class="fa-solid fa-photo-film fs-3 text-info"></i>
					</div>SNS
			</a></li>
			<li class="d-flex flex-column"><a href="freeboardList">
					<div>
						<i class="fa-solid fa-chalkboard-teacher fs-3 text-primary"></i>
					</div>자유게시판
			</a></li>
			<li class="d-flex flex-column"><a href="noticeList">
					<div>
						<i class="fa-solid fa-clipboard-list fs-3 text-warning"></i>
					</div>공지사항
			</a></li>
		</ul>
	</div>
	<!-- End club sub menu  -->

	<div class="container">
		<!-- 테이블시작  -->
			    <div class="col-xxl-12">
                                        <div class="dashboard-block">
                                            <div class="dashboard-block__title">
                                                <h4>Basic info</h4>
                                            </div>
                                            <div class="form__wrapper form-padding">
                                                <div class="flex__form c-3">
                                                    <div class="form-group">
                                                        <label for="product_name">제목</label>
                                                        <input type="text" name="product_name" id="product_name" class="form-control"  th:value="${nbrd.brdTitle}" readonly="readonly"/>
                                                    </div>
                                          
                                                    <div class="form-group">
                                                        <label for="stock">작성 일자</label>
                                                        <input type="text" name="stock" id="stock" class="form-control"  th:value="${#dates.format(nbrd.brdWriteDate,'yyyy-MM-dd')}" readonly="readonly"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="slug">작성자</label>
                                                        <input type="text" name="slug" id="slug" class="form-control" th:value="${nbrd.name}" readonly="readonly"/>
                                                    </div>
       
                                                </div>
                                       
                                                <div class="form-group">
                                                    <label for="description">내용</label>
                                                    <textarea
                                                        name="description"
                                                        class="form-control"
                                                        id="description"
                                                        cols="30"
                                                        rows="4"
                                                       readonly="readonly"
                                                    >[[${nbrd.brdCtt}]]</textarea>
                                                </div>
                                
                                            </div>
                                        </div>
                                        <div class="dashboard-block">
                                            <div class="dashboard-block__title">
                                                <h4>Pricing</h4>
                                            </div>
                                            <div class="form__wrapper form-padding">
                                                <div class="flex__form c-3">
                                                    <div class="form-group">
                                                        <label for="old_price">Old Price</label>
                                                        <input type="number" name="old_price" id="old_price" class="form-control" placeholder="Enter Old Price" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="new_price">new Price</label>
                                                        <input type="number" name="new_price" id="new_price" class="form-control" placeholder="Enter New Price" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="discount">Discount</label>
                                                        <input type="number" name="discount" id="discount" class="form-control" placeholder="Enter Discount" />
                                                    </div>
                                                </div>
                                                <div class="btn__group flex-wrap">
                                                    <button type="button" class="btn btn-primary -o me-auto">Save as draft</button>
                                                    <button type="button" class="btn btn-outline">Cancel</button>
                                                    <button type="submit" class="btn btn-gray-filled">Add Product</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
	    <!-- 테이블 end -->

	</div>
	
	<script>

    /* const input = document.querySelector('input[name=snsTag]');
    console.log(input);
    let tagify = new Tagify(input); // initialize Tagify
    
    // 태그가 추가되면 이벤트 발생
    tagify.on('add', onAddTag)
    function onAddTag(e){
        console.log("onAddTag: ", e.detail.tagify.value);
        console.log("original input value: ", input.value)
        //console.log(data.value)
        //loadOriginalValues
    } */



</script>


</th:block>

</html>