<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">

<head>
<style>
.grpImg{
	height: 400px;
}
.videoSize{
	height: 150px;
	/* width: 150px; */
}
.thumbImg{
	height : 150px;
}
	a,
	span,
	button,
	input,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	tr,
	td,
	th,
	pre{
		font-family: 'Noto Sans KR', sans-serif !important;
	}
	.grpTitle{
		margin-bottom: 0px;
	}
	.snsGrpName{
		font-weight: 500;
	}
</style>
</head>

<th:block layout:fragment="content">
	<div class="container">
		<!-- Basic Tables start -->
		<section class="section">
			<div class="card">
				<!-- Trending Section Start -->
				<section class="trending__section pt-0">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="section-title grpTitle">
									<p class="card-title mtitle mtitle2" style="font-size: 23px; font-weight: 700;">[[${grpList.get(0).name}]]님이
										등록한 SNS 그룹</p>
								</div>
								<input type="hidden" th:value="${grpList.get(0).memId}" id="memId">
							</div>
						</div>
						<div class="row">
							<div class="col-12 msection">
								<!-- Swiper -->
								<div class="swiper mySwiper banner" data-aos="fade-up">
									<div class="swiper-wrapper banner">
										<div class="swiper-slide banner" th:each="mg : ${grpList}">
											<!-- 여기서 반복문 th:each="" -->
											<div class="card">
												<div class="card-content">
													<th:block th:if="${mg.snsGrpNo != null}">
													<img class="img-fluid w-100 grpImg" th:src="${mg.attachPath}"
														style="border-radius: 10px 10px 0 0;" alt="Card image cap">
													</th:block>
													<th:block th:unless="${mg.snsGrpNo != null}">
													<img class="img-fluid w-100 grpImg" src="assets/img/sns/Tennis1.jpg"
														style="border-radius: 10px 10px 0 0;" alt="Card image cap">
													</th:block>
													
												</div>
												<div class="card-footer d-flex justify-content-between"
													style="flex-direction: column; border: 1px solid #ccc; gap: 15px;">
													<span class="snsGrpName" id="snsGrpName"
														th:attrappend="id=${mg.snsGrpNo}">[[${mg.grpName}]]</span>
													<div class="btn btn-light-primary edBtns d-flex"
														style="float: right; justify-content: space-between;">
														<div class="gapBtn d-flex"
															style="gap: 15px; align-items: center;">
															<th:block  th:if="${mg.snsGrpNo!=null}">
															<!-- 모달열리게하는 수정아이콘 -->
															<i type="button"
																class="fa-regular fa-pen-to-square editBtnClass"
																data-bs-toggle="modal" th:data-snsgrpno="${mg.snsGrpNo}"
																th:data-grpname="${mg.grpName}"
																data-bs-target="#inlineForm"
																th:attrappend="data-bs-target=${mg.snsGrpNo}"></i>
															<!-- 삭제버튼 -->
															<i type="button" class="fa-regular fa-trash-can delBtnClass"
																id="delSnsListBtn" th:no="${mg.snsGrpNo}"></i>
															</th:block>
														</div>
														<button class="btn btn-light-primary grpBtn"
															th:id="${mgStat.count}" data-bs-toggle="collapse"
															th:data-snsgrpno="${mg.snsGrpNo}"
															data-bs-target="#collapseExample" aria-expanded="false"
															aria-controls="collapseExample"
															th:attrappend="data-bs-target=${mgStat.count}">그룹
															목록보기</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-pagination banner"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Swiper JS -->
					<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
					<!-- Initialize Swiper -->
					<script>
						var swiper = new Swiper(".mySwiper.banner", {
							/* loop : true, */
							loopPreventsSliding: true,
							grabCursor: true,
							slidesPerView: 3,
							spaceBetween: 20,

							/* autoplay : {
								delay : 2000,
								pauseOnMouseEnter : true,
								disableOnInteraction : false
							}, */
							pagination: {
								el: ".swiper-pagination.banner",
								dynamicBullets: true,
								clickable: true,
							},
						});
					</script>
				</section>
				<!-- Trending Section End -->
				<!-- 게시판 반복문 시작 -->
				<div class="card-body shadow collapse Listbrd" th:each="gl : ${grpList}" id="collapseExample"
					th:attrappend="id=${glStat.count}">
					<!-- 반복문 -->
					<div class="table-responsive">
						<table class="table dashboard__table order-list">
							<thead>
								<tr>
									<th scope="col" class="text-start grpBrdName" id="grpBrdName"
										th:attrappend="id=${gl.snsGrpNo}" style="width: 300px;">[[${gl.grpName}]]</th>
									<th scope="col" class="text-start">제목</th>
									<th scope="col" class="text-center">Action</th>
								</tr>
							</thead>
							<tbody id="grpListTbody" class="grpListTbody">
									<!-- 여기 아작스 리스트 뿌려줌 -->				
							</tbody>
						</table>
					</div>
					<!-- pagination start  -->
					<div class="action-right d-flex flex-grow-1 align-items-center justify-content-around">
						<!-- 페이지 -->
						<div class="container mt-5 mb-5">
							<ul class="pagination justify-content-center"></ul>
						</div>
					</div>
					<!-- pagination end -->
				</div>
				<!-- 게시판 end -->



				<!-- 기타게시판 -->
				<div class="card-body shadow collapse Listbrd" id="collapseExample100">
					<!-- 반복문 -->
					<div class="table-responsive">
						<table class="table dashboard__table order-list">
							<thead>
								<tr>
									<th scope="col" class="text-start" style="width: 300px;">기타</th>
									<th scope="col" class="text-start">제목</th>
									<th scope="col" class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
		
							</tbody>
						</table>
					</div>
					<!-- pagination start  -->
					<nav class="pagination__wrapper mt-0 py-10">
						<ul class="pagination">
							<li class="pagination__item"><a class="page-link" href="#"><i
										class="fa-solid fa-angle-left"></i></a></li>
							<li class="pagination__item active"><a class="page-link" href="#">1</a></li>
							<li class="pagination__item"><a class="page-link" href="#">2</a></li>
							<li class="pagination__item"><a class="page-link" href="#">3</a></li>
							<li class="pagination__item"><a class="page-link dot" href="#">...</a></li>
							<li class="pagination__item"><a class="page-link" href="#">8</a></li>
							<li class="pagination__item"><a class="page-link" href="#">9</a></li>
							<li class="pagination__item"><a class="page-link" href="#">10</a></li>
							<li class="pagination__item"><a class="page-link" href="#"><i
										class="fa-solid fa-angle-right"></i></a></li>
						</ul>
						<div class="pagination__jump">
							<label class="junp__label" for="pageNumber">Go to Page</label> <input type="number"
								name="page" id="pageNumber" class="jump__input" placeholder="02" />
							<button class="btn btn-outline jump__btn" type="submit">
								GO <i class="fa-solid fa-arrow-right"></i>
							</button>
						</div>
					</nav>
					<!-- pagination end -->
				</div>
				<!-- 기타게시판 end -->
			</div>

		</section>
	</div>

	<!-- Basic Tables end -->
	<div th:each="mg : ${grpList}">
		<!-- 그룹등록모달 -->
		<div class="modal fade text-left editNameModal" id="inlineForm" th:attrappend="id=${mg.snsGrpNo}" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel33">그룹 이름 변경</h4>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<i data-feather="x"></i>
						</button>
					</div>
					<form action="#">
						<div class="modal-body">
							<label for="email">그룹 이름</label>
							<div class="form-group">
								<input id="text" type="text" name="grpName" placeholder="변경할 그룹 이름을 입력하세요"
									class="form-control grpInput">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
								<i class="bx bx-x d-block d-sm-none"></i> <span class="d-none d-sm-block">Close</span>
							</button>
							<button type="button" class="btn btn-primary ms-1 nameEditBtn" th:no="${mg.snsGrpNo}"
								data-bs-dismiss="modal" th:onclick="myfunction(this.getAttribute('no'))">
								<i class="bx bx-check d-block d-sm-none"></i> <span class="d-none d-sm-block">수정</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- 그룹등록모달 end -->

	</div>

	<script>

	
	 	let pageNum = 1;
		let pageSize = 10.0; //페이지 번호 수
		let pageUnit = 5;  //한페이지에 출력할 행의 수
		let snsGrpNo = 0;
		
		$('.grpBtn').on('click', function (e) {

			pageNum=1;
			snsGrpNo = $(e.target).attr('data-snsgrpno');
			
			getSnsMyList(snsGrpNo,1);

		})

	
		function myfunction(grpNo) {
			let grpName = event.target.closest('form').querySelector('input[name=grpName]').value; // 이렇게하면 이벤트타겟의 부모에 있는값 지정가능
			let snsGrpNo = grpNo;

			$.ajax({
				url: 'editGrpName',
				data: { grpName, snsGrpNo },
				type: 'post',
				success: function (data) {
					if (data.result) {
						alert('그룹이름 수정성공');
						$('#snsGrpName' + data.info.snsGrpNo).text(data.info.grpName);
						$('#grpBrdName' + data.info.snsGrpNo).text(data.info.grpName);
						$('input[name=grpName]').val('');
					}

				},
				error: function () {
					alert("수정 실패");

				}
			})
		}


		$('.btn.btn-light-primary').on('click', function (e) {
			$(e.target).toggleClass('active');
			//console.log($(e.target).prop('id'));

			/* 	for(let i=1; i< $('.btn.btn-light-primary').length; i++){
					if ($(e.target).hasClass('active')) {
						$('#collapseExample'+i).attr('class',
								'card-body shadow collapse show')
					} else {
						$('#collapseExample'+i).attr('class',
								'card-body shadow collapse')
					}
				} */
			for (let i = 1; i <= $('.btn.btn-light-primary').length; i++) {
				if ($(e.target).hasClass('active') && $(e.target).attr('id') == i) {
					$('#collapseExample' + i).attr('class',
						'card-body shadow collapse show')

					console.log($('#collapseExample' + i));

				} else {
					$('#collapseExample' + i).attr('class',
						'card-body shadow collapse')
				}
			}
			// 기타 게시판 콜랩스
			if ($(e.target).hasClass('active') && $(e.target).attr('id') == 100) {
				$('#collapseExample' + 100).attr('class',
					'card-body shadow collapse show')

				console.log($('#collapseExample' + 100));
			} else {
				$('#collapseExample' + 100).attr('class',
					'card-body shadow collapse')
			}


		});

		
		
		$('.pagination').on('click','li a',function(e) {
			e.preventDefault();
			console.log('page click');
			
			let targetPage = $(this).attr('href');
			console.log('targetPage: ' + targetPage);
			
			pageNum = targetPage;
			getSnsMyList(snsGrpNo,pageNum);
		});

		//리스트 뿌리는 함수
		function getSnsMyList(snsGrpNo,page) {
			let memId = $('#memId').val();
			$.ajax({
				type: 'GET',
				url: 'mySnsList',
				data: { snsGrpNo, page, memId},
				success: function (result) {
					$('.grpListTbody').empty();
					if(result.mySnsGroupList.length == 0){
						let b = `<tr> <td colspan="3"> 게시물이 없습니다. </td> </tr>`
							$('.grpListTbody').append(b);
						return;
					}
					for (let grp of result.mySnsGroupList) {
						
						let b = `
							<tr>`
								if(grp.attachList[0].attachExt!=".mp4"){
								 b+= `<td class="text-start">
									<img class="rounded thumbImg" src="${grp.attachList[0].attachPath}" style="width: 150px;">
								</td>`	
								}else{
								b+=`<td class="text-start">
								<video class="main-top-promotion-video videoSize"
									autoplay="autoplay" loop="loop" muted="muted">
									<source src="${grp.attachList[0].attachPath}" type="video/mp4">
								</video>
								</td>`	
								}
								b +=` <td class="text-start">${grp.snsTitle}</td>
								<td>`
								if(grp.snsGrpNo != null){
									b += `	<div class="card__action text-center">
										<div class="edBtns" style="float: right;">
										<i type="button" class="fa-solid fa-magnifying-glass" onclick="location.href='/snsDetail?snsWrtNo=${grp.snsWrtNo}'"></i>
										<i type="button"
											class="fa-regular fa-pen-to-square editBtnClass"
											onclick="location.href='/snsEditForm?snsWrtNo=${grp.snsWrtNo}&snsGrpNo=${grp.snsGrpNo}'"
											id="editSnsBtn"></i>
										<i type="button"
											class="fa-regular fa-trash-can delBtnClass"
											id="delSnsListBtn${grp.snsWrtNo}" ></i>
									</div>
								</div>`
								}else{
									b+= `<div class="card__action text-center">
										<div class="edBtns" style="float: right;">
										<i type="button" class="fa-solid fa-magnifying-glass" onclick="location.href='/snsDetail?snsWrtNo=${grp.snsWrtNo}'"></i>
										<i type="button"
											class="fa-regular fa-pen-to-square editBtnClass"
											onclick="location.href='/snsEditForm?snsWrtNo=${grp.snsWrtNo}'"
											id="editSnsBtn"></i>
										<i type="button"
											class="fa-regular fa-trash-can delBtnClass"
											id="delSnsListBtn${grp.snsWrtNo}" ></i>
									</div>
								</div>`
								}
							b+= `		
								</td>
							</tr>
							`
						$('.grpListTbody').append(b);
					}
					//페이지 숫자
					showPage(result.selectCount);
					
			
				
					function showPage(replyCnt) {
						var endNum = Math.ceil(pageNum / pageSize) * pageSize;
						var startNum = endNum > pageSize? endNum - pageSize : 1;
						
						var prev = startNum != 1;
						var next = false;
						
						if(endNum * 10 >= replyCnt) {
							endNum = Math.ceil(replyCnt/pageUnit);
						}
						
						if(endNum * 10 < replyCnt) {
							next = true;
						}
						
						var str= "";
						
						for(var i = startNum ; i <= endNum; i++) {
							var active = pageNum == i? "active":"";
							str+= "<li class='page-item "+active+"'> <a class='page-link' href='"+i+"'>"+i+"</a></li>";		
						}
						
						str += "";
						
						console.log(str);
						
						$('.pagination').html(str);
						

					
					}

					//그룹 안의 리스트 각각 삭제
					$('.delBtnClass').on('click', function (e) {
						console.log("sns삭제 눌리나요");
				
						/* 삭제 */
						Swal.fire({
							title: "정말 삭제하시겠습니까?",
							html: "삭제시 복구 불가합니다.",
							icon: "warning",
							showCancelButton: true,
							confirmButtonColor: "#3085d6",
							cancelButtonColor: "#d33",
							confirmButtonText: "Yes, delete it!"
						}).then((result) => {
							if (result.isConfirmed) {
								console.log($(e.target));
								let snsWrtNo = $(e.target).prop("id").replace("delSnsListBtn", "");

								$.ajax({
									type: 'POST',
									url: 'snsDel',
									data: { snsWrtNo },
									success: function (result) {
										console.log(result)
										if (result) {
											alert("정상삭제");
											location.reload();
										} else {
											alert("삭제실패. 재시도해주세요.");
										}
									},
									error: function () {
										alert("삭제 실패");

									}
								})
							}
						});

						/* 삭제 end */


					})

				}

			})
		}


		// 그룹 sns 통으로 삭제
		$('.delBtnClass').on('click', function (e) {
			event.stopPropagation();
			Swal.fire({
				title: "정말 삭제하시겠습니까?",
				html: "그룹 삭제시 그룹 내 게시글도 삭제됩니다.<br> 정말 삭제하시겠습니까?",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Yes, delete it!"
			}).then((result) => {
				if (result.isConfirmed) {
					console.log($(e.target));
					let snsGrpNo = $(e.target).attr("no");
					console.log('딜리트그룹번호' + snsGrpNo);
					$.ajax({
						type: 'POST',
						url: 'grpDel',
						data: { snsGrpNo },
						success: function (result) {
							if (result) {
								Swal.fire({
									icon: "success",
									title: "",
									text: "정상적으로 삭제되었습니다.",
								}).then(function () {
									location.reload();
									//$('#review'+reviewNo).css('display','none');
								})
							} else {
								Swal.fire({
									icon: "error",
									title: "",
									html: "정상적으로 삭제되지 않았습니다.<br>정보를 확인해주시기바랍니다.",
								})
							}
						}
					})
				}
			});
		})

		// 기타 리스트 삭제
		$('.nullDelBtnClass').on('click', function (e) {
			console.log("sns삭제 눌리나요");
	 		
			Swal.fire({
				title: "정말 삭제하시겠습니까?",
				html: "삭제시 복구 불가합니다.",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Yes, delete it!"
			}).then((result) => {
				if (result.isConfirmed) {
					console.log($(e.target));
					let snsWrtNo = $(e.target).attr("no");

					$.ajax({
						type: 'POST',
						url: 'snsDel',
						data: { snsWrtNo },
						success: function (result) {
							console.log(result)
							if (result) {
								alert("정상삭제");
								location.reload();
							} else {
								alert("삭제실패. 재시도해주세요.");
							}
						},
						error: function () {
							alert("삭제 실패");

						}
					})
				}
			});

			
 

		})



	</script>
</th:block>

</html>