<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
<head>
<!-- tagify 소스 다운 -->
<script src="https://unpkg.com/@yaireo/tagify"></script>
<!-- 폴리필 (구버젼 브라우저 지원) -->
<script
	src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>

</head>
<th:block layout:fragment="content">


	<!-- club sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="sns">
					<div>
						<i class="fa-solid fa-photo-film fs-3 text-info"></i>
					</div>SNS
			</a></li>
			<li class="d-flex flex-column"><a href="freeboardList">
					<div>
						<i class="fa-solid fa-chalkboard-teacher fs-3 text-primary"></i>
					</div>자유게시판
			</a></li>
			<li class="d-flex flex-column"><a href="noticeList">
					<div>
						<i class="fa-solid fa-clipboard-list fs-3 text-warning"></i>
					</div>공지사항
			</a></li>
		</ul>
	</div>
	<!-- End club sub menu  -->

	<div class="container">
		<div class="page-heading email-application overflow-hidden">
			<div class="page-title">
				<div class="row">
					<div class="col-12 col-md-6 order-md-1 order-last">
						<h3 style="color: green">SNS 등록</h3>
						<br>
					</div>
					<div class="col-12 col-md-6 order-md-2 order-first">
						<nav aria-label="breadcrumb"
							class="breadcrumb-header float-start float-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">SNS</a></li>
								<li class="breadcrumb-item active" aria-current="page">SNS
									등록</li>
							</ol>
						</nav>
					</div>
				</div>
				<hr>

			</div>
			<!-- Basic Vertical form layout section start -->
			<section id="basic-vertical-layouts">
				<div class="row match-height">
					<div class="col-md-12 col-12">
						<div class="card">
							<div class="card-content">
								<div class="card-body">
									<form th:action="@{/snsRegister}" method="Post"
										name="insertForm" th:object="${snsVO}"
										class="form form-vertical" enctype="multipart/form-data">
										<div class="form-body">
											<div class="row">
												<div class="col-12">
													<div class="form-group mandatory">
														<label for="password-vertical"
															data-parsley-required="true" class="form-label">제목</label>
														<input type="text" id="password-vertical"
															class="form-control" name="snsTitle" placeholder="">
													</div>
												</div>
												<div class="col-12">
													<div class="form-group">
														<div>
															<label for="password-vertical"
																data-parsley-required="true" class="groupRegBtn">그룹
																등록</label>

															<div class="input-group mb-3">
																<select class="form-select" id="snsGrpNo" th:field="*{snsGrpNo}">
																	<option selected value="">choose</option>
																	<option value="-1">그룹선택안함</option>
																	<th:block th:each="g : ${grpList}">
																		<option th:value="${g.snsGrpNo}">[[${g.grpName}]]</option>
																	</th:block>
																</select> 
																<label class="input-group-text"
																	for="grpName" data-bs-toggle="modal"
																	data-bs-target="#inlineForm">그룹 생성</label>
															</div>
															<!--   <input type="text" id="password-vertical" class="form-control"
                                                    name="grpName" placeholder=""> -->
														</div>
													</div>
													</div>
													<div class="col-12">
														<div class="form-group mandatory">
															<label for="password-vertical" class="form-label">내용</label>
															<textarea class="form-control"
																id="exampleFormControlTextarea1" name="snsCtt" rows="3"></textarea>
														</div>
													</div>
													<div class="col-12">
														<div class="form-group">
															<label for="contact-info-vertical"
																data-parsley-required="true">태그</label> <input
																type="text" id="snsTag" class="form-control"
																name="snsTag">
														</div>
													</div>

													<div class="col-12">
														<div class="form-group mandatory">
															<label for="contact-info-vertical">사진 / 동영상 첨부하기</label>
															<input type="file" class="image-preview-filepond"
																id="files" name="files" multiple>
														</div>
													</div>

													<div class="col-12 d-flex justify-content-end">
														<button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
														<button type="reset"
															class="btn btn-light-secondary me-1 mb-1">Reset</button>
													</div>
												</div>
											</div>
									
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- // Basic Vertical form layout section end -->


		</div>
	</div>
	<!-- 그룹등록모달 -->
	<div class="modal fade text-left" id="inlineForm" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel33">SNS 나의 그룹 등록</h4>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<i data-feather="x"></i>
					</button>
				</div>
				<form action="#">
					<div class="modal-body">
						<label for="email">그룹 생성</label>
						<div class="form-group">
							<input id="text" type="text" placeholder="생성할 그룹 이름을 입력하세요"
								class="form-control grpInput">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light-secondary"
							data-bs-dismiss="modal">
							<i class="bx bx-x d-block d-sm-none"></i> 
							<span class="d-none d-sm-block">Close</span>
						</button>
						<button type="button" class="btn btn-primary ms-1 myGrpBtn"
							data-bs-dismiss="modal">
							<i class="bx bx-check d-block d-sm-none"></i> 
							<span class="d-none d-sm-block">등록</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 그룹등록모달 end -->
	<script>
		const input = document.querySelector('input[name=snsTag]');
		console.log(input);
		let tagify = new Tagify(input); // initialize Tagify

		// 태그가 추가되면 이벤트 발생
		tagify.on('add', onAddTag)
		function onAddTag(e) {
			console.log("onAddTag: ", e.detail.tagify.value);
			console.log("original input value: ", input.value)
			//console.log(data.value)
			//loadOriginalValues
		}
		
		
		// select에서 사용할 그룹 이름 등록하기
		 $('.myGrpBtn').on('click', function() {
				let grpName = $('.grpInput').val();
				$.ajax({
					url: 'snsGrpInsert',
					data: {grpName},
					type : 'post',
					datatype : 'text',
					success: function(result){
						if(result>0){
						alert("그룹 등록 성공");
						location.reload();
						}
						$('.grpInput').val('');
					},
					error : function(){
						alert("등록 실패");
					}
				})
		 }) 
	</script>


</th:block>

</html>