<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main-layout}">

	<th:block layout:fragment="content">
	

            <!-- slide banner -->
            <!-- <div class="container-fluid mb-2 bg-light-info">
                <div class="container pt-3 pb-3">
                    <div class="swiper mySwiper banner" data-aos="fade-up">
                        <div class="swiper-wrapper banner">
                            <div class="swiper-slide banner text-center">
                                <img src="/assets/img/slide.png" class="img-fluid" alt="">
                            </div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                        </div>
                        <div class="swiper-pagination banner"></div>
                    </div>
                </div>
                <script>
                    var swiper = new Swiper(".mySwiper.banner", {
                        loop: true,
                        loopPreventsSliding: true,
                        grabCursor: true,
                        autoplay: {
                            delay: 2000,
                            pauseOnMouseEnter: true,
                            disableOnInteraction: false
                        },
                        pagination: {
                            el: ".swiper-pagination.banner",
                            dynamicBullets: true,
                            clickable: true,
                        },
                    });
                </script>
            </div> -->
            <!-- End slide banner -->

			<!-- Banner Slider v2 End-->
			<section class="banner__slider__section__v2 pb-0" style="height: 300px">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="swiper main__mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="single__slide__wrapper"
									style="background-image: url('assets/img/shop/shop1.jpg')">
									<div class="hero__wrapper text-left">
										<!-- <h5 class="hero__subtitle">Limited offer 25% off</h5>
										<h1 class="hero__title">
											Organic Fruit <br /> For Your Family’s Health
										</h1>  -->
										<p class="hero__content"></p>
										<div class="hero__btn">
											<a href="product.html" class="btn btn-primary">Shop Now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="single__slide__wrapper"
									style="background-image: url('assets/img/shop/shop2.jpg')">
									<div class="hero__wrapper text-left">
										<!-- <h5 class="hero__subtitle">Limited offer 10% off</h5>
										<h1 class="hero__title">
											Shop wise <br /> with price <br /> comparisons
										</h1> -->
										<p class="hero__content"></p>
										<div class="hero__btn">
											<a href="product.html" class="btn btn-primary">Shop Now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="single__slide__wrapper"
									style="background-image: url('assets/img/shop/shop3.jpg')">
									<div class="hero__wrapper text-left">
										<!-- <h5 class="hero__subtitle">Limited offer 10% off</h5>
										<h1 class="hero__title">
											Summer <br /> Skin care <br /> Product
										</h1>  -->
										<p class="hero__content"></p>
										<div class="hero__btn">
											<a href="product.html" class="btn btn-primary">Shop Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="banner__navigation">
							<div class="swiper-button-next">
								<svg width="35" height="16" viewBox="0 0 35 16" fill="none"
									xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 8L34 8"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                        <path d="M27 1L34 8L27 15"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                    </svg>
							</div>
							<div class="swiper-button-prev">
								<svg width="23" height="16" viewBox="0 0 23 16" fill="none"
									xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22 8H1"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                        <path d="M8 15L1 8L8 1"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                    </svg>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
			<!-- Banner Slider v2 End-->
			<!-- courtroom filter -->
            <div class="container mb-4" style="margin-top: 20px;">
                <ul class="nav text-center">
                    <li class="d-flex flex-column" style="margin: 0 10px;">
                    <button type="button" class="btn btn-outline-primary block"
		                data-bs-toggle="modal" data-bs-target="#exampleModalCenter1">
		                지역 선택
		            </button></li>
                    <li class="d-flex flex-column" style="margin: 0 10px;">
                    <button type="button" class="btn btn-outline-primary block"
		                data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
		                날짜 선택
		            </button></li>
                    <li class="d-flex flex-column" style="margin: 0 10px;">
                    <button type="button" class="btn btn-outline-primary block"
		                data-bs-toggle="modal" data-bs-target="#exampleModalCenter3">
		                시간 선택
		            </button></li>
		            <li class="d-flex flex-column" style="margin: 0 10px;">
		            	<div class="btn-group mb-1">
                            <div class="dropdown">
                                 <button class="btn btn-primary dropdown-toggle me-1" type="button"
                                     id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                     filter
                                 </button>
                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                     <a class="dropdown-item" href="#">최신순</a>
                                     <a class="dropdown-item" href="#">인기순</a>
                                     <a class="dropdown-item" href="#">별점순</a>
                                 </div>
                             </div>
                        </div>
		            </li>
                </ul>
            </div>
            <!-- End courtroom sub menu  -->
            
            <!-- Vertically Centered first modal Modal -->
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Vertically
                                Centered
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-a"
                                autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined-a" style="display: block; margin: 10px;">모든지역</label>
                                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-b"
                                autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined-b" style="display: block; margin: 10px;">서울</label>
                                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined-c"
                                autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined-c" style="display: block; margin: 10px;">대구</label>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vertically Centered second modal Modal -->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content" style="width: 340px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Vertically
                                Centered
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                        		<div class="justify-content-around">
	                        		<input type="date" class="form-control flatpickr-always-open" placeholder="Select date..">
                        		</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vertically Centered third modal Modal -->
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Vertically
                                Centered
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                            	<input type="radio" class="btn-check" name="options-outlinedd" id="success-outlined-aa"
                                autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined-aa" style="display: block; margin: 10px;">아침 (6시 ~ 10시)</label>
                                <input type="radio" class="btn-check" name="options-outlinedd" id="success-outlined-bb"
                                autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined-bb" style="display: block; margin: 10px;">낮 (10시 ~ 18시)</label>
                                <input type="radio" class="btn-check" name="options-outlinedd" id="success-outlined-cc"
                                autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined-cc" style="display: block; margin: 10px;">저녁 (18시 ~ 24시)</label>
                                <input type="radio" class="btn-check" name="options-outlinedd" id="success-outlined-dd"
                                autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined-dd" style="display: block; margin: 10px;">심야 (24시 ~ 6시)</label>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- courtroom card -->
            <div class="container">
            	<div class="justify-content-around text-center">
                    <th:block th:each="courtList, stat: ${courtList}">
                    <div class="col-xl-4 col-md-6 col-sm-12"
                    style="display: inline-block; width: 270px; margin: 1.2%;
                    		border-radius: 10px; margin-bottom: 2.5%; cursor:pointer; box-shadow: 1px 1px 10px #eee">
                     <div class="card" th:onclick="|location.href='@{/courtDetail(crtroomNo=${courtList.crtroomNo})}'|"
                     	style="margin: 0">
                           	<img th:src="${courtList.attachPath}" class="card-img-top img-fluid"
                                alt="singleminded" style="overfit: cover">
                         <ul class="list-group list-group-flush">
                       	 	 <li class="list-group-item" style="border: 0;"></li>
                         	 <li class="list-group-item rating" style="border: 0;">
                         	 	<ul style="padding: 0">
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-regular fa-star"></i></li>
									<li><i class="fa-regular fa-star"></i></li>
								</ul>
                         	 </li>
                         	 <li class="list-group-item" style="border: 0;"><span style="float: left;"><h5 class="card-title">[[ ${courtList.crtroomName} ]]</h5></span></li>
                             <li class="list-group-item" style="border: 0;"><span style="float: left;">[[ ${courtList.minPrice} ]]원 ~</span></li>
                             <li class="list-group-item" style="border: 0;"><span style="float: left;">[[ ${courtList.crtroomLocation} ]]</span></li>
                             <li class="list-group-item" style="border: 0;"></li>
                         </ul>
                        </div>
                    </div>
                
                    <!-- <div class="col-xl-4 col-md-6 col-sm-12"
                    style="display: inline-block; width: 270px; border: 1px solid black; margin: 1%">
                        <div class="card">
                            <div class="card-content">
                                <img src="/assets/img/card.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <div class="card-body">
                                    <h5 class="card-title">Courtroom Name</h5>
                                    <p class="card-text">
                                        Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes
                                        tiramisu.Gummies
                                    </p>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Courtroom Location</li>
                                <li class="list-group-item">Courtroom Price</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12"
                    style="display: inline-block; width: 270px; border: 1px solid black; margin: 1%">
                        <div class="card">
                            <div class="card-content">
                                <img src="/assets/img/card.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <div class="card-body">
                                    <h5 class="card-title">Courtroom Name</h5>
                                    <p class="card-text">
                                        Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes
                                        tiramisu.Gummies
                                    </p>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Courtroom Location</li>
                                <li class="list-group-item">Courtroom Price</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12" 
                    style="display: inline-block; width: 270px; border: 1px solid black; margin: 1%">
                        <div class="card">
                            <div class="card-content">
                                <img src="/assets/img/card.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <div class="card-body">
                                    <h5 class="card-title">Courtroom Name</h5>
                                    <p class="card-text">
                                        Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes
                                        tiramisu.Gummies
                                    </p>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Courtroom Location</li>
                                <li class="list-group-item">Courtroom Price</li>
                            </ul>
                        </div>
                    </div> -->
                 
                 	</th:block>
             	</div>
            </div>
                <div class="container">
                <br>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">다음</a>
                        </li>
                    </ul>
                </div>
            <!-- End match table -->

            <!-- viewed history -->
            <!-- Trending Section Start -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
			<section class="trending__section pt-0">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title" style="margin: 50px 0 0 0">
								<h2><span style="font-size: 25px">Recently Registered Court</span></h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="product__wrapper swiper__pagination">
								<div class="swiper trending__Swiper">
									<div class="swiper-wrapper">
									<th:block th:each="recentCrt, stat : ${recentCrt}">
										<div class="swiper-slide">
											<div class="product-card">
												<div class="product__image__wrapper">
													<a th:onclick="|location.href='@{/courtDetail(crtroomNo=${recentCrt.crtroomNo})}'|" class="product__image"
													> <img
														th:src="${recentCrt.attachPath}" alt="icon" style="overfit: cover;" />
													</a>
													<div class="badge">New</div>
													<!-- <div class="product__actions">
														<a href="#" class="action__btn"> <svg width="16"
																height="14" viewBox="0 0 16 14" fill="none"
																xmlns="http://www.w3.org/2000/svg">
		                                                            <path
																	d="M13.8931 2.07333C13.5526 1.73267 13.1483 1.46243 12.7033 1.27805C12.2584 1.09368 11.7814 0.998779 11.2998 0.998779C10.8181 0.998779 10.3412 1.09368 9.89618 1.27805C9.45121 1.46243 9.04692 1.73267 8.70642 2.07333L7.99975 2.78L7.29309 2.07333C6.60529 1.38553 5.67244 0.999136 4.69975 0.999136C3.72706 0.999136 2.79422 1.38553 2.10642 2.07333C1.41863 2.76112 1.03223 3.69397 1.03223 4.66666C1.03223 5.63935 1.41863 6.5722 2.10642 7.26L2.81309 7.96666L7.99975 13.1533L13.1864 7.96666L13.8931 7.26C14.2337 6.91949 14.504 6.51521 14.6884 6.07023C14.8727 5.62526 14.9676 5.14832 14.9676 4.66666C14.9676 4.185 14.8727 3.70807 14.6884 3.26309C14.504 2.81812 14.2337 2.41383 13.8931 2.07333V2.07333Z"
																	stroke="#252522" stroke-linecap="round"
																	stroke-linejoin="round" />
		                                                        </svg>
														</a> <a href="#" data-bs-toggle="modal"
															data-bs-target="#prod__preview" class="action__btn"> <svg
																width="16" height="16" viewBox="0 0 16 16" fill="none"
																xmlns="http://www.w3.org/2000/svg">
		                                                            <path
																	d="M0.666992 7.99996C0.666992 7.99996 3.33366 2.66663 8.00033 2.66663C12.667 2.66663 15.3337 7.99996 15.3337 7.99996C15.3337 7.99996 12.667 13.3333 8.00033 13.3333C3.33366 13.3333 0.666992 7.99996 0.666992 7.99996Z"
																	stroke="#252522" stroke-linecap="round"
																	stroke-linejoin="round" />
		                                                            <path
																	d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
																	stroke="#252522" stroke-linecap="round"
																	stroke-linejoin="round" />
		                                                        </svg>
														</a> <a href="#" class="action__btn"> <svg width="16"
																height="16" viewBox="0 0 16 16" fill="none"
																xmlns="http://www.w3.org/2000/svg">
		                                                            <path
																	d="M10 9.33329L13.3333 5.99996L10 2.66663"
																	stroke="#252522" stroke-linecap="round"
																	stroke-linejoin="round" />
		                                                            <path
																	d="M2.66699 13.3333V8.66667C2.66699 7.95942 2.94794 7.28115 3.44804 6.78105C3.94814 6.28095 4.62641 6 5.33366 6H13.3337"
																	stroke="#252522" stroke-linecap="round"
																	stroke-linejoin="round" />
		                                                        </svg>
														</a>
													</div> -->
												</div>
												<div class="product__content">
													<div class="product__rating">
														<ul>
															<li><i class="fa-solid fa-star"></i></li>
															<li><i class="fa-solid fa-star"></i></li>
															<li><i class="fa-solid fa-star"></i></li>
															<li><i class="fa-solid fa-star"></i></li>
															<li><i class="fa-regular fa-star"></i></li>
														</ul>
														<div class="total__rating">(321)</div>
													</div>
													<div class="product__title">
														<h5>
															<a th:onclick="|location.href='@{/courtDetail(crtroomNo=${recentCrt.crtroomNo})}'|">[[${recentCrt.crtroomName}]]</a>
														</h5>
													</div>
													<div class="product__bottom">
														<div class="product__price">
															[[${recentCrt.minPrice}]]원 ~
															<!-- <del>$22.00</del> -->
														</div>
														<div class="cart__action__btn">
															<div class="cart__btn">
																<button type="button" th:onclick="|location.href='@{/courtDetail(crtroomNo=${recentCrt.crtroomNo})}'|" class="btn btn-outline">상세보기</button>
															</div>
															<!-- <div class="quantity cart__quantity">
																<button type="button" class="decressQnt">
																	<span class="bar"></span>
																</button>
																<input class="qnttinput" type="number" disabled value="0"
																	min="01" max="100" />
																<button type="button" class="incressQnt">
																	<span class="bar"></span>
																</button>
															</div> -->
														</div>
													</div>
												</div>
											</div>
										</div>
										</th:block>
									</div>
		
									<div class="swiper-button-next">
										<svg width="35" height="16" viewBox="0 0 35 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
		                                           <path d="M1 8L34 8"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                           <path d="M27 1L34 8L27 15"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                       </svg>
									</div>
									<div class="swiper-button-prev">
										<svg width="23" height="16" viewBox="0 0 23 16" fill="none"
											xmlns="http://www.w3.org/2000/svg" style="width: 85%">
		                                        <path d="M22 8H1"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                        <path d="M8 15L1 8L8 1"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                    </svg>
									</div>
									<!-- <div class="swiper-slide"></div> -->
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Trending Section End -->
            <!-- End viewed history -->
	</th:block>
	<script>
	new Swiper(".swiper-wrapper", {
		/* loop : true, */
		loopPreventsSliding : true,
		grabCursor : true,
		slidesPerView : 3,
		spaceBetween : 20,

		/* autoplay : {
			delay : 2000,
			pauseOnMouseEnter : true,
			disableOnInteraction : false
		}, */
		pagination : {
			el : ".swiper-pagination",
			dynamicBullets : true,
			clickable : true,
		},
	});
	</script>
</html>