<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main-layout}">

	<th:block layout:fragment="content">

            <!-- slide banner -->
            <!-- <div class="container-fluid mb-2 bg-light-info">
                <div class="container pt-3 pb-3">
                    <div class="swiper mySwiper banner" data-aos="fade-up">
                        <div class="swiper-wrapper banner">
                            <div class="swiper-slide banner text-center">
                                <img src="/assets/img/slide.png" class="img-fluid" alt="">
                            </div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                            <div class="swiper-slide banner text-center"><img src="/assets/img/slide.png"
                                    class="img-fluid" alt=""></div>
                        </div>
                        <div class="swiper-pagination banner"></div>
                    </div>
                </div>
                <script>
                    var swiper = new Swiper(".mySwiper.banner", {
                        loop: true,
                        loopPreventsSliding: true,
                        grabCursor: true,
                        autoplay: {
                            delay: 2000,
                            pauseOnMouseEnter: true,
                            disableOnInteraction: false
                        },
                        pagination: {
                            el: ".swiper-pagination.banner",
                            dynamicBullets: true,
                            clickable: true,
                        },
                    });
                </script>
            </div> -->
            <!-- End slide banner -->

			<!-- Banner Slider v2 End-->
			<section class="banner__slider__section__v2 pb-0" style="height: 300px">
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12">
							<div class="swiper main__mySwiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="single__slide__wrapper"
											style="background-image: url('assets/img/shop/shop1.jpg')">
											<div class="hero__wrapper text-left">
												<!-- <h5 class="hero__subtitle">Limited offer 25% off</h5>
												<h1 class="hero__title">
													Organic Fruit <br /> For Your Family’s Health
												</h1>  -->
												<p class="hero__content"></p>
												<div class="hero__btn">
													<a href="product.html" class="btn btn-primary">Shop Now</a>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="single__slide__wrapper"
											style="background-image: url('assets/img/shop/shop2.jpg')">
											<div class="hero__wrapper text-left">
												<!-- <h5 class="hero__subtitle">Limited offer 10% off</h5>
												<h1 class="hero__title">
													Shop wise <br /> with price <br /> comparisons
												</h1> -->
												<p class="hero__content"></p>
												<div class="hero__btn">
													<a href="product.html" class="btn btn-primary">Shop Now</a>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="single__slide__wrapper"
											style="background-image: url('assets/img/shop/shop3.jpg')">
											<div class="hero__wrapper text-left">
												<!-- <h5 class="hero__subtitle">Limited offer 10% off</h5>
												<h1 class="hero__title">
													Summer <br /> Skin care <br /> Product
												</h1>  -->
												<p class="hero__content"></p>
												<div class="hero__btn">
													<a href="product.html" class="btn btn-primary">Shop Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="banner__navigation">
									<div class="swiper-button-next">
										<svg width="35" height="16" viewBox="0 0 35 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
		                                        <path d="M1 8L34 8"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                        <path d="M27 1L34 8L27 15"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                    </svg>
									</div>
									<div class="swiper-button-prev">
										<svg width="23" height="16" viewBox="0 0 23 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
		                                        <path d="M22 8H1"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                        <path d="M8 15L1 8L8 1"
												stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
		                                    </svg>
									</div>
								</div>
							</div>
						</div>
		
					</div>
				</div>
			</section>
			<!-- Banner Slider v2 End-->
			<!-- courtroom filter -->
            <div class="container mb-4">
                <ul class="nav text-center">
                    <li class="d-flex flex-column" style="margin: 0 10px;">
                    <button type="button" class="btn btn-outline-primary block"
		                data-bs-toggle="modal" data-bs-target="#exampleModalCenter1">
		                지역 선택
		            </button></li>
                    <li class="d-flex flex-column" style="margin: 0 10px;">
                    <button type="button" class="btn btn-outline-primary block"
		                data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
		                날짜 선택
		            </button></li>
                    <li class="d-flex flex-column" style="margin: 0 10px;">
                    <button type="button" class="btn btn-outline-primary block"
		                data-bs-toggle="modal" data-bs-target="#exampleModalCenter3">
		                시간 선택
		            </button></li>
		            <li class="d-flex flex-column" style="margin: 0 10px;">
		            	<div class="btn-group mb-1">
                            <div class="dropdown">
                            	<div class="custom__dropdown custom__dropdown__v2">
									<div class="selected">
										<div class="selected_item selected_item-v2">Brand</div>
									</div>
									<ul class="list list__v2">
										<li>최신순</li>
										<li>인기순</li>
									</ul>
								</div>
                                <!-- <button class="btn btn-success dropdown-toggle me-1" type="button"
                                    id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Success
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#">최신순</a>
                                    <a class="dropdown-item" href="#">인기순</a>
                                </div> -->
                            </div>
                        </div>
		            </li>
                </ul>
            </div>
            <!-- End courtroom sub menu  -->
            
            <!-- Vertically Centered first modal Modal -->
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Vertically
                                Centered
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <a href="#" class="btn btn-outline-success" style="display: block; margin: 10px;">모든 지역</a>
                                <a href="#" class="btn btn-outline-success" style="display: block; margin: 10px;">서울</a>
                                <a href="#" class="btn btn-outline-success" style="display: block; margin: 10px;">대구</a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vertically Centered second modal Modal -->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Vertically
                                Centered
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body justify-content-around text-center">
                        	<input type="date" class="form-control flatpickr-always-open" placeholder="Select date..">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vertically Centered third modal Modal -->
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Vertically
                                Centered
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <a href="#" class="btn btn-outline-success" style="display: block; margin: 10px;">아침 (6시 ~ 10시)</a>
                                <a href="#" class="btn btn-outline-success" style="display: block; margin: 10px;">낮 (10시 ~ 18시)</a>
                                <a href="#" class="btn btn-outline-success" style="display: block; margin: 10px;">저녁 (18시 ~ 24시)</a>
                                <a href="#" class="btn btn-outline-success" style="display: block; margin: 10px;">심야 (24시 ~ 6시)</a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- courtroom card -->
            <div class="container">
            	<div class="justify-content-around text-center">
                    <div th:each="num : ${#numbers.sequence(1,12)}" class="col-xl-4 col-md-6 col-sm-12"
                    style="display: inline-block; width: 270px; border: 1px solid black; margin: 1%">
	                    <a href="courtDetail">
	                        <div class="card">
	                            <div class="card-content">
	                                <img src="/assets/img/card.jpg" class="card-img-top img-fluid"
	                                    alt="singleminded">
	                                <div class="card-body">
	                                    <h5 class="card-title">Courtroom Name</h5>
	                                    <p class="card-text">
	                                        Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes
	                                        tiramisu.Gummies
	                                    </p>
	                                </div>
	                            </div>
	                            <ul class="list-group list-group-flush">
	                                <li class="list-group-item">Courtroom Location</li>
	                                <li class="list-group-item">Courtroom Price</li>
	                            </ul>
	                        </div>
                        </a>
                    </div>
                    <!-- <div class="col-xl-4 col-md-6 col-sm-12"
                    style="display: inline-block; width: 270px; border: 1px solid black; margin: 1%">
                        <div class="card">
                            <div class="card-content">
                                <img src="/assets/img/card.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <div class="card-body">
                                    <h5 class="card-title">Courtroom Name</h5>
                                    <p class="card-text">
                                        Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes
                                        tiramisu.Gummies
                                    </p>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Courtroom Location</li>
                                <li class="list-group-item">Courtroom Price</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12"
                    style="display: inline-block; width: 270px; border: 1px solid black; margin: 1%">
                        <div class="card">
                            <div class="card-content">
                                <img src="/assets/img/card.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <div class="card-body">
                                    <h5 class="card-title">Courtroom Name</h5>
                                    <p class="card-text">
                                        Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes
                                        tiramisu.Gummies
                                    </p>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Courtroom Location</li>
                                <li class="list-group-item">Courtroom Price</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12" 
                    style="display: inline-block; width: 270px; border: 1px solid black; margin: 1%">
                        <div class="card">
                            <div class="card-content">
                                <img src="/assets/img/card.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <div class="card-body">
                                    <h5 class="card-title">Courtroom Name</h5>
                                    <p class="card-text">
                                        Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes
                                        tiramisu.Gummies
                                    </p>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Courtroom Location</li>
                                <li class="list-group-item">Courtroom Price</li>
                            </ul>
                        </div>
                    </div> -->
                 </div>
                <div class="container">
                <br>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">다음</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End match table -->

            <!-- viewed history -->
            <div class="container">
                <h5 class="card-title">최근 코트장 조회 내역</h5>
                <!-- Swiper -->
                <div class="swiper mySwiper history">

                    <div class="swiper-wrapper history">
                        <!-- <div class="swiper-slide dateslide"><span class="bg-primary p-3">slide 1</span></div>             -->
                        <div class="swiper-slide history card">
                            <img src="/assets/img/card.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">14 : 00</h5>
                            <p class="card-text">서남센터 테니스장 12코트</p>
                        </div>
                        <div class="swiper-slide history card">
                            <img src="/assets/img/card.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">14 : 00</h5>
                            <p class="card-text">서남센터 테니스장 12코트</p>
                        </div>
                        <div class="swiper-slide history card">
                            <img src="/assets/img/card.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">14 : 00</h5>
                            <p class="card-text">서남센터 테니스장 12코트</p>
                        </div>
                        <div class="swiper-slide history card">
                            <img src="/assets/img/card.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">14 : 00</h5>
                            <p class="card-text">서남센터 테니스장 12코트</p>
                        </div>
                        <div class="swiper-slide history card">
                            <img src="/assets/img/card.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">14 : 00</h5>
                            <p class="card-text">서남센터 테니스장 12코트</p>
                        </div>
                        <div class="swiper-slide history card">
                            <img src="/assets/img/card.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">14 : 00</h5>
                            <p class="card-text">서남센터 테니스장 12코트</p>
                        </div>
                        <div class="swiper-slide history card">
                            <img src="/assets/img/card.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">14 : 00</h5>
                            <p class="card-text">서남센터 테니스장 12코트</p>
                        </div>
                    </div>
                    <div class="swiper-pagination history"></div>
                    <script>
                        var swiper = new Swiper(".mySwiper.history", {
                            slidesPerView: 5,
                            height: 300,
                            pagination: {
                                el: ".swiper-pagination.history",
                                type: "progressbar"
                            },
                            breakpoints: {
                                320: {
                                    slidesPerView: 3,
                                    spaceBetween: 10
                                },
                                480: {
                                    slidesPerView: 3,
                                    spaceBetween: 20
                                },
                                640: {
                                    slidesPerView: 4,
                                    spaceBetween: 20
                                },
                                992: {
                                    slidesPerView: 4,
                                    spaceBetween: 20
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <!-- End viewed history -->
	</th:block>
</html>