<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<style>
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'NanumSquareNeo-Variable';
}
</style>

<th:block layout:fragment="content">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=55c9a1570cea1c39facf69c028dd3016&libraries=services"></script>

	<!-- courtroom card -->
	<div class="container">
		<section class="product-main">
			<div class="container">
				<!-- ============ form ============ -->
				<form th:action="@{/reserveCourt}" method="GET"
					th:object="${crtReserveVO}">
					<div class="row product-detail">
						<!-- ============= slide ============= -->
						<div class="col-md-6" style="width: 70%">
							<div class="product-gallery">
								<div
									class="product-gallery__thumb swiper productGallerySwiperThumb">
									<div class="swiper-wrapper">
										<th:block th:each="courtDetail, stat : ${courtDetail.attachList}">
											<div class="swiper-slide">
												<div class="gallery-item">
													<img th:src="${courtDetail.attachPath}" alt="product iamge" />
												</div>
											</div>
										</th:block>
										<!-- <div class="swiper-slide">
											<div class="gallery-item">
												<img src="/assets/img/card.jpg" alt="product iamge" />
											</div>
										</div>
										<div class="swiper-slide">
											<div class="gallery-item">
												<img src="/assets/img/card.jpg" alt="product iamge" />
											</div>
										</div>
										<div class="swiper-slide">
											<div class="gallery-item">
												<img src="/assets/img/card.jpg" alt="product iamge" />
											</div>
										</div> -->
									</div>
								</div>
								<div class="product-gallery__main swiper productGallerySwiper">
									<div class="swiper-wrapper">
										<th:block th:each="courtDetail, stat : ${courtDetail.attachList}">
											<div class="swiper-slide">
												<div class="gallery-item">
													<img th:src="${courtDetail.attachPath}" alt="product iamge" />
												</div>
											</div>
										</th:block>
										<!-- <div class="swiper-slide">
											<div class="gallery-item">
												<img src="/assets/img/card.jpg" alt="product iamge" />
											</div>
										</div>
										<div class="swiper-slide">
											<div class="gallery-item">
												<img src="/assets/img/card.jpg" alt="product iamge" />
											</div>
										</div>
										<div class="swiper-slide">
											<div class="gallery-item">
												<img src="/assets/img/card.jpg" alt="product iamge" />
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
						<!-- ============= 코트장 정보 ============= -->
						<input type="hidden" name="crtroomNo"
							th:value="${param.crtroomNo}">
						<div class="col-md-6" style="margin-top: 20px; width: 30%">
							<div class="product-detail__wrapper">
								<h2 class="product-detail__title" style="font-family: 'NanumSquareNeo-Variable';">[[
									${courtDetail.crtroomName} ]]</h2>
								<input type="hidden" name="crtroomName"
									th:value="${courtDetail.crtroomName}">
								<div class="product-detail__meta">
									<div class="rating">
									<th:block th:switch="${crtroomStar.avgStar != null ? crtroomStar.avgStar : 0}">
										<ul th:case="0" class="star">
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
										</ul>
										<ul th:case="1" class="star">
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
										</ul>
										<ul th:case="2" class="star">
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
										</ul>
										<ul th:case="3" class="star">
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
										</ul>
										<ul th:case="4" class="star">
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-regular fa-star"></i></li>
										</ul>
										<ul th:case="5" class="star">
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
										</ul>
										</th:block>
										<div class="total__rating">
											<p style="font-size: 14px; font-family: 'NanumSquareNeo-Variable';">([[${crtroomStar.countReview}]] ratings)</p>
										</div>
									</div>
									<ul class="right-meta">
										<li><a href="javascript:kakaoShare()" class="share__btn"
											id="kakao-link-btn"> <svg width="16" height="16"
													viewBox="0 0 16 16" fill="none"
													xmlns="http://www.w3.org/2000/svg">
												<path
														d="M2.6665 8V13.3333C2.6665 13.687 2.80698 14.0261 3.05703 14.2761C3.30708 14.5262 3.64622 14.6667 3.99984 14.6667H11.9998C12.3535 14.6667 12.6926 14.5262 12.9426 14.2761C13.1927 14.0261 13.3332 13.687 13.3332 13.3333V8"
														stroke="#002642" stroke-linecap="round"
														stroke-linejoin="round" />
												<path d="M10.6668 3.99998L8.00016 1.33331L5.3335 3.99998"
														stroke="#002642" stroke-linecap="round"
														stroke-linejoin="round" />
												<path d="M8 1.33331V9.99998" stroke="#002642"
														stroke-linecap="round" stroke-linejoin="round" />
											</svg> Share
										</a></li>
										<li>
										</li>
									</ul>
								</div>
								<h3 class="product-detail__price" style="font-family: 'NanumSquareNeo-Variable';">[[
									${#numbers.formatInteger(courtDetail.minPrice, 3, 'COMMA') + '원'} ]] ~</h3>
								<p class="product-detail__short_desc" style="font-family: 'NanumSquareNeo-Variable';"> [[
									${courtDetail.crtroomExp} ]]</p>
								<br>
								<div class="product-detail__attr">
									<div class="product__attr">
										<span class="product-detail--stroke" style="font-weight: bold; font-family: 'NanumSquareNeo-Variable';">운영시간</span>
										<ul class="product__attr--color" style="margin: 0; padding: 0">
											<li><input type="text"
												style="width: 70px; border: 0; text-align: center" id="crtroomOperateStartTime"
												th:value="${courtDetail.crtroomOperateStartTime}" disabled /></li>
											<li>~</li>
											<li><input type="text"
												style="width: 70px; border: 0; text-align: center" id="crtroomOperateEndTime"
												th:value="${courtDetail.crtroomOperateEndTime}" disabled /></li>
										</ul>
									</div>
								</div>

								<!-- <div class="product-detail__attr">
								<div class="product__attr">
									<span class="product-detail--stroke">Size</span>
									<ul class="product__attr--size">
										<li><input type="radio" name="filterBySize"
											id="sizeXXL-01" value="xxl" /> <label for="sizeXXL-01">XXL</label>
										</li>
										<li><input type="radio" name="filterBySize"
											id="sizeXL-01" value="xl" /> <label for="sizeXL-01">XL</label>
										</li>
										<li><input type="radio" name="filterBySize" id="sizeL-01"
											value="l" /> <label for="sizeL-01">L</label></li>
										<li><input type="radio" name="filterBySize" id="sizeM-01"
											value="m" /> <label for="sizeM-01">M</label></li>
										<li><input type="radio" name="filterBySize" id="sizeS-01"
											value="s" /> <label for="sizeS-01">S</label></li>
										<li><input type="radio" name="filterBySize"
											id="sizeXS-01" value="xs" /> <label for="sizeXS-01">XS</label>
										</li>
									</ul>
								</div>
							</div> -->
								<div class="product-detail__qty">
									<span class="product-detail--stroke" style="font-weight: bold; font-family: 'NanumSquareNeo-Variable';">코트장 위치</span>
									<div>
										<input type="text" style="border: 0; text-align: center"
											th:value="${courtDetail.crtroomLocation}" disabled /> <input
											type="hidden" style="border: 0; text-align: center"
											name="crtroomLocation"
											th:value="${courtDetail.crtroomLocation}">
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="crtroomNo" value="@{param.crtroomNo}">

						<!-- ============== 날짜 선택 ============== -->
						<!-- date slide -->
						<div class="container mt-3 mb-5">
							<br>
							<!-- Swiper -->
							<div class="swiper mySwiper dateslide">
								<div class="swiper-wrapper dateslide matchdate">
									<!-- <div class="swiper-slide dateslide">resizeme</div>            -->
								</div>
								<div class="swiper-button-next dateslide text-green"></div>
								<div class="swiper-button-prev dateslide text-green"></div>
							</div>
							<div id="hiddenDate"></div>
						</div>
						<!-- End date slide -->
						<!-- =============== 코트 선택 =============== -->
						<div class="container"
							style="margin-left: 20px; margin-bottom: 20px;">
							<th:block
								th:each="courtDetail, stat : ${courtDetail.crtDetailList}">
								<table style="display: none">
									<tbody>
										<tr>
											<td class="crtIndoorOutdoorName" style="font-family: 'NanumSquareNeo-Variable';">[[${courtDetail.crtIndoorOutdoorName}]]</td>
											<td class="crtUsePrice" style="font-family: 'NanumSquareNeo-Variable';">[[${courtDetail.crtUsePrice}]]</td>
											<td class="useUnitTime" style="font-family: 'NanumSquareNeo-Variable';">[[${courtDetail.useUnitTime}]]</td>
										<tr>
									</tbody>
								</table>
								<input type="radio" class="btn-check" name="crtDetailNo"
									id="success-outlined" th:attrappend="id=${stat.index}"
									autocomplete="off" th:value="${courtDetail.crtDetailNo}">
								<label class="btn btn-outline-success" for="success-outlined"
									th:attrappend="for=${stat.index}" style="font-family: 'NanumSquareNeo-Variable';">[[${stat.index}+1]]코트</label>
							</th:block>
						</div>
						<table class="table">
							<!-- <thead>
								<tr>
									<th>실내외</th>
									<th>예약시간</th>
									<th>이용가격</th>
								</tr>
							</thead> -->
							<tbody id="matchList">
							
							</tbody>
						</table>
						<div id="lastDiv" style="display: flex; justify-content: center;"></div>
						<div id="loadDiv" style="display: flex; justify-content: center"></div>
						<input type="hidden" id="reserveTime" name="reserveTime">
						<input type="hidden" id="reserveTimeName" name="reserveTimeName">
						<input type="hidden" id="tReserveTime" name="tReserveTime">
						<input type="hidden" id="reservePrice" name="reservePrice">
						<input type="hidden" id="crtNo" name="crtNo">
						<!-- ============== 상세 안내 ============== -->
						<div class="col-md-6" style="width: 100%">
							<div class="row product-info">
								<div class="col-12">
									<div class="tabs__wrapper tabs__wrapper--v3">
										<div class="tabs__filter">
											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<li class="nav-item" role="presentation">
													<button class="nav-link active" id="home-tab"
														data-bs-toggle="tab" data-bs-target="#home-tab-pane"
														type="button" role="tab" aria-controls="home-tab-pane"
														aria-selected="true">이용안내</button>
												</li>
												<li class="nav-item" role="presentation">
													<button class="nav-link" id="groceries-tab"
														data-bs-toggle="tab" data-bs-target="#groceries-tab-pane"
														type="button" role="tab"
														aria-controls="groceries-tab-pane" aria-selected="false">
														주의사항</button>
												</li>
												<li class="nav-item" role="presentation">
													<button class="nav-link" id="refund-tab"
														data-bs-toggle="tab" data-bs-target="#refund-tab-pane"
														type="button" role="tab"
														aria-controls="groceries-tab-pane" aria-selected="false">
														환불안내</button>
												</li>
												<li class="nav-item" role="presentation">
													<button class="nav-link" id="women-tab"
														data-bs-toggle="tab" data-bs-target="#women-tab-pane"
														type="button" role="tab" aria-controls="women-tab-pane"
														aria-selected="false">후기</button>
												</li>
												<li class="nav-item" role="presentation">
													<button class="nav-link" id="electronics-tab"
														data-bs-toggle="tab"
														data-bs-target="#electronics-tab-pane" type="button"
														role="tab" aria-controls="electronics-tab-pane"
														aria-selected="false">장소안내</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-content" id="myTabContent">
										<div class="tab-pane fade show active" id="home-tab-pane"
											role="tabpanel" aria-labelledby="home-tab" tabindex="0">
											<div class="content__body">
												<pre style="font-size: 14px; font-family: 'NanumSquareNeo-Variable';">[[ ${courtDetail.crtroomUseGuide} ]]</pre>
											</div>
										</div>
										<div class="tab-pane fade" id="groceries-tab-pane"
											role="tabpanel" aria-labelledby="groceries-tab" tabindex="0">
											<div class="content__body">
												<pre style="font-size: 14px; font-family: 'NanumSquareNeo-Variable';">[[ ${courtDetail.crtroomCaution} ]]</pre>
											</div>
										</div>
										<div class="tab-pane fade" id="refund-tab-pane"
											role="tabpanel" aria-labelledby="groceries-tab" tabindex="0">
											<div class="content__body">
												<h5 style="margin-top: 20px; font-family: 'NanumSquareNeo-Variable'">Refund Information</h5>
												<br>
												<ul style="font-family: 'NanumSquareNeo-Variable'">
													<li>7일 전 취소시: [[${refundInf.sevenDayBefore}]]% 환불</li>
													<li>5일 전 취소시: [[${refundInf.fiveDayBefore}]]% 환불</li>
													<li>3일 전 취소시: [[${refundInf.threeDayBefore}]]% 환불</li>
													<li>2일 전 ~ 당일: 환불 불가</li>
													<br>
													<li>당일 천재지변으로 인해 구장 이용이 불가한 경우 [[${refundInf.significant}]]% 환불</li>
													<li>적용기준: 호우경보, 대설경보, 태풍주의보, 태풍경보</li>
												</ul>
											</div>
										</div>
										<!-- 후기 -->
										<div class="tab-pane fade" id="women-tab-pane" role="tabpanel"
											aria-labelledby="women-tab" tabindex="0">

											<div class="client__review" style="font-family: 'NanumSquareNeo-Variable'">
												<div class="outline"
													style="margin: 30px 0 30px 0; overflow: hidden">
													<h3 class="sec__title" id="reviewTitle" style="margin: 0; float: left">Review</h3>
													<button type="button" class="btn btn-outline-success" id="reviewBtn"
														data-bs-toggle="modal" data-bs-target="#inlineForm"
														style="float: right;">후기 작성</button>
												</div>
												<div class="review__wrapper">
													<th:block th:each="review, stat: ${courtReview}">
													<div class="review__item" id="review" th:attrappend="id=${review.reviewNo}">
														<div class="avatar">
																<img th:if="${review.attachPath} != null" th:src="${review.attachPath}" alt="avatar" style="overfit:cover"/>
																<img th:unless="${review.attachPath} != null" src="/assets/img/default img.jpg" alt="avatar" style="overfit:cover"/>
														</div>
														<div class="review__content">
															<div class="review__desc">
																<div class="review__wrap">
																	<h5>
																		<span>[[${review.memId}]]</span>
																	</h5>
																	<div class="rating">
																		<th:block th:switch="${review.reviewStar != null ? review.reviewStar : 0}">
																		<ul th:case="0" class="star">
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																		</ul>
																		<ul th:case="1" class="star">
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																		</ul>
																		<ul th:case="2" class="star">
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																		</ul>
																		<ul th:case="3" class="star">
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																		</ul>
																		<ul th:case="4" class="star">
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																		</ul>
																		<ul th:case="5" class="star">
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																		</ul>
																		<input type="hidden" id="reviewNo" th:value="${review.reviewNo}">
																		<input type="hidden" id="reviewWriteMem" th:value="${review.memId}">
																		</th:block>
																	</div>
																</div>
																<div class="date">[[${#dates.format(review.reviewWriteDate, 'yyyy년 MM월 dd일')}]]</div>
															</div>
																<th:block th:if="${#strings.equals(review.memId, #authentication.name)}">
																	<button type="button" class="btn icon btn-danger reviewDel" id="reviewDel" th:attrappend="id=${review.reviewNo}" style="float: right;">삭제</button>
																</th:block>
															<div class="review__para">
																<p>[[${review.reviewCtt}]]</p>
															</div>
														</div>
													</div>
													</th:block>
													<!-- <div class="review__item">
														<div class="avatar">
															<img src="assets/img/shop/teni.jpg" alt="avatar" />
														</div>
														<div class="review__content">
															<div class="review__desc">
																<div class="review__wrap">
																	<h5>
																		<a href="#">Brenna Das</a>
																	</h5>
																	<div class="rating">
																		<ul>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-solid fa-star"></i></li>
																			<li><i class="fa-regular fa-star"></i></li>
																		</ul>
																	</div>
																</div>
																<div class="date">18 Jun 2022</div>
															</div>
															<div class="review__para">
																<p>There are many variations of passages of Lorem
																	Ipsum available, but the majority have thank you
																	suffered alteration in some form, by injected humour,
																	or randomised words which don't look.</p>
															</div>
														</div>
													</div> -->
													<br>
												<div style="display: flex; justify-content: center">
													<button id="reviewLoad" class="btn btn-primary" style="width: 200px;">More</button>
												</div>
												</div>
											</div>
										</div>
										
										<div class="tab-pane fade" id="electronics-tab-pane"
											role="tabpanel" aria-labelledby="electronics-tab"
											tabindex="0" style="font-family: 'NanumSquareNeo-Variable'">
											<h5 style="margin-top: 20px; font-family: 'NanumSquareNeo-Variable'">court address</h5>
											<div style="margin-top: 15px">
												<!-- <div><span class="fa-fw select-all fas"></span>[[${courtDetail.crtroomLocation}]]</div>  -->
											</div>
											<div class="content__body" style="display: flex; justify-content: center">
												<div id="map" style="width:1200px;height:400px;"></div>
											</div>
											<br>
											<div style="display: flex; justify-content: space-around">
												<ul style="list-style: none">
													<li style="text-align: center"><img src="assets/img/icon/envelope.svg" style="hieght: 40px; width: 40px;"></li>
													<li style="margin-top: 10px; text-align:center"><strong>Email</strong></li>
													<li style="margin-top: 10px;">[[${hostInfo.memId}]]</li>
												</ul>
												<ul style="list-style: none">
													<li style="text-align: center"><img src="assets/img/icon/phone-call.svg" style="hieght: 40px; width: 40px;"></li>
													<li style="margin-top: 10px; text-align:center"><strong>Tel</strong></li>
													<li style="margin-top: 10px;">[[${hostInfo.phoneNo}]]</li>
												</ul>
												<ul style="list-style: none; display: flex; flex-direction: column">
													<li style="text-align: center"><img src="assets/img/icon/marker.svg" style="hieght: 40px; width: 40px;"></li>
													<li style="margin-top: 10px; text-align:center"><strong>Court</strong></li>
													<li style="margin-top: 10px;">[[${courtDetail.crtroomLocation}]]</li>
												</ul>
											</div>
											<br>
											<div style="text-align: center;">※ 문의사항 있을시 이메일 또는 전화, 문자 주시면 답변드리겠습니다.</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
	<!-- End match table -->
	<br>
	<!-- viewed history -->
	<!-- Trending Section Start -->
	<section class="trending__section pt-0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title" style="margin: 50px 0 0 0">
						<h2><span style="font-size: 25px; font-family: 'NanumSquareNeo-Variable';">Nearby Court</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="product__wrapper swiper__pagination">
						<div class="swiper trending__Swiper">
							<div class="swiper-wrapper">
							<!-- <th:block th:each="num, stat : ${#numbers.sequence(1,3)}"> -->
							<th:block th:each="nearCrt, stat : ${nearCourt}">
								<div class="swiper-slide">
									<div class="product-card">
										<div class="product__image__wrapper">
											<a th:onclick="|location.href='@{/courtDetail(crtroomNo=${nearCrt.crtroomNo})}'|" class="product__image"
											> <img
												th:src="${nearCrt.attachPath}" alt="icon" style="overfit: cover;" />
											</a>
											<!-- <div class="product__actions">
												<a href="#" class="action__btn"> <svg width="16"
														height="14" viewBox="0 0 16 14" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M13.8931 2.07333C13.5526 1.73267 13.1483 1.46243 12.7033 1.27805C12.2584 1.09368 11.7814 0.998779 11.2998 0.998779C10.8181 0.998779 10.3412 1.09368 9.89618 1.27805C9.45121 1.46243 9.04692 1.73267 8.70642 2.07333L7.99975 2.78L7.29309 2.07333C6.60529 1.38553 5.67244 0.999136 4.69975 0.999136C3.72706 0.999136 2.79422 1.38553 2.10642 2.07333C1.41863 2.76112 1.03223 3.69397 1.03223 4.66666C1.03223 5.63935 1.41863 6.5722 2.10642 7.26L2.81309 7.96666L7.99975 13.1533L13.1864 7.96666L13.8931 7.26C14.2337 6.91949 14.504 6.51521 14.6884 6.07023C14.8727 5.62526 14.9676 5.14832 14.9676 4.66666C14.9676 4.185 14.8727 3.70807 14.6884 3.26309C14.504 2.81812 14.2337 2.41383 13.8931 2.07333V2.07333Z"
															stroke="#252522" stroke-linecap="round"
															stroke-linejoin="round" />
													</svg>
												</a> <a href="#" data-bs-toggle="modal"
													data-bs-target="#prod__preview" class="action__btn"> <svg
														width="16" height="16" viewBox="0 0 16 16" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M0.666992 7.99996C0.666992 7.99996 3.33366 2.66663 8.00033 2.66663C12.667 2.66663 15.3337 7.99996 15.3337 7.99996C15.3337 7.99996 12.667 13.3333 8.00033 13.3333C3.33366 13.3333 0.666992 7.99996 0.666992 7.99996Z"
															stroke="#252522" stroke-linecap="round"
															stroke-linejoin="round" />
														<path
															d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
															stroke="#252522" stroke-linecap="round"
															stroke-linejoin="round" />
													</svg>
												</a> <a href="#" class="action__btn"> <svg width="16"
														height="16" viewBox="0 0 16 16" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path d="M10 9.33329L13.3333 5.99996L10 2.66663"
															stroke="#252522" stroke-linecap="round"
															stroke-linejoin="round" />
														<path
															d="M2.66699 13.3333V8.66667C2.66699 7.95942 2.94794 7.28115 3.44804 6.78105C3.94814 6.28095 4.62641 6 5.33366 6H13.3337"
															stroke="#252522" stroke-linecap="round"
															stroke-linejoin="round" />
													</svg>
												</a>
											</div> -->
										</div>
										<div class="product__content">
											<div class="product__rating">
												<th:block th:switch="${nearCrt.avgStar != null ? nearCrt.avgStar : 0}">
													<ul th:case="0" class="star">
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="1" class="star">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="2" class="star">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="3" class="star">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="4" class="star">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="5" class="star">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
													</ul>
													</th:block>
												<div class="total__rating">([[${nearCrt.countReview}]])</div>
											</div>
											<div class="product__title">
												<h5>
													<a th:onclick="|location.href='@{/courtDetail(crtroomNo=${nearCrt.crtroomNo})}'|"
														style="font-family: 'NanumSquareNeo-Variable';">[[${nearCrt.crtroomName}]]</a>
												</h5>
											</div>
											<div class="product__bottom">
												<div class="product__price" style="font-family: 'NanumSquareNeo-Variable';">
													[[${#numbers.formatInteger(nearCrt.minPrice, 3, 'COMMA') + '원'}]] ~
													<!-- <del>$22.00</del> -->
												</div>
												<div class="cart__action__btn">
													<div class="cart__btn">
														<button type="button" th:onclick="|location.href='@{/courtDetail(crtroomNo=${nearCrt.crtroomNo})}'|" class="btn btn-outline"
														style="font-family: 'NanumSquareNeo-Variable';">상세보기</button>
													</div>
													<!-- <div class="quantity cart__quantity">
														<button type="button" class="decressQnt">
															<span class="bar"></span>
														</button>
														<input class="qnttinput" type="number" disabled value="0"
															min="01" max="100" />
														<button type="button" class="incressQnt">
															<span class="bar"></span>
														</button>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							<!-- </th:block> -->
							</th:block>
							</div>
							<div class="swiper-button-next">
								<svg width="35" height="16" viewBox="0 0 35 16" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M1 8L34 8" stroke="#D0D5DD" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M27 1L34 8L27 15" stroke="#D0D5DD" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</div>
							<div class="swiper-button-prev">
								<svg width="23" height="16" viewBox="0 0 23 16" fill="none"
									xmlns="http://www.w3.org/2000/svg" style="width: 85%">
									<path d="M22 8H1" stroke="#D0D5DD" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M8 15L1 8L8 1" stroke="#D0D5DD" stroke-width="2"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</div>
							<!-- <div class="swiper-slide"></div> -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		<!--review form Modal -->
		<form method="POST" th:object="${crtroomVO}" id="addReview" enctype="multipart/form-data">
		<input type="hidden" name="crtroomNo" th:value="${param.crtroomNo}">
		<div class="modal fade text-left" id="inlineForm" style="font-family: 'NanumSquareNeo-Variable';"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
			aria-hidden="true">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel33">후기 등록</h4>
						<button type="button" class="close"
							data-bs-dismiss="modal" aria-label="Close">
							<i data-feather="x"></i>
						</button>
					</div>
					
					<div class="modal-body">
						<div class="input-group mb-3">
							<input type="file" class="form-control" name="files"
								id="files" style="padding: 0.375rem 0.75rem" multiple>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01"
								style="margin: 0; padding-left: 23px; padding-right: 23px">
								별점</label> <select class="form-select"
								id="reviewStar" th:field="*{reviewStar}">
								<option value="5">5점</option>
								<option value="4">4점</option>
								<option value="3">3점</option>
								<option value="2">2점</option>
								<option value="1">1점</option>
							</select>
						</div>
						<div class="form-group">
							<label for="area">Comment</label>
							<textarea cols="30" rows="5" id="reviewCtt"
								class="form-control form-area"
								placeholder="Type a comment" th:field="*{reviewCtt}"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light-secondary"
							data-bs-dismiss="modal">
							<i class="bx bx-x d-block d-sm-none"></i> <span
								class="d-none d-sm-block">취소</span>
						</button>
						<button type="button" class="btn btn-primary ms-1 reviewBtn"
							data-bs-dismiss="modal" id="reviewRegi">
							<i class="bx bx-check d-block d-sm-none"></i> <span
								class="d-none d-sm-block">등록</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		</form>
		<script th:inline="javascript">
			$('#reviewRegi').on('click',function(e){
				console.log(reviewCtt);
				let form = $('#addReview')[0];
				let reviewInfo = new FormData(form);
				
				for(let value of reviewInfo.values())
					console.log(value);
				
				if($('#reviewStar').val() == '') {
					Swal.fire({
						text: "별점을 선택해주세요.",
						icon: "info",
						didClose: () =>{
							$('#reviewStar').focus();
						}
					})				
					return;	
				} else if($('#reviewCtt').val() == '') {
					Swal.fire({
						text: "후기 내용을 입력하세요.",
						icon: "info",
						didClose: () =>{
							$('#reviewCtt').focus();
						}
					})				
					return;	
				}
				
				$.ajax('insertCourtReview', {
					type: 'post',
					data: reviewInfo,
					enctype: 'multipart/form-data',
					contentType : false,
					processData : false
				}).done(results => {
					if (results.result) {
						Swal2.fire({
							icon: "success",
							text: "정상적으로 등록되었습니다.",
						}).then(function(){
								/* location.reload();
								$('#home-tab').removeClass('active');
								$('#home-tab-pane').removeClass('show active');
								$('#home-tab').attr('aria-selected','false');
								$('#women-tab').addClass('active');
								$('#women-tab-pane').addClass('active show');
								$('#women-tab').attr('aria-selected','true');
								let offset = $(".client__review").offset(); //해당 위치 반환
								$("html, body").animate({scrollTop: offset.top},10); // 선택한 위치로 이동. 두번째 인자는 0.4초를 의미한다. */
 							console.log(results.reviews);
 							let b = `
								<div class="review__item" id="review${results.reviews.reviewNo}">
								<div class="avatar">`;
							if(results.reviews.attachPath != null){
								b+= `<img src="${results.reviews.attachPath}" alt="avatar" style="overfit:cover"/>`;
							}else{
								b+= `<img src="/assets/img/default img.jpg" alt="avatar" style="overfit:cover"/>`;
							}
							b+= `</div>
								 <div class="review__content">
									<div class="review__desc">
										<div class="review__wrap">
											<h5>
												<span>${results.reviews.memId}</span>
											</h5>
											<div class="rating">
												<ul class="star">`;
							let reviewStar = 0;
							if(results.reviews.reviewStar != null){
								reviewStar = Number(results.reviews.reviewStar);
								console.log(reviewStar);
							}
							for(let i=0; i< reviewStar; i++){
								b+= `<li><i class="fa-solid fa-star"></i></li>`;
							}
							for(let j=0; j<5-reviewStar; j++){
								b+= `<li><i class="fa-regular fa-star"></i></li>`;
							}
							
							b+= `</ul>
								<input type="hidden" id="reviewNo" th:value="${results.reviews.reviewNo}">
								<input type="hidden" id="reviewWriteMem" th:value="${results.reviews.memId}">
											</div>
										</div>`;
							let reviewWriteDate = new Date(results.reviews.reviewWriteDate);
							b+= `<div class="date">`+dateFormat(reviewWriteDate)+`</div>
									</div>`;
								if(results.reviews.memId == results.memId){
									b+= `<button type="button" class="btn icon btn-danger reviewDel" id="reviewDel${results.reviews.reviewNo}" style="float: right;">삭제</button>`;
								}
							b+= `<div class="review__para">
										<p>${results.reviews.reviewCtt}</p>
									</div>
								</div>
							</div>
							`;
							console.log(b);
							$('.review__wrapper').prepend(b);
							$('.reviewDel').on('click',reviewDel);
							moreBtn();
							$('#reviewStar').val('5');
							$('#reviewCtt').val('');
							$('#files').val('');
						})
					} else {
						Swal2.fire({
							icon: "error",
							text: "정상적으로 등록되지 않았습니다.",
						}).then(function(){
							console.log(results);
						})
					}
				})
				.fail(err => console.log(err));	
			})
			
			function dateFormat(date) {
			        let month = date.getMonth() + 1;
			        let day = date.getDate();
			
			        month = month >= 10 ? month : '0' + month;
			        day = day >= 10 ? day : '0' + day;
			
			        return date.getFullYear() + '년' + month + '월' + day + '일';
			}
			
			$('.reviewDel').on('click',reviewDel);
			moreBtn();
			function reviewDel(e){
				Swal.fire({
					  title: "",
					  text: "정말 삭제하시겠습니까?",
					  icon: "warning",
					  showCancelButton: true,
					  confirmButtonColor: "#3085d6",
					  cancelButtonColor: "#d33",
					  confirmButtonText: "Yes, delete it!"
					}).then((result) => {
					  if (result.isConfirmed) {
					    console.log($(e.target));
						let reviewNo = $(e.target).prop("id").replace("reviewDel","");
						console.log(reviewNo);
						$.ajax({
							type: 'POST',
							url: 'deleteReview',
							data: {reviewNo},
							dataType: 'json',
							success: function(result){
								if(result){
									Swal.fire({
										  icon: "success",
										  title: "",
										  text: "정상적으로 삭제되었습니다.",
										}).then(function(){
											//location.reload();
											$('#review'+reviewNo).remove();
											moreBtn();
										})
								}else{
									Swal.fire({
										  icon: "error",
										  title: "",
										  text: "정상적으로 삭제되지 않았습니다. \n정보를 확인해주시기바랍니다.",
									})
								}
							}
						})
				  	}
				});
			}
			function moreBtn(){
				$('.review__item').css('display','none');
				$('.review__item').slice(0,3).show();
				$('#reviewLoad').click(function(e){
					e.preventDefault();
					$('.review__item:hidden').slice(0,3).show();
					if($(".review__item:hidden").length == 0){ // 컨텐츠 남아있는지 확인
			            $('#reviewLoad').fadeOut(100); // 컨텐츠 없을 시 버튼 사라짐
			            b = `<div style="text-align: center;">
							마지막 페이지 입니다.
							</div>`
							$('.review__wrapper').append(b);
			        }
				});
			}
			if($('.review__item').length == 0){
				b = `<div style="text-align: center;">
					후기가 없습니다.
					</div>`
					$('.review__wrapper').append(b);
					$('#reviewLoad').hide();
			}
		</script>
	<!-- Trending Section End -->
	<!-- End viewed history -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script>
	new Swiper(".swiper-wrapper", {
		/* loop : true, */
		loopPreventsSliding : true,
		grabCursor : true,
		slidesPerView : 3,
		spaceBetween : 20,

		/* autoplay : {
			delay : 2000,
			pauseOnMouseEnter : true,
			disableOnInteraction : false
		}, */
		pagination : {
			el : ".swiper-pagination",
			dynamicBullets : true,
			clickable : true,
		},
	});
	
	</script>
	<script>
		var coords = null;
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
		        level: 3 // 지도의 확대 레벨
		    };  

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption); 

		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();

		let address = `[[${courtDetail.crtroomLocation}]]`;
		
		// 주소로 좌표를 검색합니다
		geocoder.addressSearch(address, function(result, status) {

		    // 정상적으로 검색이 완료됐으면 
		     if (status === kakao.maps.services.Status.OK) {

		        coords = new kakao.maps.LatLng(result[0].y, result[0].x);

		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });

		        // 인포윈도우로 장소에 대한 설명을 표시합니다
		        /* var infowindow = new kakao.maps.InfoWindow({
		            content: '<div style="width:150px;text-align:center;padding:6px 0;"></div>'
		        });
		        infowindow.open(map, marker); */

		        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
		        map.setCenter(coords);
		        
		    } 
		});    
		$('#electronics-tab').on('click',function(e){
			map.relayout();
			map.setCenter(coords);
		})
    </script>
	<script th:inline="javascript">
							
						
							let reserveTimeCode = [];
							//let auto = '';
						$(function(){
							let list = [[${reserveTimeList}]];
							for(let i=0; i< list.length; i++){
								reserveTimeCode.push([list[i].subcategoryCode , list[i].name]);
							}
							
							$('input[name="crtDetailNo"]').eq(0).prop('checked',true);
							
							let reserveDate = $('input[name="reserveDate"]').val();
							let crtDetailNo = Number($('input[name="crtDetailNo"]:checked').val());
							console.log(reserveTimeCode);
							reserveAjax(reserveDate, crtDetailNo);
							
							let courtNo = $('input[name="crtDetailNo"]:checked').next().text();
							$('input[name="crtNo"]').val(courtNo);
							
							
							
							let crtroomNo = $('input[name="crtroomNo"]').val();
							console.log(crtroomNo)
							$.ajax('confirmReserve', {
								type: 'post',
								data: {crtroomNo},							
							}).done(results => {
								if(results == 0){
									console.log("로그인 안됨");
									$('#reviewBtn').css('display','none');
								}else{
									
								}
							}).fail(err => console.log(err));
							
							/* auto = [[${#authentication.name}]];
							if($('#reviewWriteMem').val() == auto){
								$('.reviewDel').css('display','inline-block');
							} */
						})
						
						function reserveAjax(reserveDate, crtDetailNo) {
							let crtIndoorOutdoorName = $('input[name="crtDetailNo"]:checked').prev().find('.crtIndoorOutdoorName').text();
							let crtUsePrice = $('input[name="crtDetailNo"]:checked').prev().find('.crtUsePrice').text();
							let useUnitTime = $('input[name="crtDetailNo"]:checked').prev().find('.useUnitTime').text();
							let crtroomOperateStartTime = $('#crtroomOperateStartTime').val();
							let crtroomOperateEndTime = $('#crtroomOperateEndTime').val();
							
							$.ajax({
								type: 'GET',
								url: 'impossibleReserve',
								data: {reserveDate, crtDetailNo},
								success: function(result) {
									let currentDate = new Date();
									
									let currentDay = currentDate.getDate();
									let currentTime = String(currentDate.getHours());
									let reserveDateT = new Date(reserveDate);
									
									let tomorrow = new Date(currentDate.setDate(reserveDateT.getDate()+1));
									/* console.log(currentDay);
									console.log(reserveTimeCode[1][1].substr(-5));
									 */
									$('#matchList').empty();
									$('#loadDiv').empty();
									$('#lastDiv').empty();
										for(let i=0; i<reserveTimeCode.length; i++){
											let b = ``;
											if( crtroomOperateStartTime > reserveTimeCode[i][1].substr(0,5)){
												console.log(reserveTimeCode[i][1].substr(-5));
												console.log(crtroomOperateStartTime);
												
												continue;
											}
											if(24-currentDate.getHours() < 25-i && currentDay == reserveDateT.getDate()){
												continue;
											}
											
											b = `
												<tr class="navbar-brand" style="font-family: 'NanumSquareNeo-Variable';">
													<td class="text-center" style="width: 10%"><b>`+crtIndoorOutdoorName+`</b></td>
													<td style="width: 50%; text-align: center;">`+reserveTimeCode[i][1]+`
													<input type="hidden" class="reserveTime" value="`+reserveTimeCode[i][0]+`"></td>
													<input type="hidden" class="reserveTimeName" value="`+reserveTimeCode[i][1]+`"></td>
													<td style="width: 10%"><span class="tReserveTime">`+useUnitTime+`</span><span>시간</span></td>
													<td style="width: 10%"><input type="hidden" class="reservePrice"  value="`+crtUsePrice+`"><span>`+Number(crtUsePrice).toLocaleString('ko-KR')+`</span>원</td>
													<td class="text-end" style="width: 20%"><button class="btn btn-primary matchbtn1 reserveBtn">예약하기</button></td>
												</tr>
											`;
											
											
												for(let reserve of result){
													console.log(reserve.reserveTime);
													if(reserve.reserveTime === reserveTimeCode[i][0]){
														b = `
															<tr class="navbar-brand" style="font-family: 'NanumSquareNeo-Variable';">
																<td class="text-center" style="width: 10%"><b>`+crtIndoorOutdoorName+`</b></td>
																<td style="width: 50%; text-align: center;">`+reserveTimeCode[i][1]+`
																<input type="hidden" class="reserveTime" value="`+reserveTimeCode[i][0]+`"></td>
																<input type="hidden" class="reserveTimeName" value="`+reserveTimeCode[i][1]+`"></td>
																<td style="width: 10%"><span class="tReserveTime">`+useUnitTime+`</span><span>시간</span></td>
																<td style="width: 10%"><input type="hidden" class="reservePrice"  value="`+crtUsePrice+`"><span>`+Number(crtUsePrice).toLocaleString('ko-KR')+`</span>원</td>
																<td class="text-end" style="width: 20%; height: 49px;"><div style="font-size: 13px; color: red; margin-right: 13px">예약마감</div></td>
															</tr>
														`;															
														break;													
													}
												}
												
												
												if(crtroomOperateEndTime < reserveTimeCode[i][1].substr(-5)){													
													break;
												}
												$('#matchList').append(b);
										}	
										console.log($("#matchList").length);	
										if($(".navbar-brand").length == 0){
											b = `<tr class="navbar-brand">
												<td colspan="5" style="font-family: 'NanumSquareNeo-Variable';">예약 가능한 시간이 없습니다.</td>
												</tr>`
												$('#matchList').append(b);
											return
										}
												$('#loadDiv').append(`
														<button id="load" class="btn btn-primary" style="width: 200px;">More</button>
														`)
												$('#matchList td').css('display','none');
												$('#matchList td').slice(0,50).show();
												$('#load').click(function(e){
													e.preventDefault();
													$('#matchList td:hidden').slice(0,50).show();
													if($("#matchList td:hidden").length == 0){ // 컨텐츠 남아있는지 확인
														$('#lastDiv').append(`
																					<div>마지막 행입니다.</div>
																			   `);
											            $('#load').fadeOut(100); // 컨텐츠 없을 시 버튼 사라짐
											        }
												})
										$('.matchbtn1').on('click',function(e){
											let reserveTime = $(e.target).closest('tr').find('.reserveTime').val();
											let reserveTimeName = $(e.target).closest('tr').find('.reserveTimeName').val();
											let tReserveTime = $(e.target).closest('tr').find('.tReserveTime').text();
											let reservePrice = $(e.target).closest('tr').find('.reservePrice').val();
											$('input[name="reserveTime"]').val(reserveTime);
											$('input[name="reserveTimeName"]').val(reserveTimeName);
											$('input[name="tReserveTime"]').val(tReserveTime);
											$('input[name="reservePrice"]').val(reservePrice);
										})
									}
								})
							}
	
                        var swiper = new Swiper(".mySwiper.dateslide", {            

                            direction : getDirection(),
                            on: {
                                resize: function () {
                                swiper.changeDirection(getDirection());
                                },
                            },
                            pagination: {
                                el: ".swiper-pagination.dateslide",                         
                            },
                            navigation: {
                                nextEl: ".swiper-button-next.dateslide",
                                prevEl: ".swiper-button-prev.dateslide",
                            },
                            breakpoints: {
                                320: {
                                    slidesPerView: 5,
                                },
                                480: {
                                    slidesPerView: 5,
                                },
                                640: {
                                    slidesPerView: 5,
                                },
                                992: {
                                    slidesPerView: 7,
                                }
                            }
                        });

                        function getDirection() {
                            var windowWidth = window.innerWidth;
                            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';
                            return direction;
                            }

                        const days = ["일", "월", "화", "수", "목", "금", "토"];
                        let today = new Date();
                        let dateGetDay = today.getDay();
                        let year = today.getFullYear();
                        let month = today.getMonth();
                        let dateGetDate = today.getDate();
                        let dateArry = [];
						let matchDate = year+"-"+(month+1)+"-"+dateGetDate
						
                        
                        for (let i = 0; i < 14; i++) {
                        	let weekName = (dateGetDay+i)%7;
                        	let day = new Date(year,month,dateGetDate + i)
                            dateArry.push({
                            	"dayNo": weekName,
                                "day": days[weekName],
                                "date": day.getDate(),
                                "allDate": day.getFullYear()+"-"+(day.getMonth()+1)+"-"+day.getDate()
                            })
 
                        }
                    
                        $.each(dateArry, (idx, ele) => {
                        	
                        	if (idx == 0) {
                               $('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                                    <div class="btn btn-outline-success active date" data-day="${ele.allDate}">
                                                    ${ele.date}<br>
                                                    ${ele.day}</div></div>`)
                            } else if (ele.dayNo == 0) {
                        		 $('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                         <div class="btn btn-outline-danger date" data-day="${ele.allDate}">
                                         ${ele.date}<br>
                                         ${ele.day}</div></div>`)
                        	} else if (ele.dayNo == 6) {
                        		 $('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                         <div class="btn btn-outline-primary date" data-day="${ele.allDate}">
                                         ${ele.date}<br>
                                         ${ele.day}</div></div>`)
                        	} else {
                        		$('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                        <div class="btn btn-outline-success date" data-day="${ele.allDate}">
                                        ${ele.date}<br>
                                        ${ele.day}</div></div>`)
                        	}                        	
                        	
                        })
                        
                        $('.swiper-wrapper.dateslide > div div').on('click', function (e) {
                        	$('.swiper-wrapper.dateslide > div div').removeClass('active');
                        	$(e.target).toggleClass('active');
                        	let clickDate = $(e.target).data('day');
                        	/* $('#hiddenDate').append('<input type="hidden" name="reserveDate" value="">'); */
                        	$('input[name="reserveDate"]').val(clickDate);
                        	
                        	//matchAjax(matchDate,1);
                        	let reserveDateclick = $('input[name="reserveDate"]').val();
							let crtDetailNoclick = Number($('input[name="crtDetailNo"]:checked').val());
							reserveAjax(reserveDateclick, crtDetailNoclick);
                        })
                        
                        // 코트 클릭했을 때도 아작스
                        $('input[name="crtDetailNo"]').change(function(){
                        	let reserveDatechange = $('input[name="reserveDate"]').val();
							let crtDetailNochange = Number($('input[name="crtDetailNo"]:checked').val());
							reserveAjax(reserveDatechange, crtDetailNochange);
							/* let courtNo = $('input[name="crtDetailNo"]:checked').next().text();
							$('input[name="crtNo"]').val(courtNo); */
                        })
                        
                        let data = $('.swiper-wrapper.dateslide > div div');
                        $.each(data, function(index, item){
                        	if($(item).hasClass('active')){
                        		let clickDate = $(item).data('day');
                            	$('#hiddenDate').append('<input type="hidden" name="reserveDate" value="">');
                            	$('input[name="reserveDate"]').val(clickDate);
                            	
                        	}
                        })
                        
                       // if($('.swiper-wrapper.dateslide > div div').hasClass('active') == true)
                        
                    </script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

	<script type="text/javascript">
	// SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
	Kakao.init('5cb79bd417ece35ea33fa7b756305a02');

	// SDK 초기화 여부를 판단합니다.
	console.log(Kakao.isInitialized());

	function kakaoShare() {
		Kakao.Link.sendDefault({
			objectType : 'feed',
			content : {
				title : 'TENNISWING-SHOP',
				description : '윌슨 블레이드',
				imageUrl : 'https://tm.ajlabs.co.kr/common/prdAssets/008/WR142011U2/2.jpg',
				link : {
					mobileWebUrl : '카카오공유하기 시 클릭 후 이동 경로',
					webUrl : '카카오공유하기 시 클릭 후 이동 경로',
				},
			},
			buttons : [ {
				title : '웹으로 보기',
				link : {
					mobileWebUrl : '카카오공유하기 시 클릭 후 이동 경로',
					webUrl : '카카오공유하기 시 클릭 후 이동 경로',
				},
			}, ],
			// 카카오톡 미설치 시 카카오톡 설치 경로이동
			installTalk : true,
		})
	}
	</script>
</th:block>

</html>