<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
<!--아임포트 라이브러리-->
<script
   type="text/javascript"
   src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
></script>
<!-- <script
  type="text/javascript"
  src="https://unpkg.com/axios/dist/axios.min.js"
></script> -->
<th:block layout:fragment="content">

<button onclick="cancelPay()">환불하기</button>
<script>
	let data = {reservePayNo : "imp_860758223137",
			reserveUid : "2023012303511404", 
			refundPrice : 90,
			reason : "test"};
	
   function cancelPay() {
   	$.ajax({
      // 예: http://www.myservice.com/payments/cancel
      url: 'courtReserveCancel', 
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(data),
      dataType: 'json',
      success: function(e) {
			/* if (e == 'Success') {
				alert("환불 성공");
			} else {
				alert("환불 실패, 다시 시도해 주세요.");
			} */
			console.log(e);
		},
	  error: function(e) {
			console.log(e);
	  }
    });
  }
  
//환불 구현 코드
  // 아임포트에 결제 취소 요청
/* getRefundData = async ({
    impUid,
    refundAmount,
    reason,
    access_token,
    sum,
  }) => {
    const refundData = await axios({
      url: 'https://api.iamport.kr/payments/cancel',
      method: 'post',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${access_token}`, // 아임포트 서버로부터 발급받은 엑세스 토큰
      },
      data: {
        reason: reason, // 가맹점 클라이언트로부터 받은 환불사유
        imp_uid: impUid, // imp_uid를 환불 `unique key`로 입력
        amount: Math.abs(refundAmount), // 가맹점 클라이언트로부터 받은 환불금액
        checksum: sum, // [권장] 환불 가능 금액 입력
      },
    });
  }
    const { response } = refundData.data; */
  
</script>
</th:block>
</html>