<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
<!--아임포트 라이브러리-->
<script
   type="text/javascript"
   src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
></script>
<!-- <script
  type="text/javascript"
  src="https://unpkg.com/axios/dist/axios.min.js"
></script> -->
<th:block layout:fragment="content">

<button onclick="cancelPay()">환불하기</button>
<script>
	
   function cancelPay() {
    jQuery.ajax({
      // 예: http://www.myservice.com/payments/cancel
      "url": "http://www.myservice.com/payments/cancel", 
      "type": "POST",
      "contentType": "application/json",
      "data": JSON.stringify({
        "merchant_uid": "{결제건의 주문번호}", // 예: ORD20180131-0000011
        "cancel_request_amount": 2000, // 환불금액
        "reason": "테스트 결제 환불" // 환불사유
        // [가상계좌 환불시 필수입력] 환불 수령계좌 예금주
        //"refund_holder": "홍길동", 
        // [가상계좌 환불시 필수입력] 환불 수령계좌 은행코드(예: KG이니시스의 경우 신한은행은 88번)
        "refund_bank": "88" 
        // [가상계좌 환불시 필수입력] 환불 수령계좌 번호
        "refund_account": "56211105948400" 
      }),
      "dataType": "json"
    });
  }
  
//환불 구현 코드
  // 아임포트에 결제 취소 요청
/* getRefundData = async ({
    impUid,
    refundAmount,
    reason,
    access_token,
    sum,
  }) => {
    const refundData = await axios({
      url: 'https://api.iamport.kr/payments/cancel',
      method: 'post',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${access_token}`, // 아임포트 서버로부터 발급받은 엑세스 토큰
      },
      data: {
        reason: reason, // 가맹점 클라이언트로부터 받은 환불사유
        imp_uid: impUid, // imp_uid를 환불 `unique key`로 입력
        amount: Math.abs(refundAmount), // 가맹점 클라이언트로부터 받은 환불금액
        checksum: sum, // [권장] 환불 가능 금액 입력
      },
    });
  }
    const { response } = refundData.data; */
  
</script>
</th:block>
</html>