<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<style>
		body{
			font-family: 'Noto Sans KR', sans-serif;
		}
		.accordion-button:not(.collapsed) {
		    color: #3C3C3C;
		    background-color: #efefef;
		    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
		}
		.form-check .form-check-input.form-check-success {
		    background-color: #fc5356;
		    border-color: #fc5356;
		}
	</style>
</head>
<!--아임포트 라이브러리-->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<th:block layout:fragment="content">
	<div class="container">
		<form name="reserve">
			<section class="section">
		        <div class="row">
		                <div class="card">
		                    <div class="card-body">
		                    	<hr>
		                        <p style="padding: 0 40px;"><b>코트장 이름</b> <span style="float: right">[[ ${reserveInfo.crtroomName} ]]</span><code></code><code></code></p>
		                        <p style="padding: 0 40px;"><b>코트장 위치</b> <span style="float: right">[[ ${reserveInfo.crtroomLocation} ]]</span><code></code><code></code></p>
		                        <p style="padding: 0 40px;"><b>코트번호</b> <span style="float: right">[[ ${reserveInfo.crtNo} ]]</span><code></code><code></code></p>
		                        <p style="padding: 0 40px;"><b>이용 날짜</b> <span style="float: right">[[${#dates.format(reserveInfo.reserveDate,'yyyy년MM월dd일')}]]</span><code></code><code></code></p>
		                        <p class="reserveTime" style="padding: 0 40px;"><b>이용 시간</b> <span style="float: right">[[${reserveInfo.reserveTimeName}]]</span><code></code><code></code></p>
		                        <p style="padding: 0 40px;"><b>이용 금액</b>
		                        <span style="float: right" data-th-text="${#numbers.formatInteger(reserveInfo.reservePrice, 3, 'COMMA') + '원'}"></span><code></code><code></code></p>
		                        <hr>
		                        <p style="padding: 0 40px;"><b><span style="font-size: 18px">결제 금액</span></b>
		                        <span style="float: right; font-size: 18px;" data-th-text="${#numbers.formatInteger(reserveInfo.reservePrice, 3, 'COMMA') + '원'}"></span><code></code><code></code></p>
		                        <input type="hidden" name="reservePrice" th:value="${reserveInfo.reservePrice}">
		                        <input type="hidden" name="crtroomNo" th:value="${reserveInfo.crtroomNo}">
		                        <input type="hidden" name="crtDetailNo" th:value="${reserveInfo.crtDetailNo}">
		                        <input type="hidden" name="reserveDate" th:value="${#dates.format(reserveInfo.reserveDate,'yyyy-MM-dd')}">
		                        <input type="hidden" name="reserveTime" th:value="${reserveInfo.reserveTime}">
		                    </div>
		                </div>
		            </div>
		    </section>
		    <section class="section">
		    	<div class="row">
		            <div class="col-12">
		            	<div class="section-title" style="margin: 0; padding: 0">
		            		<h2 style="color: #3C3C3C; font-size: 25px;">안내 사항</h2>
		            	</div>
				    	<div class="card">
							<div class="card-body">
								<p><span style="color: red; font-family: 'Noto Sans KR', sans-serif;">예약하기 전 꼭 읽어주세요!</span></p>
								<div class="accordion" id="accordionExample">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne">
											<button class="accordion-button" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne"
												aria-expanded="true" aria-controls="collapseOne"
												style="font-family: 'Noto Sans KR', sans-serif;">
												필독 사항</button>
										</h2>
										<div id="collapseOne" class="accordion-collapse collapse show"
											aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												<pre style="font-family: 'Noto Sans KR', sans-serif;">
제시간에 경기를 마쳐 주세요. 예약 시간을 초과하지 않도록 3~5분 전에 마무리 하는 게 좋습니다.

다른 사용자나 인근 주민에게 피해를 끼치는 행동을 삼가주세요. 음식 조리, 배달 취식, 음주는 할 수 없습니다. 

너무 크게 소리 지르면, 민원으로 시설 사용을 중단할 수 있습니다.

이용자 부주의로 시설을 파손하면, 손해배상을 청구할 수 있습니다. 이 점 유의해 주세요.
												</pre>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingTwo">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseTwo"
												aria-expanded="false" aria-controls="collapseTwo"
												style="font-family: 'Noto Sans KR', sans-serif;">
												부상과 보험</button>
										</h2>
										<div id="collapseTwo" class="accordion-collapse collapse"
											aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
											<div class="accordion-body"><pre style="font-family: 'Noto Sans KR', sans-serif;">
테니스윙은 상대를 배려하고, 나를 지키는 안전한 플레이를 권장합니다.

거친 플레이를 하는 참가자에게 매너 카드를 발급하여 안전하고 즐거운 매치 문화를 만들어 나갑니다.

다른 사람에게 피해를 끼치는 경우 이용이 정지될 수 있습니다.

부상의 위험성이 내재된 경기 규칙 안에서 발생한 부상 대부분이 개인에게 책임이 있음을 판단하고 있습니다.

경기 규칙 안에서 발생한 부상 대부분은 책임을 묻기 어렵다는 판결 사례가 많습니다.

그러나 과도한 힘을 사용해 일부러 상대를 다치게 할 경우 법원이 배상을 결정한 판례가 있습니다.

테니스윙에서 직접 운용하는 보험 상품은 없습니다. 소셜 매치 참여 전 실손의료보험 가입 여부를 확인해 주세요.</pre>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingThree">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseThree"
												aria-expanded="false" aria-controls="collapseThree"
												style="font-family: 'Noto Sans KR', sans-serif;">
												환불 안내</button>
										</h2>
										<div id="collapseThree" class="accordion-collapse collapse"
											aria-labelledby="headingThree" data-bs-parent="#accordionExample">
											<div class="accordion-body">
											<pre style="font-family: 'Noto Sans KR', sans-serif;">
매치 시간에 가까울수록 신청 취소 수수료가 큽니다. 7일 전까지 100% 환불입니다. 2일 전부터는 환불이 불가능합니다.

호우 경보, 대설 경보, 태풍 주의보, 태풍 경보 등 천재지변으로 구장 이용이 어려울 경우 전액 환불해 드립니다.</pre>
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="form-check">
				                    <div class="custom-control custom-checkbox">
				                        <input type="checkbox" class="form-check-input form-check-success" 
				                            name="customCheck" id="customColorCheck3">
				                        <label class="form-check-label" for="customColorCheck3"
				                        style="font-family: 'Noto Sans KR', sans-serif;">위 내용에 동의합니다.</label>
				                    </div>
				                </div>
				                <div class="justify-content-around text-center">
				                	<br>
					                <button type="button" id="reserveSubmit" class="btn btn-success rounded-pill" style="width: 150px; border: #3C3C3C; background-color: #3C3C3C;">결제하기</button>
					                &nbsp;&nbsp;&nbsp;
					                <button type="button" onclick="history.back()" class="btn btn-success rounded-pill" style="width: 150px; border: #efefef; background-color: #efefef; color: #3C3C3C">취소하기</button>
				                </div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</form>
	</div>
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

	<script th:inline="javascript">
		$('#reserveSubmit').on('click', function(){
			let auto = [[${#authentication.name}]]
			console.log(auto);
			if(auto == "anonymousUser"){
				Swal.fire({
					icon: "error",
					text: "로그인 페이지로 이동하시겠습니까?",
					showCancelButton: true,
					confirmButtonText: "yes",
				}).then((result) => {
					  if (result.isConfirmed) {
					    location.href = '/loginform';
					    return;
					  }
				})
			}else{
			if($('#customColorCheck3').is(':checked')){
				const pdate = [[${reserveInfo.reserveDate}]];
				const rdate = new Date(pdate);
				console.log(rdate);
				const ryear = rdate.getFullYear();
				const rmonth = ('0' + (rdate.getMonth() + 1)).slice(-2);
				const rday = ('0' + rdate.getDate()).slice(-2);
				const rdateStr = ryear.toString()+'-'+rmonth.toString()+'-'+rday.toString();
			
				let crtroomName = [[${reserveInfo.crtroomName}]];
				let crtroomNo = [[${reserveInfo.crtroomNo}]];
				let reservePrice = Number([[${reserveInfo.reservePrice}]]);
				let reserveDate = rdateStr;
				let crtDetailNo = [[${reserveInfo.crtDetailNo}]];
				let reserveTime = [[${reserveInfo.reserveTime}]];
				let tReserveTime = [[${reserveInfo.tReserveTime}]];
				
				//var IMP = window.IMP;
				IMP.init("imp30873503");

				let today = new Date();
				const year = today.getFullYear(); //년
				const month = today.getMonth() + 1;  //월
				const date = today.getDate();	//일
				let hour = today.getHours(); // 시
				let minute = today.getMinutes();  // 분
				let second = today.getSeconds();  // 초
				let milliseconds = today.getMilliseconds();
				let makeMerchantUid = year.toString() + '0' + month.toString() + date.toString() + hour + minute + second + milliseconds;

				IMP.request_pay({
					pg: 'kcp',
					pay_method: 'cards',
					merchant_uid: makeMerchantUid,
					name: crtroomName,
					amount: reservePrice,
					display: {
						card_quota: [6]  
					}
				}, function(rsp) { // callback

					if (rsp.success) {
						// 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
						// jQuery로 HTTP 요청
						console.log(rsp.imp_uid)
						console.log(rsp.merchant_uid)
				 		
						$.ajax({
							url: 'reserveCourtPost',
							method: 'post',
							contentType : 'application/json',
							data : JSON.stringify(
								  {crtroomName,
								   crtroomNo,
								   reservePrice,
								   reserveDate,
								   crtDetailNo,
								   reserveTime,
								   tReserveTime,
								   reserveUid: rsp.merchant_uid,
								   reservePayNo: rsp.imp_uid}),
							success: function (results) {
								console.log(results.crtReserveVO)
								if (results.result) {
									Swal.fire({
										icon: "success",
										text: "정상적으로 예약되었습니다.",
									}).then(function(){
										location.href = "/mypage-court";
									})
								} else {
									Swal.fire({
										icon: "error",
										text: "예약 실패되었습니다.",
									}).then(function(){
										location.reload();
									})
								}
							},
							error: function(err) {console.log(err)}
						})
					} else {
						//alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
						 Swal.fire({
							icon: "error",
							text: "결제에 실패하였습니다.",
						}).then(function(){
							console.log(rsp.error_msg);
						}) 
					}
				});
				} else{
						Swal.fire({
							icon: "error",
							text: "위 내용에 동의하신다면 동의칸에 체크해주세요.",
						})
					}
				}
			});
 /* $.ajax({

	<script type="text/javascript">
		$('#reserveSubmit').on('click', function(){
			IMP.init("imp48072683");
			IMP.request_pay({
				pg: 'kcp.T0000',
				pay_method: 'card',
				merchant_uid: 'sddddddfasdf',
				name: '종',
				amount: 100,
				buyer_email: '이메일',
				buyer_name: '사는사람',
				buyer_tel: '전화번호',
				buyer_addr: '주소',
				buyer_postcode: '123-456',
				display: {
					card_quota: [6]  // 할부개월 6개월까지 활성화
				}
			}, function(rsp) { // callback

				if (rsp.success) {
					// 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
					// jQuery로 HTTP 요청
					console.log(rsp.imp_uid)
					console.log(rsp.merchant_uid)
					

					$.ajax({
						url: 'Order.do',
						method: 'post',						
						data: {
							id: uid,
							total: lastSum,
							imp_uid: rsp.imp_uid,            // 결제 고유번호
							merchant_uid: rsp.merchant_uid   // 주문번호
						},
						success: function(e) {
							if (e.retCode == 'Success') {
								location.href = "OrderComplete.do";
							} else {
								alert("결제 실패, 다시 시도해 주세요.");
							}
						},
						error: function(e) {
							console.log(e);
						}
					})
					
					$.ajax({
						url: 'Order.do',
						method: 'post',
						data: {
							id: uid,
							total: lastSum,
							imp_uid: rsp.imp_uid,            // 결제 고유번호
							merchant_uid: rsp.merchant_uid   // 주문번호
						},
						success: function(e) {
							if (e.retCode == 'Success') {
								location.href = "OrderComplete.do";
							} else {
								alert("결제 실패, 다시 시도해 주세요.");
							}
						},
						error: function(e) {
							console.log(e);
						}
					}) 

				} else {
					alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
				}
			});
			$.ajax({

				method: 'post',
				url: 'reserveCourt',
				data: $("form[name='reserve']").serialize(),				
				success: function (results) {
					console.log(results.crtReserveVO)
					if (results.result) {						
						Swal.fire({
							icon: "success",
							text: "정상적으로 예약되었습니다.",
						}).then(function(){
							location.href = "/court";
						})
					} else {
						Swal.fire({
							icon: "error",
							text: "예약 실패되었습니다.",
						}).then(function(){
							location.reload();
						})
					}
				},
				error: () => console.log(error)
			})
		});  */
	</script>
    
</th:block>
</html>