<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.tenniswing.project.court.mapper.CourtroomMapper">
  	<!-- 코트 등록 -->
  	<insert id="insertCourtroom" parameterType="crtroomVO">
  		<selectKey keyProperty="courtroomNo"
  				   resultType="int"
  				   order="BEFORE">
  			SELECT NVL(MAX(crtroom_no), 0) + 1
  			FROM courtroom		   
  		</selectKey>
  		INSERT INTO crtroom
  			(
  				crtroom_no
  				, host_no
  				, crtroom_name
  				, crtroom_exp
  				, crtroom_region
  				, crtroom_location
  				, crtroom_operate_time
  				, crtroom_caution
  				, crtroom_use_guide
  				, crtroom_indoor_outdoor
  				, crtroom_regi_date
  			)
  			VALUES
  			(
  				#{crtroomNo}
  				, #{hostNo}
  				, #{crtroomName}
  				, #{crtroomExp}
  				, #{crtroomRegion}
  				, #{crtroomLocation}
  				, #{crtroomOperateTime}
  				, #{crtroomCaution}
  				, #{crtroomUseGuide}
  				, #{crtroomIndoorOutdoor}
  				, SYSDATE
  			)
  	</insert>
  	
  	<!-- 코트 세부  -->
  </mapper>