<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block  th:fragment="footer">
		<footer class="container-fluid bg-body-secondary">
                <div class="container">
                        <!--Grid row-->
                        <div class="row my-4">
                            <!--Grid column-->
                          
                            <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
                                <div class="logo">
                                    <a href="index.html">
                                        <h3>TennisWing.</h3>
                                    </a>
                                </div>
                                <p class="text-light-emphasis">테니스를 위한 모든 것. 테니스윙!</p>

                                <p class="text-light-emphasis">
                                    <ul class="nav d-flex justify-content-sm-start text-sm">
                                        <li class="pe-2">
                                            <a href="#!">이용약관</a>
                                        </li>  
                                        <li class="pe-2">
                                            |
                                        </li>  
                                        <li class="pe-2">
                                            <a href="#!">개인정보처리방침</a>
                                        </li> 
                                        <li class="pe-2">
                                            |
                                        </li>                                   
                                        <li>
                                            <a href="#!">사업자정보확인</a>
                                        </li>                                  
                                    </ul>
                                </p>

                                <p class="text-light-emphasis">
                                <ul class="nav d-flex">
                                    <li class="pe-3">
                                        <a class="fs-3" href="#!">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>                      
                                    <li class="pe-3">
                                        <a class="fs-3" href="#!">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>                      
                                    <li>
                                        <a class="fs-3" href="#!">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </li>                      
                                </ul>
                                </p>
                            </div>                        

                            <!--Grid column-->
                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4">사이트맵</h5>

                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <a href="#!">소셜매치</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">코트예약</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">클럽</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">커뮤니티</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">쇼핑</a>
                                    </li>                                 
                                </ul>
                            </div>                        

                            <!--Grid column-->
                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4">코트 지역</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <a href="#!">서울</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">경기</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">인천</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">강원도</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">전라도</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">경상도</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">충청도</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">제주도</a>
                                    </li>
                                </ul>
                            </div>

                            <!--Grid column-->
                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4">테니스윙</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <a href="#!">테니스윙 소개</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">공지사항</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">자주묻는 질문</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!">테니스장 제휴</a>
                                    </li>                                   
                                </ul>
                            </div>
                    </div>
                    <!-- End Grid container -->
                    <!-- Copyright -->
                    <div class="container-fluid text-center p-3">
                        © 2023 Copyright  <a href="">tenniswing.com</a> All rights reserved.
                    </div>
                    <!-- Copyright -->
                </div>
            </footer>
	</th:block >
</html>