<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/host/host-layout}">
<head>
<style>
	body{
		background-color: #f5f5f5;
	}
	*{
		font-family: 'Noto Sans KR', sans-serif !important;
	}
	.pagination.pagination-primary .page-item.active .page-link {
	    background-color: #3C3C3C;
	    border-color: #3C3C3C;
	    box-shadow: 0 2px 5px rgba(67, 94, 190, 0.3);
	}
</style>
</head>
<th:block layout:fragment="hostcontent">
	<div class="page-content">
		<!-- Main__container Start-->
		<div class="main__container">
			<!-- Main Inner Wrapper Start -->
			<div class="main__inner--wrapper" style="padding: 0;">
				<!-- Product List Start -->
				<div class="row">
					<div class="col-12">

				<!-- Basic Tables start -->
						<div class="dashboard__header">
							<div class="d__header--left">
								<div class="section-title" style="margin: 0; padding: 0">
									<h2 style="color: #3C3C3C; font-size: 30px;">정산 리스트</h2>
								</div>
								
							</div>
							<!-- <div style="float: right">
								<button class="btn btn-primary"
									th:onclick="|location.href='@{/hostregisterCourtroom}'|">코트
									등록하기</button>
							</div> -->
						</div>
						<section class="section">
							<div class="card" style="height: 1000px;">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table" id="table1">
											<thead>
												<tr>
													<th>No.</th>
													<th>순수익</th>
													<th>정산금액</th>
													<th>예약건수</th>
													<th>정산날짜</th>
													<th>정산상태</th>
													<th>정산완료날짜</th>
												</tr>
											</thead>
											<tbody>
												<th:block th:each="calcList, stat : ${calcList}">
													<tr style="text-align: left;">
														<td id="calcNo" th:attrappend="id=${calcList.calcNo}">[[
															${calcList.calcNo} ]]</td>
														<td>[[ ${#numbers.formatInteger(calcList.payPrice, 3, 'COMMA') + '원'} ]]</td>
														<td>[[ ${#numbers.formatInteger(calcList.calcPrice, 3, 'COMMA') + '원'} ]]</td>
														<td>[[ ${calcList.payCase} ]]</td>
														<td>[[ ${#dates.format(calcList.calcStartDate,'yyyy-MM-dd')} ]] ~ [[ ${#dates.format(calcList.calcEndDate,'yyyy-MM-dd')} ]]</td>
														<th:block th:switch="${calcList.calcState}">
															<td th:case="bi1"><span class="badge bg-light-warning">[[ ${calcList.calcStateName} ]]</span></td>
															<td th:case="bi2"><span class="badge bg-light-secondary">[[ ${calcList.calcStateName} ]]</span></td>
														</th:block>
														<td>[[
															${#dates.format(calcList.calcDate,'yyyy-MM-dd')}
															]]</td>
													</tr>
												</th:block>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- Basic Tables end -->
	</div>
	<script th:inline="javascript">
	</script>

</th:block>
</html>