<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - 접속권한없음</title>
    
    
    <link rel="shortcut icon" href="/assets/compiled/svg/favicon.svg" type="image/x-icon">
    
  <link rel="stylesheet" href="/assets/compiled/css/app.css">
  <link rel="stylesheet" href="/assets/compiled/css/error.css">
</head>

<body>
    <script src="/assets/static/js/initTheme.js"></script>
    <div id="error">
        

<div class="error-page container">
    <div class="col-md-8 col-12 offset-md-2">
        <div class="text-center">
            <img class="img-error" src="./assets/compiled/svg/error-403.svg" alt="Not Found">
            <h1 class="error-title">접속권한없음</h1>
            <p class="fs-5 text-gray-600">해당페이지에 접속할 수 있는 권한이 없습니다.</p>
            <a href="javascript:history.back();" class="btn btn-lg btn-outline-primary mt-3">돌아가기</a>
        </div>
    </div>
</div>


    </div>
</body>

</html>