<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">

<th:block layout:fragment="content">
	
	<!-- signup form -->
	<div class="container justify-content-center" id="signupForm">
		<form class="form form-vertical" action="clubmatchupdateregi" method="POST">
			<div class="form-body">
				<div class="text-center">
					<h3 class="my-4">클럽 매치 수정</h3>
				</div>
				<div th:text="${msg}"></div>
				<!-- <div class="col-3"></div> -->
			</div>

			<div class="justify-content-center">
				<div class="row justify-content-center" id="memberForm">
					<!-- <div class="col-3 "></div> -->

					<div class="col-lg-7 p-5 text-start shadow mb-5 ">
						<div class="container card text-center w-50">
							<!-- File uploader with image preview -->
						</div>

						<!-- 코트 찾기 -->
						<div class="row mb-3">
							<div class="col-6" style="margin-left: 55px;">
								<label for="name">코트 선택</label>
								<div class="input-group">
									<input type="text" class="form-control" autocomplete="off"
										placeholder="코트 찾기" data-bs-toggle="collapse"
										data-bs-target="#collapseExample" aria-expanded="false"
										aria-controls="collapseExample" id="search1"> <input
										type="hidden" name="crtroomNo" id="crtroomNo">
									<button type="button" class="input-group-text">
										<i class="icon dripicons dripicons-search fs-3"></i>
									</button>
								</div>
								<div class="collapse z-3 position-absolute" id="searchArea1">
									<div class="form-group">
										<select class="form-select" id="searchItem1">
										</select>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-6">
						<label for="age">코트 선택</label>
						<div class="input-group">
							<input type="text" class="form-control" autocomplete="off"
								placeholder="코트 찾기" data-bs-toggle="collapse"
								data-bs-target="#collapseExample" aria-expanded="false"
								aria-controls="collapseExample" id="search1">

							<button type="button" class="input-group-text">
								<i class="icon dripicons dripicons-search fs-3"></i>
							</button>
							<div class="collapse z-3 position-absolute mt-5" id="searchArea1">

								<div class="form-group">
									<select class="form-select" id="searchItem1">
									</select>
								</div>
							</div>
						</div>
						</div> -->
						<script>
						$('#search1').on('propertychange change keyup paste input', function(e){						
								let inputVal = $(e.target).val();								
								$('#searchArea1').addClass('show');					
								 $.ajax({
								        type: 'get',
								        url: 'searcharea',
								        data: {inputVal},
								        success: function (result) {
								        	$('#searchItem1').empty();
								        	//$('#searchItem').append('<optgroup label="코트">');
								        	$.each(result, function(index, data) { // 데이터 =item
								        		let b = `													 
					                                 <option value="${data.crtroomNo}">${data.crtroomName}</option>  `  										
					                                 $('#searchItem1').append(b)												
											});								        	
												b = '</optgroup>'
											$('#searchItem1').append(b)
								        },
								        error: () => console.log(error)
								    })
								
								if(inputVal == ''){
									$('#searchArea1').removeClass('show');
								}
								 
								
							})
						
						 $('#searchItem1').on('change propertychange click', function(e){
										console.log($(e.target).val())
										let crtNo = $(e.target).val();
										$('#crtroomNo').val(crtNo);
										$('#search1').val(e.target.options[e.target.selectedIndex].text);
										//location.href = `courtDetail?crtroomNo=${crtNo}`
									})
					
					</script>

						<div class="row">
							<div class="col-6" style="margin-left: 55px;">
								<label for="crtroomNo">클럽명</label>
								<div class="form-group ">
									<select class="choices form-select" id="clubNo" name="clubNo">
										<option th:each="club : ${clubList}" th:value="${club.clubNo}"
											th:text="${club.clubName}">
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6" style="margin-left: 55px;">
								<label for="region">매치 일자</label><br> <input type="date"
									id="matchDate" name="matchDate"
									class="form-control flatpickr-always-open"
									placeholder="예약 일자 선택">
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-6" style="margin-left: 55px;">
								<label for="time">경기 시작 시간</label>
								<div class="form-group ">
									<select class="choices form-select" id="time" name="time">
										<optgroup label="경기시간">
											<option>12:00</option>
											<option>13:00</option>
											<option>14:00</option>
											<option>15:00</option>
											<option>16:00</option>
											<option>17:00</option>
											<option>18:00</option>
											<option>19:00</option>
											<option>20:00</option>
											<option>21:00</option>
											<option>22:00</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

						<div class="row mmmttt">
							<div class="col-4">
								<label for="age">연령대</label>
								<div class="form-group">
									<select class="choices form-select" name="age" id="age">
										<optgroup label="연령대">
											<option value="a1">10대</option>
											<option value="a2">20대</option>
											<option value="a3">30대</option>
											<option value="a4">40대</option>
											<option value="a5">50대</option>
											<option value="a6">60대이상</option>
										</optgroup>
									</select>
								</div>
							</div>
							<div class="col-4">
								<label for="lv">구력</label>
								<div class="form-group">
									<select class="choices form-select" name="lv" id="lv">
										<optgroup label="구력">
											<option value="d1">입문</option>
											<option value="d2">2~5년</option>
											<option value="d3">5년이상</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

							<div class="row mmmttt">
							<div class="col-4">
								<label for="gameWay">경기 방식</label>
								<div class="form-group">
									<select class="choices form-select" id="gameWay" name="gameWay">
										<optgroup label="경기방식">
											<option value="f1">단식</option>
											<option value="f2">남복</option>
											<option value="f3">여복</option>
											<option value="f4">랠리</option>
											<option value="f5">혼복</option>
										</optgroup>
									</select>
								</div>
							</div>
							
							<div class="col-4">
								<label for="ntrp">ntrp</label>
								<div class="form-group">
									<select class="choices form-select" id="ntrp" name="ntrp">
										<optgroup label="ntpr">
											<option value="e1">1.0</option>
											<option value="e2">1.5</option>
											<option value="e3">2.0</option>
											<option value="e4">2.5</option>
											<option value="e5">3.0</option>
											<option value="e6">3.5</option>
											<option value="e7">4.0이상</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-4" style="margin-left: 55px;">
								<label for="name">코트비</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid"
										placeholder="코트비 입력" id="crtUseAmt" name="crtUseAmt"
										maxlength="10" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6" style="margin-left: 55px;">
								<label for="name">코멘트</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid"
										placeholder="코멘트 입력" id="detailCtt" name="detailCtt">
								</div>
							</div>
						</div>

						<div class="ctrgbtns">
								<br>
								<input type="number" th:value="${clubMatchInfo.matchNo}" hidden="true" name="matchNo">
						<button class="btn btn-success" type="submit">수정하기</button>
						<button class="btn btn-success" type="button" th:onclick="|location.href='@{/clubmatch}'|">취소</button>
							</div>
					</div>

				</div>
				<!-- <div class="col-3 "></div> -->
			</div>
		</form>
	</div>
	
	</th:block>

</html>