<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<!-- match sub menu -->
	<!-- <div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center matchsidevar">
			<li class="d-flex flex-column"><a href="/"><img
					src="assets/img/match/icon/icon1.png" class=" miconimg">매치</a></li>
			<li class="d-flex flex-column"><a href="clubmatch"><img
					src="assets/img/match/icon/icon2.png" class=" miconimg">클럽</a></li>
			<li class="d-flex flex-column"><a href="contestmatch"><img
					src="assets/img/match/icon/icon3.png" class=" miconimg">대회</a></li>
			<li class="d-flex flex-column"><a href="startermatch"><img
					src="assets/img/match/icon/icon4.png" class=" miconimg">스타터</a></li>
		</ul>
	</div> -->
	<!-- End match sub menu  -->

	<div class="blog-single gray-bg mctdeall">
		<div class="container">
			<div class="row align-items-start">
				<div class="col-lg-8 m-15px-tb">
					<article class="article">
						<div class="article-img">
							<img th:src="${clubMatchInfo.attachPath}" title="" alt=""
								style="width: 850px; height: 350px;">
						</div>
						<div class="article-title">
							<div class="media">
								<div class="avatar">
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png"
										title="" alt="">
								</div>
								<div class="media-body">
									<label>닉네임</label> <span>성별</span><span>레벨</span><span>매너점수</span>
								</div>
							</div>
						</div>
						<div class="article-content">
							<p>경기 방식 : [[${clubMatchInfo.gameWayName}]]</p>
							<p>모집 인원 수 : [[${clubMatchInfo.recruitPsnNum}]]명</p>
							<p>구력 : [[${clubMatchInfo.lvName}]]</p>
						</div>
					</article>
				</div>


				<div class="col-lg-4 m-15px-tb blog-aside">
					<!-- Latest Post -->
					<div class="widget widget-latest-post">
						<div class="widget-title">
							<h3 class="mdttitle">장소 안내</h3>
						</div>
						<div class="widget-body">
							<div class="latest-post-aside media">
								<p>경기 시간 : [[${clubMatchInfo.time}]]시</p>
							</div>
							<div class="latest-post-aside media">
								<p>코트장 이름 [[${clubMatchInfo.crtroomName}]]</p>
								<div class="lpa-right"></div>
							</div>
							<div class="latest-post-aside media">
								<p>코트장 위치 [[${clubMatchInfo.crtroomLocationName}]]</p>
							</div>
						</div>
					</div>
					<!-- End Latest Post -->

					<!-- Author -->
					<div class="widget widget-author">
						<div class="widget-title">
							<h3 class="mdttitle">인당 요금</h3>
						</div>
						<div class="widget-body">
							<p>코트 사용 요금 : [[${clubMatchInfo.crtUseAmt}]]원</p>
						</div>
						<!-- End Author -->
					</div>
					<!-- button -->
					<div class="product__bottom mtdbtn">
						<div class="cart__action__btn">
							<select name="clubNo">
								<option th:each="club : ${clubList}" th:value="${club.clubNo}"
									th:text="${club.clubName}">
							</select>

							<button type="button" class="btn btn-primary matchbtn4"
								id="applyBtn">신청하기</button>
						</div>
						<div class="cart__action__btn">
							<button type="button" class="btn btn-primary matchbtn4"
								th:onclick="|location.href='@{/clubmatchupdateregi(matchNo=${clubMatchInfo.matchNo})}'|">
								수정하기</button>
						</div>
						<div class="cart__action__btn">
							<button type="button" class="btn btn-primary matchbtn4"
								id="deleteBtn">삭제하기</button>
						</div>
						<div class="cart__action__btn">
							<button type="button" class="btn btn-primary matchbtn4"
								th:onclick="|location.href='@{/clubmatch}'|">목록으로</button>
						</div>
					</div>
					<!-- button close -->
				</div>
			</div>
		</div>
	</div>

	<script th:inline='javascript'>
            let matchNo = [[${clubMatchInfo.matchNo}]]
            $('#applyBtn').on("click", function(e) {
            let clubNo = $('[name="clubNo"]').val();
            	console.log('applyBtn');
            	Swal.fire({
          		  title: "신청 하시겠습니까?",
          		  text: "신청을 원하시면 예를 눌러주세요.",
          		  icon: "warning",
          		  showCancelButton: true,
          		  confirmButtonColor: "#3085d6",
          		  cancelButtonColor: "#d33",
          		  confirmButtonText: "예"
          		}).then((result) => {
          		  if (result.isConfirmed) {
          			  //내가 속한 클럽이 하나일때 			  
          			  
          			$.ajax({
                      	 type: 'POST',
                      	 url: 'clubDetailInsert',
                      	 data: {matchNo, clubNo},
                        success: function(result) {
		          		    Swal.fire({
		          		      title: "신청 완료!",
		          		      text: "신청 되었습니다.",
		          		      icon: "success"
	          		    }).then((result) => {
	          			location.href=`/clubmatchdetail?matchNo=${matchNo}`
	          		    })
	          		  }
	          		});
	                	 }
	                })
	            })
	            
            
            $('#deleteBtn').on("click", function(e) {
            	console.log('deleteBtn');
            	Swal.fire({
  				  title: "삭제 하시겠습니까?",
  				  text: "삭제를 원하시면 예를 눌러주세요.",
  				  icon: "warning",
  				  showCancelButton: true,
  				  confirmButtonColor: "#3085d6",
  				  cancelButtonColor: "#d33",
  				  confirmButtonText: "예"
  				}).then((result) => {
  				  if (result.isConfirmed) {
  					  console.log(result);
  	            	$.ajax({
  	            		type: 'POST',
  	            		url: 'clubDetailDelete',
  	            		data: {matchNo},
  	            		success: function(result){
  				    Swal.fire({
  				      title: "삭제 완료!",
  				      text: "삭제 되었습니다.",
  				      icon: "success"
  				    }).then((result) => {
  				      location.href='clubmatch'
  				  })
  	            		}
  			 	});
            	}
            	})
            })
            </script>
</th:block>

</html>