<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
<div class="mctdeall">
	<!-- match sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center matchsidevar">
			<li class="d-flex flex-column"><a href="/"><img
					src="assets/img/match/icon/icon1.png" class=" miconimg">매치</a></li>
			<li class="d-flex flex-column"><a href="clubmatch"><img
					src="assets/img/match/icon/icon2.png" class=" miconimg">클럽</a></li>
			<li class="d-flex flex-column"><a href="contestmatch"><img
					src="assets/img/match/icon/icon3.png" class=" miconimg">대회</a></li>
			<li class="d-flex flex-column"><a href="startermatch"><img
					src="assets/img/match/icon/icon4.png" class=" miconimg">스타터</a></li>
		</ul>
	</div>
	<!-- End match sub menu  -->

	<!-- slide banner -->
	<div class="container-fluid mb-2 bg-light-info">
		<div class="container pt-3 pb-3">
			<div class="swiper mySwiper banner" data-aos="fade-up">
				<div class="swiper-wrapper banner">
					<div class="swiper-slide banner text-center">
						<img src="/assets/img/match/slide.png" class="img-fluid" alt="">
					</div>
					<div class="swiper-slide banner text-center">
						<img src="/assets/img/match/slide.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="swiper-pagination banner"></div>
			</div>
		</div>
		
	</div>
	<!-- End slide banner -->

	<!-- date slide -->
	<div class="container mt-3 mb-5">
		<!-- Swiper -->
		<div class="swiper mySwiper dateslide">
			<div class="swiper-wrapper dateslide matchdate">
				<!-- <div class="swiper-slide dateslide">resizeme</div>            -->
			</div>
			<div class="swiper-button-next dateslide text-green"></div>
			<div class="swiper-button-prev dateslide text-green"></div>
			
		</div>
	</div>
	<!-- End date slide -->

	<!-- match table -->
		<div class="container">
			<div class="card-body mcardbody">
				<div class="row mcfilter">
					<div class="col-lg-2 col-md-6">
						<h5 class="card-title mtitle text-center">매치</h5>
					</div>
					<div class="col-lg-8">
						<form action="#" class="matfilter">
							<div class="custom__dropdown custom__dropdown__v2">
								<select id="gameWay" name="gameWay">
									<option value="">게임방식</option>
									<option value="f1">단식</option>
									<option value="f2">남복</option>
									<option value="f3">여복</option>
									<option value="f4">랠리</option>
									<option value="f5">혼복</option>
								</select>
							</div>
							<div class="custom__dropdown custom__dropdown__v2">
								<select id="gen" name="gen">
									<option value="">성별</option>
									<option value="c1">남자</option>
									<option value="c2">여자</option>
									<option value="c3">모두</option>
								</select>
							</div>
							<div class="custom__dropdown custom__dropdown__v2">
								<select id="location" name="location">
									<option value="">지역</option>
									<option value="b1">서울</option>
									<option value="b2">경기</option>
									<option value="b3">인천</option>
									<option value="b4">강원도</option>
									<option value="b5">전라도</option>
									<option value="b6">경상도</option>
									<option value="b7">충청도</option>
									<option value="b8">제주도</option>
								</select>
							</div>
							<div class="custom__dropdown custom__dropdown__v2">
								<select id="level" name="level">
									<option value="">레벨</option>
									<option value="e1">1.0</option>
									<option value="e2">1.5</option>
									<option value="e3">2.0</option>
									<option value="e4">2.5</option>
									<option value="e5">3.0</option>
									<option value="e6">3.5</option>
									<option value="e7">4.0</option>
								</select>
							</div>
						</form>
					</div>
					<div class="matchregibtn">
						<button type="button" id="btnsearch">검색</button>
					</div>
					<div class="col-lg-2 text-end">
						<button type="button" style="margin-right: 9px"
							class="btn btn-primary matchregibtn"
							th:onclick="|location.href='@{matchregi}'|">매치 등록</button>
					</div>
				</div>

				<!-- Default Table -->
				<table class="table">
					<tbody id="matchList">

					</tbody>
				</table>
				<div class="container mt-5 mb-5">
					<ul class="pagination justify-content-center">
					</ul>
				</div>
			</div>
		</div>
		<!-- End match table -->

	<!-- End community sub menu  -->
	<div class="container">
		<!-- Basic Tables start -->
		<section class="section">
			<div class="card">
				<!-- Trending Section Start -->
				<section class="trending__section pt-0">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="section-title">
									<h5 class="card-title mtitle mtitle2">최근 본 매치 목록</h5>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 msection">
								<!-- Swiper -->
								<div class="swiper mySwiper mtbanner" data-aos="fade-up">
									<div class="swiper-wrapper mtbanner">
										<div class="swiper-slide mtbanner" th:each="num : ${#numbers.sequence(1,5)}" ><!-- 여기서 반복문 th:each="" -->
											<div class="card">
												<div class="card-content">

													<img class="img-fluid w-100"
														src="/assets/compiled/jpg/banana.jpg" alt="Card image cap">
												</div>
												<div class="card-footer d-flex justify-content-between">
													<span>그룹이름</span>
													<button class="btn btn-light-primary" th:id="${numStat.count}" data-bs-toggle="collapse"
														data-bs-target="#collapseExample" aria-expanded="false"
														
														aria-controls="collapseExample"
														th:attrappend="aria-controls=${numStat.count}"
														>그룹
														목록보기</button>
												</div>

											</div>
										</div>
									</div>
									<div class="swiper-pagination mtbanner"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Swiper JS -->
					<script
						src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
					<!-- Initialize Swiper -->
				</section>
				<!-- Trending Section End -->
	
</div>
<script>
	$('#btnsearch').on("click", function(e) {
		let matchDate = $('.matchdate .active').data('day');
		clubMatchAjax(matchDate,1) 
	})

	function clubMatchAjax(matchDate,page) {
		let gameWay = $('#gameWay').val();		
		let gen = $('#gen').val();
		let location = $('#location').val();
	
		$.ajax({
			type: 'GET',
			url: 'clubMatchList',
			data: {matchDate, page, gameWay, gen, location},
			success: function(result) {
				//리스트
				$('#matchList').empty();
				for(let matchInfo of result.clubMatchList){
					let b = `<tr class="navbar-brand">					
					<td class="text-center"><b>${matchInfo.time}</b></td>
					<td>${matchInfo.gameWayName}</td>
					<td>${matchInfo.lvName}</td>
					<td>${matchInfo.crtroomLocationName}</td>
					<td class="text-end">
						<a class="btn btn-primary matchbtn1" href="clubmatchdetail?matchNo=${matchInfo.matchNo}">${matchInfo.progStateName}</a>
					</td>
				</tr>`
					$('#matchList').append(b)
				}
				
				showPage(result.selectClubCount);
			}
		})
	}
	
	$('.pagination').on("click","li a", function(e) {
		e.preventDefault();
		console.log("page click");
		
		var targetPageNum = $(this).attr("href");
		
		console.log("targetPageNum: " + targetPageNum);
		
		pageNum = targetPageNum;
		
		clubMatchAjax(matchDate,targetPageNum);
	
	});
	
	pageNum = 1;
	pageSize = 10.0; //페이지 번호 수
	pageUnit = 5;  //한페이지에 출력할 행의 수
	// 페이징
	function showPage(replyCnt) {
		
		var endNum = Math.ceil(pageNum / pageSize) * pageSize;
		var startNum = endNum > pageSize? endNum - pageSize : 1;
		
		var prev = startNum != 1;
		var next = false;
		
		if(endNum * 10 >= replyCnt) {
			endNum = Math.ceil(replyCnt/pageUnit);
		}
		
		if(endNum * 10 < replyCnt) {
			next = true;
		}
		
		var str= "";
		
		if(prev) {
			str+= "<li class='page-item'><a class='page-link' href='"+(startNum -1)+"'>Previous</a></li>";
		}
		
		for(var i = startNum ; i <= endNum; i++) {
			var active = pageNum == i? "active":"";
			str+= "<li class='page-item "+active+"'> <a class='page-link' href='"+i+"'>"+i+"</a></li>";		
		}
		
		if(next) {
			str+= "<li class='page-item'><a class='page-link' href='"+(endNum + 1)+"'>Next</a><li>";
		}
		
		str += "";
		
		console.log(str);
		
		$('.pagination').html(str);
	}
	

                        var swiper = new Swiper(".mySwiper.dateslide", {            

                            direction : getDirection(),
                            on: {
                                resize: function () {
                                swiper.changeDirection(getDirection());
                                },
                            },
                            pagination: {
                                el: ".swiper-pagination.dateslide",                         
                            },
                            navigation: {
                                nextEl: ".swiper-button-next.dateslide",
                                prevEl: ".swiper-button-prev.dateslide",
                            },
                            breakpoints: {
                                320: {
                                    slidesPerView: 5,
                                },
                                480: {
                                    slidesPerView: 5,
                                },
                                640: {
                                    slidesPerView: 5,
                                },
                                992: {
                                    slidesPerView: 7,
                                }
                            }
                        });

                        function getDirection() {
                            var windowWidth = window.innerWidth;
                            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';
                            return direction;
                            }

                        const days = ["일", "월", "화", "수", "목", "금", "토"];
                        let today = new Date();
                        let dateGetDay = today.getDay();
                        let year = today.getFullYear();
                        let month = today.getMonth();
                        let dateGetDate = today.getDate();
                        let dateArry = [];
						let matchDate = year+"/"+(month+1)+"/"+dateGetDate
						clubMatchAjax(matchDate,1)
                        
                        for (let i = 0; i < 14; i++) {
                        	let weekName = (dateGetDay+i)%7;
                        	let day = new Date(year,month,dateGetDate + i)
                            dateArry.push({
                            	"dayNo": weekName,
                                "day": days[weekName],
                                "date": day.getDate(),
                                "allDate": day.getFullYear()+"/"+(day.getMonth()+1)+"/"+day.getDate()
                            })
 
                        }
                    
                        $.each(dateArry, (idx, ele) => {
                        	console.log(ele.dayNo);
                        	if (idx == 0) {
                                $('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                                    <div class="btn btn-outline-success active" data-day="${ele.allDate}">
                                                    ${ele.date}<br>
                                                    ${ele.day}</div></div>`)
                            } else if (ele.dayNo == 0) {
                        		 $('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                         <div class="btn btn-outline-danger" data-day="${ele.allDate}">
                                         ${ele.date}<br>
                                         ${ele.day}</div></div>`)
                        	} else if (ele.dayNo == 6) {
                        		 $('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                         <div class="btn btn-outline-primary" data-day="${ele.allDate}">
                                         ${ele.date}<br>
                                         ${ele.day}</div></div>`)
                        	} else {
                        		$('.swiper-wrapper.dateslide').append(`<div class="swiper-slide dateslide text-center">
                                        <div class="btn btn-outline-success" data-day="${ele.allDate}">
                                        ${ele.date}<br>
                                        ${ele.day}</div></div>`)
                        	}
                        	
                        })
                        $('.swiper-wrapper.dateslide > div div').on('click', function (e) {
                        	$('.swiper-wrapper.dateslide > div div').removeClass('active');
                        	$(e.target).toggleClass('active');
                        	let matchDate = $(e.target).data('day');
                        	clubMatchAjax(matchDate,2);
                        	
                            //태그네임 가져오기                 
                            //console.log($(e.target).prop('tagName'))
                            //$('.swiper-wrapper.dateslide > div div').attr('class', 'text-dark')
                            //$(e.target).attr('class','bg-green rounded-pill text-white');
                            // $(e.target).attr('class','bg-green rounded-pill text-white');                           
                            // $(e.target)
                            // if ($(e.target).prop('tagName') == 'A') {                                
                            //     $('.swiper-wrapper.dateslide a').attr('class', 'link-dark');
                            //     $(e.target).parent().attr('class', 'bg-green rounded-pill');
                            //     $(e.target).attr('class', 'text-white');
                            // }else if ($(e.target).prop('tagName') == 'DIV') {                                
                            //     $('.swiper-wrapper.dateslide a').attr('class', 'link-dark');
                            //     $(e.target).attr('class', 'bg-green rounded-pill');
                            //     $(e.target).children().attr('class', 'text-white');
                            // }else{}
                        })
                        
                        
                        
                        new Swiper(".mySwiper.mtbanner", {
							/* loop : true, */
							loopPreventsSliding : true,
							grabCursor : true,
							slidesPerView : 3,
							spaceBetween : 20,

							/* autoplay : {
								delay : 2000,
								pauseOnMouseEnter : true,
								disableOnInteraction : false
							}, */
							pagination : {
								el : ".swiper-pagination.mtbanner",
								dynamicBullets : true,
								clickable : true,
							},
						});
                        
                                                
                        
                        new Swiper(".mySwiper.banner", {
                            loop: true,
                            loopPreventsSliding: true,
                            grabCursor: true,
                            autoplay: {
                                delay: 2000,
                                pauseOnMouseEnter: true,
                                disableOnInteraction: false
                            },
                            pagination: {
                                el: ".swiper-pagination.banner",
                                dynamicBullets: true,
                                clickable: true,
                            },
                        });
                    </script>
</th:block>

</html>