<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">

<th:block layout:fragment="content">
	<!-- match sub menu
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center matchsidevar">
			<li class="d-flex flex-column"><a href="/"><img
					src="assets/img/match/icon/icon1.png" class=" miconimg">매치</a></li>
			<li class="d-flex flex-column"><a href="clubmatch"><img
					src="assets/img/match/icon/icon2.png" class=" miconimg">클럽</a></li>
			<!-- <li class="d-flex flex-column"><a href="contestmatch"><img
					src="assets/img/match/icon/icon3.png" class=" miconimg">대회</a></li>
			<li class="d-flex flex-column"><a href="startermatch"><img
					src="assets/img/match/icon/icon4.png" class=" miconimg">스타터</a></li>
		</ul>
	</div>
	End match sub menu  -->


	<div class="container">
		<section class="product-main">
			<div class="container">
				<div class="row product-detail">
					<div class="col-md-6" style="width: 70%">
						<div class="product-gallery">
							<div
								class="product-gallery__thumb swiper productGallerySwiperThumb">
								<div class="swiper-wrapper">
									<th:block
										th:each="clubMatchDetail, stat : ${clubMatchInfo.attachList}">
										<div class="swiper-slide">
											<div class="gallery-item">
												<img th:src="${clubMatchDetail.attachPath}"
													alt="product iamge" />
											</div>
										</div>
									</th:block>
								</div>
							</div>
							<div class="product-gallery__main swiper productGallerySwiper">
								<div class="swiper-wrapper">
									<th:block
										th:each="clubMatchDetail, stat : ${clubMatchInfo.attachList}">
										<div class="swiper-slide">
											<div class="gallery-item">
												<img th:src="${clubMatchDetail.attachPath}"
													alt="product iamge" />
											</div>
										</div>
									</th:block>
								</div>
							</div>
						</div>
					</div>

					<!-- ============= 코트장 정보 ============= -->

					<div class="col-md-6" style="margin-top: 20px; width: 30%">
						<div class="product-detail__wrapper">
							<h2 class="product-detail__title"
								style="font-family: 'NanumSquareNeo-Variable';">[[
								${clubMatchInfo.crtroomName} ]]</h2>
							<input type="hidden" name="crtroomName"
								th:value="${clubMatchInfo.crtroomName}">
							<div class="product-detail__meta"></div>
							<h3 class="product-detail__price"
								style="font-family: 'NanumSquareNeo-Variable';">
								[[${#numbers.formatInteger(clubMatchInfo.crtUseAmt, 3, 'COMMA')
								+ ' 원'}]]</h3>
							<p class="product-detail__short_desc"
								style="font-family: 'NanumSquareNeo-Variable';">♦ 코멘트 영역
								[[${clubMatchInfo.detailCtt}]]</p>
							<br>

							<div class="product-detail__attr">
								<div class="product__attr">
									<span class="product-detail--stroke"
										style="font-weight: bold; font-family: 'NanumSquareNeo-Variable';">경기
										시간</span>
									<ul class="product__attr--color" style="margin: 0; padding: 0">
										<li><input type="text"
											style="width: 70px; border: 0; text-align: center"
											id="crtroomOperateStartTime" th:value="${clubMatchInfo.time}"
											disabled /></li>
										<!-- <li>~</li> -->
									</ul>
								</div>
							</div>

							<div class="product-detail__qty">
								<span class="product-detail--stroke"
									style="font-weight: bold; font-family: 'NanumSquareNeo-Variable';">코트장
									위치</span>
								<div>
									<input type="text" style="border: 0; text-align: center"
										th:value="${clubMatchInfo.crtroomLocation}" disabled /> <input
										type="hidden" style="border: 0; text-align: center"
										name="crtroomLocation"
										th:value="${clubMatchInfo.crtroomLocation}">
								</div>
							</div>
						</div>
						<br>
						<br>

						<div class="review__wrapper">
							<div class="review__item">
								<div class="matchimg">
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png"
										alt="avatar" />
								</div>
								<div class="review__content">
									<div class="review__desc">
										<div class="review__wrap">
											<h5>
												<a href="#">[[${clubMatchInfo.nick}]]</a>
											</h5>
										</div>
									</div>
									<div class="review__para">
										<p>성별 : [[${clubMatchInfo.genName}]]</p>
										<p>레벨 : [[${clubMatchInfo.lvName}]]</p>
									</div>
								</div>
							</div>
						</div>
						<br>

						<!-- button -->
						<select name="clubNo" id="selectClub">
							<option th:each="club : ${clubList}" th:value="${club.clubNo}"
								th:text="${club.clubName}">
						</select>
						<div class="product-detail__qty">
							<div class="product__bottom mtdbtn">
								<div class="cart__action__btn">
									<button type="button" class="btn btn-primary matchbtn4"
										id="applyBtn" style="font-size: 12.5px">신청하기</button>
								</div>
								<th:block th:if="${auth==true}">
								<div class="cart__action__btn">
									<button type="button" class="btn btn-primary matchbtn4" id="updateBtn"
										style="font-size: 12.5px"
										th:onclick="|location.href='@{/clubmatchupdateregi(matchNo=${clubMatchInfo.matchNo})}'|">
										수정하기</a>
									</button>
								</div>
								<div class="cart__action__btn">
									<button type="button" class="btn btn-primary matchbtn4"
										style="font-size: 12.5epx" id="deleteBtn">삭제하기</button>
								</div>
								</th:block>
								<div class="cart__action__btn">
									<button type="button" class="btn btn-primary matchbtn4"
										style="font-size: 12.5px"
										th:onclick="|location.href='@{/clubmatch}'|">
										목록으로</a>
									</button>
								</div>
							</div>
						</div>
						<!-- button close -->
					</div>
				</div>
			</div>
			</section>
	</div>
	<br>
	<br>
	<script th:inline='javascript'>
    
	$.ajax('regiBtnAjax', {
		type: 'get',
	}).done(results => {
		if(results == 0){
			console.log("로그인 안됨");
			$('#regiBtn,#applyBtn,#updateBtn,#deleteBtn,#selectClub').css('display','none');
		}else{
			
		}
	}).fail(err => console.log(err));	
	
	
			let matchNo = [[${clubMatchInfo.matchNo}]]
            $('#applyBtn').on("click", function(e) {
            let clubNo = $('[name="clubNo"]').val();
            	console.log('applyBtn');
            	Swal.fire({
          		  title: "신청 하시겠습니까?",
          		  text: "신청을 원하시면 예를 눌러주세요.",
          		  icon: "warning",
          		  showCancelButton: true,
          		  confirmButtonColor: "#3085d6",
          		  cancelButtonColor: "#d33",
          		  confirmButtonText: "예"
          		}).then((result) => {
          		  if (result.isConfirmed) {
          			  //내가 속한 클럽이 하나일때 			  
          			  
          			$.ajax({
                      	 type: 'POST',
                      	 url: 'clubDetailInsert',
                      	 data: {matchNo, clubNo},
                        success: function(result) {
		          		    Swal.fire({
		          		      title: "신청 완료!",
		          		      text: "신청 되었습니다.",
		          		      icon: "success"
	          		    }).then((result) => {
	          			location.href=`/clubmatchdetail?matchNo=${matchNo}`
	          		    })
	          		  }
	          		});
	                	 }
	                })
	            })
	            
            
            $('#deleteBtn').on("click", function(e) {
            	console.log('deleteBtn');
            	Swal.fire({
  				  title: "삭제 하시겠습니까?",
  				  text: "삭제를 원하시면 예를 눌러주세요.",
  				  icon: "warning",
  				  showCancelButton: true,
  				  confirmButtonColor: "#3085d6",
  				  cancelButtonColor: "#d33",
  				  confirmButtonText: "예"
  				}).then((result) => {
  				  if (result.isConfirmed) {
  					  console.log(result);
  	            	$.ajax({
  	            		type: 'POST',
  	            		url: 'clubDetailDelete',
  	            		data: {matchNo},
  	            		success: function(result){
  				    Swal.fire({
  				      title: "삭제 완료!",
  				      text: "삭제 되었습니다.",
  				      icon: "success"
  				    }).then((result) => {
  				      location.href='clubmatch'
  				  })
  	            		}
  			 	});
            	}
            	})
            })
            </script>
</th:block>

</html>