<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main-layout}">

	<th:block layout:fragment="content">
		 <!-- match sub menu -->
            <div class="container mb-4">
				<ul class="nav d-flex justify-content-around text-center matchsidevar">
                    <li class="d-flex flex-column"><a href="/"><img src="assets/img/match/icon/icon1.png" class=" miconimg">매치</a></li>
                    <li class="d-flex flex-column"><a href="clubmatch"><img src="assets/img/match/icon/icon2.png" class=" miconimg">클럽</a></li>
                    <li class="d-flex flex-column"><a href="contestmatch"><img src="assets/img/match/icon/icon3.png" class=" miconimg">대회</a></li>
                    <li class="d-flex flex-column"><a href="startermatch"><img src="assets/img/match/icon/icon4.png" class=" miconimg">스타터</a></li>
                </ul>
            </div>
            <!-- End match sub menu  -->

<div class="blog-single gray-bg">
        <div class="container mdtcontainer">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article">
                        <div class="article-img">
                            <img src="assets/img/match/crt/crt1.jpg" title="" alt="">
                        </div>
                        <div class="widget-title">
                            <h3 class="mdttitle">Latest Post</h3>
                        </div>
                        <div class="article-content">
                        <ul>
                        	<li>성별</li>
                        	<li>성별</li>
                        	<li>성별</li>
                        	<li>성별</li>
                        </ul>
                        </div>                        
                    </article>
                </div>
                                
                <div class="col-lg-4 m-15px-tb blog-aside">
                    <!-- Author -->
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3 class="mdttitle">장소 안내</h3>
                        </div>
                        <div class="widget-body">
                            <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores</p>
                        </div>
                    </div>
                    <!-- End Author -->
                    <!-- Trending Post -->
                    <div class="widget widget-post">
                        <div class="widget-title">
                            <h3 class="mdttitle">Trending Now</h3>
                        </div>
                        <div class="widget-body">

                        </div>
                    </div>
                    <!-- End Trending Post -->
                    <!-- Latest Post -->
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3 class="mdttitle">Latest Post</h3>
                        </div>
                        <div class="widget-body">
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Latest Post -->                    
                </div>
            </div>
        </div>
    </div>
            
	</th:block>

</html>