<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main-layout}">

	<th:block layout:fragment="content">
		 <!-- match sub menu -->
            <div class="container mb-4">
				<ul class="nav d-flex justify-content-around text-center matchsidevar">
                    <li class="d-flex flex-column"><a href="/"><img src="assets/img/match/icon/icon1.png" class=" miconimg">매치</a></li>
                    <li class="d-flex flex-column"><a href="clubmatch"><img src="assets/img/match/icon/icon2.png" class=" miconimg">클럽</a></li>
                    <li class="d-flex flex-column"><a href="contestmatch"><img src="assets/img/match/icon/icon3.png" class=" miconimg">대회</a></li>
                    <li class="d-flex flex-column"><a href="startermatch"><img src="assets/img/match/icon/icon4.png" class=" miconimg">스타터</a></li>
                </ul>
            </div>
            <!-- End match sub menu  -->

	<div class="blog-single gray-bg mctdeall">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article">
                        <div class="article-img">
                            <img src="assets/img/match/crt/crt1.jpg" title="" alt="">
                        </div>
                        <div class="article-title">
                            <div class="media">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>닉네임</label>
                                    <span>성별</span><span>레벨</span><span>매너점수</span>
                                </div>
                            </div>
                        </div>                        
                        <div class="article-content">
                        	<p>경기 방식 [[${matchInfo.gameWay}]]</p>
                        	<p>인원 수 [[${matchInfo.recruitPsnNum}]]</p>
                        	<p>모집 성별 [[${matchInfo.gen}]]</p>
                        	<p>레벨 [[${matchInfo.lv}]]</p>
                        </div>                        
                    </article>
                </div>
                                
                
                <div class="col-lg-4 m-15px-tb blog-aside">
                 <!-- Latest Post -->
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3 class="mdttitle">장소 안내</h3>
                        </div>
                        <div class="widget-body">
                            <div class="latest-post-aside media">
                            	<p>경기 시간</p>
                            </div>
                            <div class="latest-post-aside media">
                                <p>코트장 이름 [[${matchInfo.crtroomName}]]</p>
                            <div class="lpa-right">
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                            	<p>코트장 위치 [[${matchInfo.crtroomLocation}]]</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Latest Post -->
                    
                    <!-- Author -->
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3 class="mdttitle">인당 요금</h3>
                        </div>
                        <div class="widget-body">
							<p>코트 사용 요금 [[${matchInfo.crtUseAmt}]]</p>     
                    </div>
                    <!-- End Author -->                              
                </div>
                <!-- button -->
                <div class="product__bottom mtdbtn">
					<div class="cart__action__btn">
						<td class="text-end">
			                <button type="button" class="btn btn-primary matchbtn4" data-bs-toggle="modal"
                                    data-bs-target="#backdrop">매치신청</button>
			            </td>
						<div class="quantity cart__quantity">
							<button type="button" class="decressQnt">
								<span class="bar"></span>
							</button>
							<input class="qnttinput" type="number" disabled value="0"
								min="01" max="100" />
							<button type="button" class="incressQnt">
								<span class="bar"></span>
							</button>
						</div>
					</div>
					<div class="cart__action__btn">
						<td class="text-end">
			                <button type="button" class="btn btn-primary matchbtn4">목록으로</button>
			            </td>
						<div class="quantity cart__quantity">
							<button type="button" class="decressQnt">
								<span class="bar"></span>
							</button>
							<input class="qnttinput" type="number" disabled value="0"
								min="01" max="100" />
							<button type="button" class="incressQnt">
								<span class="bar"></span>
							</button>
						</div>
					</div>
				</div>
				<!-- button close -->
            </div>
        </div>
    </div>
    
   						 <!--Disabled Backdrop Modal -->
                            <div class="modal fade text-left" id="backdrop" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel4">신청 하시겠습니까?</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="mb-0 mtmodal">예 버튼을 누를 시 매치 신청이 완료됩니다.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary"
                                                data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">아니오</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ms-1 mctdbtntn" data-bs-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block ">예</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
           
	</th:block>

</html>