<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<!-- match sub menu -->
	<div class="mctdeall">
		<div class="container mb-4">
			<ul
				class="nav d-flex justify-content-around text-center matchsidevar">
				<li class="d-flex flex-column"><a href="/"><img
						src="assets/img/match/icon/icon1.png" class=" miconimg">매치</a></li>
				<li class="d-flex flex-column"><a href="clubmatch"><img
						src="assets/img/match/icon/icon2.png" class=" miconimg">클럽</a></li>
				<li class="d-flex flex-column"><a href="contestmatch"><img
						src="assets/img/match/icon/icon3.png" class=" miconimg">대회</a></li>
				<li class="d-flex flex-column"><a href="startermatch"><img
						src="assets/img/match/icon/icon4.png" class=" miconimg">스타터</a></li>
			</ul>
		</div>

		<div class="container-fluid mb-2 bg-light-info mtdrsvtitle">
			<div class="container pt-3 pb-3">
				<h5 class="card-title mb-4 mtitle">코트</h5>
				<div class="input-group mb-3 mtcrsvbtn">
					<input type="text" class="form-control" placeholder="코트명 입력"
						aria-describedby="duplicateBtn" id="memberId" name="memberId"
						required>
					<button class="btn btn-success matchregibtn" type="button"
						id="duplicateBtn">중복확인</button>
				</div>
			</div>

			<!-- calendar start  -->
			<div class="container pt-3 pb-3">
				<div class="col-md-6">
					<h5 class="card-title mb-4 mtitle">매치 일자</h5>
					<div class="modal-body mtcrsvbtn2">
						<input type="date" class="form-control flatpickr-always-open"
							placeholder="예약 일자를 선택">
					</div>
				</div>
			</div>
			<!-- calendar close  -->
			<div class="container">
				<div>
					<div class="card">
						<div class="card-header">
							<h5 class="card-title mtitle mb-4">예약 시간 선택</h5>

							<div class="product-detail__wrapper">
								<div class="product-detail__attr">
									<div class="product__attr">
										<ul class="product__attr--size">
											<li style="width: 100%; height: 50px;"><input
												type="radio" name="filterBySize" id="sizeXXL-01" value="xxl" />
												<label for="sizeXXL-01" style="height: 35px;">9:00 ~
													11:00</label></li>
											<li style="width: 100%; height: 50px;"><input
												type="radio" name="filterBySize" id="sizeXL-01" value="xl" />
												<label for="sizeXL-01" style="height: 35px;">11:00 ~
													13:00</label></li>
											<li style="width: 100%; height: 50px;"><input
												type="radio" name="filterBySize" id="sizeL-01" value="l" />
												<label for="sizeL-01" style="height: 35px;">13:00 ~
													15:00</label></li>
											<li style="width: 100%; height: 50px;"><input
												type="radio" name="filterBySize" id="sizeM-01" value="m" />
												<label for="sizeM-01" style="height: 35px;">15:00 ~
													17:00</label></li>
											<li style="width: 100%; height: 50px;"><input
												type="radio" name="filterBySize" id="sizeS-01" value="s" />
												<label for="sizeS-01" style="height: 35px;">17:00 ~
													19:00</label></li>
											<li style="width: 98%; height: 50px;"><input
												type="radio" name="filterBySize" id="sizeX-01" value="x" />
												<label for="sizeX-01" style="height: 35px;">19:00 ~
													21:00</label></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<h5 class="card-title mtitle mb-4">매치 타입</h5>
							<div class="form-group">
								<select class="choices form-select">
									<option value="seoul">1:1</option>
									<option value="incheon">2:2</option>
									<option value="gyeonggi">그룹</option>
									<option value="gangwon">대회</option>
									<option value="choongchung">스타터</option>
								</select>
							</div>
						</div>

						<div class="col-6">
							<h5 class="card-title mtitle mb-4">경기 방식</h5>
							<div class="form-group">
								<select class="choices form-select">
									<option value="seoul">단식</option>
									<option value="incheon">남복</option>
									<option value="gyeonggi">여복</option>
									<option value="gangwon">랠리</option>
									<option value="choongchung">혼복</option>
								</select>
							</div>
						</div>

						<div class="col-6">
							<h5 class="card-title mtitle mb-4">모집 성별</h5>
							<div class="form-group">
								<select class="choices form-select">
									<option value="seoul">남</option>
									<option value="incheon">여</option>
									<option value="gyeonggi">무관</option>
								</select>
							</div>
						</div>

						<div class="col-6">
							<h5 class="card-title mtitle mb-4">레벨</h5>
							<div class="form-group">
								<select class="choices form-select">
									<option value="seoul">1.0</option>
									<option value="incheon">1.5</option>
									<option value="gyeonggi">2.0</option>
									<option value="gangwon">2.5</option>
									<option value="choongchung">3.0</option>
									<option value="junra">3.5</option>
									<option value="gyungsang">4.0</option>
								</select>
							</div>
						</div>

						<div class="col-6">
							<h5 class="card-title mtitle mb-4">코트비</h5>
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder=""
									id="memberName" name="memberName" required>
							</div>
						</div>

					</div>
				</div>
			</div>


			<!-- button -->
			<div class="product__bottom mtdbtn">
				<div class="cart__action__btn">
					<td class="text-end">
						<button type="button" class="btn btn-primary matchbtn4"
							data-bs-toggle="modal" data-bs-target="#backdrop">등록하기</button>
					</td>
					<div class="quantity cart__quantity">
						<button type="button" class="decressQnt">
							<span class="bar"></span>
						</button>
						<input class="qnttinput" type="number" disabled value="0" min="01"
							max="100" />
						<button type="button" class="incressQnt">
							<span class="bar"></span>
						</button>
					</div>
				</div>
				<div class="cart__action__btn">
					<td class="text-end">
						<button type="button" class="btn btn-primary matchbtn4">취소하기</button>
					</td>
					<div class="quantity cart__quantity">
						<button type="button" class="decressQnt">
							<span class="bar"></span>
						</button>
						<input class="qnttinput" type="number" disabled value="0" min="01"
							max="100" />
						<button type="button" class="incressQnt">
							<span class="bar"></span>
						</button>
					</div>
				</div>
			</div>
			<!-- button close -->

		</div>
</th:block>

</html>