<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">

	<!-- signup form -->
	<div class="container justify-content-center" id="signupForm">
		<form class="form form-vertical" action="matchregi" method="POST">
			<div class="form-body">
				<div class="text-center">
					<h3 class="my-4">매치 등록</h3>
				</div>
				<div th:text="${msg}"></div>
				<!-- <div class="col-3"></div> -->
			</div>

			<div class="justify-content-center">
				<div class="row justify-content-center" id="memberForm">
					<!-- <div class="col-3 "></div> -->

					<div class="col-lg-7 p-5 text-start shadow mb-5 ">
						<div class="container card text-center w-50">
							<!-- File uploader with image preview -->
						</div>

						<!-- 코트 찾기 -->
						<div class="col-6">
						<div class="input-group">
							<input type="text" class="form-control" autocomplete="off"
								placeholder="코트 찾기" data-bs-toggle="collapse"
								data-bs-target="#collapseExample" aria-expanded="false"
								aria-controls="collapseExample" id="search1">

							<button type="button" class="input-group-text">
								<i class="icon dripicons dripicons-search fs-3"></i>
							</button>
							<div class="collapse z-3 position-absolute mt-5" id="searchArea1">

								<div class="form-group">
									<select class="form-select" id="searchItem1">
									</select>
								</div>
							</div>
						</div>
						</div>
						<script>
						$('#search1').on('propertychange change keyup paste input', function(e){						
								let inputVal = $(e.target).val();								
								$('#searchArea1').addClass('show');					
								 $.ajax({
								        type: 'get',
								        url: 'searcharea',
								        data: {inputVal},
								        success: function (result) {
								        	$('#searchItem1').empty();
								        	//$('#searchItem').append('<optgroup label="코트">');
								        	$.each(result, function(index, data) { // 데이터 =item
								        		let b = `													 
					                                 <option value="${data.crtroomNo}">${data.crtroomName}</option>  `  										
					                                 $('#searchItem1').append(b)												
											});								        	
												b = '</optgroup>'
											$('#searchItem1').append(b)
								        },
								        error: () => console.log(error)
								    })
								
								if(inputVal == ''){
									$('#searchArea1').removeClass('show');
								}
								 
								
							})
						
						 $('#searchItem1').on('change propertychange click', function(e){
										console.log($(e.target).val())
										let crtNo = $(e.target).val();
										location.href = `courtDetail?crtroomNo=${crtNo}`
									})
					
					</script>

						<!-- <div class="row">
							<div class="col-8">
								<label for="crtroomNo">자주가는 코트</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="코트 입력"
										aria-describedby="crtroomBtn" id="crtroomNo" name="crtroomNo">
									<button class="btn btn-success" type="button" id="crtroomBtn">찾기</button>
								</div>
							</div>
						</div> -->

						<div class="row">
							<div class="col-6">
								<label for="region">매치 일자</label><br> <input type="date"
									id="matchDate" name="matchDate"
									class="form-control flatpickr-always-open"
									placeholder="예약 일자 선택">
							</div>
						</div>

						<div class="row">
							<div class="col-8">
								<label for="region">예약 시간 선택</label><br>
								<p>지원이가 아직 완성 안함</p>
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<label for="age">연령대</label><br>
								<div class="form-group">
									<select class="choices form-select" name="age" id="age">
										<optgroup label="연령대">
											<option value="a1">10대</option>
											<option value="a2">20대</option>
											<option value="a3">30대</option>
											<option value="a4">40대</option>
											<option value="a5">50대</option>
											<option value="a6">60대이상</option>
										</optgroup>
									</select>
								</div>
							</div>

							<div class="col-6">
								<label for="lv">구력</label><br>
								<div class="form-group">
									<select class="choices form-select" name="lv" id="lv">
										<optgroup label="구력">
											<option value="d1">입문</option>
											<option value="d2">2~5년</option>
											<option value="d3">5년이상</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<label for="gen">모집 성별</label><br>
								<div class="form-group">
									<select class="choices form-select" name="gen" id="gen">
										<optgroup label="성별">
											<option value="c1">남성</option>
											<option value="c2">여성</option>
										</optgroup>
									</select>
								</div>
							</div>

							<div class="col-6">
								<label for="ntrp">ntrp</label><br>
								<div class="form-group">
									<select class="choices form-select" id="ntrp" name="ntrp">
										<optgroup label="ntpr">
											<option value="e1">1.0</option>
											<option value="e2">1.5</option>
											<option value="e3">2.0</option>
											<option value="e4">2.5</option>
											<option value="e5">3.0</option>
											<option value="e6">3.5</option>
											<option value="e7">4.0이상</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<label for="gameWay">경기 방식</label><br>
								<div class="form-group">
									<select class="choices form-select" id="gameWay" name="gameWay">
										<optgroup label="경기방식">
											<option value="f1">단식</option>
											<option value="f2">남복</option>
											<option value="f3">여복</option>
											<option value="f4">랠리</option>
											<option value="f5">혼복</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-5">
								<label for="name">코트비</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid"
										placeholder="코트비 입력" id="crtUseAmt" name="crtUseAmt"
										maxlength="10" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<label for="name">코멘트</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid"
										placeholder="코멘트 입력" id="detailCtt" name="detailCtt">
								</div>
							</div>
						</div>

						<div class="col-4">
							<button type="button" class="mtntrpbtn" id="ntrpQ"
								href="javascript:void(0)" data-bs-toggle="modal"
								data-bs-target="#ntrpModal">NTRP이란?</button>
						</div>
						<div class="modal fade" id="ntrpModal" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div
								class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalCenterTitle">ntrp이란?
										</h5>
										<button type="button" class="close" data-bs-dismiss="modal"
											aria-label="Close">
											<i data-feather="x"></i>
										</button>
									</div>
									<div class="modal-body">
										<p>
											NTRP란 National Tennis Rating Program의 약자입니다.<br> 이는 미국
											테니스 협회(USTA)에서 개인의 테니스 실력을 평가하기 위해 만든 기준으로,<br> 세계에서 가장
											널리 통용되는 테니스 실력의 기준입니다.
										</p>
										<table class="table">
											<thead>
												<tr>
													<th>ntrp rating</th>
													<th>설명</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1.0</td>
													<td>테니스 라켓을 이제 막 들어 시작한 상태</td>
												</tr>
												<tr>
													<td>1.5</td>
													<td>테니스 경험이 있으나 게임을 하기엔 아직 미숙한 상태</td>
												</tr>
												<tr>
													<td>2.0</td>
													<td>랠리는 어느정도 가능하나 플레이를 지속하기엔 어려운 상태</td>
												</tr>
												<tr>
													<td>2.5</td>
													<td>일관성이 있는 랠리가 가능한 상태</td>
												</tr>
												<tr>
													<td>3.0</td>
													<td>코트 인식이 좋고, 스핀 및 고급 기술 사용가능한 상태</td>
												</tr>
												<tr>
													<td>3.5</td>
													<td>일관된 방향으로 공을 칠수 있는 레벨</td>
												</tr>
												<tr>
													<td>4.0</td>
													<td>정밀하고 지속적인 샷 랠리 가능한 레벨</td>
												</tr>
												<tr>
													<td>4.5이상</td>
													<td>대회 참가 가능 레벨</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-light-secondary"
											data-bs-dismiss="modal">
											<i class="bx bx-x d-block d-sm-none"></i> <span
												class="d-none d-sm-block">닫기</span>
										</button>
										<button type="button" class="btn btn-primary ms-1"
											data-bs-dismiss="modal">
											<i class="bx bx-check d-block d-sm-none"></i> <span
												class="d-none d-sm-block">확인</span>
										</button>
									</div>

								</div>
							</div>
						</div>
						<div class="ctrgbtns">
							<br>
							<button class="btn btn-success" type="submit">등록하기</button>
							<button class="btn btn-success" type="button"
								th:onclick="|location.href='@{/}'|">취소</button>
						</div>
					</div>
				</div>
				<!-- <div class="col-3 "></div> -->
			</div>

		</form>
	</div>

</th:block>

</html>