<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">

<th:block layout:fragment="content">

	<!-- forgotid form -->
	<div class="d-inline-flex justify-content-center">
		<div class="text-center mb-5 p-3">
			<div class="row">
				<div class="card-header">
					<h3 class="text-center mt-2 mb-4">아이디 찾기</h3>
				</div>
				<div class="p-5 border border-success-subtle mb-5">
					<input type="text" id="message" hidden="true" th:value="${message}">
					<input class="form-check-input" type="checkbox" name="phoneCk"
						id="phoneCk" hidden="true">
					<div class="col-12 text-start">
						<label for="phoneNo">휴대폰 번호</label><br>
						<div class="input-group mb-3">
							<input type="text" class="form-control is-invalid"
								placeholder="숫자만 입력 해주세요" aria-describedby="phoneNoBtn"
								id="phoneNo" name="phoneNo" maxlength="11" required>
							<button class="btn btn-success" type="button" id="forgotphoneNoBtn">인증하기</button>
						</div>
					</div>
					<div class="col-12 text-start" id="myId" hidden >
						<label for="memId">찾은 아이디(이메일)</label><br>
						<div class="input-group mb-3">
							<input type="text" class="form-control" id="memId" name="memId"
								readonly>
						</div>			
					</div>
				</div>
				<button class="btn btn-success" type="button"
					th:onclick="|location.href='@{/loginform}'|">돌아가기</button>
			</div>
		</div>
	</div>
		<script src="/assets/js/signup.js"></script>
	<!-- End forgotid form -->
</th:block>

</html>