<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
	<link rel="stylesheet"
		href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet"
		href="/assets/compiled/css/table-datatable-jquery.css">
		
	<style type="text/css">
		form {
			font-family: 'Noto Sans KR', sans-serif !important;
			width: auto !important;
		    height: auto !important;
		    padding: 7px 15px !important;
		    font-size: 12px !important;
		    font-weight: 600 !important;
		}
		.reviewOrder {	
		    width: auto !important;
		    height: auto !important;
		    padding: 7px 15px !important;
		    font-size: 12px !important;
		    font-weight: 600 !important;
		}
	</style>
</head>
<th:block layout:fragment="content">

	<!-- signup form -->
	<div class="container justify-content-center" id="signupForm">

		<form class="form form-vertical" action="signup" method="POST">
			<div class="form-body">
				<div class="text-center">
					<h3 class="my-4">회원가입</h3>
				</div>
				<input type="text" id="message" hidden="true" th:value="${message}">
				<div class="container my-3 p-2">
					<div class="d-flex justify-content-center">
						<div class="form-check mx-4">
							<input class="form-check-input" type="radio" name="memDiv" id="member" value="h1"> <label
								class="form-check-label" for="member">일반회원</label>
						</div>
						<div class="form-check mx-4">
							<input class="form-check-input" type="radio" name="memDiv" id="host" value="h3" checked>
							<label class="form-check-label" for="host">호스트회원</label>
						</div>
					</div>
				</div>
				<!-- <div class="col-3"></div> -->
			</div>

			<div class="justify-content-center">
				<div class="row justify-content-center" id="memberForm">
					<!-- <div class="col-3 "></div> -->

					<div class="col-lg-7 p-5 text-start shadow mb-5">

						<label for="memId">아이디(이메일)</label><br>
						<div class="input-group mb-3">
							<input type="text" class="form-control is-invalid" placeholder="영문 | 숫자만 입력 가능"
								aria-describedby="duplicateBtn" id="memId" name="memId" maxlength="40" autofocus
								required>
							<button class="btn btn-outline reviewOrder" type="button" id="duplicateBtn">중복확인</button>
							<div class="invalid-feedback" id="memIdFeedback"></div>
							<input type="checkbox" id="idck" hidden="true">
						</div>
						<div class="col-8">
							<label for="pwd">비밀번호</label><br>
							<div class="input-group mb-3">
								<input type="password" class="form-control is-invalid" placeholder="비밀번호 8자리이상"
									aria-describedby=pwview id="pwd" name="pwd" pattern=".{8,50}" title="최소8자리입력해주세요"
									required>
								<button class="btn btn-outline reviewOrder" type="button" id="pwview">
									<i class="fa-regular fa-eye-slash"></i>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-5">
								<label for="name">이름</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid" placeholder="한글만 입력 가능" id="name"
										name="name" maxlength="10" required>
								</div>
							</div>
							<div class="col-7">
								<label for="phoneNo">휴대폰 번호</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid" placeholder="숫자만 입력 해주세요"
										aria-describedby="phoneNoBtn" id="phoneNo" name="phoneNo" maxlength="11"
										required>
									<button class="btn btn-outline reviewOrder" type="button" id="phoneNoBtn">인증하기</button>
								</div>
							</div>
						</div>
						<div class="col-8">
							<label for="hostBusinessRegiNo">사업자 등록 번호</label><br>
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="사업자등록번호" id="hostBusinessRegiNo"
									name="hostBusinessRegiNo" maxlength="10">
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-3">
								<label for="hostBank">은행</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="은행명" id="hostBank"
										name="hostBank" maxlength="10">
								</div>
							</div>
							<div class="col-3">
								<label for="hostDepositor">예금주명</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="예금주명" id="hostDepositor"
										name="hostDepositor" maxlength="10">
								</div>
							</div>
							<div class="col-6">
								<label for="hostActNo">사업자 계좌번호</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="계좌번호" id="hostActNo"
										name="hostActNo" maxlength="10">
								</div>
							</div>
						</div>

						<button class="btn btn-outline reviewOrder" type="submit">회원 가입</button>
						<button class="btn btn-outline reviewOrder" type="reset">취소</button>
						<button class="btn btn-outline reviewOrder" type="button"
							th:onclick="|location.href='@{/loginform}'|">돌아가기</button>

					</div>
					<!-- <div class="col-3 "></div> -->
				</div>
			</div>
		</form>
	</div>

	<!-- End signup form -->
	<script>
		//정규식 모음
		let email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
		let korean = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
		let phoneNum = /^[0-9]{3}[0-9]{3,4}[0-9]{4}/;
		//특수문자 필터
		let specialChar = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
		//공백 피터
		let blank = /[\s]/g;
		//한글만 필터
		let onlyKorean = /[\s]|[A-Za-z0-9]|[ \[\]{}()<>?_-]|[`~!@#$%^&*|\\\'\";+=,.:\/?]/g;
		// 영문 or 숫자만 필터
		let onlyEngNum = /[\s]|[A-Z]|[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[\{\}\[\]\/?,;:|\)*~`!^\-_+<>\#$%&\\\=\(\'\"]/;
		// 숫자만 필터
		let onlyNum = /[\s]|[a-zA-Z]|[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[\{\}\[\]\/?,;:|\)*~`!^\-_+<>\#$%&\\\=\(\'\"]/;

		//아이디 체크 여부 확인 (true면 했음)
		let idchapply = $('#idck').is(':checked');
		//아이디 이메일형식 체크, 소문자,숫자만 입력
		$('#memId').on('propertychange change keyup paste input', function (e) {
			$(e.target).val($(e.target).val().replace(onlyEngNum, ''));
			let intext = $(e.target).val();

			if (email.test(intext)) {
				$(e.target).prop("class", "form-control is-valid");
			} else if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid");
				$('#memIdFeedback').text(``);
			} else {
				$(e.target).prop("class", "form-control is-invalid");
				$('#memIdFeedback').text(`이메일형식이 올바르지 않습니다.`);
			}
		})

		//중복확인
		$('#duplicateBtn').on('click', function (e) {
			let memId = $('#memId').val();
			if (memId.length < 1) {
				Swal2.fire({
					icon: "error",
					title: "아이디를 입력해주세요",
				})
				return;
			}
			if (!email.test(memId)) {
				Swal2.fire({
					icon: "error",
					title: "이메일 형식으로 아이디를 입력해주세요",
				})
				return;
			}
			$.ajax({
				type: 'POST',
				url: 'idcheck',
				data: { memId: memId },
				dataType: 'json',
				success: function (result) {
					if (result) {
						$('#idck').prop('checked', true);
						Swal2.fire({
							icon: "success",
							title: "가입 가능한 아이디입니다",
						})
					} else {
						$('#idck').prop('checked', false);
						Swal2.fire({
							icon: "error",
							title: "아이디가 중복 됩니다",
						})
					}
				},
				error: () => console.log(error)
			})
		})

		//이름 한글만 입력되도록
		$('#name').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(onlyKorean, ''));

			let intext = $(e.target).val();

			if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid")
			} else if (intext.length > 1) {
				$(e.target).prop("class", "form-control is-valid");
			} else {
				$(e.target).prop("class", "form-control is-invalid")
			}
		})

		//닉네임 특수문자만 막음
		$('#nick').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(specialChar, ''));

			let intext = $(e.target).val();

			if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid")
			} else if (intext.length > 1) {
				$(e.target).prop("class", "form-control is-valid");
			} else {
				$(e.target).prop("class", "form-control is-invalid")
			}
		})

		//비밀번호 8자리이상, 공백막음
		$('#pwd').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(blank, ''));

			let intext = $(e.target).val();

			if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid")
			} else if (intext.length >= 8) {
				$(e.target).prop("class", "form-control is-valid");
			} else {
				$(e.target).prop("class", "form-control is-invalid")
			}
		})

		//폰넘버 숫자만 입력, 공백 막음
		$('#phoneNo').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(onlyNum, ''));

			let intext = $(e.target).val();

			if (phoneNum.test(intext)) {
				$(e.target).prop("class", "form-control is-valid");
			} else if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid");
			} else {
				$(e.target).prop("class", "form-control is-invalid");
			}
		})
		//비밀번호 보기
		$(document).ready(function () {
			$("#pwview").on("click", function (e) {
				$("#pwview").toggleClass("active");

				if ($("#pwview").hasClass("active")) {
					$("#pwview > i").attr("class", "fa-regular fa-eye");
					$("#pwd").attr("type", "text");
				} else {
					$("#pwview > i").attr("class", "fa-regular fa-eye-slash");
					$("#pwd").attr("type", "password");
				}
			});
			if ($('#message').val() != '') {
				Toast.fire({
					icon: "error",
					title: $('#message').val(),
				})
			}
			$('#hostForm').hide();

			$('#submitBtn').on('click', function (e) {
				e.preventDefault();
				if ($('#phoneCk').is(':checked') && $('#idck').is(':checked')) {
					$('form').submit();
				} else if (!$('#idck').is(':checked')) {
					Swal2.fire({
						icon: "error",
						title: "아이디 중복 확인이 필요합니다.",
					})
				} else {
					Swal2.fire({
						icon: "error",
						title: "본인 인증이 필요합니다.",
					})
				}
			})

			IMP.init("imp48072683");
			$('#phoneNoBtn').on('click', function (e) {
				if ($('#phoneNo').val() == '') {
					Swal2.fire({
						icon: "error",
						title: "번호를 입력 해 주세요.",
					})
					return;
				}
				IMP.certification({
				}, function (rsp) {
					if (rsp.success) {
						let impUid = rsp.imp_uid;
						Swal2.fire({
							icon: "success",
							title: "본인 인증이 완료되었습니다.",
						})
						$('#phoneCk').prop('checked', true);
					} else {
						console.log("실패")
					}
				});
			})

			$('#forgotphoneNoBtn').on('click', function (e) {

				if ($('#phoneNo').val() == '') {
					Swal2.fire({
						icon: "error",
						title: "번호를 입력 해 주세요.",
					})
					return;
				}

				IMP.certification({
				}, function (rsp) {
					if (rsp.success) {
						Swal2.fire({
							icon: "success",
							title: "본인 인증이 완료되었습니다.",
						})
						$('#phoneCk').prop('checked', true);

						let phoneNo = $('input[name="phoneNo"]').val();

						$.ajax({
							type: 'POST',
							url: 'forgotid',
							contentType: 'application/json',
							data: JSON.stringify({ phoneNo: phoneNo }),
							success: function (result) {
								console.log(result);
								$('#myId').prop('hidden', false);
								$('#memId').val(result);
								Swal2.fire({
									icon: "success",
									title: "아이디 찾기 완료",
								})
							}
							,
							error: () => console.log(error)
						})
					} else {
						Swal2.fire({
							icon: "error",
							title: "본인 인증 실패",
						})
					}
				});
			});

			//멤버 호스트 메뉴 전환
			$('input:radio[name=memDiv]').on("change", function (e) {
				let ckId = $(e.target).prop('id');

				if (ckId == 'member') {
					location.href = "signup";
				} else {
					location.href = "signuphost";
				}
			});
		})

	</script>


</th:block>

</html>