<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<script src="/assets/extensions/sweetalert2/sweetalert2.min.js"></script>
<script src="/assets/static/js/pages/sweetalert2.js"></script>
</head>

<th:block layout:fragment="content">
	<!-- Login form -->
	<div class="container mx-auto">
		<div class="text-center mb-5 p-3 col-lg-6 mx-auto">
			<div class="row align-items-center">
				<div class="card-header">
					<div class="logo">
						<h3
							style="font-family: 'Bungee', sans-serif; color: #3c3c3c; margin-bottom: 0;">
							<a href="/" style="font-size: 1.8rem; padding: 0;"> <img
								src="/assets/img/logo.png" alt="logo"
								style="padding-right: 7px; margin-bottom: 5px; color: #3c3c3c;" />
								<span style="color: #3c3c3c;">TennisWing</span>
							</a>
						</h3>
					</div>
				</div>
				<div class="p-5 border border-success-subtle mb-5">
					<input type="text" id="message" hidden="true" th:value="${message}">
					<div th:if="${param.error}" class="text-danger mb-2"
						th:text="${message}"></div>
					<form action="/loginProc" method="post">
						<div class="form-group position-relative has-icon-left mb-4">
							<input type="text" class="form-control form-control-xl"
								placeholder="이메일 아이디" id="memId" name="memId">
							<div class="form-control-icon">
								<i class="bi bi-person"></i>
							</div>
						</div>
						<div class="form-group position-relative has-icon-left mb-4">

							<input type="password" class="form-control form-control-xl"
								aria-describedby=pwview placeholder="비밀번호" id="pwd" name="pwd">
							<div class="form-control-icon">
								<i class="bi bi-shield-lock"></i>
							</div>

						</div>

						<button type="submit" class="btn btn-primary btn-block btn-lg">로그인</button>
					</form>
					<p class="nav-link mt-5 fw-bold text-center">
						<button th:onclick="|location.href='@{/signup}'|"
							class="btn btn-success inline-block">회원가입</button>
					</p>
					<p class="nav-link mt-2 fw-bold text-center">
						<a href="forgotid">아이디찾기</a> | <a href="forgotpw">패스워드찾기</a>
					</p>
				</div>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
	
	let message = [[${msg}]]

		if (message!= null) {	
			Swal2.fire({
                    icon: "success",
                    title: message,
                })
		}
	</script>
	<!-- End Login form -->
</th:block>

</html>