<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 col-md-auto">
				<div th:replace="/member/mypage-sidemenu :: sidemenu"></div>
			</div>
			<div class="col-lg-8 col-md-auto" id="mypage">
				<!-- Profile Table Start -->
				<div class="cart__form">
					<table>
						<thead><h5 class="p-3 my-2">주문 내역</h5>
							<tr>
								<th class="cart-pd__thumb">일자</th>
								<th class="cart-pd__qty">코트장이름</th>
								<th class="cart-pd__price">매치상대</th>
								<th class="cart-pd__status">상태</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<td class="cart-pd__date text-start" data-title="Date">
									Order on <br /> 25 April 2022
								</td>
								<td class="cart-pd__thumb">
									<div class="product-card--inline">
										<a href="product-single.html" class="product__image"> <img
											src="assets/images/cart/cart-03.png" alt="product" />
										</a>
										<div class="product__content">
											<h5 class="product__title">
												<a href="#">All Natural Blueberries </a>
											</h5>
											<ul class="product__info">
												<li class="info-item">Weight: <span>5kg</span></li>
											</ul>
										</div>
									</div>
								</td>
								<td class="cart-pd__qty" data-title="Quantity">2</td>
								<td class="cart-pd__Price" data-title="Price">$12.22</td>

							</tr>
						</tbody>
					</table>
				</div>
				<!-- Profile Card End -->
			</div>
		</div>
	</div>

	<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog"
		aria-labelledby="galleryModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="galleryModalTitle">프로필사진</h5>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<i data-feather="x"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="d-flex justify-content-center">
						<img class="d-block" th:src="${attachList.attachPath}">
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>