<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<link rel="stylesheet"
		href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet"
		href="/assets/compiled/css/table-datatable-jquery.css">
</head>
<th:block layout:fragment="content">
	<h3 class="container p-3">쇼핑</h3>
	<div class="container" id="mypage">
		<div class="row">
			<div class="col-lg-4 col-md-auto">
				<div th:replace="member/mypage-sidemenu :: sidemenu"></div>
			</div>
			<div class="col-lg-8 col-md-auto">				
				<div class="cart__form mt-3">
					<table class="table" id="table1">
						<thead>
							<tr>
								<th>사진</th>
								<th>상품명</th>
								<th>카테고리</th>
								<th>가격</th>
								<th>삭제</th>		
							</tr>
						</thead>
						<tbody>
						
						<th:block th:each="o : ${order}">
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td th:if="${o.CLUB_APPROVE == '대기'}"><button type="button" class="btn btn-success" th:onclick="cancel11()">가입취소</button>			
								<td th:if="${o.CLUB_APPROVE == '승인'}"><button type="button" class="btn btn-light" disabled>가입취소</button>			
							</tr>
						</th:block>	
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>