<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<h3 class="container p-3">매치 이력</h3>
	<div class="container" id="mypage">
		<div class="row">
			<div class="col-lg-4 col-md-auto">
				<div th:replace="/member/mypage-sidemenu :: sidemenu"></div>
			</div>
			<div class="col-lg-8 col-md-auto">
				<!-- Profile Table Start -->
				<div class="cart__form">
					<table>
						<thead>
							<h3>매치 이력</h3>
							<tr>
								<th class="cart-pd__thumb">일자</th>
								<th class="cart-pd__qty">코트장이름</th>
								<th class="cart-pd__price">매치상대</th>
								<th class="cart-pd__qty">매치상태</th>
								<th class="cart-pd__status">코멘트</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${match.size == 0}">
									<td colspan="5">매치 이력이 없습니다.</td>
							</tr>
							<th:block th:each="m : ${match}">
								<tr>
									<td class="cart-pd__date text-start" data-title="Date">
										[[${m.MATCH_DATE}]]</td>
									<td class="cart-pd__thumb">
										<div class="product-card--inline">
											<div class="product__content">
												<h5 class="product__title">[[${m.CRTROOM_NAME}]]</h5>
												<ul class="product__info">
													<li class="info-item">Weight: <span>5kg</span></li>
												</ul>
											</div>
										</div>
									</td>
									<td class="cart-pd__qty" data-title="Quantity">[[${m.OPP_MATCH}]]</td>
									<td class="cart-pd__qty" data-title="Quantity">[[${m.MATCH_STATE}]]</td>
									<td>
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingTwo">
												<button class="collapsed btn btn-outline-success"
													type="button" data-bs-toggle="collapse"
													data-bs-target="#collapseTwo" aria-expanded="false"
													aria-controls="collapseTwo">코멘트보기</button>
											</h2>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="5" id="collapseTwo"
										class="accordion-collapse collapse"
										aria-labelledby="headingTwo">
										<div class="accordion-body">
											<div class="input-group mb-3">
												<input type="text" class="form-control" placeholder="코멘트 입력"
													id="repCtt" name="repCtt">
												<button class="btn btn-success regiBtn" type="button">등록</button>
											</div>
										</div>
									</td>
								</tr>

								
							</th:block>
						</tbody>
					</table>
				</div>
				<!-- Profile Card End -->


			</div>
		</div>
	</div>



	<script>
	function myPageAjax(page) {
		
		$.ajax({
			type: 'GET',
			url: 'matchList',
			data: {matchDate, page, gameWay, gen, location, ntrp},
			success: function(result) {
				//리스트
				$('#matchList').empty();
				for(let matchInfo of result.matchList){
					let b = `<tr class="navbar-brand">					
					<td class="text-center"><b>${dateFormat(matchInfo.matchDate)}</b></td>
					<td>${matchInfo.time}시</td>
					<td>${matchInfo.gameWayName}</td>
					<td>${matchInfo.crtroomName}</td>
					<td>${matchInfo.genName}</td>
					<td class="text-end mtbt">
						<a class="btn btn-primary matchbtn1" href="matchdetail?matchNo=${matchInfo.matchNo}">${matchInfo.progStateName}</a>
					</td>
				</tr>`
					$('#matchList').append(b)
				}
				
				showPage(result.selectCount);
			}
		})
	}
	</script>


</th:block>

</html>