<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<link rel="stylesheet"
		href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet"
		href="/assets/compiled/css/table-datatable-jquery.css">
</head>
<th:block layout:fragment="content">
	<h3 class="container p-3">매치 이력</h3>
	<div class="container" id="mypage">
		<div class="row">
			<div class="col-lg-4 col-md-auto">
				<div th:replace="member/mypage-sidemenu :: sidemenu"></div>
			</div>
			<div class="col-lg-8 col-md-auto">				
				<div class="table-responsive mt-5">
					<table class="table" id="table1">
						<thead>
							<tr>
								<th>주문일자</th>
								<th>상품명</th>
								<th>가격</th>
								<th>주문상태</th>
								<th>배송상태</th>		
							</tr>
						</thead>
						<tbody>
						
						<th:block th:each="o : ${order}">
							<tr>
								<td>[[${o.APPLY_DATE}]]</td>
								<td>[[${o.CLUB_NAME}]]</td>
								<td>[[${o.CLUB_REGION}]]</td>
								<td>[[${o.CLUB_APPROVE}]]</td>
								<td th:if="${o.CLUB_APPROVE == '대기'}"><button type="button" class="btn btn-success" th:onclick="cancel11()">가입취소</button>			
								<td th:if="${o.CLUB_APPROVE == '승인'}"><button type="button" class="btn btn-light" disabled>가입취소</button>			
							</tr>
						</th:block>	
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



	<script>
	function myPageAjax(page) {
		
		$.ajax({
			type: 'GET',
			url: 'matchList',
			data: {matchDate, page, gameWay, gen, location, ntrp},
			success: function(result) {
				//리스트
				$('#matchList').empty();
				for(let matchInfo of result.matchList){
					let b = `<tr class="navbar-brand">					
					<td class="text-center"><b>${dateFormat(matchInfo.matchDate)}</b></td>
					<td>${matchInfo.time}시</td>
					<td>${matchInfo.gameWayName}</td>
					<td>${matchInfo.crtroomName}</td>
					<td>${matchInfo.genName}</td>
					<td class="text-end mtbt">
						<a class="btn btn-primary matchbtn1" href="matchdetail?matchNo=${matchInfo.matchNo}">${matchInfo.progStateName}</a>
					</td>
				</tr>`
					$('#matchList').append(b)
				}
				
				showPage(result.selectCount);
			}
		})
	}
	</script>


</th:block>

</html>