<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<link rel="stylesheet"
	href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet"
	href="/assets/compiled/css/table-datatable-jquery.css">
</head>
<th:block layout:fragment="content">
	<h3 class="container p-3">나의 클럽목록</h3>
	<div class="container" id="mypage">
		<div class="row">
			<div class="col-lg-3 col-md-auto">
				<div th:replace="member/mypage-sidemenu :: sidemenu"></div>
			</div>
			<div class="col-lg-9 col-md-auto">
				<div class="cart__form mt-3">
					<table class="table" id="club">
						<thead>
							<tr>
								<th>가입일자</th>
								<th>클럽명</th>
								<th>구분</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="c : ${clubList}">
								<tr>
									<td class="cart-pd__date text-start" data-title="Date">
										[[${#dates.format(c.APPLY_DATE,'yyyy-MM-dd')}]]</td>
									<td class="cart-pd__thumb" style="cursor: pointer;"
									th:onclick="|location.href='@{/clubdetail(clubNo=${c.CLUB_NO})}'|">
										<div class="product-card--inline">
											<div class="product__content">
												<h5 class="product__title" style="margin: 0;">[[${c.CLUB_NAME}]]</h5>
											</div>
										</div>
									</td>
									<td>
									<span th:if="${#strings.equals(c.MEM_ID,loginId)}">클럽장</span>
									<span th:unless="${#strings.equals(c.MEM_ID,loginId)}">회원</span>
									</td>
								</tr>


							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script
	src="/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
<script
	src="/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function() {
	$("#club").DataTable(
			{
				responsive : true,
				pagingType: 'simple',
			    "language": {
			        "info": "Page _PAGE_ of _PAGES_",
			        "lengthMenu": "_MENU_ ",
			        "search": "",
			        "searchPlaceholder": "검색.."
			    },
			    columnDefs: [
			        // 2번째 항목 넓이를 100px로 설정
			        { targets: 1, width: 200 }
			    ]
			})
	});


	
	</script>



</th:block>

</html>