<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<link rel="stylesheet"
		href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet"
		href="/assets/compiled/css/table-datatable-jquery.css">
	<style>
		body{
			font-family: 'Noto Sans KR', sans-serif !important;
		}
	</style>
</head>
<th:block layout:fragment="content">
	<h3 class="container p-3">코트 예약</h3>
	<div class="container" id="mypage">
		<div class="row">
			<div class="col-lg-3 col-md-auto">
				<div th:replace="member/mypage-sidemenu :: sidemenu"></div>
			</div>
			<div class="col-lg-9 col-md-auto">				
				<div class="cart__form">
					<table class="table" id="courtTable">
						<thead>
							<tr>
								<th style="font-family: 'Noto Sans KR', sans-serif !important;">결제일자</th>
								<th style="font-family: 'Noto Sans KR', sans-serif !important;">코트장 이름</th>
								<th style="font-family: 'Noto Sans KR', sans-serif !important;">금액</th>
								<th style="font-family: 'Noto Sans KR', sans-serif !important;">예약날짜</th>
								<th style="font-family: 'Noto Sans KR', sans-serif !important;">예약상태</th>
								<th style="font-family: 'Noto Sans KR', sans-serif !important;">예약취소</th>
								<th style="font-family: 'Noto Sans KR', sans-serif !important;">후기작성</th>
							</tr>
						</thead>
						<tbody>
						<th:block th:each="crt : ${court}">
							<tr>
								<td style="font-family: 'Noto Sans KR', sans-serif !important;">[[${#dates.format(crt.PAY_DATE,'yyyy-MM-dd')}]]</td>
								<td style="font-family: 'Noto Sans KR', sans-serif !important;">[[${crt.CRTROOM_NAME}]]</td>
								<td style="font-family: 'Noto Sans KR', sans-serif !important;" class="reservePrice">[[${#numbers.formatInteger(crt.RESERVE_PRICE,3,'COMMA')}]]원</td>
								<td style="font-family: 'Noto Sans KR', sans-serif !important;" class="reserveDate" id="reserveNo" th:attrappend="id=${crt.RESERVE_NO}">[[${#dates.format(crt.RESERVE_DATE,'yyyy-MM-dd')}]]</td>
								<th:block th:if="${crt.RESERVE_STATE == '이용전'}">
									<td style="font-family: 'Noto Sans KR', sans-serif !important;" class="reserveState" id="reserveUid" th:attrappend="id=${crt.RESERVE_UID}"><span class="badge bg-light-warning" style="color: #ffc900">[[${crt.RESERVE_STATE}]]</span></td>
								</th:block>
								<th:block th:if="${crt.RESERVE_STATE == '이용후'}">
									<td style="font-family: 'Noto Sans KR', sans-serif !important;" class="reserveState" id="reserveUid" th:attrappend="id=${crt.RESERVE_UID}"><span class="badge bg-light-success" style="color: #00B96D;">[[${crt.RESERVE_STATE}]]</span></td>
								</th:block>
								<th:block th:if="${crt.RESERVE_STATE == '취소'}">
									<td style="font-family: 'Noto Sans KR', sans-serif !important;" class="reserveState" id="reserveUid" th:attrappend="id=${crt.RESERVE_UID}"><span class="badge bg-light-danger" style="color: #eb5e28;">[[${crt.RESERVE_STATE}]]</span></td>
								</th:block>
								<td th:if="${crt.RESERVE_STATE == '이용전'}"><button type="button" class="cancelBtn btn btn-outline reserveCancel" style="font-family: 'Noto Sans KR', sans-serif !important; color: #eb5e28; width: 85px; font-weight: bold; font-size: 13px;" id="reservePayNo" th:attrappend="id=${crt.RESERVE_PAY_NO}">예약취소</button></td>	
								<td th:if="${crt.RESERVE_STATE == '이용후'}"><button type="button" class="btn btn-light" disabled style="font-family: 'Noto Sans KR', sans-serif !important; width: 85px; font-size: 13px;">예약취소</button></td>
								<td th:if="${crt.RESERVE_STATE == '취소'}"><button type="button" class="btn btn-light" disabled style="font-family: 'Noto Sans KR', sans-serif !important; width: 85px; font-size: 13px;">예약취소</button></td>			
								<td th:if="${crt.RESERVE_STATE == '이용전'}"><button type="button" class="btn btn-light" disabled style="font-family: 'Noto Sans KR', sans-serif !important; width: 85px; font-size: 13px;">후기작성</button></td>	
								<td th:if="${crt.RESERVE_STATE == '이용후'}"><button type="button" class="reviewBtn btn btn-outline" style="font-family: 'Noto Sans KR', sans-serif !important; width: 85px; font-weight: bold; color: #00B96D; font-size: 13px;" th:onclick="|location.href='@{/courtDetail(crtroomNo=${crt.CRTROOM_NO})}'|">후기작성</button></td>
								<td th:if="${crt.RESERVE_STATE == '취소'}"><button type="button" class="btn btn-light" disabled style="font-family: 'Noto Sans KR', sans-serif !important; width: 85px; font-size: 13px;">후기작성</button></td>
							</tr>
						</th:block>	
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<script>
	$('.reserveCancel').on('click',cancelPay);
	
   function cancelPay(e) {
	let reservePayNo = $(e.target).prop("id").replace("reservePayNo","");
	let reserveUid = $(e.target).closest('tr').find('.reserveState').prop("id").replace("reserveUid","");
	let reserveNo = $(e.target).closest('tr').find('.reserveDate').prop("id").replace("reserveNo","");
	console.log(reserveNo+' '+ reservePayNo+' '+reserveUid);
	
	let today = new Date();
	let reserveDate = $(e.target).closest('tr').find('.reserveDate').text();
	let typeChange = new Date(reserveDate);
	let diff = typeChange.getTime() - today.getTime();
	diff = Math.ceil(diff / (1000*60*60*24));
	console.log(diff);
	
	let reservePrice = $(e.target).closest('tr').find('.reservePrice').text();
	let refundCharge = 0;
	if(diff >= 7){
		refundCharge = 100;
	}else if(diff >= 5){
		refundCharge = 80;
	}else if(diff >= 3){
		refundCharge = 50;
	}else if(diff <= 2 ){
		refundCharge = 0;
	}
	let refundPrice = reservePrice * (refundCharge/100);
	console.log(refundPrice);
	let data = {imp_uid : reservePayNo,
			merchant_uid : reserveUid, 
			amount : refundPrice,
			reason : "reserve cancel",
			charge : refundCharge,
			reserveNo : reserveNo};
	
	Swal2.fire({
		icon: "question",
		text: "환불예정금액은 "+refundPrice+"원 입니다. 그래도 환불하시겠습니까?",
		showDenyButton: true,
	    confirmButtonText: "yes",
	    denyButtonText: "no"
	}).then((result)=>{
		if(result.isConfirmed){
		   	 $.ajax({
		      url: 'courtReserveCancel', 
		      type: 'POST',
		      contentType: 'application/json',
		      data: JSON.stringify(data),
		      dataType: 'json',
		      success: function(result) {
					if (result) {
						//alert("환불 성공");
						Swal2.fire({
							icon: "success",
							text: "환불 성공! 환불 금액: "+data.amount+"원"
						}).then(function(){
							location.reload();
						})
					} else {
						//alert("환불 실패, 다시 시도해 주세요.");
						Swal2.fire({
							icon: "error",
							text: "환불 실패, 다시 시도해 주세요."
						})
					}
					console.log(result);
				},
			  error: function(e) {
					console.log(e);
			  }
		    });
		}
	})
  }
</script>
	<script src="/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function() {
	  $('#courtTable').DataTable({
	  });

	});

	
	</script>
</th:block>

</html>