<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<link rel="stylesheet"
		href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet"
		href="/assets/compiled/css/table-datatable-jquery.css">
</head>
<th:block layout:fragment="content">
	<h3 class="container p-3">매치 이력</h3>
	<div class="container" id="mypage">
		<div class="row">
			<div class="col-lg-3 col-md-auto">
				<div th:replace="member/mypage-sidemenu :: sidemenu"></div>
			</div>
			<div class="col-lg-9 col-md-auto">
				<!-- Profile Table Start -->
				<div class="cart__form">
					<table class="table" id="matchtable">
						<thead>
							<tr>
								<th class="cart-pd__thumb">일자</th>
								<th class="cart-pd__qty">코트장이름</th>
								<th class="cart-pd__price">매치상대</th>
								<th class="cart-pd__qty">매치상태</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="m : ${match}">
								<tr>
									<td class="cart-pd__date text-start" data-title="Date">
									[[${#dates.format(m.MATCH_DATE,'yyyy-MM-dd')}]]</td>
									<td class="cart-pd__thumb">[[${m.CRTROOM_NAME}]]</td>
									<td class="cart-pd__thumb">[[${m.OPP_MATCH}]]</td>
									<th:block th:if="${m.MATCH_STATE == '승인대기'}">
									<td class="reserveState"><span class="badge bg-light-warning">[[${m.MATCH_STATE}]]</span></td>
									</th:block>
									<th:block th:if="${m.MATCH_STATE == '이용전'}">
									<td class="reserveState"><span class="badge bg-light-success">[[${m.MATCH_STATE}]]</span></td>
									</th:block>
								</tr>
							</th:block>
						</tbody>						
					</table>
				</div>
				<!-- Profile Card End -->


			</div>
		</div>
	</div>



		<script src="/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function() {
	  $('#matchtable').DataTable({
	  });

	});

	
	</script>

</th:block>

</html>