<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">

	<!-- signup form -->
	<div class="container text-center">
		<div>회원가입</div>
		<form class="form form-vertical" action="memberResister">
			<div class="row form-body">
				<div class="col-2 border border-primary"></div>
				<div class="col-3 border border-primary"></div>
				<div class="col-5 border border-primary">
				<div class="row p-2">
					<div class="form-check col-6">
						<input class="form-check-input" type="radio"
							name="member" id="member" value="member">
						<label class="form-check-label" for="member">일반회원 </label>
					</div>
					<div class="form-check col-6">
						<input class="form-check-input" type="radio"
							name="host" id="host" value="host">
						<label class="form-check-label" for="host">호스트회원 </label>
					</div>
				</div>
				</div>
				<div class="col-2 border border-primary"></div>
			</div>
			<div class="row">
				<div class="col-2 border border-primary"></div>
				<div class="col-3 border border-primary p-5">
					<!-- File uploader with image preview -->
					<input type="file" class="image-preview-filepond">
					<h5 class=text-dark>프로필 사진</h5>
				</div>
				<div class="col-5 border border-primary p-5 text-start">

					<label for="memberId">아이디(이메일)</label><br>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="아이디입력" aria-describedby="duplicateBtn"
							id="memberId" name="memberId" required>
						<button class="btn btn-success" type="button" id="duplicateBtn">중복확인</button>
					</div>

					<div class="row">
						<div class="col-6">
							<label for="memberName">이름</label><br>
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="이름입력" id="memberName"
									name="memberName" required>
							</div>
						</div>
						<div class="col-6">
							<label for="memberNickName">닉네임</label><br>
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="닉네임입력" id="memberNickName"
									name="memberNickName" required>
							</div>
						</div>
					</div>

					<label for="memberPassword">비밀번호</label><br>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="비밀번호 8자리이상" aria-describedby=pwview
							id="memberPassword" name="memberPassword" required>
						<button class="btn btn-success" type="button" id="pwview">
							<i class="fa-regular fa-eye-slash"></i>
						</button>
					</div>

					<script>
						$(document)
							.ready(
								function () {
									$('#pwview')
										.on(
											'click',
											function (e) {
												$('#pwview')
													.toggleClass(
														'active');

												if ($('#pwview')
													.hasClass(
														'active')) {
													$(
														'#pwview > i')
														.attr(
															'class',
															"fa-regular fa-eye")
													$(
														'#memberPassword')
														.attr(
															'type',
															"text");
												} else {
													$(
														'#pwview > i')
														.attr(
															'class',
															"fa-regular fa-eye-slash")
													$(
														'#memberPassword')
														.attr(
															'type',
															"password");
												}
											});
								});
					</script>

					<label for="phoneNumber">휴대폰 번호</label><br>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="번호만 입력 해주세요"
							aria-describedby="phoneNumberBtn" id="phoneNumber" name="phoneNumber">
						<button class="btn btn-success" type="button" id="phoneNumberBtn">인증하기</button>
					</div>

					<div class="row">
						<div class="col-6">
							<label for="memberLocation">지역</label><br>
							<div class="form-group">
								<select class="choices form-select">
									<optgroup label="지역">
										<option value="seoul">서울</option>
										<option value="incheon">인천</option>
										<option value="gyeonggi">경기도</option>
										<option value="gangwon">강원도</option>
										<option value="choongchung">충청도</option>
										<option value="junra">전라도</option>
										<option value="gyungsang">경상도</option>
										<option value="jeju">제주도</option>
									</optgroup>
								</select>
							</div>
						</div>
						<div class="col-6">
							<label for="memberAgeGroup">연령대</label><br>
							<div class="form-group">
								<select class="choices form-select">
									<optgroup label="연령대">
										<option value="ten">10대</option>
										<option value="twenty">20대</option>
										<option value="thirty">30대</option>
										<option value="fourty">40대</option>
										<option value="fifty">50대</option>
										<option value="sixty">60대이상</option>
									</optgroup>
								</select>
							</div>
						</div>
					</div>
					
					<label for="phoneNumber">ntpr</label><br>
					<div class="input-group mb-3">
						<div id="unli1" class="star-rating"> </div>
					</div>
			
					
				</div>
				<div class="col-2 border border-primary"></div>
			</div>
		</form>
	</div>
	<!-- End signup form -->
</th:block>

</html>