<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">

	<!-- signup form -->
	<div class="container justify-content-center" id="signupForm">

		<form class="form form-vertical" action="signup" method="POST">
			<div class="form-body">
				<div class="text-center">
					<h3 class="my-4">회원가입</h3>
				</div>
				<input type="text" id="message" hidden="true" th:value="${message}">
				<div class="container my-3 p-2">
					<div class="d-flex justify-content-center">
						<div class="form-check mx-4">
							<input class="form-check-input" type="radio" name="memDiv"
								id="member" value="h1" checked> <label
								class="form-check-label" for="member">일반회원</label>
						</div>
						<div class="form-check mx-4">
							<input class="form-check-input" type="radio" name="memDiv"
								id="host" value="h3"> <label class="form-check-label"
								for="host">호스트회원</label>
						</div>
					</div>
				</div>
				<!-- <div class="col-3"></div> -->
			</div>

			<div class="justify-content-center">
				<div class="row justify-content-center" id="memberForm">
					<!-- <div class="col-3 "></div> -->

					<div class="col-lg-7 p-5 text-start shadow mb-5">
						<div class="container card text-center w-50">
							<!-- File uploader with image preview -->
							<input type="file" class="image-preview-filepond" id="prImage"
								name="prImage" multiple>
							<h5 class=text-dark>프로필 사진</h5>
						</div>

						<label for="memId">아이디(이메일)</label><br>
						<div class="input-group mb-3">
							<input type="text" class="form-control is-invalid"
								placeholder="영문 | 숫자만 입력 가능" aria-describedby="duplicateBtn"
								id="memId" name="memId" maxlength="40" autofocus required>
							<button class="btn btn-success" type="button" id="duplicateBtn">중복확인</button>
							<div class="invalid-feedback" id="memIdFeedback"></div>
							<input type="checkbox" id="idck" hidden="true">
						</div>
						
						<div class="col-8">
							<label for="pwd">비밀번호</label><br>
							<div class="input-group mb-3">
								<input type="password" class="form-control is-invalid"
									placeholder="비밀번호 8자리이상" aria-describedby=pwview id="pwd"
									name="pwd" pattern=".{8,50}" title="최소8자리입력해주세요" required>
								<button class="btn btn-success" type="button" id="pwview">
									<i class="fa-regular fa-eye-slash"></i>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-5">
								<label for="name">이름</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid"
										placeholder="한글만 입력 가능" id="name" name="name" maxlength="10"
										required>
								</div>
							</div>
							<div class="col-7">
								<label for="phoneNo">휴대폰 번호</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid"
										placeholder="숫자만 입력 해주세요" aria-describedby="phoneNoBtn"
										id="phoneNo" name="phoneNo" maxlength="11" required>
									<button class="btn btn-success" type="button" id="phoneNoBtn">인증하기</button>
								</div>
							</div>
						</div>
						<div class="col-6">
								<label for="nick">닉네임</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control is-invalid"
										placeholder="닉네임입력" id="nick" name="nick" maxlength="20"
										required>
								</div>
							</div>>
						<div class="row">
							<div class="col-6">
								<label for="region">지역</label><br>
								<div class="form-group">
									<select class="choices form-select" name="region" id="region">
										<optgroup label="지역">
											<option value="b1">서울</option>
											<option value="b2">인천</option>
											<option value="b3">경기도</option>
											<option value="b4">강원도</option>
											<option value="b5">충청도</option>
											<option value="b6">전라도</option>
											<option value="b7">경상도</option>
											<option value="b8">제주도</option>
										</optgroup>
									</select>
								</div>
							</div>
							<div class="col-6">
								<label for="age">연령대</label><br>
								<div class="form-group">
									<select class="choices form-select" name="age" id="age">
										<optgroup label="연령대">
											<option value="a1">10대</option>
											<option value="a2">20대</option>
											<option value="a3">30대</option>
											<option value="a4">40대</option>
											<option value="a5">50대</option>
											<option value="a6">60대이상</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<label for="lv">구력</label><br>
								<div class="form-group">
									<select class="choices form-select" name="lv" id="lv">
										<optgroup label="구력">
											<option value="d1">입문</option>
											<option value="d2">2~5년</option>
											<option value="d3">5년이상</option>
										</optgroup>
									</select>
								</div>
							</div>
							<div class="col-6">
								<label for="gen">성별</label><br>
								<div class="form-group">
									<select class="choices form-select" name="gen" id="gen">
										<optgroup label="성별">
											<option value="c1">남성</option>
											<option value="c2">여성</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-8">
								<label for="ntrp">ntrp</label><br>
								<div class="form-group">
									<select class="choices form-select" id="ntrp" name="ntrp">
										<optgroup label="ntpr">
											<option value="e1">1.0</option>
											<option value="e2">1.5</option>
											<option value="e3">2.0</option>
											<option value="e4">2.5</option>
											<option value="e5">3.0</option>
											<option value="e6">3.5</option>
											<option value="e7">4.0이상</option>
										</optgroup>
									</select>
								</div>
							</div>
							<div class="col-4">
								<br>
								<h5>
									<button type="button" class="btn btn-success" id="ntrpQ"
										href="javascript:void(0)" data-bs-toggle="modal"
										data-bs-target="#ntrpModal">NTRP이란?</button>
								</h5>
							</div>
							<div class="modal fade" id="ntrpModal" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalCenterTitle"
								aria-hidden="true">
								<div
									class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalCenterTitle">ntrp이란?
											</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<p>
												NTRP란 National Tennis Rating Program의 약자입니다.<br> 이는 미국
												테니스 협회(USTA)에서 개인의 테니스 실력을 평가하기 위해 만든 기준으로,<br> 세계에서 가장
												널리 통용되는 테니스 실력의 기준입니다.
											</p>
											<table class="table">
												<thead>
													<tr>
														<th>ntrp rating</th>
														<th>설명</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1.0</td>
														<td>테니스 라켓을 이제 막 들어 시작한 상태</td>
													</tr>
													<tr>
														<td>1.5</td>
														<td>테니스 경험이 있으나 게임을 하기엔 아직 미숙한 상태</td>
													</tr>
													<tr>
														<td>2.0</td>
														<td>랠리는 어느정도 가능하나 플레이를 지속하기엔 어려운 상태</td>
													</tr>
													<tr>
														<td>2.5</td>
														<td>일관성이 있는 랠리가 가능한 상태</td>
													</tr>
													<tr>
														<td>3.0</td>
														<td>코트 인식이 좋고, 스핀 및 고급 기술 사용가능한 상태</td>
													</tr>
													<tr>
														<td>3.5</td>
														<td>일관된 방향으로 공을 칠수 있는 레벨</td>
													</tr>
													<tr>
														<td>4.0</td>
														<td>정밀하고 지속적인 샷 랠리 가능한 레벨</td>
													</tr>
													<tr>
														<td>4.5이상</td>
														<td>대회 참가 가능 레벨</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">
												<i class="bx bx-x d-block d-sm-none"></i> <span
													class="d-none d-sm-block">닫기</span>
											</button>
											<button type="button" class="btn btn-primary ms-1"
												data-bs-dismiss="modal">
												<i class="bx bx-check d-block d-sm-none"></i> <span
													class="d-none d-sm-block">확인</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="preferAge">선호 연령대</label><br>
								<div class="form-group">
									<select class="choices form-select" name="preferAge"
										id="preferAge">
										<optgroup label="연령대">
											<option value="a1">10대</option>
											<option value="a2">20대</option>
											<option value="a3">30대</option>
											<option value="a4">40대</option>
											<option value="a5">50대</option>
											<option value="a6">60대이상</option>
										</optgroup>
									</select>
								</div>
							</div>
							<div class="col-6">
								<label for="preferGameWay">선호 게임 방식</label><br>
								<div class="form-group">
									<select class="choices form-select" name="preferGameWay"
										id="preferGameWay">
										<optgroup label="선호 게임 방식">
											<option value="f1">단식</option>
											<option value="f2">남복</option>
											<option value="f3">여복</option>
											<option value="f4">랠리</option>
											<option value="f5">혼복</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-8">
								<label for="crtroomNo">자주가는코트</label><br>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="코트 입력"
										aria-describedby="crtroomBtn" id="crtroomNo" name="crtroomNo">
									<button class="btn btn-success" type="button" id="crtroomBtn">찾기</button>
								</div>
							</div>
						</div>
						<button class="btn btn-success" type="submit">회원 가입</button>
						<button class="btn btn-success" type="reset">취소</button>
						<button class="btn btn-success" type="button"
							th:onclick="|location.href='@{/loginform}'|">돌아가기</button>

					</div>
					<!-- <div class="col-3 "></div> -->
				</div>

			</div>


		</form>
	</div>

	<!-- End signup form -->
	<script>
		//정규식 모음
		let email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
		let korean = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
		let phoneNum = /^[0-9]{3}[0-9]{3,4}[0-9]{4}/;
		//특수문자 필터
		let specialChar = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
		//공백 피터
		let blank = /[\s]/g;
		//한글만 필터
		let onlyKorean = /[\s]|[A-Za-z0-9]|[ \[\]{}()<>?_-]|[`~!@#$%^&*|\\\'\";+=,.:\/?]/g;
		// 영문 or 숫자만 필터
		let onlyEngNum = /[\s]|[A-Z]|[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[\{\}\[\]\/?,;:|\)*~`!^\-_+<>\#$%&\\\=\(\'\"]/;
		// 숫자만 필터
		let onlyNum = /[\s]|[a-zA-Z]|[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[\{\}\[\]\/?,;:|\)*~`!^\-_+<>\#$%&\\\=\(\'\"]/;

		//아이디 체크 여부 확인 (true면 했음)
		let idchapply = $('#idck').is(':checked');
		//아이디 이메일형식 체크, 소문자,숫자만 입력
		$('#memId').on('propertychange change keyup paste input', function (e) {
			$(e.target).val($(e.target).val().replace(onlyEngNum, ''));
			let intext = $(e.target).val();

			if (email.test(intext)) {
				$(e.target).prop("class", "form-control is-valid");
			} else if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid");
				$('#memIdFeedback').text(``);
			} else {
				$(e.target).prop("class", "form-control is-invalid");
				$('#memIdFeedback').text(`이메일형식이 올바르지 않습니다.`);
			}
		})

		//중복확인
		$('#duplicateBtn').on('click', function (e) {
			let memId = $('#memId').val();
			if (memId.length < 1) {
				Swal2.fire({
					icon: "error",
					title: "아이디를 입력해주세요",
				})
				return;
			}
			if (!email.test(memId)) {
				Swal2.fire({
					icon: "error",
					title: "이메일 형식으로 아이디를 입력해주세요",
				})
				return;
			}
			$.ajax({
				type: 'POST',
				url: 'idcheck',
				data: { memId: memId },
				dataType: 'json',
				success: function (result) {
					if (result) {
						$('#idck').prop('checked', true);
						Swal2.fire({
							icon: "success",
							title: "가입 가능한 아이디입니다",
						})
					} else {
						$('#idck').prop('checked', false);
						Swal2.fire({
							icon: "error",
							title: "아이디가 중복 됩니다",
						})
					}
				},
				error: () => console.log(error)
			})
		})

		//이름 한글만 입력되도록
		$('#name').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(onlyKorean, ''));

			let intext = $(e.target).val();

			if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid")
			} else if (intext.length > 1) {
				$(e.target).prop("class", "form-control is-valid");
			} else {
				$(e.target).prop("class", "form-control is-invalid")
			}
		})

		//닉네임 특수문자만 막음
		$('#nick').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(specialChar, ''));

			let intext = $(e.target).val();

			if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid")
			} else if (intext.length > 1) {
				$(e.target).prop("class", "form-control is-valid");
			} else {
				$(e.target).prop("class", "form-control is-invalid")
			}
		})

		//비밀번호 8자리이상, 공백막음
		$('#pwd').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(blank, ''));

			let intext = $(e.target).val();

			if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid")
			} else if (intext.length >= 8) {
				$(e.target).prop("class", "form-control is-valid");
			} else {
				$(e.target).prop("class", "form-control is-invalid")
			}
		})

		//폰넘버 숫자만 입력, 공백 막음
		$('#phoneNo').on('propertychange change keyup paste input', function (e) {

			$(e.target).val($(e.target).val().replace(onlyNum, ''));

			let intext = $(e.target).val();

			if (phoneNum.test(intext)) {
				$(e.target).prop("class", "form-control is-valid");
			} else if (intext.length == 0) {
				$(e.target).prop("class", "form-control is-invalid");
			} else {
				$(e.target).prop("class", "form-control is-invalid");
			}
		})
		//비밀번호 보기
		$(document).ready(function () {
			$("#pwview").on("click", function (e) {
				$("#pwview").toggleClass("active");

				if ($("#pwview").hasClass("active")) {
					$("#pwview > i").attr("class", "fa-regular fa-eye");
					$("#pwd").attr("type", "text");
				} else {
					$("#pwview > i").attr("class", "fa-regular fa-eye-slash");
					$("#pwd").attr("type", "password");
				}
			});
			if($('#message').val() != '' ){
				Toast.fire({
					icon: "error",
					title: $('#message').val(),
				})
			}
			$('#hostForm').hide();			
		});

		//멤버 호스트 메뉴 전환
		$('input:radio[name=memDiv]').on("change",function(e){			
			let ckId = $(e.target).prop('id');

			if(ckId == 'member'){
				location.href="signup";	
			}else{
				location.href="hostsignup";	
			}
		});
		
		

	</script>

	<script th:inline="javascript">

	
	</script>


</th:block>

</html>