<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tenniswing.project.shop.mapper.ProdMapper">
  	
  	<!-- 검색 조건 -->  	
  	<sql id="criteria">
  		<if test="cateProd != null and cateProd != 'none'">
			AND cate_prod = #{cateProd}
		</if>
		<if test="cateGen != null and cateGen != 'none'">
			AND cate_gen = #{cateGen}
		</if>
		<if test="prodName != null and prodName != ''">
			AND prod_name LIKE '%'||#{prodName}||'%'
		</if>
  	</sql>
  	
  	<!-- 전체 조회 -->
  	<select id="selectAllProd" resultType="ProdVO">
  		SELECT * FROM ( SELECT A.* , rownum rn FROM (
							  			SELECT 	p.prod_no,
							  					p.prod_name,
							  					p.prod_brand,
							  					p.prod_t_sto,
							  					p.prod_price,
							       				p.prod_regi_date,
							       				FIND_CATEGORY_NAME(p.prod_sale_sts) AS prod_sale_sts,
							       				FIND_CATEGORY_NAME(p.cate_prod) AS cate_prod,
							       				FIND_CATEGORY_NAME(p.cate_gen) AS cate_gen,
							       				a.attach_path       
										FROM 	prod p, attach a
										WHERE	p.prod_no = a.attach_table_pk
										AND		a.attach_table_div = 'p'
										AND		p.prod_sale_sts = 'p1'
										AND 	a.attach_turn = 1
										<include refid="criteria"></include>
								  		ORDER BY ${sort}
  									) A 
  					) B
  		WHERE rn BETWEEN (#{page} - 1) * #{pageUnit} + 1 AND #{page} * #{pageUnit}
  	</select>
  	
  	<!-- 전체 조회 -->
  	<select id="selectAdminAllProd" resultType="ProdVO">
 		SELECT 	p.prod_no, 
 		        p.prod_name, 
 		        p.prod_brand, 
 		        p.prod_t_sto, 
 		        p.prod_price,
      			p.prod_regi_date, 
      			FIND_CATEGORY_NAME(p.prod_sale_sts) AS prod_sale_sts,
      			FIND_CATEGORY_NAME(p.cate_prod) AS cate_prod, 
      			FIND_CATEGORY_NAME(p.cate_gen) AS cate_gen,
      			a.attach_path       
		FROM 	prod p, attach a
		WHERE	p.prod_no = a.attach_table_pk
		AND		a.attach_table_div = 'p'
		AND 	a.attach_turn = 1
  		ORDER BY prod_no
  	</select>
  	
  	<!-- 전체 갯수 -->
  	<select id="selectCount" resultType="int">
   		select 	count(*)
   		FROM 	prod
   		WHERE	prod_sale_sts = 'p1'
  		<include refid="criteria"></include>
   	</select>
  	
  	<!-- 조회수 상품 스와이퍼 -->
  	<select id="selectSwiperProd" resultType="ProdVO">
  		SELECT 	* 
		FROM 	(SELECT		p.prod_no, p.prod_name, p.prod_brand, p.prod_price, p.prod_regi_date,
			  				FIND_CATEGORY_NAME(p.prod_sale_sts) AS prod_sale_sts, a.attach_path       
				 FROM 		prod p, attach a
				 WHERE		p.prod_no = a.attach_table_pk
				 AND		p.prod_sale_sts = 'p1'
				 AND		a.attach_table_div = 'p'
				 AND 		a.attach_turn = 1
			  	 ORDER BY	p.prod_hit DESC)
		WHERE <![CDATA[rownum < 8]]>
  	</select>
  	
  	<!-- 관련 상품 스와이퍼 -->
  	<select id="relatedSwiperProd" parameterType="ProdVO" resultType="ProdVO">
  		SELECT 	* 
		FROM 	(SELECT		p.prod_no, p.prod_name, p.prod_brand, p.prod_price, p.prod_regi_date,
			  				FIND_CATEGORY_NAME(p.prod_sale_sts) AS prod_sale_sts, a.attach_path       
				 FROM 		prod p, attach a
				 WHERE		p.prod_no = a.attach_table_pk
				 AND		p.prod_sale_sts = 'p1'
				 AND		p.cate_prod	= FIND_CATEGORY_CODE(#{cateProd})
				 AND		p.prod_no <![CDATA[<>]]> #{prodNo}
				 AND		a.attach_table_div = 'p'
				 AND 		a.attach_turn = 1
			  	 ORDER BY	p.prod_hit DESC)
		WHERE <![CDATA[rownum < 8]]>
  	</select>
  	
  	<!-- 단건 조회 -->
  	<select id="selectProd" resultType="ProdVO">
  		SELECT 	p.prod_no,
  				p.prod_name,
  				p.prod_brand,
  				p.prod_t_sto, 
       			p.prod_exp,
       			p.prod_regi_date,
       			p.prod_price,
       			FIND_CATEGORY_NAME(p.prod_sale_sts) AS prod_sale_sts,
       			FIND_CATEGORY_NAME(p.cate_prod) AS cate_prod,
       			FIND_CATEGORY_NAME(p.cate_gen) AS cate_gen,
       			a.attach_path       
		FROM 	prod p, attach a
		WHERE	p.prod_no = a.attach_table_pk
		AND 	p.prod_no = #{prodNo}
		AND		a.attach_table_div = 'p'
		AND 	a.attach_turn = 1
  	</select>
  	
  	<!-- 상품 등록 -->
  	<insert id="insertProd" parameterType="ProdVO">
  		<selectKey keyProperty="prodNo"
  				   resultType="int"
  				   order="BEFORE">
  			SELECT NVL(MAX(prod_no), 0) + 1
  			FROM prod		   
  		</selectKey>
  		INSERT INTO prod(
  			 prod_no,
  			 prod_name,
  			 prod_brand,
  			 prod_t_sto,
  			 prod_price,
  			 prod_exp,
  			 prod_sale_sts,
  			 prod_regi_date,
  			 cate_prod,
  			 cate_gen  
  		)
  		VALUES(
  			 #{prodNo},
  			 #{prodName},
  			 #{prodBrand},
  			 0,
  			 #{prodPrice},
  			 #{prodExp},
  			 #{prodSaleSts},
  			 SYSDATE,
  			 #{cateProd},
  			 #{cateGen}
  		)
  	</insert>
  	
  	<!-- 상품 수정 -->
  	<update id="updateProd" parameterType="ProdVO">
  		UPDATE prod
  			<set>
  				<if test="prodName != null and !prodName.equals('')">
  					prod_name = #{prodName},
  				</if>
  				<if test="prodBrand != null and !prodBrand.equals('')">
  					prod_brand = #{prodBrand},
  				</if>
  				<if test="cateProd != null and !cateProd.equals('')">
  					cate_prod = #{cateProd},
  				</if>
  				<if test="cateGen != null and !cateGen.equals('')">
  					cate_gen = #{cateGen},
  				</if>
  				<if test="prodPrice != 0 and !prodPrice.equals('')">
  					prod_price = #{prodPrice},
  				</if>
  				<if test="prodSaleSts != null and !prodSaleSts.equals('')">
  					prod_sale_sts = #{prodSaleSts},
  				</if>
  				<if test="prodExp != null and !prodExp.equals('')">
  					prod_exp = #{prodExp},
  				</if>
  				<if test="prodTSto != null and !prodTSto.equals('')">
  					prod_t_sto = #{prodTSto},
  				</if>
  				prod_edit_date = SYSDATE	
  			</set>
 		WHERE prod_no = #{prodNo} 				
  	</update>
  	
  	<!-- 조회수 -->
  	<update id="updateProdHit" parameterType="int">
  		UPDATE 	prod
  		SET		prod_hit = prod_hit + 1
  		WHERE	prod_no = #{prodNo}
  	</update>
  	
  	<!-- 상품 주문 후 재고 처리 -->
  	<update id="updateOrderProd" parameterType="int">
  		UPDATE	prod
  		SET		prod_t_sto = prod_t_sto - #{prodDetailSto}
  		WHERE	prod_no = #{prodNo}
  	</update>
  	
  	<!-- 상품 삭제 -->
  	<delete id="deleteProd" parameterType="int">
  		DELETE FROM prod
  		WHERE prod_no = #{prodNo}
  	</delete>
  </mapper>