<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tenniswing.project.shop.mapper.ProdDetailMapper">
  	<!-- 전체 조회 -->
  	<select id="selectAllProdDetail" resultType="ProdDetailVO">
  		SELECT prod_detail_no, prod_detail_sto, FIND_CATEGORY_NAME(prod_detail_sale_sts) AS prod_detail_sale_sts, 
  			   FIND_CATEGORY_NAME(cate_color) AS cate_color, FIND_CATEGORY_NAME(cate_size) AS cate_size
  		FROM   prod_detail
  		WHERE  prod_no = #{prodNo}
  		ORDER BY prod_detail_no
  	</select>
  	
  	<!-- prodNo 기준 상품 갯수 -->
  	<select id="selectSumOrderProdNo" resultType="int">
  		SELECT 	SUM(prod_detail_sto)
  		FROM	prod_detail
  		WHERE	prod_no = #{prodNo}
  	</select>
  	
  	<!-- 단건조회 -->
  	<select id="selectProdDetail" resultType="ProdDetailVO">
  		SELECT 	prod_detail_no,
  				prod_detail_sto,
  				prod_no,
  				FIND_CATEGORY_NAME(prod_detail_sale_sts) AS prod_detail_sale_sts, 
  			   	FIND_CATEGORY_NAME(cate_color) AS cate_color,
  			   	FIND_CATEGORY_NAME(cate_size) AS cate_size
  		FROM   	prod_detail
  		WHERE  	prod_detail_no = #{prodDetailNo}
  	</select>
  	
  	
  	<!-- 카트 등록시 한건 조회 -->
  	<select id="selectCartProd" resultType="ProdDetailVO">
  		SELECT 	prod_detail_no
  		FROM	prod_detail
  		WHERE	prod_no = #{prodNo}
  		AND		cate_color = FIND_CATEGORY_CODE(#{cateColor})
  		AND		cate_size = FIND_CATEGORY_CODE(#{cateSize})
  	</select>
  	
  	<!-- 등록 -->
  	<insert id="insertProdDetail" parameterType="ProdDetailVO">
  		<selectKey keyProperty="prodDetailNo" resultType="int" order="BEFORE">
  			SELECT NVL(MAX(prod_detail_no), 0) + 1
  			FROM prod_detail
  		</selectKey>
  		INSERT INTO prod_detail(
  			prod_detail_no,
  			prod_detail_sto,
  			prod_detail_sale_sts,
  			cate_color,
  			cate_size,
  			prod_no
  		)
  		VALUES(
  			#{prodDetailNo},
  			#{prodDetailSto},
  			#{prodDetailSaleSts},
  			#{cateColor},
  			#{cateSize},
  			#{prodNo}
  		)
  	</insert>
  	
  	<!-- 수정 -->
  	<update id="updateProdDetail" parameterType="ProdDetailVO">
  		UPDATE prod_detail
  			<set>
				<if test="prodDetailSto != null and !prodDetailSto.equals('')">
					prod_detail_sto = #{prodDetailSto},
				</if>
				<if test="prodDetailSaleSts != null and !prodDetailSaleSts.equals('')">
					prod_detail_sale_sts = #{prodDetailSaleSts},
				</if>
  			</set>
  		WHERE prod_detail_no = #{prodDetailNo}
  	</update>
  	
  	<!-- 판매유무 한번에 수정 -->
  	<update id="updateProdDetailSts" parameterType="ProdDetailVO">
  		UPDATE prod_detail
  			<set>
				<if test="prodDetailSaleSts != null and !prodDetailSaleSts.equals('')">
					prod_detail_sale_sts = #{prodDetailSaleSts},
				</if>
  			</set>
  		WHERE prod_no = #{prodNo}
  	</update>
  	
  	<!-- 상품 주문 후 재고 처리 -->
  	<update id="updateOrderProdDetail" parameterType="int">
  		UPDATE	prod_detail
  		SET		prod_detail_sto = prod_detail_sto - #{prodDetailSto}
  		WHERE	prod_detail_no = #{prodDetailNo}
  	</update>
  	
  	<!-- 상품 주문 취소 후 재고 처리 -->
  	<update id="updateProdDetailCancel" parameterType="int">
  		UPDATE	prod_detail
  		SET		prod_detail_sto = prod_detail_sto + #{prodDetailSto}
  		WHERE	prod_detail_no = #{prodDetailNo}
  	</update>
  	
  	<!-- 삭제 -->
  	<delete id="deleteProdDetail" parameterType="ProdDetailVO">
  		DELETE FROM prod_detail
  		WHERE prod_detail_no = #{prodDetailNo}
  	</delete>
  </mapper>