<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.tenniswing.project.court.mapper.CourtroomMapper">
  	<!-- 사용자 -->
  	<!-- 전체조회 -->
  	<select id="selectAllCourtroomMain" resultType="crtroomVO">
  	select * from (    select A.* , rownum rn from (
  	
  		SELECT c.crtroom_no
  				, c.host_id
  				, c.crtroom_name
  				, c.crtroom_exp
  				, c.crtroom_region
  				, c.crtroom_location
  				, c.crtroom_operate_start_time
  				, c.crtroom_operate_end_time
  				, c.crtroom_caution
  				, c.crtroom_use_guide
  				, c.crtroom_regi_date
  				, FIND_CATEGORY_NAME(c.crtroom_region) crtroom_region_name
                , MIN(d.crt_use_price) min_price
                , a.attach_path
                , TRUNC(SUM(r.review_star)/COUNT(r.review_no)) avg_star
  				, COUNT(r.review_no) count_review
  		FROM crtroom c JOIN crt_detail_inf d
                       ON c.crtroom_no = d.crtroom_no
                       JOIN attach a
                       ON c.crtroom_no = a.attach_table_pk
                       LEFT OUTER JOIN review r
					   ON c.crtroom_no = r.crtroom_no
        WHERE a.attach_table_div = 'cd'
        AND a.attach_turn = 1
        AND c.crtroom_state = 'm2'
        <if test="crtroomRegion != null and crtroomRegion != ''">AND c.crtroom_region = #{crtroomRegion}</if>
        GROUP BY c.crtroom_no
                , c.host_id
  				, c.crtroom_name
  				, c.crtroom_exp
  				, c.crtroom_region
  				, c.crtroom_location
  				, c.crtroom_operate_start_time
  				, c.crtroom_operate_end_time
  				, c.crtroom_caution
  				, c.crtroom_use_guide
  				, c.crtroom_regi_date
  				, a.attach_path
  		ORDER BY ${sort}
  		
  		) A) b where rn between (#{page}-1)*#{pageUnit} + 1 and #{page} * #{pageUnit}
  	</select>
  	
  	<select id="selectCount" resultType="int">
   		select count(*)
   		FROM crtroom c JOIN crt_detail_inf d
                       ON c.crtroom_no = d.crtroom_no
                       JOIN attach a
                       ON c.crtroom_no = a.attach_table_pk
        WHERE a.attach_table_div = 'cd'
        AND a.attach_turn = 1   
        <if test="crtroomRegion != null and crtroomRegion != ''">AND c.crtroom_region = #{crtroomRegion}</if>
        <if test="minPrice != null and minPrice != ''">AND min_price <![CDATA[>]]> #{minPrice}</if>
   	</select>
   	
  	<!-- 호스트 -->
  	<!--  전체조회 -->
  	<select id="selectAllCourtroom" resultType="crtroomVO">
  		SELECT cr.crtroom_no
  				, cr.host_id
  				, cr.crtroom_name
  				, cr.crtroom_exp
  				, cr.crtroom_region
  				, cr.crtroom_location
  				, cr.crtroom_operate_start_time
  				, cr.crtroom_operate_end_time
  				, cr.crtroom_caution
  				, cr.crtroom_use_guide
  				, cr.crtroom_regi_date
  				, cr.crtroom_state
  				, FIND_CATEGORY_NAME(cr.crtroom_state) crtroom_state_name
                , count(cdi.crt_detail_no) crt_count
  		FROM crtroom cr LEFT OUTER JOIN crt_detail_inf cdi
  						ON cr.crtroom_no = cdi.crtroom_no
  		GROUP BY cr.crtroom_no
  				, cr.host_id
  				, cr.crtroom_name
  				, cr.crtroom_exp
  				, cr.crtroom_region
  				, cr.crtroom_location
  				, cr.crtroom_operate_start_time
  				, cr.crtroom_operate_end_time
  				, cr.crtroom_caution
  				, cr.crtroom_use_guide
  				, cr.crtroom_regi_date
  				, cr.crtroom_state
  		HAVING cr.host_id = #{hostId}
  		ORDER BY crtroom_no
  	</select>
  	
  	<!-- 코트 상세 조회 -->
  	<resultMap id="courtResult" type="crtroomVO">
  		<id property="crtroomNo" column="crtroom_no"/>
  		<collection property="crtDetailList" javaType="ArrayList" column="crtroom_no" ofType="CrtDetailVO" select="selectCourtDetail" />
  		<collection property="attachList" javaType="ArrayList" column="crtroom_no" ofType="AttachVO" select="attachListAllCourt" />
  	</resultMap>
  	
  	<select id="selectCourtroom" resultMap="courtResult">
  		SELECT cr.crtroom_no
  				, cr.crtroom_name
  				, cr.crtroom_exp
  				, cr.crtroom_region
  				, cr.crtroom_location
  				, cr.crtroom_operate_start_time
  				, cr.crtroom_operate_end_time
  				, cr.crtroom_caution
  				, cr.crtroom_use_guide
  				, cr.crtroom_regi_date
  				, cr.host_id
  				, MIN(cdi.crt_use_price) min_price
  		FROM crtroom cr JOIN crt_detail_inf cdi
  						ON cr.crtroom_no = cdi.crtroom_no
  		GROUP BY cr.crtroom_no
  				, cr.crtroom_name
  				, cr.crtroom_exp
  				, cr.crtroom_region
  				, cr.crtroom_location
  				, cr.crtroom_operate_start_time
  				, cr.crtroom_operate_end_time
  				, cr.crtroom_caution
  				, cr.crtroom_use_guide
  				, cr.crtroom_regi_date
  				, cr.host_id
  		HAVING cr.crtroom_no = #{crtroomNo}
  	</select>
  	<select id="selectCourtDetail" resultType="crtDetailVO">
  		SELECT CRT_DETAIL_NO
				, CRT_USE_PRICE
				, CRTROOM_NO
				, USE_UNIT_TIME
				, CRT_INDOOR_OUTDOOR
				, FIND_CATEGORY_NAME(crt_indoor_outdoor) crt_indoor_outdoor_name
		FROM CRT_DETAIL_INF
		WHERE crtroom_no = #{crtroomNo}
  	</select>
  	
  	<select id="attachListAllCourt" resultType="AttachVO">
		select a.attach_origin_name
		, a.attach_save_name
		, a.attach_path
		, a.attach_ext
		, a.attach_table_div
		, a.attach_table_pk
		FROM attach a JOIN crt_detail_inf c
		ON a.attach_table_pk = c.crtroom_no
		WHERE a.attach_table_div= 'cd'
		AND c.crtroom_no = #{crtroomNo}
	</select>
  	
  	
	<!-- 호스트 정보 -->
	<select id="selectCrtDetailHost" resultType="memberVO">
		SELECT mem_id
			, phone_no
		FROM mem
		WHERE mem_id = #{hostId}
	</select>
	
  	<!-- 인근 코트장 추천 -->
	<select id="nearCrtroom" resultType="crtroomVO">
		SELECT *
  		FROM (SELECT cr.crtroom_no
  				, cr.crtroom_name
  				, cr.crtroom_location
  				, MIN(cdi.crt_use_price) min_price
  				, a.attach_path
  				, TRUNC(SUM(r.review_star)/COUNT(r.review_no)) avg_star
  				, COUNT(r.review_no) count_review
	  		FROM crtroom cr JOIN crt_detail_inf cdi
	  						ON cr.crtroom_no = cdi.crtroom_no
	  						JOIN attach a
	  						ON cr.crtroom_no = a.attach_table_pk
	  						LEFT OUTER JOIN review r
	  						ON cr.crtroom_no = r.crtroom_no
	  		WHERE a.attach_table_div = 'cd'
	  		AND a.attach_turn = 1
	  		AND cr.crtroom_region = #{crtroomRegion}
	  		AND cr.crtroom_no <![CDATA[<>]]> #{crtroomNo}
	  		AND cr.crtroom_state = 'm2'
	  		GROUP BY cr.crtroom_no
	  				, cr.crtroom_name
	  				, cr.crtroom_location
	  				, a.attach_path)
  		WHERE <![CDATA[rownum < 8]]>
  	</select>
  	
  	<!-- 코트 하단 스와이퍼 -->
  	<select id="recentRegiCourt" resultType="crtroomVO">
  		SELECT *
  		FROM (SELECT cr.crtroom_no
  				, cr.crtroom_name
  				, cr.crtroom_location
  				, MIN(cdi.crt_use_price) min_price
  				, a.attach_path
  				, TRUNC(SUM(r.review_star)/COUNT(r.review_no)) avg_star
  				, COUNT(r.review_no) count_review
		  		FROM crtroom cr JOIN crt_detail_inf cdi
		  						ON cr.crtroom_no = cdi.crtroom_no
		  						JOIN attach a
		  						ON cr.crtroom_no = a.attach_table_pk
		  						LEFT OUTER JOIN review r
	  							ON cr.crtroom_no = r.crtroom_no
		  		WHERE a.attach_table_div = 'cd'
		  		AND a.attach_turn = 1
		  		AND cr.crtroom_state = 'm2'
		  		GROUP BY cr.crtroom_no
		  				, cr.crtroom_name
		  				, cr.crtroom_location
		  				, a.attach_path
		  				, a.attach_in_date
		  		ORDER BY a.attach_in_date desc)
  		WHERE <![CDATA[rownum < 8]]>
  	</select>
  	
  	<!-- 코트장 등록 -->
  	<insert id="insertCourtroom" parameterType="crtroomVO">
  		<selectKey keyProperty="crtroomNo"
  				   resultType="int"
  				   order="BEFORE">
  			SELECT NVL(MAX(crtroom_no), 0) + 1
  			FROM crtroom		   
  		</selectKey>
  		INSERT INTO crtroom
  			(
  				crtroom_no
  				, host_id
  				, crtroom_name
  				, crtroom_exp
  				, crtroom_region
  				, crtroom_location
  				, crtroom_operate_start_time
  				, crtroom_operate_end_time
  				, crtroom_caution
  				, crtroom_use_guide
  				, crtroom_regi_date
  				, crtroom_state
  			)
  			VALUES
  			(
  				#{crtroomNo}
  				, #{hostId}
  				, #{crtroomName}
  				, #{crtroomExp}
  				, #{crtroomRegion}
  				, #{crtroomLocation}
  				, #{crtroomOperateStartTime}
  				, #{crtroomOperateEndTime}
  				, #{crtroomCaution}
  				, #{crtroomUseGuide}
  				, SYSDATE
  				, 'm3'
  			)
  	</insert>

	<!-- 코트장 수정 --> 
	<update id="updateCourtroom" parameterType="crtroomVO">
		UPDATE crtroom
			SET
				crtroom_name = #{crtroomName}
				, crtroom_exp = #{crtroomExp}
				, crtroom_region = #{crtroomRegion}
				, crtroom_location = #{crtroomLocation}
				, crtroom_operate_start_time = #{crtroomOperateStartTime}
				, crtroom_operate_end_time = #{crtroomOperateEndTime}
				, crtroom_caution = #{crtroomCaution}
				, crtroom_use_guide = #{crtroomUseGuide}
			WHERE crtroom_no = #{crtroomNo}
	</update>
	
	<!-- 코트장 삭제 -->
	<delete id="deleteCourtroom" parameterType="int">
		DELETE FROM crtroom
		WHERE crtroom_no = #{crtroomNo}
	</delete>
	
	<delete id="deleteCourtroomImg" parameterType="int">
  		DELETE FROM attach
  		WHERE attach_table_div = 'co'
  		AND attach_table_pk = #{crtroomNo}
  	</delete>
	
	<!-- 검색창 코트 정보 -->
	<select id="courtSearch" resultType="crtroomVO">
		SELECT *
		FROM crtroom
		WHERE crtroom_name LIKE '%'||#{str}||'%'
	</select>
	
	<!-- 코트 후기 조회 -->
	<select id="selectCourtReview" resultType="crtroomVO">
		SELECT r.mem_id
				, r.review_ctt
				, r.review_star
				, r.review_write_date
				, r.review_edit_date
				, r.reserve_no
				, a.attach_path
				, r.review_no
		FROM review r LEFT OUTER JOIN attach a
						ON r.review_no = a.attach_table_pk
						AND a.attach_table_div = 'cr'
		WHERE r.crtroom_no = #{crtroomNo}
		ORDER BY 4 desc
	</select>
	
	<!-- 코트 후기 단건조회 -->
	<select id="selectReview" resultType="crtroomVO">
		SELECT r.mem_id
				, r.review_ctt
				, r.review_star
				, r.review_write_date
				, r.review_edit_date
				, r.reserve_no
				, a.attach_path
				, r.review_no
		FROM review r LEFT OUTER JOIN attach a
						ON r.review_no = a.attach_table_pk
                        AND a.attach_table_div = 'cr'
		WHERE r.review_no = #{reviewNo}
	</select>
	
	<!-- 코트 별점 -->
	<select id="crtroomStar" resultType="crtroomVO">
		SELECT TRUNC(SUM(review_star)/COUNT(review_no)) avg_star, COUNT(review_no) count_review
        FROM review
        WHERE crtroom_no = #{crtroomNO}
	</select>
	
	<!-- 코트 후기 등록 -->
	<insert id="insertCourtReview" parameterType="crtroomVO">
  		<selectKey keyProperty="reviewNo"
  				   resultType="int"
  				   order="BEFORE">
  			SELECT NVL(MAX(review_no), 0) + 1
  			FROM review		   
  		</selectKey>
  		INSERT INTO review
  			(
  				REVIEW_NO
				, MEM_ID
				, REVIEW_CTT
				, REVIEW_STAR
				, REVIEW_WRITE_DATE
				, RESERVE_NO
				, CRTROOM_NO
  			)
  			VALUES
  			(
  				#{reviewNo}
  				, #{memId}
  				, #{reviewCtt}
  				, #{reviewStar}
  				, SYSDATE
  				, #{reserveNo}
  				, #{crtroomNo}
  			)
  	</insert>
  	
  	<!-- 후기 등록 권한여부 -->
  	<select id="confirmInsertReview" resultType="int">
  		SELECT *
  		FROM (SELECT reserve_no
	  		FROM reserve
	  		WHERE crtroom_no = #{crtroomNo}
	  		AND mem_id = #{memId}
	  		AND reserve_state = 'i2'
	        ORDER BY reserve_no desc)
  		WHERE <![CDATA[rownum = 1]]>
  	</select>
  	
  	<!-- 후기 삭제 -->
  	<delete id="deleteReview" parameterType="int">
  		DELETE FROM review
  		WHERE review_no = #{reviewNo}
  	</delete>
  	
  	<!-- 후기 사진 삭제 -->
  	<delete id="deleteReviewImg" parameterType="int">
  		DELETE FROM attach
  		WHERE attach_table_div = 'cr'
  		AND attach_table_pk = #{reviewNo}
  	</delete>
  	
  	<!-- 어드민 페이지 코트 목록 -->
  	<select id="courtAdminAll" resultType="crtroomVO">
  		SELECT c.crtroom_no
  				, c.host_id
  				, c.crtroom_name
  				, c.crtroom_exp
  				, FIND_CATEGORY_NAME(c.crtroom_region) crtroom_region
  				, c.crtroom_location
  				, c.crtroom_operate_start_time
  				, c.crtroom_operate_end_time
  				, c.crtroom_caution
  				, c.crtroom_use_guide
  				, c.crtroom_regi_date
  				, FIND_CATEGORY_NAME(c.crtroom_state) crtroom_state
  				, FIND_CATEGORY_NAME(c.crtroom_region) crtroom_region_name
  				, a.attach_path
  		FROM crtroom c JOIN attach a
  						ON c.crtroom_no = a.attach_table_pk
  		WHERE a.attach_table_div = 'co'
  		ORDER BY c.crtroom_no
  	</select>
  	
  	<!-- 코트 승인 -->
  	<update id="courtStatePermit" parameterType="crtroomVO">
  		UPDATE crtroom
  			SET crtroom_state = 'm2'
  		WHERE crtroom_no = #{crtroomNo}
  	</update>
  	
  	<!-- 코트 거절 -->
  	<update id="courtStateNotPermit" parameterType="crtroomVO">
  		UPDATE crtroom
  			SET crtroom_state = 'm1'
  		WHERE crtroom_no = #{crtroomNo}
  	</update>
  	
  	<!-- 코트 예약건수 조회 -->
  	<select id="courtReserveCount" resultType="int">
  		SELECT count(*)
  		FROM reserve
  		WHERE crtroom_no = #{crtroomNo}
  		AND reserve_state = 'i1'
  	</select>
  </mapper>