<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.tenniswing.project.court.mapper.CourtroomMapper">
  	
  	<!--  전체조회 -->
  	<select id="selectAllCourtroom" resultType="crtroomVO">
  		SELECT cr.crtroom_no
  				, cr.crtroom_name
  				, cr.crtroom_exp
  				, cr.crtroom_region
  				, cr.crtroom_location
  				, cr.crtroom_operate_start_time
  				, cr.crtroom_operate_end_time
  				, cr.crtroom_caution
  				, cr.crtroom_use_guide
  				, cr.crtroom_regi_date
                , count(cdi.crt_detail_no) crtCount
  		FROM crtroom cr LEFT OUTER JOIN crt_detail_inf cdi
  						ON cr.crtroom_no = cdi.crtroom_no
  		GROUP BY cr.crtroom_no
  				, cr.crtroom_name
  				, cr.crtroom_exp
  				, cr.crtroom_region
  				, cr.crtroom_location
  				, cr.crtroom_operate_start_time
  				, cr.crtroom_operate_end_time
  				, cr.crtroom_caution
  				, cr.crtroom_use_guide
  				, cr.crtroom_regi_date
  		ORDER BY crtroom_no
  	</select>
  	
  	<!-- 코트 상세 조회 -->
  	<resultMap id="courtResult" type="crtroomVO">
  		<collection property="crtDetailList" javaType="ArrayList" column="crtroom_no" ofType="CrtDetailVO" select="selectCourtDetail" />
  	</resultMap>
  	<select id="selectCourtroom" resultMap="courtResult">
  		SELECT cr.crtroom_no
  				, cr.crtroom_name
  				, cr.crtroom_exp
  				, cr.crtroom_region
  				, cr.crtroom_location
  				, cr.crtroom_operate_start_time
  				, cr.crtroom_operate_end_time
  				, cr.crtroom_caution
  				, cr.crtroom_use_guide
  				, cr.crtroom_regi_date
  		FROM crtroom cr
  		WHERE cr.crtroom_no = #{crtroomNo}
  	</select>
  	<select id="selectCourtDetail" resultType="crtDetailVO">
  		SELECT CRT_DETAIL_NO
				, CRT_USE_PRICE
				, CRTROOM_NO
				, USE_UNIT_TIME
				, CRT_INDOOR_OUTDOOR
		FROM CRT_DETAIL_INF
		WHERE crtroom_no = #{crtroomNo}
  	</select>
  	
  	<!-- 코트장 등록 -->
  	<insert id="insertCourtroom" parameterType="crtroomVO">
  		<selectKey keyProperty="crtroomNo"
  				   resultType="int"
  				   order="BEFORE">
  			SELECT NVL(MAX(crtroom_no), 0) + 1
  			FROM crtroom		   
  		</selectKey>
  		INSERT INTO crtroom
  			(
  				crtroom_no
  				, host_no
  				, crtroom_name
  				, crtroom_exp
  				, crtroom_region
  				, crtroom_location
  				, crtroom_operate_start_time
  				, crtroom_operate_end_time
  				, crtroom_caution
  				, crtroom_use_guide
  				, crtroom_regi_date
  			)
  			VALUES
  			(
  				#{crtroomNo}
  				, #{hostNo}
  				, #{crtroomName}
  				, #{crtroomExp}
  				, #{crtroomRegion}
  				, #{crtroomLocation}
  				, #{crtroomOperateStartTime}
  				, #{crtroomOperateEndTime}
  				, #{crtroomCaution}
  				, #{crtroomUseGuide}
  				, SYSDATE
  			)
  	</insert>

	<!-- 코트장 수정 --> 
	<update id="updateCourtroom" parameterType="crtroomVO">
		UPDATE crtroom
			SET
				crtroom_name = #{crtroomName}
				, crtroom_exp = #{crtroomExp}
				, crtroom_region = #{crtroomRegion}
				, crtroom_location = #{crtroomLocation}
				, crtroom_operate_start_time = #{crtroomOperateStartTime}
				, crtroom_operate_end_time = #{crtroomOperateEndTime}
				, crtroom_caution = #{crtroomCaution}
				, crtroom_use_guide = #{crtroomUseGuide}
			WHERE crtroom_no = #{crtroomNo}
	</update>
	
	<!-- 코트장 삭제 -->
	<delete id="deleteCourtroom" parameterType="int">
		DELETE FROM crtroom
		WHERE crtroom_no = #{crtroomNo}
	</delete>
  </mapper>