<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.tenniswing.project.court.mapper.CrtDetailMapper">
	<!-- 코트VO로 조회 -->
	<select id="selectCrtDetail" resultType="crtDetailVO">
		SELECT crt_detail_no
				, crt_use_price
				, use_unit_time
				, crt_indoor_outdoor
				, FIND_CATEGORY_NAME(crt_indoor_outdoor) crt_indoor_outdoor_name
				, crtroom_no
		FROM crt_detail_inf
		WHERE crt_detail_no = #{crtDetailNo}
	</select>
	
	<!-- 코트 번호로 조회 -->
	<select id="selectCrtDetailNo" resultType="crtDetailVO">
		SELECT crt_detail_no
				, crt_use_price
				, use_unit_time
				, crt_indoor_outdoor
				, FIND_CATEGORY_NAME(crt_indoor_outdoor) crt_indoor_outdoor_name
				, crtroom_no
		FROM crt_detail_inf
		WHERE crt_detail_no = #{crtDetailNo}
	</select>
	
	<!-- 환불 금액 -->
	<select id="refundInf" resultType="crtDetailVO">
		SELECT seven_day_before
				, five_day_before
				, three_day_before
				, less_than_two_day_before
				, significant
		FROM refund_inf
	</select>
	
	<!-- 코트 등록 -->
	<insert id="insertCrtDetail" parameterType="crtDetailVO">
		<selectKey keyProperty="crtDetailNo"
				   resultType="int"
				   order="BEFORE">
			SELECT NVL(MAX(crt_detail_no),0) + 1
			FROM crt_detail_inf		   
		</selectKey>
		INSERT INTO crt_detail_inf
			(
				crt_detail_no
				, crt_use_price
				, use_unit_time
				, crt_indoor_outdoor
				, crtroom_no
			)
		VALUES
			(
				#{crtDetailNo}
				, #{crtUsePrice}
				, #{useUnitTime}
				, #{crtIndoorOutdoor}
				, #{crtroomNo}
			)
	</insert>
	
	<!-- 코트 수정 -->
	<update id="updateCrtDetail" parameterType="crtDetailVO">
		UPDATE crt_detail_inf
			SET
					crt_use_price = #{crtUsePrice}
					, use_unit_time = #{useUnitTime}
					, crt_indoor_outdoor = #{crtIndoorOutdoor}
			WHERE crt_detail_no = #{crtDetailNo}
	</update>
	
	<!-- 코트 삭제 -->
	<delete id="deleteCrtDetail" parameterType="int">
		DELETE FROM crt_detail_inf
		WHERE crt_detail_no = #{crtDetailNo}
	</delete>
	
	<!-- 코트 디테일 예약건수 조회 -->
  	<select id="courtDetailReserveCount" resultType="CrtDetailVO">
  		SELECT count(*)
  		FROM reserve
  		WHERE crt_detail_no = #{crtDetailNo}
  		AND reserve_state = 'i1'
  	</select>
</mapper>