<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tenniswing.project.court.mapper.CrtReserveMapper">
<!-- 예약등록 -->
<insert id="insertCrtReserve" parameterType="CrtReserveVO">
	<selectKey keyProperty="reserveNo,reserveDetailNo"
			   resultType="CrtReserveVO"
			   order="BEFORE">
		SELECT  (SELECT NVL(MAX(reserve_no),0)+1
				  FROM reserve) reserve_no,
				(SELECT NVL(MAX(reserve_detail_no),0)+1
				   FROM reserve_detail_inf) reserve_detail_no
		FROM dual
	</selectKey>
	 INSERT ALL INTO reserve
	(
		RESERVE_NO
		, RESERVE_PRICE
		, CRTROOM_NO
		, CRT_DETAIL_NO
		, MEM_ID
		, RESERVE_PAY_NO
		, RESERVE_UID
	)
	VALUES
	(
		#{reserveNo}
		, #{reservePrice}
		, #{crtroomNo}
		, #{crtDetailNo}
		, #{memId}
		, #{reservePayNo}
		, #{reserveUid}
	)
	INTO reserve_detail_inf
	(
		RESERVE_DETAIL_NO
		, RESERVE_DATE
		, RESERVE_TIME
		, RESERVE_NO
		, T_RESERVE_TIME
	)
	VALUES
	(
		#{reserveDetailNo}
		, #{reserveDate}
		, #{reserveTime}
		, #{reserveNo}
		, #{tReserveTime}
	)
	SELECT * FROM dual
</insert>

<!-- 예약 불가능한 리스트 -->
<select id="impossibleReserveList" resultType="crtReserveVO">
	SELECT cdi.crt_detail_no
        , cdi.crt_use_price
        , cdi.use_unit_time
        , cdi.crt_indoor_outdoor
        , FIND_CATEGORY_NAME(cdi.crt_indoor_outdoor) crt_indoor_outdoor_name
        , rdi.reserve_date
        , rdi.reserve_time
        , FIND_CATEGORY_NAME(rdi.reserve_time) reserve_time_name
	FROM reserve r JOIN crt_detail_inf cdi
                ON cdi.crt_detail_no = r.crt_detail_no
                JOIN reserve_detail_inf rdi
                ON r.reserve_no = rdi.reserve_no
	WHERE TRUNC(rdi.reserve_date) = #{reserveDate}
	AND cdi.crt_detail_no = #{crtDetailNo}
</select>

<!-- 예약시간 구분코드 -->
<select id="reserveTimeCodeList" resultType="crtReserveVO">
	SELECT subcategory_code, name
	  FROM subcategory
	 WHERE maincategory_code = 'BG'
	 ORDER BY 2
</select>

<!-- 호스트 -->
<!-- 호스트별 예약 전체 조회 -->
<select id="selectAllCrtReserve" resultType="CrtReserveVO">
	SELECT r.RESERVE_NO
			, r.RESERVE_PRICE
			, r.RESERVE_STATE
			, FIND_CATEGORY_NAME(r.RESERVE_STATE) reserve_state_name
			, r.RESERVE_PAY_NO
			, r.CRTROOM_NO
			, r.CRT_DETAIL_NO
			, r.MEM_ID
			, r.RESERVE_UID
			, r.PAY_DATE
			, rd.RESERVE_DETAIL_NO
			, rd.RESERVE_DATE
			, rd.RESERVE_TIME
			, FIND_CATEGORY_NAME(rd.RESERVE_TIME) RESERVE_TIME_NAME
			, c.crtroom_name
	FROM reserve r JOIN crtroom c 
					ON r.crtroom_no = c.crtroom_no
				   JOIN reserve_detail_inf rd
				    ON r.reserve_no = rd.reserve_no
	WHERE c.host_id = #{hostId}
</select>

<!-- 호스트별 환불 전체 조회 -->
<select id="selectAllCrtRefund" resultType="CrtReserveVO">
	SELECT r.reserve_no
			, c.crtroom_name
			, r.mem_id
			, r.reserve_price
			, r.reserve_pay_no
			, r.crtroom_no
			, r.crt_detail_no
			, r.reserve_uid
			, r.pay_date
			, rd.reserve_detail_no
			, rd.reserve_date
			, rd.reserve_time
			, FIND_CATEGORY_NAME(rd.RESERVE_TIME) RESERVE_TIME_NAME
			, r.crtroom_no
			, rc.cancel_date
			, rc.refund_price
			, rc.refund_charge
			, rc.reserve_cancel_no
	FROM reserve r JOIN reserve_cancel rc
							ON rc.reserve_no = r.reserve_no
							JOIN reserve_detail_inf rd
							ON rc.reserve_no = rd.reserve_no
							JOIN crtroom c
							ON r.crtroom_no = c.crtroom_no
	WHERE c.host_id = #{hostId}
</select>
<!-- 호스트별 정산 전체 조회 -->
<select id="selectAllCrtCalc" resultType="CrtReserveVO">
	SELECT CALC_NO
			, CALC_DATE
			, CALC_PRICE
			, PAY_PRICE
			, CALC_STATE
			, FIND_CATEGORY_NAME(calc_state) calc_state_name
			, PAY_CASE
			, CALC_START_DATE
			, CALC_END_DATE
	FROM crt_calc
	WHERE host_id = #{hostId}
</select>

<!-- 환불 정보 입력 -->

</mapper>