<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<style>
	.step-title {
		font-size: 20px;
	}
	
	.step-header {
		margin-bottom: 20px;
	}
	
	.information {
		padding: 0px;
	}
	/* .information li {
		font-weight: 400 !important;
	} */
	section a,
	section span,
	section button,
	section input,
	section h1,
	section h2,
	section h3,
	section h4,
	section h5,
	section h6,
	section pre{
		font-family: 'Noto Sans KR', sans-serif !important;
	}
	section span,
	section h1,
	section h2,
	section h3,
	section h4,
	section h5,
	section h6,
	section pre{
		color: #3c3c3c !important;
	}
</style>

<!-- 아임포트 라이브러리 -->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>

<th:block layout:fragment="content">
<!-- [[${prodDetailVO}]] [[${prod}]] -->
	<!-- Checkout Section Start -->
	<section class="checkout__section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<div class="checkout__form" id="personal_info">
						<div class="step-header mb-30">
							<span class="step-num">1</span>
							<h3 class="step-title">주문자 정보</h3>
						</div>
						<form class="form__wrapper">
							<div class="flex__form c-1">
								<div class="form-group">
									<label for="f_name">이름</label> <input type="text" name="f_name"
										id="f_name" class="form-control"
										placeholder="(필수) 이름을 입력해 주세요." onkeyup='printName()' readonly="readonly"/>
								</div>
							</div>
							<div class="flex__form c-1">
								<div class="form-group">
									<label for="f_phone">전화번호</label>
									<div class="input-group">
										<input type="tel" name="f_phone" id="f_phone" class="form-control"
											placeholder="(필수) 휴대폰 번호를 입력해 주세요." onkeyup='printTel()' readonly="readonly"/>
									</div>
								</div>
							</div>
							<!-- <button type="submit" class="btn btn-disable mt-10">Continue
								to Shipping</button>
							<button type="button" class="btn btn-transparent mt-10">Return
								to Cart</button> -->
						</form>
					</div>

					<div class="checkout__form" id="shipping_details" style="margin-bottom: 40px">
						<div class="step-header mb-30">
							<span class="step-num">2</span>
							<h3 class="step-title">배송 정보</h3>
						</div>
						
						<div style="margin-bottom: 20px;">
							<button type="button" class="shop-btn shop-btn-primary" style="font-family: 'Noto Sans KR', sans-serif;" onclick="printDel()">직접 입력</button>
							<button type="button" class="shop-btn shop-btn-primary" style="font-family: 'Noto Sans KR', sans-serif;" onclick="printBoth()">주문자와 동일</button>
						</div>
							
						<!-- <h5 class="sub-title">배송지 주소</h5> -->
						<!-- 결제시 담아갈 정보들 -->
						<form class="form__wrapper" id="checkOutForm">
							<th:block th:if="${cartList == null}">
								<input name="prodNo" th:value="${prod.prodNo}" type="hidden">
								<input type="hidden" th:value="${prodDetailVO.prodDetailSto}" id="orderOneProdCnt" name="orderProdCnt">
								<input type="hidden" th:value="${prodDetailVO.prodDetailSto} * ${prod.prodPrice}" id="orderOneTPayAmt" name="orderTPayAmt">
								<input type="hidden" th:value="${prodDetailNo}" name="prodDetailNo">							
								<input type="hidden" th:value="${prod.prodPrice}" name="prodPrice">							
								<input type="hidden" th:value="${prodDetailVO.prodDetailSto}" name="prodDetailSto">							
								<input type="hidden" th:value="${prod.prodName}" name="prodName">							
								<input type="hidden" value="direct" name="type">							
							</th:block>
							<th:block th:unless="${cartList == null}">
								<input type="hidden" value="cart" name="type">							
								<input type="hidden" id="orderCartprodName" name="prodName">
								<input type="hidden" id="orderCartProdCnt" name="orderProdCnt">
								<input type="hidden" id="orderCartTPayAmt" name="orderTPayAmt">
							</th:block>
							<div class="form-group">
								<label for="orderRptName">받는분 정보</label> <input type="text" name="orderRptName"
									id="orderRptName" class="form-control"
									placeholder="(필수) 이름을 입력해 주세요." />
									<br>
								
									<input type="tel" name="orderRptTel" id="orderRptTel" class="form-control"
										placeholder="(필수) 휴대폰 번호를 입력해 주세요." />

							</div>
							<!-- <br> -->
							<div class="cta__form justify-content-start align-items-end mt-15" style="margin-top: 40px">
								<div class="form-group" style="margin: 0;">
									<label>받으실 곳</label>
									<input type="text" id="sample6_postcode" name="orderAdr1" class="form-control border" placeholder="우편번호" readonly="readonly">								
								</div>							
								<input type="button" onclick="sample6_execDaumPostcode()" class="btn btn-dark" style="margin-top: 0;" value="우편번호 찾기">
							</div>
							<br>
							<input type="text" id="sample6_address" name="orderAdr2" class="form-control" placeholder="주소" readonly="readonly">
							<br>
							<input type="text" id="sample6_detailAddress" name="orderAdr3" class="form-control" placeholder="상세주소" onkeyup="printAdd3()">
							<br>
							<div class="form-group">
								<input type="text" name="orderReq" id="orderReq" class="form-control"
									   placeholder="요청사항을 입력해주세요." />
							</div>
							<br />
							
							<div class="cta__form justify-content align-items-end mt-15" style="margin: 0; justify-content: space-around;">							
								<button type="button" class="btn btn-dark mt-10" style="border-radius: 20px;" id="iamportPayment">결제하기</button>
								<a class="btn btn-outline mt-10" onclick="history.back()" style="border: 1px solid; border-radius: 20px">취소하기</a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5">
					<div class="confirm__details">
						<div class="confirm__details__item">
							<div class="s-header__flex">
								<div class="step-header">
									<span class="step-num">1</span>
									<h3 class="step-title">주문자 정보</h3>
								</div>
								<!-- <a href="#" class="edit__btn" id="editMem">edit</a> -->
							</div>
							<ul class="information">
								<li id="f_name_out">이름을 입력하세요.</li>
								<li id="f_phone_out">전화번호를 입력하세요.</li>
								<!-- <li>xirosoft@gmail.com</li> -->
							</ul>
						</div>
						<div class="confirm__details__item">
							<div class="s-header__flex">
								<div class="step-header">
									<span class="step-num">2</span>
									<h3 class="step-title">배송 정보</h3>
								</div>
								<a onclick="sample6_execDaumPostcode()" class="edit__btn" style="cursor:pointer;">edit</a>
							</div>
							<ul class="information" style="margin-bottom: 0">
								<li id="addr1">우편번호</li>
								<li id="addr2">주소</li>
								<li id="addr3">상세주소</li>
								<!-- <li><span>Method:</span> FedEx - $19.00</li> -->
							</ul>
						</div>
					</div>
					
					
					<div class="cart-order cart-order__v2">
						<h4 class="cart-order__title">결제 상세 정보</h4>
						<div class="cart__items">
							<!-- Shopping Cart Item Start -->
							<th:block th:if="${cartList == null}">
								<div class="shopping-card shopping-card__v2">
									<a th:onclick="|location.href='@{/shopDetail(prodNo=${prod.prodNo})}'|" class="shopping-card__image" style="cursor:pointer;"> 
										<img th:src="${prod.attachPath}" alt="cart-product" />
									</a>
									<div class="shopping-card__content">
										<div class="shopping-card__content-top">
											<!-- 상품명 -->
											<!-- <th:block th:each="prodVO : ${prodVO}" th:if="${prodDetailVO.prodNo == prodVO.prodNo}"> -->
												<h5 class="product__title">
													<a th:onclick="|location.href='@{/shopDetail(prodNo=${prod.prodNo})}'|" style="cursor:pointer;">
														<b>[[ ${prod.prodName} ]]</b></a>
												</h5>
												<p class="product__price onePrice" id="prodOnePrice" th:value="${prod.prodPrice} * ${prodDetailVO.prodDetailSto}">[[ ${prod.prodPrice} ]]</p>
											<!-- </th:block> -->
										</div>
										<div class="shopping-card__content-bottom">
											<h6 style="padding: 0 3px; color: #667085; font-size: small; font-weight: 500;">색상 : [[ ${prodDetailVO.cateColor} ]] &nbsp&nbsp 사이즈 : [[ ${prodDetailVO.cateSize} ]]</h6>
										</div>
										<div class="shopping-card__content-bottom">
											<h6 style="padding: 0 3px; color: #667085; font-size: small; font-weight: 500;">수량 : [[ ${prodDetailVO.prodDetailSto} ]]</h6>
										</div>
									</div>
								</div>
							</th:block>
							
							<th:block th:unless="${cartList == null}">
								<th:block th:each="cartList : ${cartList}">								
									<div class="shopping-card shopping-card__v2">
										<a th:onclick="|location.href='@{/shopDetail(prodNo=${cartList.prodNo})}'|" class="shopping-card__image" style="cursor:pointer;"> 
											<img th:src="${cartList.attachPath}" alt="cart-product" />
										</a>
										<div class="shopping-card__content">
											<div class="shopping-card__content-top">
												<!-- 상품명 -->
												<!-- <th:block th:each="prodVO : ${prodVO}" th:if="${prodDetailVO.prodNo == prodVO.prodNo}"> -->
													<h5 class="product__title">
														<a th:onclick="|location.href='@{/shopDetail(prodNo=${cartList.prodNo})}'|" style="cursor:pointer;">
															<b id="cartProdName">[[ ${cartList.prodName} ]]</b></a>
													</h5>
													<p class="product__price onePrice" th:id="prodPrice+${cartList.prodDetailNo}" th:value="${cartList.prodPrice} * ${cartList.cartProdQt}">[[ ${cartList.prodPrice} ]]</p>
												<!-- </th:block> -->
											</div>
											<div class="shopping-card__content-bottom">
												<h6 style="padding: 0 3px; color: #667085; font-size: small; font-weight: 500;">색상 : [[ ${cartList.cateColor} ]] &nbsp&nbsp 사이즈 : [[ ${cartList.cateSize} ]]</h6>
											</div>
											<div class="shopping-card__content-bottom">
												<h6 style="padding: 0 3px; color: #667085; font-size: small; font-weight: 500;" th:value="${cartList.cartProdQt}" class="checkProdQt">
													수량 : [[ ${cartList.cartProdQt} ]]</h6>
											</div>
										</div>
									</div>
								</th:block>
							</th:block>
							<!-- Shopping Cart Item End -->
							<div class="bar"></div>
						</div>
						<hr>
						<th:block th:if="${cartList == null}">						
							<div class="cart__total cart__total__v2" style="padding: 0 0 0 10px;">
								<h3>총 수량</h3> <span class="value" id="totalShopCount">[[ ${prodDetailVO.prodDetailSto} ]] 개</span>
							</div>
							<hr>
							<div class="cart__total cart__total__v2" style="padding: 0 0 0 10px;">
								<h3>
									결제금액 <span>(Incl. VAT)</span>
								</h3>
								<span class="total" id="totalShopPrice" 
									  th:text="${prodDetailVO.prodDetailSto} * ${prod.prodPrice}"
									  th:value="${prodDetailVO.prodDetailSto} * ${prod.prodPrice}"></span>
							</div>
						</th:block>
						
						<th:block th:unless="${cartList == null}">
							<div class="cart__total cart__total__v2" style="padding: 0 0 0 10px;">
								<h3>총 수량</h3> <span class="value" id="totalCheckShopCount"></span>
							</div>
							<hr>
							<div class="cart__total cart__total__v2" style="padding: 0 0 0 10px;">
								<h3>
									결제금액 <span>(Incl. VAT)</span>
								</h3>
								<span class="total" id="totalCheckShopPrice"></span>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Checkout Section End -->

	<script>
		function sample6_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var addr = ''; // 주소 변수
							var extraAddr = ''; // 참고항목 변수

							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}

							// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
							if (data.userSelectedType === 'R') {
								// 법정동명이 있을 경우 추가한다. (법정리는 제외)
								// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
								if (data.bname !== ''
										&& /[동|로|가]$/g.test(data.bname)) {
									extraAddr += data.bname;
								}
								// 건물명이 있고, 공동주택일 경우 추가한다.
								if (data.buildingName !== ''
										&& data.apartment === 'Y') {
									extraAddr += (extraAddr !== '' ? ', '
											+ data.buildingName
											: data.buildingName);
								}
								// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
								if (extraAddr !== '') {
									extraAddr = ' (' + extraAddr + ')';
								}
								// 조합된 참고항목을 해당 필드에 넣는다.
								//document.getElementById("sample6_extraAddress").value = extraAddr;

							} 
							/* else {
								document.getElementById("sample6_extraAddress").value = '';
							} */

							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							document.getElementById('sample6_postcode').value = data.zonecode;
							document.querySelector('#addr1').innerText = data.zonecode;
							document.getElementById("sample6_address").value = addr + extraAddr;
							document.querySelector('#addr2').innerText = addr + extraAddr;
							// 커서를 상세주소 필드로 이동한다.
							document.getElementById("sample6_detailAddress")
									.focus();
						}
					}).open();
		}
	</script>
	<script th:inline="javascript">
		
		let shopMemId = [[${#authentication.name}]];
		$(document).ready(function(){	
			console.log(shopMemId);
			
			let shopMemData = {};
			shopMemData.memId = shopMemId; 
			
			$.ajax('findMemId', {
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify(shopMemData)
			})
			.done(result => {
				console.log(result);
				$('#f_name').val(result.name);
				$('#f_phone').val(result.phoneNo);
				
				printName();
				printTel();
			});
		})
		
		function printName() {
			let name = document.getElementById('f_name').value;
			document.getElementById("f_name_out").innerText = name;
		}
		
		function printTel() {
			let tel = document.querySelector('#f_phone').value;
			document.querySelector('#f_phone_out').innerText = tel;
		}
		
		function printBoth() {
			document.querySelector('#orderRptTel').value = document.querySelector('#f_phone').value;
			document.querySelector('#orderRptName').value = document.querySelector('#f_name').value;
		}

		function printDel() {
			document.querySelector('#orderRptTel').value = '';
			document.querySelector('#orderRptName').value = '';

			document.querySelector('#orderRptName').focus();
		}

		function printAdd3() {
			let add3 = document.querySelector('#sample6_detailAddress').value;
			document.querySelector('#addr3').innerText = add3;
		}
		
		
		/* 결제하기 */
		$('#iamportPayment').on('click', function() {
			requestPay();
		})
		
		
		/* 결제 함수 */
		function requestPay() {
			/* let orderTPayAmt;
			let orderProdCnt;
			let orderAdr1;
			let orderAdr2;
			let orderAdr3;
			let orderPrtName;
			let orderPrtTel;
			let orderReq;
			let memId; */
			let orderNum = createOrderNum()
			let formData = $('#checkOutForm').serializeArray();
			formData.push({name: 'memId', value: shopMemId});
			formData.push({name: 'merchantUid', value: orderNum});
			//formData.pust({name: 'type', value: 'direct'});
			console.log(formData);
			let objData = {};

			$.each(formData, (idx, obj) => {
				objData[obj.name] = obj.value;
			});
			// 필요한 전체 데이터 담기
			console.log(objData);
			
			//return;
			// IMP.reuest_pay 결제창 호출
			let uid = '';
			IMP.init('imp36847353');
			IMP.request_pay({
				pg: 'kakaopay',
		        pay_method: "card",
		        merchant_uid: orderNum, //가맹점 주문번호 (아임포트를 사용하는 가맹점에서 중복되지 않은 임의의 문자열을 입력)
		        name: objData.prodName, //결제창에 노출될 상품명
		        amount: objData.orderTPayAmt, //금액
		        buyer_email : objData.memId, 
		        buyer_name : objData.orderPrtName,
		        buyer_tel : objData.orderPrtTel,
		        display: {
					card_quota: [6]  // 할부개월 6개월까지 활성화
				}
			}, function(rsp) { // callback
				if(rsp.success) { // 결제 성공 시
					uid = rsp.imp_uid;
					console.log('rsp '+uid+' , '+rsp.merchant_uid); // uid와 주문번호
					objData.impUid = uid;
					
					$.ajax({
						url: 'orderPay',
						type: 'post',
						contentType : 'application/json',
						data: JSON.stringify(objData)
					})
					.done(function(result) {
						console.log(result.orderTableVO);
						if (result.result) {
							Swal2.fire({
								title: "상품 주문",
								text: "상품 주문이 완료되었습니다.",
								icon: "success",
							}).then(function(){
								location.href = "/mypage-shop";
							})
						} else {
							Swal2.fire({
								title: "상품 주문",
								text: "상품 주문이 실패되었습니다.",
								icon: "error",
							}).then(function(){
								location.reload();
							})
						}
					})
					.fail(function(err) {
						console.log(err);
						Swal2.fire({
							title: "상품 주문",
							text: "상품 주문 시스템 문제 발생",
							icon: "error",
						}).then(function(){
							location.reload();
						})
					})
				}
				else {
					Swal2.fire({
						title: "결제 실패",
						text: "결제가 실패되었습니다.",
						icon: "error",
					}).then(function(){
						console.log(rsp.error_msg);
					}) 
				}			
			})
		}
		
		// 주문번호 만들기
		function createOrderNum(){
			const date = new Date();
			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, "0");
			const day = String(date.getDate()).padStart(2, "0");
			
			let orderNum = year + month + day;
			for(let i=0;i<10;i++) {
				orderNum += Math.floor(Math.random() * 8);	
			}
			return orderNum;
		}
	</script>
	
	<!--/* 가격부분 , 추가하는 기능 */-->
	<script type="text/javascript">
		let onePrice = $('.onePrice');
		let totalPrice = 0;
		
		onePrice.each(function() {
			let checkPriceId = $(this).attr('id');
			
			let changeCheckPrice = $('#'+checkPriceId).attr('value');
			totalPrice += Number(changeCheckPrice);
			changeCheckPrice = changeCheckPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			changeCheckPrice = changeCheckPrice + '원';
			
			$('#'+checkPriceId).text(changeCheckPrice);
		})
		
		if($('#orderCartTPayAmt').length > 0) {
			$('#orderCartTPayAmt').val(totalPrice);	
		}
		
		let changeTotal = $('#totalShopPrice').text();
		changeTotal = changeTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		totalPrice = totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		changeTotal = changeTotal + '원'; 
		totalPrice = totalPrice + '원'; 
		
		$('#totalShopPrice').text(changeTotal);
		$('#totalCheckShopPrice').text(totalPrice);
		
		/*  */
		let checkProdQt = $('.checkProdQt');
		let totalProdQt = 0;
		
		checkProdQt.each(function() {
			totalProdQt += Number($(this).attr('value'));
		})
		
		/*  */
		if($('#orderCartProdCnt').length > 0) {
			$('#orderCartProdCnt').val(totalProdQt);		
		};
		
		
		totalProdQt = totalProdQt + '개'
		
		$('#totalCheckShopCount').text(totalProdQt);
		
		/*  */
		if($('#orderCartprodName').length > 0) {
			console.log($('#cartProdName').text());
			let prodName = $('#cartProdName').text() + ' 외 ' + totalProdQt;
			$('#orderCartprodName').val(prodName);
		}
	</script>
</th:block>

</html>