<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
	<style type="text/css">
svg, path, span, i {
	pointer-events: none;
}

.outline h3, .outline button {
	display: inline;
}

.outline {
	display: flex;
	justify-content: space-between;
}

#InfoContent p {
	margin: 0;
}

#mainImage img:hover {
	transform: scale(1.2);
}

section a, section span, section button, section input, section h1,
section h2, section h3, section h4, section h5, section h6, section pre {
	font-family: 'Noto Sans KR', sans-serif !important;
}

@import
	url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.rate {
	display: inline-block;
	border: 0;
	margin-right: 15px;
}

.rate>input {
	display: none;
}

.rate>label {
	float: right;
	color: #ddd
}

.rate>label:before {
	display: inline-block;
	font-size: 1rem;
	padding: .3rem .2rem;
	margin: 0;
	cursor: pointer;
	font-family: FontAwesome;
	content: "\f005 ";
}

.rate .half:before {
	content: "\f089 ";
	position: absolute;
	padding-right: 0;
}

.rate input:checked ~ label, .rate label:hover, .rate label:hover ~
	label {
	color: #FFD600 !important;
}

.rate input:checked+.rate label:hover, .rate input input:checked ~ label:hover,
	.rate input:checked ~ .rate label:hover ~ label, .rate label:hover ~
	input:checked ~ label {
	color: #FFD600 !important;
}
.rating ul{
	padding: 0;
	margin: 0;
}
</style>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> -->
</head>
<th:block layout:fragment="content">
<script type="text/javascript">
		//뒤로가기로 리스트로 돌아올 경우 select 초기화
		window.onpageshow = function(event) {    
			if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
				$('#cateColor').val('none').prop('selected',true);
				$('#cateSize').val('none').prop('selected',true);			
				$('#prodDetailSto').val('1');			
			}
		}
	</script>
	<!-- product detail section start  -->
	<section class="product-main">
		<div class="container">
			<div class="row product-detail">
				<div class="col-md-7">			
					<div class="product-gallery">
						<!-- 서브 사진 보여주는 공간 -->
						<div class="product-gallery__thumb swiper productGallerySwiperThumb">
							<div class="swiper-wrapper">
									<div class="swiper-slide" th:each="attachList : ${attachList}">
										<div class="gallery-item">
											<img th:src="${attachList.attachPath}"
												alt="product iamge" id="productD"
												style="object-fit: cover !important; border-radius: 15px;"/>
										</div>
									</div>
									<!--/* <div class="swiper-slide">
										<div class="gallery-item">
											<img src="assets/img/shop/teni.jpg"
												alt="product iamge" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="gallery-item">
											<img src="assets/img/shop/teni.jpg"
												alt="product iamge" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="gallery-item">
											<img src="assets/img/shop/teni.jpg"
												alt="product iamge" />
										</div>
									</div> */-->
							</div>
						</div>
						<!-- 메인 사진 보여주는 공간 -->
						<div class="product-gallery__main swiper productGallerySwiper">
							<div class="swiper-wrapper">				
									<div class="swiper-slide" th:each="attachList : ${attachList}">
										<div class="gallery-item" id="mainImage">
											<img th:src="${attachList.attachPath}"
												alt="product iamge" style="object-fit: cover !important; border-radius: 15px;
												    -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;"/>
										</div>
									</div>
									<!--/* <div class="swiper-slide">
										<div class="gallery-item">
											<img src="assets/img/shop/teni.jpg"
												alt="product iamge" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="gallery-item">
											<img src="assets/img/shop/teni.jpg"
												alt="product iamge" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="gallery-item">
											<img src="assets/img/shop/teni.jpg"
												alt="product iamge" />
										</div>
									</div> */-->
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="col-md-5">
					<!-- 상품 설명 -->
					<div class="product-detail__wrapper">
						<!-- 상품 이름 -->
						<h2 class="product-detail__title">
							[[ ${prod.prodName} ]]</h2>
						<div class="product-detail__meta">
							<!-- 상품 별점 -->
							<div class="rating">
								<th:block th:switch="${prodStar.avgStar != null ? prodStar.avgStar : 0}">
									<ul th:case="0" class="star" style="padding: 0">
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
									</ul>
									<ul th:case="1" class="star" style="padding: 0">
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
									</ul>
									<ul th:case="2" class="star" style="padding: 0">
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
									</ul>
									<ul th:case="3" class="star" style="padding: 0">
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
									</ul>
									<ul th:case="4" class="star" style="padding: 0">
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-regular fa-star"></i></li>
									</ul>
									<ul th:case="5" class="star" style="padding: 0">
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
									</ul>
								</th:block>
								<div class="total__rating">
									<p style="font-size: 14px; font-family: 'Noto Sans KR', sans-serif; margin: 0;">([[${prodStar.prodReview}]])</p>
								</div>
							</div>
							
							<ul class="right-meta" style="margin: 0;">
								<!-- 카카오 공유 ㅂ튼 -->
								<li><a class="share__btn" id="kakao-link-btn" href="javascript:kakaoShare()"> <svg width="16"
											height="16" viewBox="0 0 16 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
                                                <path
												d="M2.6665 8V13.3333C2.6665 13.687 2.80698 14.0261 3.05703 14.2761C3.30708 14.5262 3.64622 14.6667 3.99984 14.6667H11.9998C12.3535 14.6667 12.6926 14.5262 12.9426 14.2761C13.1927 14.0261 13.3332 13.687 13.3332 13.3333V8"
												stroke="#002642" stroke-linecap="round"
												stroke-linejoin="round" />
                                                <path
												d="M10.6668 3.99998L8.00016 1.33331L5.3335 3.99998"
												stroke="#002642" stroke-linecap="round"
												stroke-linejoin="round" />
                                                <path
												d="M8 1.33331V9.99998" stroke="#002642"
												stroke-linecap="round" stroke-linejoin="round" />
                                            </svg> Share
								</a></li>
								<!-- 위시리스트 버튼 위시리스트 넣는 이벤트 -->
								<li><a th:id="prodNo_+${prod.prodNo}" class="wishlist__btn wishProd" style="cursor:pointer;"> <svg width="16"
											height="16" viewBox="0 0 16 16" fill="none"
											xmlns="http://www.w3.org/2000/svg">
                                                <path
												d="M13.8936 3.07333C13.5531 2.73267 13.1488 2.46243 12.7038 2.27805C12.2588 2.09368 11.7819 1.99878 11.3002 1.99878C10.8186 1.99878 10.3416 2.09368 9.89667 2.27805C9.4517 2.46243 9.04741 2.73267 8.70691 3.07333L8.00024 3.78L7.29357 3.07333C6.60578 2.38553 5.67293 1.99914 4.70024 1.99914C3.72755 1.99914 2.7947 2.38553 2.10691 3.07333C1.41911 3.76112 1.03271 4.69397 1.03271 5.66666C1.03271 6.63935 1.41911 7.5722 2.10691 8.26L2.81358 8.96666L8.00024 14.1533L13.1869 8.96666L13.8936 8.26C14.2342 7.91949 14.5045 7.51521 14.6889 7.07023C14.8732 6.62526 14.9681 6.14832 14.9681 5.66666C14.9681 5.185 14.8732 4.70807 14.6889 4.26309C14.5045 3.81812 14.2342 3.41383 13.8936 3.07333V3.07333Z"
												stroke="black" stroke-linecap="round"
												stroke-linejoin="round" />
                                            </svg> Add to Wishlist
								</a></li>
								<!-- 재고 있는지 -->
								<li>
									<div class="stock__item">In-stock</div>
								</li>
							</ul>
						</div>
						<!-- 상품 가격 -->
						<h3 class="product-detail__price" id="prodPrice" style="color: #3c3c3c">[[ ${prod.prodPrice} ]]</h3>
						<!-- <p class="product-detail__short_desc">There are many
							variations of passages of Lorem Ipsum and available,majority have
							suffered alteration in somey form, by injected humour, or
							randomised words which don't look even slightly believable.</p> -->
							
						<form action="checkout" th:object="${prodDetail}" id="prodBuyForm">
							<input name="prodNo" th:value="${prod.prodNo}" type="hidden">
							<input name="type" value="direct" type="hidden">
							<!--/* <input name="memId" th:value="${#authentication.name}" type="hidden"> */-->
							<div class="product-detail__attr">
								<div class="product__attr">
									<!-- <span class="product-detail--stroke">Color</span> -->
									
									<!-- 샋상 선택 -->
									<!-- <ul class="product__attr--color">
										<li><input type="radio" name="filterByColor"
											id="colorGreen01" value="green" /> <label for="colorGreen01"
											data-bg="#12B76A"></label></li>
	
										<li><input type="radio" name="filterByColor"
											id="colorYellow01" value="yellow" /> <label
											for="colorYellow01" data-bg="#F1C584"></label></li>
									</ul> -->
									<div class="input-group mb-3" id="buyColor">
										<label class="input-group-text" for="cateColor"
											style="margin: 0; padding: 10px 26px;">Color</label>
										<select class="form-select" th:field="*{cateColor}"
												style="padding-left: 20px" onchange="changeSize()">
											<option value="none" selected>Choose...</option>
											<option value="흰색">흰색</option>
											<option value="검은색">검은색</option>
											<option value="파란색">파란색</option>
											<option value="초록색">초록색</option>
											<option value="노란색">노란색</option>
											<option value="주황색">주황색</option>
											<option value="빨간색">빨간색</option>
										</select>
									</div>
								</div>
							</div>
	
							<div class="product-detail__attr" style="margin-top: 0">
								<div class="product__attr">
									<!-- <span class="product-detail--stroke">Size</span>
									<ul class="product__attr--size">
										<li><input type="radio" name="filterBySize"
											id="sizeXXL-01" value="xxl" /> <label for="sizeXXL-01">XXL</label>
										</li>
										<li><input type="radio" name="filterBySize" id="sizeXL-01"
											value="xl" /> <label for="sizeXL-01">XL</label></li>
										<li><input type="radio" name="filterBySize" id="sizeL-01"
											value="l" /> <label for="sizeL-01">L</label></li>
										<li><input type="radio" name="filterBySize" id="sizeM-01"
											value="m" /> <label for="sizeM-01">M</label></li>
										<li><input type="radio" name="filterBySize" id="sizeS-01"
											value="s" /> <label for="sizeS-01">S</label></li>
										<li><input type="radio" name="filterBySize" id="sizeXS-01"
											value="xs" /> <label for="sizeXS-01">XS</label></li>
									</ul> -->
									<div class="input-group mb-3" id="buySize"
										th:switch="${prod.cateProd}">
										<th:block th:case="의류">
											<label class="input-group-text" for="cateSize"
												style="margin: 0; padding: 10px 30px;">Size</label>
											<select class="form-select" th:field="*{cateSize}" style="padding-left: 20px" onchange="changeCount()">
												<option value="none" selected>Choose...</option>
												<option value="XS">XS</option>
												<option value="S">S</option>
												<option value="M">M</option>
												<option value="L">L</option>
												<option value="XL">XL</option>
											</select>
										</th:block>
										<!-- th:switch="${prod.cateProd}"  -->
										<th:block th:case="신발">
											<label class="input-group-text" for="cateSize"
												style="margin: 0; padding: 10px 30px;">Size</label>
											<select class="form-select" th:field="*{cateSize}"
												style="padding-left: 20px" onchange="changeCount()">
												<option value="none" selected>Choose...</option>
												<option value="220">220</option>
												<option value="230">230</option>
												<option value="240">240</option>
												<option value="250">250</option>
												<option value="260">260</option>
												<option value="270">270</option>
												<option value="280">280</option>
												<option value="290">290</option>
											</select>
										</th:block>
										<th:block th:case="*">
											<label class="input-group-text" for="cateSize"
												style="margin: 0; padding: 10px 30px;">Size</label>
											<select class="form-select" th:field="*{cateSize}"
												onchange="changeCount()" style="padding-left: 20px">
												<option value="none" selected>Choose...</option>
												<option value="FREE">FREE</option>
											</select>
										</th:block>
									</div>
								</div>
							</div>
							
							<!-- 상품 수량 -->
							<div class="product-detail__qty">
								<span class="product-detail--stroke">quantity</span>
								<div class="quantity quantity--outline">
									<button type="button" class="decressQnt" id="decressCount">
										<span class="bar"></span>
									</button>
									<input id="prodDetailSto" name="prodDetailSto" class="qnttinput" type="number"
										readonly="readonly" value="1" min="1" max="10" />
									<button type="button" class="incressQnt" id="checkCount">
										<span class="bar"></span>
									</button>
								</div>
							</div>
							
							<!-- 구매, 장바구니 버튼 -->
							<div class="product-detail__action">
								<div class="item">
									<div class="header__cart">
										<div class="cart__btn">								
											<a href="#" class="btn btn-outline" id="myCart">장바구니</a>
										</div>
									</div>
								</div>
								<div class="item">
									<a type="button" id="goCheckout" class="btn btn-dark">구매하기</a>
								</div>
							</div>
						</form>
						
						<!-- 배송 및 환불 정보들 -->
						<div class="product-detail__accordion accordion"
							id="productDetailAccordion">
							<div class="accordion-item">
								<h2 class="accordion-header" id="accordionOne">
									<button
										class="accordion-button product-detail--stroke collapsed"
										type="button" data-bs-toggle="collapse"
										data-bs-target="#accordion_one" aria-controls="accordion_one">
										배송 안내</button>
								</h2>
								<div id="accordion_one" class="accordion-collapse collapse"
									aria-labelledby="accordionOne"
									data-bs-parent="#productDetailAccordion">
									<div class="accordion-body">
										<p>배송지역: 전국(일부지역 제외)</p>
										<p>배송비: 3,000원 (주문 합계 50,000원 이상 무료)</p>
										<p>배송기간: 영업일 기준 1~2일 소요</p>
										<p>배송안내: 상품의 출고지 또는 물류센터 보관장소에 따라 분리 배송</p>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="accordionTwo">
									<button
										class="accordion-button product-detail--stroke collapsed"
										type="button" data-bs-toggle="collapse"
										data-bs-target="#accordion_two" aria-controls="accordion_two">
										반품 안내</button>
								</h2>
								<div id="accordion_two" class="accordion-collapse collapse"
									aria-labelledby="accordionTwo"
									data-bs-parent="#productDetailAccordion">
									<div class="accordion-body">
										<p>· 반품접수는 상품 수령 후 7일 이내에 상품 미훼손 및 미사용한 경우에만 해당됩니다.</p>
										<p>· 색상/사이즈 불만족, 고객 변심 반품의 경우 배송 비용에 대한 배송비는 환불되지 않습니다.</p>
										<p>· 제품하자, 오배송으로 인한 반품 및 교환은 고객센터로 연락주시면 빠른 처리 도와드리겠습니다.</p>
										<p>· 테니스윙 온라인 스토어에서 구매하신 제품에 대해 반품 접수를 원하실 경우 마이페이지를 이용하시거나 테니스윙 고객센터 유선상담을 통해 처리하실 수 있습니다.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="row product-info" id="tabMenus">
				<div class="col-12 tab_wrap">
					<div class="tabs__wrapper tabs__wrapper--v3">
						<div class="tabs__filter">
							<ul class="nav nav-tabs tit_list" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="home-tab"
										data-bs-toggle="tab" data-bs-target="#home-tab-pane"
										type="button" role="tab" aria-controls="home-tab-pane"
										aria-selected="true" value="#home">
										Product Details</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="groceries-tab"
										data-bs-toggle="tab" data-bs-target="#groceries-tab-pane"
										type="button" role="tab" aria-controls="groceries-tab-pane"
										aria-selected="false" value="#groceries">
										Additional Information</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="women-tab" data-bs-toggle="tab"
										data-bs-target="#women-tab-pane" type="button" role="tab"
										aria-controls="women-tab-pane" aria-selected="false" value="#women">
										Reviews</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-content" id="myTabContent" style="min-height: 300px;">
						<div class="tab-pane tab_list fade show active" id="home"
							role="tabpanel" aria-labelledby="home-tab" tabindex="0">
							<div class="content__body">
								<pre>[[ ${prod.prodExp} ]]</pre>
							</div>
						</div>
						<div class="tab-pane tab_list fade" id="groceries" role="tabpanel"
							aria-labelledby="groceries-tab" tabindex="0">
							<div class="content__body" id="InfoContent">
								<p style="margin-bottom: 5px"><b>배송 안내</b></p>
								<p>· 배송지역: 전국(일부지역 제외)</p>
								<p>· 배송비: 3,000원 (주문 합계 50,000원 이상 무료)</p>
								<p>· 배송기간: 영업일 기준 1~2일 소요</p>
								<p>· 배송안내: 상품의 출고지 또는 물류센터 보관장소에 따라 분리 배송</p>
								<br>
								<p style="margin-bottom: 5px"><b>반품 안내</b></p>
								<p>· 반품접수는 상품 수령 후 7일 이내에 상품 미훼손 및 미사용한 경우에만 해당됩니다.</p>
								<p>· 색상/사이즈 불만족, 고객 변심 반품의 경우 배송 비용에 대한 배송비는 환불되지 않습니다.</p>
								<p>· 제품하자, 오배송으로 인한 반품 및 교환은 고객센터로 연락주시면 빠른 처리 도와드리겠습니다.</p>
								<p>· 테니스윙 온라인 스토어에서 구매하신 제품에 대해 반품 접수를 원하실 경우 마이페이지를 이용하시거나 테니스윙 고객센터 유선상담을 통해 처리하실 수 있습니다.</p>
							</div>
						</div>
						<!-- 후기 -->
						<div class="tab-pane tab_list fade" id="women" role="tabpanel"
							aria-labelledby="women-tab" tabindex="0">
							<!-- <div class="review__form pb-30">
								<h3 class="sec__title">Leave a Comment</h3>
								<form action="#" class="form__wrapper">
									<div class="flex__form">
										<div class="form-group">
											<label for="name">Name</label> <input type="text" name="name"
												id="name" class="form-control" placeholder="Enter your name" />
										</div>
										<div class="form-group">
											<label for="emails">Email</label> <input type="email"
												name="email" id="emails" class="form-control"
												placeholder="Enter your email" />
										</div>
										<div class="form-group">
											<label for="web">Website</label> <input type="text"
												name="name" id="web" class="form-control"
												placeholder="Your Website" />
										</div>
									</div>
									<div class="form-group">
										<label for="area">Comment</label>
										<textarea name="area" cols="30" rows="5" id="area"
											class="form-control form-area" placeholder="Type a comment"></textarea>
									</div>
									<div class="input-info__save">
										<input class="checkbox" id="checkbox-2" type="checkbox"
											value="value2" /> <label for="checkbox-2"> Save my
											name, email in this browser for the next time I comment.</label>
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div> -->
							<!-- Button trigger for login form modal -->

							<!--review form Modal -->
							<div class="modal fade text-left" id="inlineForm" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel33"
								aria-hidden="true">
								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myModalLabel33">리뷰 등록</h4>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x" style="height: 24px; width: 24px;"></i>
											</button>
										</div>
										<form action="#" class="form__wrapper" id="addReview" enctype="multipart/form-data">
											<input type="hidden" name="prodNo" th:value="${prod.prodNo}">
											<div class="modal-body">
												<div class="row">
													<div class="mb-3 col-md-8">
														<input type="file" name="files" id="files" multiple="multiple" class="form-control" style="padding: 0.375rem 0.75rem">
													</div>
	
													<div class="mb-3 col-md-4">
														<!--/* input-group
														<label class="input-group-text" for="inputGroupSelect01" 
															style="margin: 0; font-weight: 400; color: #71808F; padding-left: 25px; padding-right: 25px">
															   Stars</label>
														<select class="form-select" id="inputGroupSelect01">
															<option selected>Choose...</option>
															<option value="1">One</option>
															<option value="2">Two</option>
															<option value="3">Three</option>
															<option value="4">Four</option>
															<option value="5">Five</option>
														</select> */-->
														<fieldset class="rate">
							                                <input type="radio" id="rating5" name="prodReviewStar" value="5"><label for="rating5" title="5점"></label>
							                                <input type="radio" id="rating4" name="prodReviewStar" value="4"><label for="rating4" title="4점"></label>
							                                <input type="radio" id="rating3" name="prodReviewStar" value="3"><label for="rating3" title="3점"></label>
							                                <input type="radio" id="rating2" name="prodReviewStar" value="2"><label for="rating2" title="2점"></label>
							                                <input type="radio" id="rating1" name="prodReviewStar" value="1"><label for="rating1" title="1점"></label>
							                            </fieldset>
													</div>
												</div>

												<div class="form-group">
													<label for="prodReviewCtt">Comment</label>
													<textarea name="prodReviewCtt" cols="30" rows="5" id="prodReviewCtt"
														class="form-control form-area" placeholder="상품 후기를 작성해주세요.."></textarea>
												</div>
										
												<!-- <label for="email">Email: </label>
												<div class="form-group">
													<input id="email" type="text" placeholder="Email Address"
														class="form-control">
												</div>
												<label for="password">Password: </label>
												<div class="form-group">
													<input id="password" type="password" placeholder="Password"
														class="form-control">
												</div> -->
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-light-secondary"
													data-bs-dismiss="modal">
													<i class="bx bx-x d-block d-sm-none"></i> <span
														class="d-none d-sm-block">취소</span>
												</button>
												<button type="button" class="btn btn-dark ms-1"
													data-bs-dismiss="modal" id="reviewProdRegi">
													<i class="bx bx-check d-block d-sm-none"></i> <span
														class="d-none d-sm-block">등록</span>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							
							<div class="client__review">
								<div class="outline" style="margin: 30px 0 30px 0;">
									<h3 class="sec__title" style="margin: 0;">Reviews</h3>
									<button type="button" class="btn btn-dark"
									data-bs-toggle="modal" data-bs-target="#inlineForm" id="reviewBtn">
									리뷰 등록</button>
								</div>
								<div class="review__wrapper">
									<th:block th:each="prodReview : ${prodReview}">
										<div class="review__item" th:id="review_+${prodReview.prodReviewNo}">
											<div class="avatar product__image">
												<img th:if="${prodReview.attachPath} != null" th:src="${prodReview.attachPath}" alt="avatar" style="overfit:cover"/>
												<img th:unless="${prodReview.attachPath} != null" src="/assets/img/default img.jpg" alt="avatar" style="overfit:cover"/>
											</div>
											<div class="review__content">
												<div class="review__desc" style="display : flex; align-items : center;">
													<div class="review__wrap col-md-7">
														<h6 style="color: #3c3c3c">[[ ${prodReview.memId} ]]</h6>
														<div class="rating">
															<th:block th:switch="${prodReview.prodReviewStar != null ? prodReview.prodReviewStar : 0}">
																<ul th:case="0" class="star">
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																</ul>
																<ul th:case="1" class="star">
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																</ul>
																<ul th:case="2" class="star">
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																</ul>
																<ul th:case="3" class="star">
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																</ul>
																<ul th:case="4" class="star">
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-regular fa-star"></i></li>
																</ul>
																<ul th:case="5" class="star">
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																</ul>
															</th:block>
														</div>
													</div>
													<div class="col-md-5">
														<div class="date" style="text-align: right; color: #3c3c3c">[[${#dates.format(prodReview.prodReviewRegiDate, 'yyyy년 MM월 dd일')}]]</div>
														<th:block th:if="${#strings.equals(prodReview.memId, #authentication.name)}">
															<button type="button" class="btn btn-outline prodReviewDel" th:id="reviewDel_+${prodReview.prodReviewNo}" 
																style="float: right; display: inline-block; background: rgba(217, 45, 32, 0.1); color: #eb5e28 !important;">삭제</button>
														</th:block>
													</div>
												</div>
												<div class="review__para">
													<p>[[${prodReview.prodReviewCtt}]]</p>
												</div>
											</div>
										</div>
									</th:block>
									<br>
									<div style="display: flex; justify-content: center">
										<button id="reviewLoad" class="btn btn-primary" 
											style="width: 200px; background-color: white; border-color: #3C3C3C; color: #3C3C3C;">More</button>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product detail section end -->

	<!-- Trending Section Start -->
	<!-- 하단 상품 슬라이드 -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<section class="trending__section pt-0" style="margin-top: 70px;">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title" style="margin: 20px 0 0 0;">
						<h2 style="color: #3c3c3c; font-size: 25px;">Related Product</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="product__wrapper swiper__pagination">
						<div class="swiper trending__Swiper">
							<div class="swiper-wrapper">
							
								<div th:each="relatedProd : ${relatedProd}" class="swiper-slide">
									<div class="product-card">
										<div class="product__image__wrapper">
											<a th:onclick="|location.href='@{/shopDetail(prodNo=${relatedProd.prodNo})}'|" class="product__image"> <img
												th:src="${relatedProd.attachPath}" alt="icon" />
											</a>
											<!-- <div class="badge">HIT</div> -->
											<div class="product__actions">
												<a class="action__btn wishProd" th:id="prodNo_+${relatedProd.prodNo}"> 
													<svg width="16" height="14" viewBox="0 0 16 14" fill="none"
														xmlns="http://www.w3.org/2000/svg">
                                                        <path
															d="M13.8931 2.07333C13.5526 1.73267 13.1483 1.46243 12.7033 1.27805C12.2584 1.09368 11.7814 0.998779 11.2998 0.998779C10.8181 0.998779 10.3412 1.09368 9.89618 1.27805C9.45121 1.46243 9.04692 1.73267 8.70642 2.07333L7.99975 2.78L7.29309 2.07333C6.60529 1.38553 5.67244 0.999136 4.69975 0.999136C3.72706 0.999136 2.79422 1.38553 2.10642 2.07333C1.41863 2.76112 1.03223 3.69397 1.03223 4.66666C1.03223 5.63935 1.41863 6.5722 2.10642 7.26L2.81309 7.96666L7.99975 13.1533L13.1864 7.96666L13.8931 7.26C14.2337 6.91949 14.504 6.51521 14.6884 6.07023C14.8727 5.62526 14.9676 5.14832 14.9676 4.66666C14.9676 4.185 14.8727 3.70807 14.6884 3.26309C14.504 2.81812 14.2337 2.41383 13.8931 2.07333V2.07333Z"
															stroke="#252522" stroke-linecap="round"
															stroke-linejoin="round" />
                                                    </svg>
												</a>
											</div>
										</div>
										<div class="product__content">
											<div class="product__rating">
												<th:block th:switch="${relatedProd.avgStar != null ? relatedProd.avgStar : 0}">
													<ul th:case="0" class="star" style="padding: 0">
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="1" class="star" style="padding: 0">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul> 
													<ul th:case="2" class="star" style="padding: 0">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="3" class="star" style="padding: 0">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="4" class="star" style="padding: 0">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-regular fa-star"></i></li>
													</ul>
													<ul th:case="5" class="star" style="padding: 0">
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
														<li><i class="fa-solid fa-star"></i></li>
													</ul>
												</th:block>
												<div class="total__rating" style="font-family: 'Noto Sans KR', sans-serif; margin: 0;">([[${relatedProd.prodReview}]])</div>
												<!-- <div class="total__rating">(321)</div> -->
											</div>
											<!-- 상품명 -->
											<div class="product__title">
												<h5>
													<a href="product-single.html">[[ ${relatedProd.prodName} ]]</a>
												</h5>
											</div>
											<div class="product__bottom">
												<div class="product__price relatedPrice" th:id="relatedProd+${relatedProd.prodNo}">
													[[ ${relatedProd.prodPrice} ]]
												</div>
												<div class="cart__action__btn">
													<div class="cart__btn">
														<a th:onclick="|location.href='@{/shopDetail(prodNo=${relatedProd.prodNo})}'|" class="btn btn-outline">
															상세보기</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="swiper-button-next">
								<svg width="35" height="16" viewBox="0 0 35 16" fill="none"
									xmlns="http://www.w3.org/2000/svg">
                                           <path d="M1 8L34 8"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                           <path d="M27 1L34 8L27 15"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                       </svg>
							</div>
							<div class="swiper-button-prev">
								<svg width="23" height="16" viewBox="0 0 23 16" fill="none"
									xmlns="http://www.w3.org/2000/svg" style="width: 85%">
                                        <path d="M22 8H1"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                        <path d="M8 15L1 8L8 1"
										stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
                                    </svg>
							</div>
							<!-- <div class="swiper-slide"></div> -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Trending Section End -->
	
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

	<script th:inline="javascript">
		// SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
		Kakao.init('5cb79bd417ece35ea33fa7b756305a02');

		// SDK 초기화 여부를 판단합니다.
		console.log(Kakao.isInitialized());

		function kakaoShare() {
			Kakao.Link.sendDefault({
				objectType : 'feed',
				content : {
					title : 'TENNISWING-SHOP',
					description : [[ ${prod.prodName} ]],
					imageUrl : 'https://tm.ajlabs.co.kr/common/prdAssets/008/WR142011U2/2.jpg',
					link : {
						mobileWebUrl : '카카오공유하기 시 클릭 후 이동 경로',
						webUrl : '카카오공유하기 시 클릭 후 이동 경로',
					},
				},
				buttons : [ {
					title : '웹으로 보기',
					link : {
						mobileWebUrl : '카카오공유하기 시 클릭 후 이동 경로',
						webUrl : '카카오공유하기 시 클릭 후 이동 경로',
					},
				}, ],
				// 카카오톡 미설치 시 카카오톡 설치 경로이동
				installTalk : true,
			})
		}
	</script>

	<script th:inline="javascript">
	/*<![CDATA[*/
		
		// 리뷰 등록 버튼 보이기 안 보이기
		$(function() {
			console.log([[ ${prod.prodNo} ]]);
			prodNo = [[ ${prod.prodNo} ]];
			$.ajax('confirmOrder', {
				type: 'post',
				data: {prodNo},				
			}).done(results => {
				if(results == 0){
					$('#reviewBtn').css('display','none');
				}
			}).fail(err => console.log(err));
		})
		
		// 리뷰 등록
		$('#reviewProdRegi').on('click',function(e){
			let form = $('#addReview')[0];
			let reviewInfo = new FormData(form);
			//console.log('asd'+$('#prodReviewStar').is(':checked'));
			
			for(let value of reviewInfo.values())
				console.log(value);
			
			if(!($('input[name=prodReviewStar]').is(':checked'))) {
				Swal.fire({
					text: "별점을 선택해주세요.",
					icon: "info",
					didClose: () =>{
						$('#prodReviewStar').focus();
					}
				})				
				return;	
			} else if($('#prodReviewCtt').val() == '') {
				Swal.fire({
					text: "후기 내용을 입력하세요.",
					icon: "info",
					didClose: () =>{
						$('#prodReviewCtt').focus();
					}
				})				
				return;	
			}
			
			$.ajax('insertProdReview', {
				type: 'post',
				data: reviewInfo,
				enctype: 'multipart/form-data',
				contentType : false,
				processData : false
			}).done(results => {
				if (results.result) {
					Swal2.fire({
						icon: "success",
						title: "리뷰 등록",
						text: "정상적으로 등록되었습니다.",
					}).then(function(){
						location.reload();
					})
				} else {
					Swal2.fire({
						icon: "error",
						title: "리뷰 등록",
						text: "정상적으로 등록되지 않았습니다.",
					}).then(function(){
						console.log(results);
						location.reload();
					})
				}
			})
			.fail(err => console.log(err));
		})
		
		moreBtn();
		function moreBtn(){
			$('.review__item').css('display','none');
			$('.review__item').slice(0,3).show();
			$('#reviewLoad').click(function(e){
				e.preventDefault();
				$('.review__item:hidden').slice(0,3).show();
				if($(".review__item:hidden").length == 0){ // 컨텐츠 남아있는지 확인
		            $('#reviewLoad').fadeOut(100); // 컨텐츠 없을 시 버튼 사라짐
		            b = `<div style="text-align: center;">
						<p>마지막 후기 입니다.</p>
						</div>`
						$('.review__wrapper').append(b);
		        }
			});
		}
		if($('.review__item').length == 0){
			b = `<div id="noReview" style="text-align: center;">
				후기가 없습니다.
				</div>`
				$('.review__wrapper').append(b);
				$('#reviewLoad').hide();
		}
		
		// 후기 삭제
		$('.prodReviewDel').on('click',reviewDel);
		
		function reviewDel(e){
			Swal.fire({
				  title: "리뷰 삭제",
				  text: "정말 삭제하시겠습니까?",
				  icon: "warning",
				  showCancelButton: true,
				  confirmButtonColor: "#3085d6",
				  cancelButtonColor: "#d33",
				  confirmButtonText: "삭제",
				  cancelButtonText: "취소"
				}).then((result) => {
				  if (result.isConfirmed) {
				    console.log($(e.target));
					let prodReviewNo = $(e.target).prop("id").replace("reviewDel_","");
					console.log(prodReviewNo);
					$.ajax({
						type: 'POST',
						url: 'deleteProdReview',
						data: {prodReviewNo},
						dataType: 'json',
						success: function(result){
							if(result){
								Swal.fire({
									  icon: "success",
									  title: "리뷰 삭제",
									  text: "정상적으로 삭제되었습니다.",
									}).then(function(){
										location.reload();
										//$('#review_'+prodReviewNo).remove();
										//moreBtn();
									})
							}else{
								Swal.fire({
									  icon: "error",
									  title: "",
									  text: "정상적으로 삭제되지 않았습니다. \n정보를 확인해주시기바랍니다.",
								})
							}
						}
					})
			  	}
			});
		}
		// 상품 상세 존재하는 색상 표시
		//console.log(/*[[ ${prodDetailList} ]]*/);
		let prodDetailList = [[ ${prodDetailList} ]];
		let prodDetailColors = [];
		
		prodDetailList.forEach(function(item) {
			//console.log(item);
			//console.log(item.cateColor);
			// 중복 제거하며 배열에 담기
			if(item.prodDetailSaleSts == '판매중'){				
				if(!prodDetailColors.includes(item.cateColor))
					prodDetailColors.push(item.cateColor);
			}
		});
		
		console.log(prodDetailColors);
		//console.log($('#cateColor option').text());
		
		$('#cateColor option').each((idx, item) => {
			//console.log($(item).text());
			if(!prodDetailColors.includes($(item).text()) && $(item).val() != 'none')
				$(item).hide();
		});
		
		// 색상 선택 시 해당 색상에 존재하는 사이즈 출력
		function changeSize() {
			console.log($('#cateColor option:selected').text());
			$('#cateSize option').show();
			$('#cateSize').val('none').prop('selected', true);
			
			let selectColor = $('#cateColor option:selected').text();
			let selectTemp = [];
			
			// 선택한 색이 가지고 있는 사이즈 배열에 담기
			prodDetailList.forEach(function(item) {
				if(item.prodDetailSaleSts == '판매중'){					
					if(item.cateColor == selectColor)				
						selectTemp.push(item.cateSize);
				}
			});
			
			console.log(selectTemp);
			
			$('#cateSize option').each((idx, item) => {
				//console.log($(item).text());
				if((!selectTemp.includes($(item).text())) && $(item).val() != 'none'){					
					//console.log($(item).text());
					$(item).hide();
				}
			})
			$('#checkCount').attr("disabled", false);
			$('#prodDetailSto').val('1');
		}
		
		let selectNum;
		// 사이즈별 제고 처리
		function changeCount() {
			//console.log($('#cateColor').val());
			if($('#cateColor').val() == 'none'){
				Swal.fire({
					title: "상품 색상",
					text: "상품 색상을 선택해주세요.",
					icon: "info",
					didClose: () =>{
						$('#cateColor').focus();
						$('#cateSize').val('none').prop('selected', true);
					}
				})				
				return;	
			}
			let selectColor = $('#cateColor option:selected').text();
			let selectSize = $('#cateSize option:selected').text();
			
			
			// 선택한 색, 사이즈가 가지는 수량 담기
			prodDetailList.forEach(function(item) {
				if(item.prodDetailSaleSts == '판매중'){					
					if(item.cateColor == selectColor && item.cateSize == selectSize)				
						selectNum = item.prodDetailSto;
				}
			});
			
			console.log(selectNum);
			
			$('#prodDetailSto').attr('max', selectNum);
			$('#checkCount').attr("disabled", false);
			$('#prodDetailSto').val('1');
		}
		
		$('#checkCount').on('click', function(e){
			if(resetOrder()){				
				console.log($('#prodDetailSto').val());
				if($('#prodDetailSto').val() == (selectNum - 1)) {
					$('#checkCount').attr("disabled", true);
					Swal.fire({
						title: "상품 재고",
						text: "추가 주문 가능한 수량이 없습니다.",
						icon: "info",
					})		
				}
			}
		});
		
		$('#decressCount').on('click', function(e){
			$('#checkCount').attr("disabled", false);
		})
		
		/* 폼 입력 확인 함수 */
		function resetOrder() {
			if($('#cateColor').val() == 'none'){
				Swal.fire({
					title: "상품 색상",
					text: "상품 색상을 선택해주세요.",
					icon: "info",
					didClose: () =>{
						$('#cateColor').focus();
						$('#prodDetailSto').val('1');
					}
				})				
				return false;	
			} else if($('#cateSize').val() == 'none'){
				Swal.fire({
					title: "상품 사이즈",
					text: "상품 사이즈를 선택해주세요.",
					icon: "info",
					didClose: () =>{
						$('#cateSize').focus();
						$('#prodDetailSto').val('1');
					}
				})				
				return false;	
			}
			return true;
		}
		
		/* 체크아웃 페이지로 이동 */
		$('#goCheckout').on('click', function() {
			let shopMemId = [[${#authentication.name}]];
			console.log(shopMemId);
			
			if(shopMemId == "anonymousUser"){
				Swal.fire({
					title: "로그인 확인",
					html: `로그인이 필요한 서비스입니다.<br>
						   로그인 페이지로 이동하시겠습니까?`,
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "이동",
					cancelButtonText: "취소"
				}).then((result) => {
					  if (result.isConfirmed) {
					    location.href = '/loginform';
					    return;
					  }
				})
			} else {
				if(resetOrder()){
					// 체크아웃 페이지로 이동
					$('#prodBuyForm')[0].submit();
				}				
			}
			
		});
		
		// 탭 기록 남기기
		$(window).on('load', function() {
		    tab();
		})

		function tab() {
		    //탭 구분 파라미터 이름
		    const paramName = 'tabName';

		    //탭메뉴 실행 함수
		    function activateTab(tabId, updateUrlParam) {
		        //tabId 값이 first 일 때 첫번째 탭 선택
		        tabId = tabId === 'first' ? $('.tab_wrap .tit_list > li:first-child button').val() : tabId;
				console.log(tabId);
		        
		        //초기화
		        $(".tab_wrap .tit_list > li").removeClass("active");
		        $(".tab_wrap .tit_list > li button").removeClass("active");
		        $(".tab_wrap .tab_list").removeClass("active");
		        $(".tab_wrap .tab_list").removeClass("show");

		        //실행
		        $(`.tab_wrap .tit_list > li button[value="${tabId}"]`).parent().addClass("active");
		        $(`.tab_wrap .tit_list > li button[value="${tabId}"]`).addClass("active");
		        $(tabId).addClass("active");
		        $(tabId).addClass("show");
		       

		        //탭메뉴 클릭할 때 url 파라미터 변경
		        if (updateUrlParam) {
		            setUrlParam(tabId);
		        }
		    }

		    //파라미터 값 변경 함수
		    function setUrlParam(tabId) {
		        const params = new URLSearchParams(location.search);
		        params.set(paramName, tabId.slice(1));
		        history.pushState(null, null, `${location.origin}${location.pathname}?${params.toString()}`);
		    }

		    //파라미터 확인 함수
		    function getUrlParam() {
		        const urlParams = new URLSearchParams(location.search);
		        return urlParams.get(paramName);
		    }

		    //파라미터 값 확인
		    const tabName = getUrlParam();

		    //탭메뉴 클릭할 때 실행
		    $(".tab_wrap .tit_list > li button").on("click", function(e) {
		        e.preventDefault();
		        let tabId = $(this).val();
		        //console.log('sadf'+tabId);
		        activateTab(tabId, true);
		        document.querySelector('.product-info').scrollIntoView({ behavior: "smooth", block: "center" });
		    });

		    //페이지 로드 했을 때 탭메뉴 선택
		    if (tabName) {
		        const tabTop = $('.tab_wrap').offset().top;
		        requestAnimationFrame(function() {
		            /* $('html, body').scrollTop(tabTop - 100); */
		        });
		        activateTab(`#${tabName}`);
		    } else {
		        activateTab('first');
		    }

		    //뒤로가기, 앞으로가기 버튼 눌렀을 때 탭메뉴 활성화 복원
		    $(window).on('popstate', function() {
		        const newTabName = getUrlParam();
		        activateTab(newTabName ? `#${newTabName}` : 'first');
		    });
		}
		
		
		$(function () {
	        const url = new URL(window.location);
	        const urlParams = url.searchParams;
	        if(urlParams.get('tabName')) {
	            //const scrollTop = $('#'+urlParams.get('tabName')).offset().top;
	          	console.log(urlParams.get('tabName'));
	          	
	          	document.querySelector('.product-info').scrollIntoView({ behavior: "smooth", block: "center" });
	          	// 1) 부드럽게 이동	
	            //$('html, body').animate({scrollTop: scrollTop-59}, 500);
	          	
	          	// 또는
	          
	          	// 2) 바로 이동
	            // $(window).scrollTop(scrollTop-59);
	        }
	    });
		
	/*]]>*/
	</script>
	
	<!--/* 가격부분 , 추가하는 기능 */-->
	<script type="text/javascript">

		let changePrice = $('#prodPrice').text();
		changePrice = changePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		
		changePrice = changePrice + '원';
		$('#prodPrice').text(changePrice);
		
		$('.relatedPrice').each(function(){
			priceId = $(this).attr('id');
			
			let changePrice = $('#'+priceId).text();
			changePrice = changePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			
			changePrice = changePrice + '원';
			$('#'+priceId).text(changePrice);
		});
	</script>
	
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script>
		let swiper = new Swiper(".productGallerySwiper", {
			/* loop : true, */
			loopPreventsSliding : true,
			grabCursor : true,
			slidesPerView : 3,
			spaceBetween : 20,
	
			/* autoplay : {
				delay : 2000,
				pauseOnMouseEnter : true,
				disableOnInteraction : false
			}, */
			pagination : {
				el : ".swiper-slider",
				dynamicBullets : true,
				clickable : true,
			},
		});
		
		/* let swiperThumb = new Swiper(".productGallerySwiperThumb", {
			loop : true,
			loopPreventsSliding : true,
			grabCursor : true,
			slidesPerView : 3,
			spaceBetween : 20,
	
			autoplay : {
				delay : 2000,
				pauseOnMouseEnter : true,
				disableOnInteraction : false
			},
			pagination : {
				el : ".swiper-slider",
				dynamicBullets : true,
				clickable : true,
			},
		}); */
		
	</script>
	
	<script th:inline="javascript">
	
	addWish();
	/* 상품 상세 위시 추가 */
	function addWish() {	
		let wishMemId = [[${#authentication.name}]];
		
		$('.wishProd').on('click', function(e) {
			console.log(e.target);
			
			let temp = $(e.target).attr('id');
			console.log(temp);
			let prodNo = temp.split('_');
			console.log(prodNo[1]);
			
			if(wishMemId == "anonymousUser"){
				Swal.fire({
					title: "로그인 확인",
					html: `로그인이 필요한 서비스입니다.<br>
						   로그인 페이지로 이동하시겠습니까?`,
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "이동",
					cancelButtonText: "취소"
				}).then((result) => {
					  if (result.isConfirmed) {
					    location.href = '/loginform';
					    return;
					  }
				})
			} else {
				let objData = {};
				objData.memId = wishMemId;
				objData.prodNo = prodNo[1];
				
				console.log('=='+objData);
				
				// 위시리스트에 상훔 존재하는지 확인
				$.ajax('selectWish', {
					type : 'post',
					contentType : 'application/json',
					data : JSON.stringify(objData)
				})
				.done(result => {
					if(result){
						Swal.fire({
							  icon: "info",
							  title: "위시리스트",
							  text: "이미 존재하는 상품입니다."
						});
						return;
					} else {
						// 위시리스트에 상훔 등록							
						$.ajax('insertWish', {
							type : 'post',
							contentType : 'application/json',
							data : JSON.stringify(objData)
						})
						.done(result => {
							if(result){
								Swal.fire({
									  icon: "success",
									  title: "위시리스트",
									  text: "위시리스트가 추가되었습니다.",
								})
							}
						})
						.fail(err => {
							console.log(err);
							location.reload();
						})
					}
				})
			}
		})
	}
	
	<!-- 장바구니 로그인 체크 -->
	$('#myCart').on('click', function(event){
		event.preventDefault();
		$(".flyoutCart").toggleClass("active");
		//$('.flyoutCart').removeClass('active');
		let auto = [[${#authentication.name}]];
		console.log(auto);
		if(auto == "anonymousUser"){
			Swal.fire({
				title: "로그인 확인",
				html: `로그인이 필요한 서비스입니다.<br>
					   로그인 페이지로 이동하시겠습니까?`,
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "이동",
				cancelButtonText: "취소"
			}).then((result) => {
				  if (result.isConfirmed) {
				    location.href = '/loginform';
				    return;
				  }
			})
		} else {
			//$(".flyoutCart").toggleClass("active");
			if(resetOrder()){
				let formData = $('#prodBuyForm').serializeArray();
				formData.push({name: 'memId', value: auto});
				//formData.pust({name: 'type', value: 'direct'});
				console.log(formData);
				let objData = {};

				$.each(formData, (idx, obj) => {
					objData[obj.name] = obj.value;
				});
				// prodNO, cateColor, cateSize, memId
				console.log(objData);
				
				$.ajax('selectCart', {
					type : 'post',
					contentType : 'application/json',
					data : JSON.stringify(objData)
				})
				.done(result => {
					console.log('이미 존재하는가'+result);
					if(result){
						Swal.fire({
							  icon: "info",
							  title: "장바구니",
							  text: "이미 존재하는 상품입니다.",
							  didClose: () => {
								  $('#cateColor').val('none').prop('selected',true);
								  $('#cateSize').val('none').prop('selected',true);			
								  $('#prodDetailSto').val('1');	
							  }
						});
						return;
					} else{
						/* 장바구니 추가 ajax */
						$.ajax('insertCart', {
							type : 'post',
							contentType : 'application/json',
							data : JSON.stringify(objData)
						})
						.done(result => {
							console.log('카트 등록 후'+result.result);
							console.log('카트 등록 후'+result.cartVO);
							if(result.result){
								Swal.fire({
									  icon: "success",
									  title: "장바구니",
									  text: "장바구니가 추가되었습니다.",
									  didClose: () => {
										  $('#cateColor').val('none').prop('selected',true);
										  $('#cateSize').val('none').prop('selected',true);			
										  $('#prodDetailSto').val('1');	
										  $('.myCart').trigger("click");
									  }
								})
							}
						})
						.fail(err => console.log(err));
					}
				})
				
			} else {
				Swal.fire({
					  icon: "info",
					  title: "장바구니",
					  text: "색상, 사이즈를 선택해주세요"
				});
			}
		}
	});
	</script>
</th:block>

</html>