<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">

    <!-- Header Start  -->
    <header class="header header-sticky">

        <nav class="nav d-none d-lg-flex">
            <div class="container">
                <!-- Header Wrap Start  -->
                <div class="header__wrapper">
                    <div class="header__menu">
                        <ul class="main__menu">
                            <li class="has__dropdown active">
                                <a href="#">Home</a>
                                <!-- Dropdown -->
                                <ul class="sub__menu">
                                    <li><a href="home.html">Home-01</a></li>
                                    <li><a href="home-02.html">Home-02</a></li>
                                    <li><a href="home-03.html">Home-03</a></li>
                                    <li><a href="home-04.html">Home-04</a></li>
                                    <li><a href="home-05.html">Home-05</a></li>
                                </ul>
                                <!-- Dropdown -->
                            </li>
                        
                            <li class="has__dropdown">
                                <a href="#">pages</a>
                                <!-- Dropdown -->
                                <ul class="sub__menu">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="signup.html">SignUp</a></li>
                                </ul>
                                <!-- Dropdown -->
                            </li>

                            <li class="has__dropdown">
                                <a href="#">Shop</a>
                                <!-- Dropdown -->
                                <ul class="sub__menu">
                                    <li><a href="product.html">Shop</a></li>
                                    <li><a href="product-single.html">Shop Details</a></li>
                                    <li><a href="search.html">Shop Search</a></li>
                                    <li><a href="cart.html">Shop Cart</a></li>
                                    <li><a href="checkout.html">Shop Checkout</a></li>
                                    <li><a href="tracking.html">Order Tracker</a></li>
                                </ul>
                                <!-- Dropdown -->
                            </li>

                            <li class="has__dropdown">
                                <a href="#">Blog</a>
                                <!-- Dropdown -->
                                <ul class="sub__menu">
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                                <!-- Dropdown -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Header Wrap End  -->
            </div>
        </nav>
    </header>
    <!-- Header End -->

</th:block>

</html>