<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="adminside">
		<div id="sidebar">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="admin"><img src="./assets/compiled/svg/logo.svg" alt="Logo"></a>
                        </div>
                        <div class="sidebar-toggler x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
						
						<!-- ------------------------------------------- admin main tab -->
                        <li class="sidebar-item active">
                            <a href="admin" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                            
                        <li class="sidebar-title">CUSTOMER</li>
						
						<!-- ------------------------------------------- 회원관리 tab -->
                        
						<!-- bi bi-stack -->
                        <li class="sidebar-item">
                            <a href="admin_member" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Users</span>
                            </a>       
                        </li>
                        
                        <!-- ------------------------------------------- 문의 관리 tab -->
                        <li class="sidebar-item  ">
                            <a href="https://desk.channel.io/#/channels/155840/user_chats/6572d73457a8231a20ad" class='sidebar-link' target="_blank">
                                <i class="bi bi-chat-dots-fill"></i>
                                <span>Inquire</span>
                            </a>

                        </li>
                        
						
						<li class="sidebar-title">SERVICE</li>
                        
                        <!-- ------------------------------------------- 매치관리 tab -->
                        
						<!-- bi bi-stack -->
                        <li class="sidebar-item">
                            <a href="admin_match" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Match</span>
                            </a>       
                        </li>
						
						<!-- bi bi-collection-fill -->
						<!-- ------------------------------------------ 코트관리 tab -->
                        <li class="sidebar-item  has-sub">
                            <a href="javascipt:void(0)" class='sidebar-link'>
                                <i class="bi bi-life-preserver"></i>
                                <span>Court</span>
                            </a>

                            <ul class="submenu ">

                                <li class="submenu-item  ">
                                    <a href="admin_court" class="submenu-link">코트 관리</a>

                                </li>

                                <li class="submenu-item  ">
                                    <a href="admin_court_apply" class="submenu-link">코트 등록 관리</a>

                                </li>    
                                
                                <li class="submenu-item  ">
                                    <a href="admin_Court_Calc" class="submenu-link">코트 예약 정산</a>

                                </li>                              
                                <li class="submenu-item  ">
                                    <a href="admin_court_calc" class="submenu-link">정산 관리</a>

                                </li>                              

                            </ul>


                        </li>
						
						<!-- ------------------------------------------ 클럽관리 tab -->
						
						<!-- bi bi-stack -->
                        <li class="sidebar-item">
                            <a href="admin_club" class='sidebar-link'>
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>Club</span>
                            </a>       
                        </li>
                        
                        <!-- ------------------------------------------ 커뮤니티 관리 tab -->
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Community</span>
                            </a>

                            <ul class="submenu ">

                                <li class="submenu-item  ">
                                    <a href="admin_sns" class="submenu-link">SNS 관리</a>
                                </li>

                                <li class="submenu-item  ">
                                    <a href="admin_notice" class="submenu-link">게시판 관리</a>
                                </li>

                            </ul>

                        </li>
                        
                        
                        <li class="sidebar-title">SHOP</li>
                         
                        <!-- --------------------------------------------- 상품 관리 tab -->
						
						<!-- bi bi-stack -->
                        <li class="sidebar-item">
                            <a href="admin_Product" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Product</span>
                            </a>       
                        </li>
                        
                        <!-- ---------------------------------------------- 판매 관리 tab -->
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-basket-fill"></i>
                                <span>Sales</span>
                            </a>

                            <ul class="submenu ">

                                <li class="submenu-item  ">
                                    <a href="admin_Order" class="submenu-link">상품 주문 관리</a>

                                </li>

                                <li class="submenu-item  ">
                                    <a href="layout-vertical-1-column.html" class="submenu-link">상품 취소 관리</a>

                                </li>

                                <li class="submenu-item  ">
                                    <a href="layout-vertical-navbar.html" class="submenu-link">상품 배송 관리</a>

                                </li>

                                <li class="submenu-item  ">
                                    <a href="layout-rtl.html" class="submenu-link">상품 반품 관리</a>

                                </li>

                            </ul>
						

                        </li>            
                        
                        <li class="sidebar-title">OTHER</li>                                 

						
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>Logout</span>
                            </a>                      

                        </li>                    

                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
			let liTag = document.querySelectorAll('.menu > li');
        	liTag.forEach(item => {
                item.addEventListener('click', function(e) {
                    /* e.preventDefault(); */
                    console.log(e.target.parentElement);
                    e.target.parentElement.classList.add('active');
                })
            });
        	
        	/* if (window.location.pathname == '/adminProduct') {
        		
        	} */
		</script>
	</th:block>
</html>