<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="icon" href="/assets/img/logo.png"/>
	<link rel="apple-touch-icon" href="/assets/img/logo.png" type="image/x-icon"/> -->

    <title>TENNISWING</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

<!-- 	<link rel="shortcut icon" href="./assets/compiled/svg/favicon.svg" type="image/x-icon"> -->
	<link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/img/logo" type="image/png">   
	
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/extensions/sweetalert2/sweetalert2.min.css">

	<link rel="stylesheet" href="./assets/compiled/css/app.css">
	<link rel="stylesheet" href="./assets/compiled/css/iconly.css">
	
	<link rel="stylesheet" href="/assets/extensions/filepond/filepond.css">
	<link rel="stylesheet" href="/assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.css">
	<link rel="stylesheet" href="/assets/extensions/toastify-js/src/toastify.css">
	
		
	<!-- jquery JS Files -->
    <script src="/assets/compiled/js/jquery-3.7.1.min.js"></script>
    
    <!-- fontawesome free-->
    <link rel="stylesheet" href="/assets/extensions/@fortawesome/fontawesome-free/css/all.min.css">

    <!-- Template Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">

	<!-- Fancy Box -->
	<link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
	<!-- swiper js -->
	<link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
	<!-- Nice Select -->
	<link rel="stylesheet" href="assets/css/nice-select.css" />
	<!-- Progress bar -->
	<link rel="stylesheet" href="assets/css/jquery.rprogessbar.min.css" />
	<!-- Apex Chart Js -->
	<link rel="stylesheet" href="assets/css/apexcharts.css" />
	<!-- Countdown js -->
	<link rel="stylesheet" href="assets/css/jquery.countdown.css" />
	<!-- User's CSS Here -->
	<link rel="stylesheet" href="assets/css/style.css" />
	
	<style type="text/css">
    	table th,
    	table td{
    		font-family: 'Noto Sans KR', sans-serif;
    	}
    	h1, h2, h3, h4, h5, h6 {
    		font-family: 'Noto Sans KR', sans-serif;
    	}
    </style>
</head>
<body>
	<!-- Vendor JS Files -->
	<script src="/assets/static/js/initTheme.js"></script>
	<!-- container -->
	<div id="app">
		<div id="main">
			<header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
			<!-- header -->
			<header th:replace="layouts/admin/admin-side :: adminside"></header>

			<!-- content -->
			<th:block layout:fragment="admincontent" style="min-height: 1025px;"></th:block>

			<!-- footer -->
			<footer th:replace="layouts/admin/admin-footer :: adminfooter"></footer>
		</div>
	</div>
	
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/jquery.plugin.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/jquery.waypoints.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>	
    <script src="assets/js/scripts.js"></script>
    
    <!-- <script src="assets/js/apexcharts.min.js"></script> -->
	<script src="assets/js/jQuery.rProgressbar.min.js"></script>
    <script src="assets/js/chart-option.js"></script>	
	
	<script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script> 
    <script src="assets/compiled/js/app.js"></script>
    
    <script src="/assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
	<script src="/assets/extensions/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
	<script src="/assets/extensions/filepond-plugin-image-crop/filepond-plugin-image-crop.min.js"></script>
	<script src="/assets/extensions/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
	<script src="/assets/extensions/filepond-plugin-image-filter/filepond-plugin-image-filter.min.js"></script>
	<script src="/assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
	<script src="/assets/extensions/filepond-plugin-image-resize/filepond-plugin-image-resize.min.js"></script>
	<script src="/assets/admin/js/filepond.js"></script>
	<script src="/assets/extensions/toastify-js/src/toastify.js"></script>
	<script src="/assets/static/js/pages/filepond.js"></script>
    <script src="/assets/extensions/sweetalert2/sweetalert2.min.js"></script>
   	<script src="/assets/static/js/pages/sweetalert2.js"></script>

	
	<script type="text/javascript">
		console.log(window.location.pathname);
	</script>
</body>
</html>
