<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		body{
			min-height: 500px;
		}
	</style>
</head>
	<th:block  th:fragment="hostfooter">
		<footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; Tenniswing</p>
                    </div>
                    <div class="float-end">
                        <p><a href="/host">Tenniswing Host AdminPage</a></p>
                    </div>
                </div>
            </footer>
	</th:block >
</html>