<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.tenniswing.project.member.mapper.MemberMapper">
	<!-- 전체 조회 -->
	<select id="selectAllMemberInfo" resultType="MemberVO">
		SELECT m.MEM_NO
			,m.MEM_ID
			,m.NAME
			,m.MEM_DIV
			,m.PHONE_NO
			,m.JOIN_DATE
			,FIND_CATEGORY_NAME (m.state) state
			,p.NICK	
			,FIND_CATEGORY_NAME (p.AGE) AGE
			,FIND_CATEGORY_NAME (p.LV) LV
			,FIND_CATEGORY_NAME (p.REGION) REGION
			,FIND_CATEGORY_NAME (p.GEN) GEN
			,FIND_CATEGORY_NAME (p.NTRP) NTRP
			,FIND_CATEGORY_NAME (p.PREFER_GAME_WAY) PREFER_GAME_WAY
			,FIND_CATEGORY_NAME (p.PREFER_AGE) PREFER_AGE
			,p.CRTROOM_NO
			,p.PR_IMAGE
			,p.MANNER_POINT
			, (SELECT ATTACH_PATH
			FROM ATTACH
			where  m.mem_no = attach_table_pk
			AND attach_table_div = 'm') as ATTACH_PATH
			FROM MEM m JOIN PR p
			ON m.mem_id = p.mem_id
			ORDER BY MEM_NO
	</select>

	<!-- 로그인 -->
	<select id="memberLogin" resultType="MemberVO">
		SELECT *
		FROM MEM
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 패스워드 체크 -->
	<select id="checkPw" resultType="MemberVO">
		SELECT pwd
		FROM MEM
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="searchId" resultType="MemberVO">
		SELECT mem_id
		FROM MEM
		WHERE PHONE_NO = #{phoneNo}
	</select>
	
	<!-- 비밀번호 찾기 후 수정 -->
	<update id="searchPwUpdate" parameterType="MemberVO">
		UPDATE MEM 
		SET		
			PWD = #{pwdUpdate}		
		WHERE mem_id = #{memId}
		AND phone_no = #{phoneNo}
	</update>

	<!-- 멤버정보 조회 -->
	<select id="memberInfo" resultType="MemberVO">
		SELECT m.MEM_NO
		,m.MEM_ID
		,m.NAME
		,m.MEM_DIV
		,m.PHONE_NO
		,m.JOIN_DATE
		,FIND_CATEGORY_NAME (m.state) state
		,p.NICK
		,FIND_CATEGORY_NAME (p.AGE) AGE
		,FIND_CATEGORY_NAME (p.LV) LV
		,FIND_CATEGORY_NAME (p.REGION) REGION
		,FIND_CATEGORY_NAME (p.GEN) GEN
		,FIND_CATEGORY_NAME (p.NTRP) NTRP
		,FIND_CATEGORY_NAME (p.PREFER_GAME_WAY) PREFER_GAME_WAY
		,FIND_CATEGORY_NAME (p.PREFER_AGE) PREFER_AGE
		,p.CRTROOM_NO
		,p.PR_IMAGE
		,p.MANNER_POINT
		, (SELECT ATTACH_PATH
		FROM ATTACH
		where  m.mem_no = attach_table_pk
		AND attach_table_div = 'm') as ATTACH_PATH
		FROM MEM m JOIN PR p
		ON m.mem_id = p.mem_id
		WHERE m.mem_id = #{memId}		
	</select>
	
		<!-- 멤버수정폼 조회 -->
	<select id="memberUpdateInfo" resultType="MemberVO">
		SELECT m.MEM_NO
		,m.MEM_ID
		,m.NAME
		,m.MEM_DIV
		,m.PHONE_NO
		,p.NICK
		,p.AGE
		,p.LV
		,p.REGION
		,p.GEN
		,p.NTRP
		,p.PREFER_GAME_WAY
		,p.PREFER_AGE
		,p.CRTROOM_NO
		,p.PR_IMAGE
		,p.MANNER_POINT
		, (SELECT ATTACH_PATH
		FROM ATTACH
		where  m.mem_no = attach_table_pk
		AND attach_table_div = 'm') as ATTACH_PATH
		FROM MEM m JOIN PR p
		ON m.mem_id = p.mem_id
		WHERE m.mem_id = #{memId}		
	</select>

	<!-- 아이디 중복 체크 -->
	<select id="memberIdCheck" parameterType="String"
		resultType="int">
		SELECT COUNT(MEM_ID) FROM MEM WHERE MEM_ID = #{memId}
	</select>

	<!-- 등록 -->
	<insert id="insertMember" parameterType="MemberVO">
		<selectKey keyProperty="memNo" resultType="int"
			order="BEFORE">
			<!-- primarykey가 숫자일 경우 사용 -->
			SELECT NVL(MAX(MEM_NO), 0) + 1
			FROM MEM
		</selectKey>
		INSERT ALL
		INTO MEM
		(
		MEM_NO
		,MEM_ID
		,NAME
		,PWD
		,PHONE_NO
		,MEM_DIV

		)
		VALUES
		(
		#{memNo}
		,#{memId}
		,#{name}
		,#{pwd}
		,#{phoneNo}
		,#{memDiv}
		)
		INTO PR
		(
		MEM_ID
		,NICK
		,AGE
		,LV
		,REGION
		,GEN
		,NTRP
		,PREFER_GAME_WAY
		,PREFER_AGE
		,CRTROOM_NO
		,PR_IMAGE
		,MANNER_POINT
		)
		VALUES
		(
		#{memId}
		,#{nick}
		,#{age}
		,#{lv}
		,#{region}
		,#{gen}
		,#{ntrp}
		,#{preferGameWay}
		,#{preferAge}
		,#{crtroomNo}
		,#{prImage}
		,0
		)
		<if test="memDiv.equals('ROLE_HOST')">
			INTO CRTROOM_HOST
			(
			MEM_ID
			,HOST_BANK
			,HOST_ACT_NO
			,HOST_DEPOSITOR
			,HOST_BUSINESS_REGI_NO
			)
			VALUES
			(
			#{memId}
			,#{hostBank}
			,#{hostActNo}
			,#{hostDepositor}
			,#{hostBusinessRegiNo}
			)

		</if>
		SELECT * FROM DUAL
	</insert>

	<update id="updateMemberInfo" parameterType="MemberVO">
		UPDATE MEM 
		SET		
			NAME = #{name}
			<if test="pwdUpdate != null and !pwdUpdate.equals('')">, PWD = #{pwdUpdate}</if>
			,PHONE_NO = #{phoneNo}			
		WHERE mem_id = #{memId}
	</update>

	<update id="updatePrInfo" parameterType="MemberVO">
		UPDATE PR
		SET		
			NICK = #{nick}
			,AGE = #{age}
			,LV = #{lv}
			,REGION = #{region}
			,GEN = #{gen}
			,NTRP = #{ntrp}
			,PREFER_GAME_WAY =#{preferGameWay}
			,PREFER_AGE =#{preferAge}
			,CRTROOM_NO = #{crtroomNo}
			,PR_IMAGE = #{prImage}
			,MANNER_POINT = #{mannerPoint}
			WHERE mem_id = #{memId}
	</update>

	
	<update id="deleteMember" parameterType="MemberVO">
		UPDATE MEM 
		SET	STATE = #{div}			
		WHERE mem_id = #{memId}
	</update>
	
	<select id="searchHost" resultType="MemberVO">

		select m.mem_id
		,m.name
		,h.host_bank
		,h.host_act_no
		,h.HOST_DEPOSITOR
		,h.HOST_BUSINESS_REGI_NO
		from mem m JOIN CRTROOM_HOST h
			ON m.mem_id = h.mem_id

		select mem_id from mem where mem_div = 'ROLE_HOST'

	</select>
</mapper>