<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<!-- club sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-list fs-3 text-info"></i>
					</div>클럽 목록</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-pen-square fs-3 text-primary"></i>
					</div>클럽 창설</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-m fs-3 text-warning"></i>
					</div>마이 클럽</a></li>
		</ul>
	</div>
	<!-- End club sub menu  -->

	<div class="container">
		<div class="page-heading email-application overflow-hidden">
			<div class="row">
				<div class="col-12 col-md-6 order-md-1 order-last">
					<h3 style="color: black">원하는 유형의 클럽을 찾아보세요</h3>
					<p class="text-subtitle text-muted">클럽에 가입하여 함께 테니스를 치세요오오</p>
					<br>
				</div>
				<div class="col-12 col-md-6 order-md-2 order-first">
					<nav aria-label="breadcrumb"
						class="breadcrumb-header float-start float-lg-end">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">클럽</a></li>
							<li class="breadcrumb-item active" aria-current="page">클럽 목록</li>
						</ol>
					</nav>
				</div>
			</div>
			<hr>
			<!-- ============= 드롭박스  -->
			<section class="archive-category">
				<div class="col-12">
					<div class="filter__area" style="margin: 0;">
						<div class="section-title__wrap">
							<form action="#" class="product-filter">
								<div class="custom__dropdown custom__dropdown__v2">
									<div class="selected">
										<div class="selected_item selected_item-v2">내지역</div>
									</div>
									<ul class="list list__v2">
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
									</ul>
								</div>
								<div class="custom__dropdown custom__dropdown__v2">
									<div class="selected">
										<div class="selected_item selected_item-v2">시간</div>
									</div>
									<ul class="list list__v2">
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
									</ul>
								</div>
								<div class="custom__dropdown custom__dropdown__v2">
									<div class="selected">
										<div class="selected_item selected_item-v2">요일</div>
									</div>
									<ul class="list list__v2">
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
										<li>$100.00 - $200.00</li>
									</ul>
								</div>
								<div class="custom__dropdown custom__dropdown__v2">
									<div class="selected">
										<div class="selected_item selected_item-v2">성별</div>
									</div>
									<ul class="list list__v2">
										<li>남녀모두</li>
										<li>남자</li>
										<li>여자</li>
									</ul>
								</div>
								<div class="custom__dropdown custom__dropdown__v2">
									<div class="selected">
										<div class="selected_item selected_item-v2">레벨</div>
									</div>
									<ul class="list list__v2">
										<li>1 year warranty</li>
										<li>2 year warranty</li>
										<li>3 year warranty</li>
										<li>4 year warranty</li>
										<li>5 year warranty</li>
									</ul>
								</div>
								<div class="custom__dropdown custom__dropdown__v2">
									<div class="selected">
										<div class="selected_item selected_item-v2">연령대</div>
									</div>
									<ul class="list list__v2">
										<li>10-20대</li>
										<li>20-30대</li>
										<li>30-40대</li>
										<li>40-50대</li>
										<li>50-60대</li>
										<li>60대 이상</li>
									</ul>
								</div>
							</form>
							<ul class="filtered-query">
								<li><span class="value">CareVe</span> <a href="#"
									class="action">&times;</a></li>
								<li><span class="color" data-bg="red"></span> <span
									class="value">Red</span> <a href="#" class="action">&times;</a>
								</li>
								<li><span class="color" data-bg="green"></span> <span
									class="value">green</span> <a href="#" class="action">&times;</a>
								</li>
								<li><span class="value">In-stock</span> <a href="#"
									class="action">&times;</a></li>
								<li><span class="value">Rating: 5 & Up</span> <a href="#"
									class="action">&times;</a></li>
								<li><span class="value">2 Days</span> <a href="#"
									class="action">&times;</a></li>
								<li class="clearAll"><a href="#">Clear all</a></li>
							</ul>
						</div>

						<div class="shortBy-select select__style d-lg-flex d-none">
							<label for="sortBy2">Sort by:</label> <select name="sortBy"
								id="sortBy2">
								<option value="0">최신순</option>
								<option value="0">인기순</option>
								<option value="0">이름순</option>
							</select>
						</div>
					</div>
				</div>

			</section>

			<section class="section content-area-wrapper" style="padding: 0;">
				<div class="content-right" style="width: 100%;">
					<div class="content-wrapper">
						<!-- Email list Area -->
						<div class="email-app-list-wrapper">
							<div class="email-app-list">
								<!-- email user list start -->
								<div class="email-user-list list-group ps ps--active-y"
									style="height: 100% !important;">
									<ul class="users-list-wrapper media-list">
										<li class="media" th:each="num : ${#numbers.sequence(1,10)}"
										    th:onclick="|location.href='@{clubdetail}'|">

											<div class="user-action">
												<span class="favorite text-warning"> <svg class="bi"
														width="1.5em" height="1.5em" fill="currentColor"></svg>
												</span>
											</div>
											<div class="pr-50">
												<div>
													<img src="/assets/compiled/jpg/1.jpg"
														alt="avtar img holder"
														style="width: 80px; border-radius: 70%;">
												</div>
											</div>
											<div class="media-body">
												<div class="user-details">
													<div class="mail-items">
														<span class="list-group-item-text text-truncate">최강
															테니스👍
															<div class="badge badge-pill bg-light-info me-1">멤버수</div>
															<div class="badge badge-pill bg-light-warning me-1">모집중</div>
														</span>
													</div>
												</div>
												<div class="mail-message">
													<p class="list-group-item-text truncate mb-0">최강 테니스 클럽
														소개글!!</p>
													<div class="mail-meta-item">
														<span class="float-right"> <span
															class="bullet bullet-success bullet-sm"></span>
														</span>
													</div>
												</div>
												<div class="mail-message">
													<p class="list-group-item-text truncate mb-0">경기 수원시 /
														수원 테니스 파크</p>
													<div class="mail-meta-item">
														<span class="float-right"> <span
															class="bullet bullet-success bullet-sm"></span>
														</span>
													</div>
												</div>
												<div class="mail-message">
													<p class="list-group-item-text truncate mb-0">남녀모두 /
														연령대 / 요일-시간대 / 레벨</p>
													<div class="mail-meta-item">
														<span class="float-right"> <span
															class="bullet bullet-success bullet-sm"></span>
														</span>
													</div>
												</div>
											</div>

											<div class="mail-meta-item">
												<div class="float-right">

													<span class="mail-date"><button type="button"
															style="margin: 0"
															class="btn btn-primary btn-block my-4 compose-btn"
															data-bs-toggle="modal"
															data-bs-target="#exampleModalCenter">가입</button></span>
												</div>
											</div>
										</li>
										<!-- 클럽 가입 신청 버튼 Modal  -->
										<div class="modal fade" id="exampleModalCenter" tabindex="-1"
											role="dialog" aria-labelledby="exampleModalCenterTitle"
											aria-hidden="true">
											<div
												class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
												role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalCenterTitle">클럽
															가입하기</h5>
														<button type="button" class="close"
															data-bs-dismiss="modal" aria-label="Close">
															<i data-feather="x"></i>
														</button>
													</div>
													<div class="modal-body" style="text-align: center;">
														<div>
															<img src="./assets/img/card.jpg" style="width: 450px;">
														</div>
														<br>
														<p>여기는 클럽 소개글 쏼라쏼라Croissant jelly-o halvah chocolate
															sesame snaps. Brownie caramels candy canes chocolate cake
															marshmallow icing lollipop I love. Gummies macaroon donut
															caramels biscuit topping danish.</p>
													</div>
													<div class="modal-footer" style="text-align: center;">
														<button type="button" class="btn btn-primary ms-1"
															data-bs-dismiss="modal">
															<i class="bx bx-check d-block d-sm-none"></i> <span
																class="d-none d-sm-block">가입신청서 작성</span>
														</button>
													</div>
												</div>
											</div>

										</div>
								</div>

								</ul>

								<!-- email user list end -->

								<!-- no result when nothing to show on list -->
								<!-- <div class="no-results">
										<i class="bi bi-error-circle font-large-2"></i>
										<h5>No Items Found</h5>
									</div> -->
								<div class="ps__rail-x" style="left: 0px; bottom: 0px;">
									<div class="ps__thumb-x" tabindex="0"
										style="left: 0px; width: 0px;"></div>
								</div>

								<div class="email-action">
									<div
										class="action-right d-flex flex-grow-1 align-items-center justify-content-around">
										<div class="sidebar-toggle d-block d-lg-none"></div>
										<!-- search bar  -->
										<div class="email-fixed-search flex-grow-1">
											<div class="form-group position-relative  mb-0 has-icon-left">
												<input type="text" class="form-control"
													placeholder="Serch club...">
												<div class="form-control-icon">
													<svg class="bi" width="1.5em" height="1.5em"
														fill="currentColor">
                                                        <use
															xlink:href="assets/static/images/bootstrap-icons.svg#search" />
                                                    </svg>
												</div>
											</div>
										</div>
										<!-- pagination and page count -->
										<span class="d-none d-sm-block">1-10 of 653</span>
										<button
											class="btn btn-icon email-pagination-prev action-button d-none d-sm-block">
											<svg class="bi" width="1.5em" height="1.5em"
												fill="currentColor">
                                                <use
													xlink:href="assets/static/images/bootstrap-icons.svg#chevron-left" />
                                            </svg>
										</button>
										<button
											class="btn btn-icon email-pagination-next action-button d-none d-sm-block">
											<svg class="bi" width="1.5em" height="1.5em"
												fill="currentColor">
                                                <use
													xlink:href="assets/static/images/bootstrap-icons.svg#chevron-right" />
                                            </svg>
										</button>
									</div>
								</div>

							</div>


						</div>
					</div>
					<!--/ Email list Area -->
				</div>
			</section>
		</div>
	</div>
	<script>

    document.querySelector('.email-compose-new-close-btn').addEventListener('click', () => {
        document.querySelector('.compose-new-mail-sidebar').classList.remove('show')
    })
</script>


</th:block>

</html>