<!DOCTYPE html>
<html>
<head>
<style>
.apply-d-flexx {
	display: flex !important;
	justify-content: space-between;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<th:block layout:fragment="content">
	<body>
		<div class="content__body">
			<ul style="list-style: none;" id="memList">
				<!-- 여기에 가입 신청 리스트 -->
			</ul>
		</div>
		

		<script th:inline="javascript">
		
		
		
		//신청 목록 리스트
		function applyListAjax(){
			let clubNo = [[${club.clubNo}]];
			//console.log("멤버구성에서 클럽번호" + clubNo);
			$.ajax({
				type: 'GET',
				url: 'clubInquiryList',
				data:  {clubNo},
				success: function (data) {
					$('#memList').empty();
					for (let rep of data) {
						let List = `
							<li>
							<div class="recent-message d-flex px-4 py-3"
								style="border-bottom: 1px solid #e1e1e1; display: flex; justify-content: space-between; align-items:center;">
								<div class="d-flex-right">
									<div class="avatar avatar-lg">
										<img src="${rep.attachPath}" style="width: 65px; height: 65px;">
									</div>
									<div class="name ms-4" style="display: grid;">
										<h5 class="mb-1">${rep.nick}</h5>
										<h7 class="text-muted mb-0">${rep.clubGenName} / ${rep.clubAgeName}</h7>
										<h7 class="text-muted mb-0">신청일: ${new Date(rep.applyDate).toLocaleDateString()}</h7>
									</div>
								</div>
								<div>
								
									<button class="btn btn-outline-success" type="button" 
											data-bs-toggle="modal" data-bs-target="#wrt${rep.clubMemNo}"
											id="memApplyBtn" data-club-no="${rep.clubNo}">확인</button>
								</div>
							</div>
						</li>
						<!-- 멤버신청 확인 모달 -->
						<div class="modal fade text-left" id="wrt${rep.clubMemNo}" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel33">신청 확인</h4>
										<button type="button" class="close" data-bs-dismiss="modal"
											aria-label="Close">
											<i data-feather="x"></i>
										</button>
									</div>
									<div class="modal-body" style="text-align: center;">
										<p style="text-align: left;">${rep.clubJoinApplyWrt}</p>
									</div>
									<div class="modal-footer" data-club="${rep.clubNo}" data-mem="${rep.clubMemNo}">
										<button type="button" class="btn btn-light-secondary noBtn" 
											id="noBtn" data-bs-dismiss="modal">거절</button>
										<button type="button" class="btn btn-primary ms-1 okBtn"
											id="okBtn" data-bs-dismiss="modal" data-value="m2">승인</button>
									</div>
								</div>
							</div>
						</div>
						<!-- /멤버신청 확인 모달  -->
						`
						$('#memList').append(List)
					} // 반복문 끝
					
					if(data.length == 0){
						List = `<h6 style="text-align: center; padding: 40px; color: #3c3c3c;">신청 목록이 없습니다.</h6>`
							$('#memList').append(List)
					}
					
					$(".okBtn").on("click", function(e){
						console.log("승인버튼 클릭")
						let clubApprove = $(event.currentTarget).attr('data-value');
						let clubNo = $(this).parent().data('club');
						let clubMemNo = $(this).parent().data('mem');
						let memData = {clubApprove,clubNo,clubMemNo}
						console.log(memData)
						
						 $.ajax({
							url: 'memFormAjax',
							type: 'post',
							data : JSON.stringify(memData),
							contentType : 'application/json',
							success: function (result) {
								Swal.fire({
									backdrop: `
										 rgba(100, 100, 100, 0.6)`,
									title: '승인',
									text: '멤버승인을 완료했습니다..',
									showConfirmButton: false,
									timer: 1700
								})
								applyListAjax()
							},
							error: function () {
								Swal.fire({
									backdrop: `
										 rgba(100, 100, 100, 0.6)`,
									title: '승인 실패',
									showConfirmButton: false,
									timer: 1700
								})

							}
						}) 
					})
					
					$(".noBtn").on("click", function(e){
						let clubMemNo = $(this).parent().data('mem');
						console.log("거절버튼"+ clubMemNo)
						 $.ajax({
							url: 'clubMemDelete',
							type: 'post',
							data : { paramMemNo: clubMemNo },
							dataType: 'JSON',
							success: function (result) {
								Swal.fire({
									backdrop: `
										 rgba(100, 100, 100, 0.6)`,
									title: '거절',
									text: '멤버신청을 거절했습니다..',
									showConfirmButton: false,
									timer: 1700
								})
								applyListAjax()
							},
							error: function () {
								Swal.fire({
									backdrop: `
										 rgba(100, 100, 100, 0.6)`,
									title: '거절 실패',
									showConfirmButton: false,
									timer: 1700
								})

							}
						}) 
					})
				} //success 끝
			})
		}
		
		$(document).ready(function () {
			applyListAjax()
		});
		</script>
	</body>
</th:block>
</html>