<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">

<head>
<style>
.match-box p {
	border: 1px solid #dfdfdf;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding: 35px 0px;
}

.d-flex-match {
	display: flex !important;
	flex-direction: row;
	align-content: stretch;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}
img{
border: 3px solid white;
}

.d-flex-right {
	display: flex !important;
	align-items: center;
}

.club__avatar img {
	width: 350px;
	height: 300px;
	object-fit: cover;
	border-radius : 15px;
}

.btn-outline-white {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}

</style>
</head>

<th:block layout:fragment="content">



	<div class="container">
		<div class="row" style="margin: 50px 0;">
			<div class="col-xxl-4">
				<div class="card card-shadow">
					<div class="user__profile text-center"
						style="padding: 20px 10px 40px 10px;">
						<div class="club__avatar">
							<th:block th:if="${club.attachPath != null}"  >
								<img th:src="${club.attachPath}" />
							</th:block>
							<th:block th:unless=" ${club.attachPath != null}" >
								<img src = "/assets/img/sns/Tennis1.jpg" alt="noImg"/>
							</th:block>
						</div>
						<div class="user__content">
							<h2 style="margin: 40px 0px; color: #3c3c3c;" th:text="${club.clubName}"></h2>
							<h5 style="color: #828282; font-weight: 500; font-size: 1.3em;" >멤버수 : [[${club.clubMemNum}]]명</h5>
							<h5 style="color: #828282; font-weight: 500; font-size: 1.3em;" >클럽장 : [[${club.name}]]</h5>
							<div>
							<th:block th:if="${#strings.equals(club.memId,loginId)}">
								<button class="btn btn-outline my-4 " id="clubEdit" data-bs-toggle="modal" data-bs-target="#EditModal"
									th:data-club-no="${club.clubNo}" style="background-color: #ededed;"><div class="icon dripicons dripicons-gear"> 클럽 수정</div></button>
								<button class="btn btn-outline my-4" id="clubDel"><div class="icon dripicons dripicons-exit"> 클럽 삭제</div></button>
							</th:block>		
							</div>

						</div>
					</div>
				</div>

			</div>

			<div class="col-xxl-8">
				<div class="dashboard-block" style="margin-top: 20px;">
					<!-- /클럽 탭 메뉴 -->
					<div class="tabs__wrapper tabs__wrapper--v3">
						<div class="tabs__filter">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="info-tab"
										data-bs-toggle="tab" data-bs-target="#tab-info-pane"
										type="button" role="tab" aria-controls="tab-info-pane"
										aria-selected="true" data-url="clubInfo"
										th:data-club-no="${club.clubNo}">클럽 정보</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="matchJoin-tab"
										data-bs-toggle="tab" data-bs-target="#tab-matchJoin-pane"
										type="button" role="tab" aria-controls="tab-matchJoin-pane"
										aria-selected="false" data-url="clubMatchJoin"
										th:data-club-no="${club.clubNo}">매치 모집</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" id="matchDate-tab"
										data-bs-toggle="tab" data-bs-target="#tab-matchDate-pane"
										type="button" role="tab" aria-controls="tab-matchDate-pane"
										aria-selected="false" data-url="clubMatchDate"
										th:data-club-no="${club.clubNo}">매치일정</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="matchEnd-tab" data-bs-toggle="tab"
										data-bs-target="#tab-matchEnd-pane" type="button" role="tab"
										aria-controls="tab-matchEnd-pane" aria-selected="false"
										data-url="clubMatchEnd"
										th:data-club-no="${club.clubNo}">매치 결과</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" id="post-tab" data-bs-toggle="tab"
										data-bs-target="#tab-post-pane" type="button" role="tab"
										aria-controls="tab-post-pane" aria-selected="false"
										data-url="clubPost"
										th:data-club-no="${club.clubNo}">자유게시판</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="member-tab" data-bs-toggle="tab"
										data-bs-target="#tab-member-pane" type="button" role="tab"
										aria-controls="tab-member-pane" aria-selected="false"
										data-url="clubMember"
										th:data-club-no="${club.clubNo}">멤버</button>
								</li>
								<th:block th:if="${#strings.equals(club.memId,loginId)}">
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="clubApply-tab"
										data-bs-toggle="tab" data-bs-target="#tab-clubApply-pane"
										type="button" role="tab" aria-controls="tab-clubApply-pane"
										aria-selected="false" data-url="clubApply"
										th:data-club-no="${club.clubNo}">가입 신청</button>
								</li>
								<th:block>
							</ul>
						</div>
					</div>
					<!-- /클럽 탭 메뉴 -->

					<!-- 클럽 탭 페이지  -->
					<div class="tab-content" id="myTabContent"
						style="padding: 10px 0px;">
						<!-- 클럽 탭 - 클럽 정보  -->
						<div class="tab-pane fade show active" id="tab-info-pane"
							role="tabpanel" aria-labelledby="tab-info" tabindex="0"></div>

						<!-- 클럽 탭 - 매치일정 -->
						<div class="tab-pane fade" id="tab-matchDate-pane" role="tabpanel"
							aria-labelledby="tab-matchDate" tabindex="0"></div>

						<!-- 클럽 탭 - 매치결과 -->
						<div class="tab-pane fade" id="tab-matchEnd-pane" role="tabpanel"
							aria-labelledby="tab-matchEnd" tabindex="0"></div>

						<!-- 클럽 탭 - 매치모집 -->
						<div class="tab-pane fade" id="tab-matchJoin-pane" role="tabpanel"
							aria-labelledby="tab-matchJoin" tabindex="0"></div>

						<!-- 클럽 탭 - 멤버 -->
						<div class="tab-pane fade" id="tab-member-pane" role="tabpanel"
							aria-labelledby="tab-member" tabindex="0"></div>

						<!-- 클럽 탭 - 자유게시판 -->
						<div class="tab-pane fade" id="tab-post-pane" role="tabpanel"
							aria-labelledby="tab-post" tabindex="0"></div>

						<!-- 클럽 탭 - 클럽 가입신청(클럽장만 볼 수 있는 탭) -->
						<div class="tab-pane fade" id="tab-clubApply-pane" role="tabpanel"
							aria-labelledby="tab-clubApply" tabindex="0"></div>
					</div>
					<!-- /클럽 탭 페이지  -->
				</div>
			</div>

			<!-- 수정 모달  -->
			<div class="modal fade text-left clubEditModal" id="EditModal"
				tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
				aria-hidden="true">

				<div class="modal-dialog modal-dialog-scrollable modal-lg"
					role="document">

					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel1" style="color: black;">클럽 수정</h5>
							<button type="button" class="close rounded-pill"
								data-bs-dismiss="modal" aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">

							<form class="form form-vertical" id="updateForm"
								th:action="@{/clubUpdate}" method="POST" th:object="${club}"
								enctype="multipart/form-data" data-parsley-validate>
								<div class="form-body">
									<div class="row">
										<input type="hidden" name="clubNo" th:value="${club.clubNo}">
										<div class="form-group mandatory col-10">
											<label for="clubName" data-parsley-required="true"
												class="form-label">클럽명</label> <input type="text"
												class="form-control is-valid" th:field="*{clubName}"
												th:value="${club.clubName}">
										</div>
										<div class="col-12">
											<div class="form-group mandatory">
												<label for="contact-info-vertical">프로필사진</label> <input
													type="file" class="image-preview-filepond">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group mandatory">
												<label for="clubDayName" data-parsley-required="true"
													class="form-label">요일</label>
												<div>
													<input class="form-check-input" type="radio" name="clubDay"
														id="radio1" value="j1" th:checked="${club.clubDay eq 'j1'? 'checked' : ''}">
													<label class="form-check-label" for="radio1">일요일</label> &nbsp;
													<input class="form-check-input" type="radio" name="clubDay"
														id="radio2" value="j2" th:checked="${club.clubDay eq 'j2'? 'checked' : ''}">
													<label class="form-check-label" for="radio2">월요일</label> &nbsp;
													<input class="form-check-input" type="radio" name="clubDay"
														id="radio3" value="j3" th:checked="${club.clubDay eq 'j3'? 'checked' : ''}">
													<label class="form-check-label" for="radio3">화요일</label> &nbsp;
													<input class="form-check-input" type="radio" name="clubDay"
														id="radio4" value="j4" th:checked="${club.clubDay eq 'j4'? 'checked' : ''}">
													<label class="form-check-label" for="radio4" >수요일</label> &nbsp;
													<input class="form-check-input" type="radio" name="clubDay"
														id="radio5" value="j5" th:checked="${club.clubDay eq 'j5'? 'checked' : ''}">
													<label class="form-check-label" for="radio5" >목요일</label> &nbsp;
													<input class="form-check-input" type="radio" name="clubDay"
														id="radio5" value="j6" th:checked="${club.clubDay eq 'j6'? 'checked' : ''}">
													<label class="form-check-label" for="radio5" >금요일</label> &nbsp;
													<input class="form-check-input" type="radio" name="clubDay"
														id="radio7" value="j7"  th:checked="${club.clubDay eq 'j7'? 'checked' : ''}">
													<label class="form-check-label" for="radio7" >토요일</label>&nbsp;
												</div>
											</div>

										</div>

								<div class="col-12">
									<div class="form-group mandatory">
										<label data-parsley-required="true" class="form-label">시간</label>
										<div>
										<input class="form-check-input" type="radio" name="clubTime" id="radio8" value="k1"
											 th:checked="${club.clubTime eq 'k1'? 'checked' : ''}"> 
										<label class="form-check-label" for="radio8" >오전</label>&nbsp;
										 
										<input class="form-check-input" type="radio" name="clubTime" id="radio9" value="k2"
											th:checked="${club.clubTime eq 'k2'? 'checked' : ''}">
										<label class="form-check-label" for="radio9" >오후</label>&nbsp;
										
										<input class="form-check-input" type="radio" name="clubTime" id="radio10" value="k3" 
											th:checked="${club.clubTime eq 'k3'? 'checked' : ''}">
										<label class="form-check-label" for="radio10">저녁</label>&nbsp;
										
										<input class="form-check-input" type="radio" name="clubTime" id="radio11" value="k4" 
											th:checked="${club.clubTime eq 'k4'? 'checked' : ''}">
										<label class="form-check-label" for="radio11">심야</label>&nbsp;
										</div>
									</div>

								</div>

										<div class="col-6">
											<div class="form-group ">
												<label for="exampleFormControlTextarea1" class="form-label">지역</label>
												<select class="form-control" data-parsley-required="true"
													name="clubRegion" th:value="${club.clubRegionName}">
													<option value="b1" th:selected="${club.clubRegionName} == '서울'">서울</option>
													<option value="b2" th:selected="${club.clubRegionName} == '경기'">경기</option>
													<option value="b3" th:selected="${club.clubRegionName} == '인천'">인천</option>
													<option value="b4" th:selected="${club.clubRegionName} == '강원도'">강원도</option>
													<option value="b5" th:selected="${club.clubRegionName} == '전라도'">전라도</option>
													<option value="b6" th:selected="${club.clubRegionName} == '경상도'">경상도</option>
													<option value="b7" th:selected="${club.clubRegionName} == '충청도'">충청도</option>
													<option value="b8" th:selected="${club.clubRegionName} == '제주도'">제주도</option>
												</select>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group ">
												<label for="exampleFormControlTextarea1" class="form-label">주
													코트장</label> <input type="text" th:field="*{clubCrt}"
													class="form-control" th:value="${clubCrt}"
													placeholder="주로 이용하는 코트장을 입력하세요.">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group ">
												<label for="exampleFormControlTextarea1" class="form-label">연령대</label>
												<select class="form-control" data-parsley-required="true"
													name="clubAge" th:value="${club.clubAgeName}">
													<option value="a1" th:selected="${club.clubAgeName} == '10대'">10대</option>
													<option value="a2" th:selected="${club.clubAgeName} == '20대'">20대</option>
													<option value="a3" th:selected="${club.clubAgeName} == '30대'">30대</option>
													<option value="a4" th:selected="${club.clubAgeName} == '40대'">40대</option>
													<option value="a5" th:selected="${club.clubAgeName} == '50대'">50대</option>
													<option value="a6" th:selected="${club.clubAgeName} == '60대'">60대 이상</option>
												</select>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group ">
												<label for="exampleFormControlTextarea1" class="form-label">성별</label>
												<select class="form-control" data-parsley-required="true"
													 name="clubGen" th:value="${club.clubGenName}">
													<option th:selected="${club.clubGenName}=='남성'" value="c1">남성</option>
													<option th:selected="${club.clubGenName}=='여성'" value="c2">여성</option>
													<option th:selected="${club.clubGenName}=='모두'" value="c3">모두</option>
												</select>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group mandatory">
												<label for="password-vertical">소개글</label>
												<textarea class="form-control" name="clubIntro"
													th:field="*{clubIntro}" th:value="${club.clubIntro}"
													rows="3"></textarea>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group ">
												<div>
													<label for="exampleFormControlTextarea1" class="form-label">모집여부</label>
												</div>
												<input class="form-check-input" type="radio" name="clubRecruitment" value="l1" 
												       style="display: inline-block;" th:checked="${club.clubRecruitment eq 'l1'? 'checked' : ''}"> 
													<label class="form-check-label" for="indoor" style="display: inline-block;">비활성화</label>&nbsp; 
												<input class="form-check-input" type="radio" name="clubRecruitment" value="l2" 
													   style="display: inline-block;" th:checked="${club.clubRecruitment eq 'l2'? 'checked' : ''}"> 
													<label class="form-check-label" for="outdoor" style="display: inline-block;">활성화</label>
											</div>
										</div>

									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<div class="col-12 d-flex justify-content-end">
								<button type="button" id="updateBtn"
									class="btn btn-dark me-2 mb-1">수정</button>
								<button type="button" class="close btn btn-light-secondary me-1 mb-1" data-bs-dismiss="modal" aria-label="Close">취소</button>
								
								
								
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /수정 모달  -->

		</div>
	</div>
	<script>
		//탭 페이지 이동
		$('button[data-bs-toggle="tab"]').on("shown.bs.tab", function (e) {
			let url = $(event.target).data("url")
			let clubNo = $(event.target).data('club-no')
			let target = $(event.target).data('bs-target')
			url = url + '?clubNo=' + clubNo;
			$(target).load(url)
			console.log(url)
		});
		//들어왔을때 정보 바로 불러오기
		$(document).ready(function () {
			$('#info-tab').data("url")
			let url = $('#info-tab').data("url")
			let clubNo = $('#info-tab').data('club-no')
			let target = $('#info-tab').data('bs-target')

			url = url + '?clubNo=' + clubNo;
			$(target).load(url)
		})


		//클럽 삭제 하기
		$('#clubDel').on('click', function (e) {
			Swal.fire({
				title: "클럽을 정말로 삭제하시겠습니까?",
				text: "삭제된 내용은 복구할 수 없습니다.",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				cancelButtonText: '취소',
				confirmButtonText: "삭제"
			}).then((result) => {
				if (result.isConfirmed) {
					deleteAjax();
				}
			});

		});
		
		// 클럽 삭제 아작스
		function deleteAjax() {
			let clubNo = $('#info-tab').data('club-no')
			console.log("삭제시작" + clubNo)
			$.ajax({
				type: 'POST',
				url: 'clubdelete',
				data: { paramclubNo: clubNo },
				dataType: 'JSON',
				success: function (result) {
					if (result) {
						alert("클럽이 삭제되었습니다.");
						location.href = "/club";
					}
				},
				error: function () {
					alert("삭제실패");
				}
			})
		};

		//클럽수정 아작스
		$('.clubEditModal').on('show.bs.modal', function (e) {
			
			$('#updateForm')[0].reset()
			console.log(e.relatedTarget); // 이번호를 아작스 통신의 데이터로 넘겨준다.
			let clubNo = $(e.relatedTarget).attr('data-club-no');
			 
			
				$('#updateBtn').on("click", function(e) { //수정 버튼 눌렀을때
					console.log("수정 버튼 눌렀을때");
					var clubData = $("#updateForm").serialize() ;
					$.ajax({
						url: 'clubUpdate',  //컨트롤러에 맵핑에 있는 경로
						data: clubData,
						type: 'post',
						datatype: 'JSON',
						contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
						success: function (result) {
							Swal.fire({
								backdrop: `
									 rgba(100, 100, 100, 0.6)`,
								title: '수정 완료',
								text: '클럽 정보가 수정되었습니다.',
								showConfirmButton: false,
								timer: 1700
							})
							location.reload();
						},
						error: function () {
							Swal.fire({
								backdrop: `
									 rgba(100, 100, 100, 0.6)`,
								title: '수정 실패',
								text: '클럽 정보 수정중 오류발생',
								showConfirmButton: false,
								timer: 1300
							})

							}
						}) 
					}); 
				});	
				
				
			

	</script>
</th:block>


</html>