<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<th:block layout:fragment="content">

	<body>

		<div class="content__body">
			<section class="archive-category" style="padding:15px 0 0 0;">
				<div class="col-12">
					<div class="filter__area" style="margin: 0;">
						<div class="email-fixed-search col-6 ">
							<div class="form-group position-relative  mb-0 has-icon-left">
								<button class="btn btn-outline my-4" id="matchWrite" data-bs-toggle="modal"
									th:data-club-no="${clubVO.clubNo}" data-bs-target="#addMatchModal">모집 추가</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="content__body">
				<ul style="list-style: none; padding-left: 0;" id="recruitList">
					<!-- 여기에 모집 리스트 -->
				</ul>
			</div>
			<!-- 	</div> -->



			<!-- 매치작성 모달  -->
			<div class="modal fade text-left clubEditModal" id="addMatchModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel1" aria-hidden="true">

				<div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">

					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel1" style="color: #3c3c3c;">매치 모집</h5>
							<button type="button" class="close rounded-pill" data-bs-dismiss="modal" aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<form class="form__wrapper matchModalForm" id="postForm" th:action="@{/clubMatchRecruit}"
							method="POST" th:object="${clubMatchVO}" enctype="multipart/form-data"
							data-parsley-validate>
							<div class="modal-body">
								<div class="input-group mb-3">
									<label for="clubMatchDate">매치 일자</label><br> 
									<input type="date" id="clubMatchDate"
										name="clubMatchDate" class="form-control flatpickr-always-open"
										placeholder="Select date..">
								</div>

								<div class="product-detail__qty">
									<span class="product-detail--stroke">모집 인원 수</span>
									<div class="quantity quantity--outline">
										<button type="button" class="decressQnt" id="minusCount">
											<span class="bar"></span>
										</button>
										<input id="clubMatchRecruitPsnNum" name="clubMatchRecruitPsnNum"
											class="qnttinput" type="number" readonly="readonly" value="1"/>
										<button type="button" class="incressQnt" id="plusCount">
											<span class="bar"></span>
										</button>
									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-light-secondary cancleBtn" data-bs-dismiss="modal">
									<i class="bx bx-x d-block d-sm-none"></i> <span class="d-none d-sm-block">취소</span>
								</button>
								<button type="button" class="btn btn-dark ms-1 insertBtn" data-bs-dismiss="modal">
									<i class="bx bx-check d-block d-sm-none"></i> <span
										class="d-none d-sm-block">작성</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /매치작성 모달  -->



		</div>


		<script type="text/javascript">

			recruitListAjax()

			//매치모집 리스트
			function recruitListAjax() {

				let clubNo = [[${ clubVO.clubNo }]];
				
				$.ajax({
					type: 'GET',
					url: 'recruitList',
					data: { clubNo },
					success: function (data) {
						$('#recruitList').empty();
						for (let rec of data) {
							let List = `
						<li>
						<div class="recent-message d-flex px-4 py-3" style="border-bottom: 1px solid #e1e1e1; display: flex; justify-content: space-between; align-items: center;">
						<div class="d-flex-right">
						
							<div class="match-box" style="width: 100px; height:100px; border-radius: 15px; overflow:hidden;" >
							<img src = "/assets/img/sns/Tennis3.jpg" style="width: 100%; height: 100%; object-fit:cover;"/>
							</div>
							<div class="name ms-4" style="padding: 10px 0;">
							<h5 class="mb-1" style="color: #3c3c3c;">${new Date(rec.clubMatchDate).toLocaleDateString(
							'ko-KR', { year: 'numeric', month: 'long', day: 'numeric' })} 매치인원 모집</h5>
							<h6 class="text-muted mb-0">모집 인원 : ${rec.clubMatchRecruitPsnNum}명</h6>
							<h6 class="text-muted mb-0">참가 인원 : ${rec.joinMem}명</h6>
							<p class="text-muted mb-0">작성일 : ${new Date(rec.matchRecruitWriteDate).toLocaleDateString()}</p>
						</div>
							
 						</div>
 						<div>
						<button type="button" class="btn btn-outline my-4"
						 data-bs-toggle="modal" data-bs-target="#join${rec.clubMatchRecruitNo}">참여하기</button>
						 <i class="fa-regular fa-trash-can recNoBtn" type="button" data-rec-no="${rec.clubMatchRecruitNo}"></i>	
				</div>
							
						</div>
						
						</div>
						</li>
						<!-- 참여모달 -->
							<div class="modal fade text-left" id="join${rec.clubMatchRecruitNo}" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel110" aria-hidden="true">
								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" style="color: black;" id="myModalLabel110">${new Date(rec.clubMatchDate).toLocaleDateString(
									'ko-KR', { year: 'numeric', month: 'long', day: 'numeric' })} 매치인원 모집</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">매치에 참여하시겠습니까?</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">취소</button>

											<button type="button" class="btn btn-dark ms-1 joinBtn" data-match-no="${rec.clubMatchRecruitNo}" 
												data-bs-dismiss="modal">참여</button>
										</div>
									</div>
								</div>
							</div>
						<!-- /참여모달 -->
					`
							$('#recruitList').append(List)

						}//반복문
						
						if(data.length == 0){
							List = `<h6 style="text-align: center; padding: 10px; color: #3c3c3c;">모집중인 매치가 없습니다.</h6>`
								$('#recruitList').append(List)
						}

						$('.joinBtn').on("click", function (e) {

							let clubMatchRecruitNo = $(this).data('match-no')
							let clubMemNo = [[${member.memNo}]]
				             console.log("멤버번호"+clubMemNo)
				             console.log("모집번호"+clubMatchRecruitNo)
							
							
							isertRecruitMem(clubMatchRecruitNo,clubMemNo )

						})
						
						//모집 삭제
						$(".recNoBtn").on("click", function(e){
							let clubMatchRecruitNo = $(this).data('rec-no')
							console.log("모집번호" + clubMatchRecruitNo)
							Swal.fire({
								title: "모집을 하시겠습니까?",
								text: "신청된 내역이 모두 삭제됩니다.",
								icon: "warning",
								showCancelButton: true,
								confirmButtonColor: "#3085d6",
								cancelButtonColor: "#d33",
								cancelButtonText: '취소',
								confirmButtonText: "삭제"
							}).then((result) => {
								if (result.isConfirmed) {
									recDeleteAjax(clubMatchRecruitNo)
								}
							});
						});
						
						
						$('#matchWrite').on('click', function (e) {
							$('#postForm')[0].reset();	//모집폼값 초기화
						})
					}//success
				})//ajax

			}
			
			function isertRecruitMem(clubMatchRecruitNo,memNo){
				$.ajax({
					url: 'insertRecruitMem',
					data: { clubMatchRecruitNo, memNo },
					type: 'POST',
					dataType: 'text',
					success: function (result) {
						Swal.fire({
							backdrop: `
								 rgba(100, 100, 100, 0.6)`,
							title: '신청 완료',
							text: '참가 신청이 완료되었습니다.',
							showConfirmButton: false,
							timer: 1700
						})
						recruitListAjax(); //등록후 리스트 불러오기

					},
					error: function () {
						Swal.fire({
							backdrop: `
								 rgba(100, 100, 100, 0.6)`,
							title: '신청 실패.',
							showConfirmButton: false,
							timer: 1300
						})

					}

				})
			}



			//매치모집 등록
			$('.insertBtn').on("click", function (e) {

				let clubNo = $('#matchWrite').data('club-no');
				let clubMatchDate = $('#clubMatchDate').val();
				let clubMatchRecruitPsnNum = $('.qnttinput').val();
				console.log("확인버튼" + clubNo)

				console.log("클럽데이트:" + clubMatchDate)
				console.log("모집인원수:" + clubMatchRecruitPsnNum)

				$.ajax({
					url: 'recruitInsert',
					data: { clubNo, clubMatchDate, clubMatchRecruitPsnNum },
					type: 'POST',
					dataType: 'text',
					success: function (result) {
						Swal.fire({
							backdrop: `
								 rgba(100, 100, 100, 0.6)`,
							title: '등록 성공',
							showConfirmButton: false,
							timer: 1300
						})
						recruitListAjax(); //등록후 리스트 불러오기
						//$('#postForm')[0].reset();	//폼값 초기화

					},
					error: function () {
						Swal.fire({
							backdrop: `
								 rgba(100, 100, 100, 0.6)`,
							title: '등록실패',
							text: '정보를 다시 입력해주세요.',
							showConfirmButton: false,
							timer: 1300
						})
						recruitListAjax(); //등록후 리스트 불러오기

					}

				})
			});
			
			
			//매치 모집 삭제 아작스
			function recDeleteAjax(clubMatchRecruitNo) {
				$.ajax({
					type: 'POST',
					url: 'recDelete',
					data: { paramRecNo: clubMatchRecruitNo },
					dataType: 'JSON',
					success: function (result) {
							Swal.fire({
								backdrop: `
									 rgba(100, 100, 100, 0.6)`,
								title: '삭제성공',
								showConfirmButton: false,
								timer: 1300
							})
							recruitListAjax()
					},
					error: function () {
						Swal.fire({
							backdrop: `
								 rgba(100, 100, 100, 0.6)`,
							title: '삭제 실패',
							text: '삭제 도중 오류가 발생했습니다.',
							showConfirmButton: false,
							timer: 1300
						})
					}
				})
			};


			
			//인원선택
			$('#plusCount').on('click', function (e) {
				let number = $('.qnttinput').val();
				number = number * 1 + 1;
				$('.qnttinput').val(number)
			})
			
				$('#minusCount').on('click', function (e) {
					
				number = $('.qnttinput').val();
				console.log(number)
				number = number * 1 - 1;
				
				
				$('.qnttinput').val(number)
			})


		</script>
	</body>
</th:block>

</html>