<!DOCTYPE html>
<html>
<style>
.content__body{
font-family: 'Noto Sans KR', sans-serif !important;
}

.custom-btn {
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.loseBox {
  width: 70px;
  height: 70px;
  line-height: 42px;
  padding: 0;
  border: none;
background: linear-gradient(0deg, rgb(255 94 75) 0%, rgb(255 180 149) 100%);
}

.loseBox > span {
 font-size: 1.3em;
}

.winBox {
  width: 70px;
  height: 70px;
  line-height: 42px;
  padding: 0;
  border: none;
background: linear-gradient(0deg, rgb(122 181 255) 0%, rgb(187 237 255) 100%);
}

.winBox > span {
 font-size: 1.3em;
}

.tieBox {
  width: 70px;
  height: 70px;
  line-height: 42px;
  padding: 0;
  border: none;
background: linear-gradient(0deg, rgb(143 143 143) 0%, rgb(233 233 233) 100%);
}

.tieBox > span {
 font-size: 1em;
}

.rstBox {
  width: 70px;
  height: 70px;
  line-height: 42px;
  padding: 0;
  border: none;
	background: linear-gradient(0deg, rgb(243 243 243) 0%, rgb(252 252 252) 100%);
}

.rstBox > span {
 font-size: 1em;
 color: #9d9d9d;
}





</style>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="content__body">
		<ul style="list-style: none; padding-left: 0;" id="matchEndList">
			<!-- 여기에 매치 리스트 -->
		</ul>
	</div>


	<script th:inline = 'javascript'>

		matchListAjax()

		function matchListAjax() {
			let clubNo = [[${ clubVO.clubNo }]];
			console.log("클럽번호" + clubNo)

			$.ajax({
				type: 'GET',
				url: 'selectClubEndList',
				data: { clubNo },
				success: function (data) {
					$('#matchEndList').empty();
					
					for (let match of data) {
						let List = `
						<li>
						<div class="recent-message d-flex px-4 py-3"
						style="border-bottom: 1px solid #e1e1e1; display: flex; justify-content: space-between; align-items: center;">
						<div class="d-flex-right">`
						if(match.clubMatchRstName == null){
							List+=`
								<button class="custom-btn rstBox"><span>대기</span></button>
							`
						}else{
							
							if(match.clubMatchRstName == '패'){
								List+=`
									<button class="custom-btn loseBox"><span>${match.clubMatchRstName}</span></button>
								`
							}else if(match.clubMatchRstName == '승'){
								List+=`
									<button class="custom-btn winBox"><span>${match.clubMatchRstName}</span></button>
								`
							}else{
								List+=`
									<button class="custom-btn tieBox"><span>${match.clubMatchRstName}</span></button>
								`
							}
							
						}
					List+=	`
							<div class="name ms-4" style="padding: 10px 0; cursor : pointer;"
								data-bs-toggle="modal" data-bs-target="#hist${match.matchNo}">
								<h5 class="mb-1 histInfo" style="color: #3c3c3c;">${new Date(match.matchDate).toLocaleDateString(
							'ko-KR', { year: 'numeric', month: 'long', day: 'numeric' })} 매치</h5>
								<h6 class="text-muted mb-0">참가 인원 : ${match.recruitPsnNum}명</h6>
							</div>
						</div>`
						
						if(match.clubMatchRstName == null){
							List+=`
								<div>
								<button type="button" class="btn btn-outline my-4 resultBtn"
									 data-bs-toggle="modal" data-bs-target="#result${match.matchNo}">결과입력</button>
								</div>
							`
						}else{
							List+=`
								<div>
								<button type="button" class="btn btn-outline my-4 editBtn"
									 data-bs-toggle="modal" data-bs-target="#edit${match.matchNo}">수정</button>
								</div>
							`
						}
					List+= `
						</div>
						</li>
						<!-- 결과 작성 모달 -->
						<div class="modal-success me-1 mb-1 d-inline-block">
							<div class="modal fade text-left" id="result${match.matchNo}"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel110"
								aria-hidden="true">
								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
									role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title white" style="color: #3c3c3c;" id="myModalLabel110">${new Date(match.matchDate).toLocaleDateString(
													'ko-KR', { year: 'numeric', month: 'long', day: 'numeric' })} 매치 결과</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
										<div>
											<input class="form-check-input" type="radio" name="clubMatchRst" id="win" value="n2" style="display: inline-block;">
					                     	  <label class="form-check-label" for="win" style="display: inline-block;">승</label>
					                     	 </div>
					                     	<div>
											<input class="form-check-input" type="radio" name="clubMatchRst" id="lose" value="n1" style="display: inline-block;">
										 	   <label class="form-check-label" for="lose" style="display: inline-block;">패</label>
										 	  </div>
										 	 <div>
											<input class="form-check-input" type="radio" name="clubMatchRst" id="tie," value="n3" style="display: inline-block;"> 
												<label class="form-check-label" for="tie," style="display: inline-block;">무승부</label>
												</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">Close</button>

											<button type="button" class="btn btn-dark ms-1 saveBtn" 
												 data-match-no="${match.matchNo}" data-bs-dismiss="modal">저장</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /결과 작성 모달 -->
						<!-- 결과 수정 모달 -->
						<div class="modal-success me-1 mb-1 d-inline-block">
							<div class="modal fade text-left" id="edit${match.matchNo}"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel110"
								aria-hidden="true">
								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
									role="document">
									<div class="modal-content">
										<div class="modal-header ">
											<h5 class="modal-title white" id="myModalLabel110" style="color: #3c3c3c;" >${new Date(match.matchDate).toLocaleDateString(
													'ko-KR', { year: 'numeric', month: 'long', day: 'numeric' })} 매치 결과</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
											<input class="form-check-input" type="radio" name="clubMatchRst" id="win" value="n2" style="display: inline-block;">
					                     	  <label class="form-check-label" for="win" style="display: inline-block;">승</label>
											<input class="form-check-input" type="radio" name="clubMatchRst" id="lose" value="n1" style="display: inline-block;">
										 	   <label class="form-check-label" for="lose" style="display: inline-block;">패</label>
											<input class="form-check-input" type="radio" name="clubMatchRst" id="tie," value="n3" style="display: inline-block;"> 
												<label class="form-check-label" for="tie," style="display: inline-block;">무승부</label>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light-secondary"
												data-bs-dismiss="modal">Close</button>

											<button type="button" class="btn btn-dark ms-1 updateBtn" 
												 data-match-no="${match.matchNo}" data-bs-dismiss="modal">저장</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /결과 수정 모달 -->
						<!-- 상대편 정보 모달 -->
						<div class="modal-success me-1 mb-1 d-inline-block">
							<div class="modal fade text-left" id="hist${match.matchNo}"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel110"
								aria-hidden="true">
								<div
									class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
									role="document">
									<div class="modal-content">
										<div class="modal-header bg-success">
											<h5 class="modal-title white" id="myModalLabel110">${new Date(match.matchDate).toLocaleDateString(
													'ko-KR', { year: 'numeric', month: 'long', day: 'numeric' })} 매치</h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Close">
												<i data-feather="x"></i>
											</button>
										</div>
										<div class="modal-body">
										
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /상대편 정보 모달 -->
						
					`
						$('#matchEndList').append(List);
					}
					
					
					//결과 입력
					$('.saveBtn').on("click", function (e) {
						let clubMatchNo = $(this).data('match-no');
						let clubMatchRst = $('input[type=radio]:checked').val();

						resultInsertAjax(clubMatchNo,clubMatchRst)
					})
					
					//결과 수정
					$('.updateBtn').on("click", function (e) {
						let clubMatchNo = $(this).data('match-no');
						let clubMatchRst = $('input[type=radio]:checked').val();

						resultUpdateAjax(clubMatchNo,clubMatchRst)
					})
					
				

					
				}
			})
		}
		//결과 등록 아작스
		function resultInsertAjax(clubMatchNo,clubMatchRst){
			$.ajax({
				url: 'insertResult',
				data: { clubMatchNo, clubMatchRst },
				type: 'POST',
				dataType: 'text',
				success: function (result) {
					alert("저장완료")
					//postListAjax(); //등록후 리스트 불러오기
					//$('#postForm')[0].reset();	//폼값 초기화
					matchListAjax()

				},
				error: function () {
					alert("저장실패")

				}

			})
		}
		
		//결과 수정 아작스
		function resultUpdateAjax(clubMatchNo,clubMatchRst){
			$.ajax({
				url: 'editResult',
				data: { clubMatchNo, clubMatchRst },
				type: 'POST',
				dataType: 'text',
				success: function (result) {
					alert("수정성공")
					matchListAjax()

				},
				error: function () {
					alert("수정실패")

				}

			})
		}
		
			
		
	
		
		

	</script>
</body>

</html>