<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		.boardContainer {
			margin-bottom: -16px;
		}

		.toggleBoardTitle {
			cursor: pointer;
		}

		/* 	.boardBody {
	height: 0;
	overflow: hidden;
	transition: all 1s;
}  */

		/* #btn-all-close {
	margin-bottom: 10px;
	background-color: #726996;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 25px;
	float: right;
}

#btn-all-close:hover {
	background-color: yellow;
	color: #000;
	transition: all 0.35s;
} */
		 .boardBody.active {
			display: block;
			/* 높이를 정해줘야지만 transition이 적용됨 fit-content */
		height: 1200px;

		}

		
	</style>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<th:block layout:fragment="content">

	<body>
		<div class="content__body">
			<section class="archive-category">
				<div class="col-12">
					<div class="filter__area" style="margin: 0;">
						<div class="email-fixed-search col-6 ">
							<div class="form-group position-relative  mb-0 has-icon-left">
								<button class="btn btn-outline-success" id="clubPostWrite"
									th:data-club-no="${club.clubNo}" data-bs-toggle="modal"
									data-bs-target="#WriteModal">글쓰기</button>
							</div>
						</div>
						<div class="shortBy-select select__style d-lg-flex d-none">
							<label for="sortBy2">Sort by:</label> <select name="sortBy" id="sortBy2">
								<option value="0">조회순</option>
								<option value="0">인기순</option>
								<option value="0">이름순</option>
							</select>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- table hover -->
		<div class="table-responsive">
			<table class="table mb-0">
				<thead>
					<tr>
						<th>작성일</th>
						<th>제목</th>
						<th>작성자</th>
						<th>조회수</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="postList">
					<!-- 여기에 게시글 리스트 들어감 -->
				</tbody>
			</table>

			<br>
			<ul class="pagination justify-content-center">
				<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">다음</a></li>
			</ul>
		</div>

		<!-- 글작성 모달  -->
		<div class="modal fade text-left" id="WriteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel33">게시글 작성하기</h4>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<i data-feather="x"></i>
						</button>
					</div>
					<form class="form__wrapper clubPostModal" id="postForm" th:action="@{/postInsert}" method="POST"
						th:object="${club}" enctype="multipart/form-data" data-parsley-validate>
						<div class="modal-body">
							<input type="hidden" name="clubNo" th:value="${club.clubNo}">
							<input type="hidden" name="memId" th:value="${club.memId}">
							<div class="input-group mb-3">
								<input type="file" class="form-control" id="inputGroupFile01"
									style="padding: 0.375rem 0.75rem">
							</div>
							<div class="form-group">
								<label for=clubPostTitle>제목</label>
								<textarea name="clubPostTitle" cols="30" rows="1" id="clubPostTitle"
									class="form-control form-area" placeholder="제목을 입력하세요."></textarea>
							</div>
							<div class="form-group">
								<label for="clubPostCtt">내용</label>
								<textarea name="clubPostCtt" cols="30" rows="5" id="clubPostCtt"
									class="form-control form-area" placeholder="내용을 입력하세요."></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary cancleBtn" data-bs-dismiss="modal">
								<i class="bx bx-x d-block d-sm-none"></i> <span class="d-none d-sm-block">취소</span>
							</button>
							<button type="button" class="btn btn-primary ms-1 insertBtn" data-bs-dismiss="modal">
								<i class="bx bx-check d-block d-sm-none"></i> <span class="d-none d-sm-block">작성</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /글작성 모달  -->

		<!-- 글수정 모달  -->
		<div class="modal fade text-left" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel33">게시글 수정하기</h4>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<i data-feather="x"></i>
						</button>
					</div>
					<form class="form__wrapper PostEditModal" id="postEditForm" th:action="@{/postUpdate}" method="POST"
						th:object="${club}" enctype="multipart/form-data" data-parsley-validate>
						<div class="modal-body">
							<input type="hidden" name="clubNo" th:value="${club.clubNo}">
							<input type="hidden" name="memId" th:value="${club.memId}">
							<div class="input-group mb-3">
								<input type="file" class="form-control" id="inputGroupFile01"
									style="padding: 0.375rem 0.75rem">
							</div>
							<div class="form-group">
								<label for=clubPostTitle>제목</label>
								<textarea name="clubPostTitle" cols="30" rows="1" id="clubPostTitle"
									class="form-control form-area" th:text="${club.clubNo}"></textarea>
							</div>
							<div class="form-group">
								<label for="clubPostCtt">내용</label>
								<textarea name="clubPostCtt" cols="30" rows="5" id="clubPostCtt"
									class="form-control form-area"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary editCancleBtn" data-bs-dismiss="modal">
								<i class="bx bx-x d-block d-sm-none"></i> <span class="d-none d-sm-block">취소</span>
							</button>
							<button type="button" class="btn btn-primary ms-1" id="postUpdateBtn"
								data-bs-dismiss="modal">
								수정
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /글수정 모달  -->

		<script>

			/* // 게시글 콜랩스 토글
			document.querySelector(".boardContainer").addEventListener('click',
				  function() {
					  const toggleAnswer = document.querySelector(".boardBody")
					  console.log(toggleAnswer);
					  toggleAnswer.classList.toggle('active');
				  })   */


			//게시글 등록
			//글쓰기 버튼 클릭했을때 클럽넘버 값 가지고가기
			$('#WriteModal').on('show.bs.modal', function (e) {

				let clubNo = $(e.relatedTarget).attr('data-club-no');

				$('.insertBtn').on("click", function (e) {
					console.log('작성 버튼 누르라구요');
					var PostData = $("#postForm").serialize();

					$.ajax({
						url: 'postInsert',
						data: PostData,
						type: 'post',
						datatype: 'text',
						success: function (result) {
							alert("등록성공")
							postListAjax(); //등록후 리스트 불러오기
							$('#postForm')[0].reset();	//폼값 초기화

						},
						error: function () {
							alert("등록 실패")

						}

					})
				});

			});

			//게시글 전체 조회
			function postListAjax() {
				let clubNo = $('#clubPostWrite').attr('data-club-no');
				console.log("자유게시판에서 클럽번호" + clubNo)
				$.ajax({
					type: 'GET',
					url: 'postList',
					data: { clubNo },
					success: function (data) {
						$('#postList').empty();
						for (let [index, clubPost] of data.entries()) {
							let List = `
							<tr class="toggleBoard accordion-header" style="height: 70px;" data-bs-toggle="collapse"
								data-bs-target="#p${clubPost.clubPostNo}" aria-expanded="false"
									aria-controls="collapseTwo" onclick="repListAjax(${clubPost.clubPostNo})">
								<td>${new Date(clubPost.clubPostWriteDate).toLocaleDateString()}</td>
								<td>
									<div class="boardContainer toggleBoardTitle" data-value="${clubPost.clubPostNo}">
										<p class="toggleBoardTitle" style="text-align: left;">${clubPost.clubPostTitle}</p>
								    </div>
								</td>
								<td  style="text-align: left;">${clubPost.name}</td>
								<td>${clubPost.clubPostHit}</td>
								<td>
								<i type="button" class="fa-regular fa-pen-to-square postEditBtn" data-value="${clubPost.clubPostNo}"
														data-bs-toggle="modal" data-bs-target="#editModal" ></i>
								<i type="button" class="fa-regular fa-trash-can postDelBtn" data-value="${clubPost.clubPostNo}"></i>
								</td>
							</tr>
							<tr class="toggleBoard">
							<td colspan='5' style="padding: 0;"  id="p${clubPost.clubPostNo}"
								class="accordion-collapse collapse"
									aria-labelledby="headingTwo">
								<div class="boardBody" style="text-align: center;">
									<div>
										<img src="./assets/img/card.jpg" style="width: 70%; padding:25px 0px">
									</div>
									<div class="col-10">
									<p class="form-control"
											  id="exampleFormControlTextarea1" >${clubPost.clubPostCtt}</p>
									<div class="input-group mb-3">
										<input type="text" class="form-control repCtt"
											placeholder="enter your comment"
											aria-label="Recipient's username"
											aria-describedby="basic-addon2">
										<button type="button" class="input-group-text repInserBtn" data-value="${clubPost.clubPostNo}">등록</button>
									</div>
									<div class="table-responsive" >
											<table class="table" id="table1" data-value="${clubPost.clubPostNo}">
												<thead>
													<tr>
														<th>작성자</th>
														<th>댓글 내용</th>
														<th>작성일자</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="r${clubPost.clubPostNo}"> </tbody>
											</table>
									</div>
									</div>
								</div>
							</td>
						</tr> 
							`
							$('#postList').append(List)
						}
						//삭제 아이콘 클릭할때
						$(".postDelBtn").on("click", function (e) {

							let clubPostNo = $(this).data('value');
							console.log("삭제아이콘클릭" + clubPostNo);
							Swal.fire({
								title: "게시글을 삭제하시겠습니까?",
								icon: "warning",
								showCancelButton: true,
								confirmButtonColor: "#3085d6",
								cancelButtonColor: "#d33",
								cancelButtonText: '취소',
								confirmButtonText: "삭제"
							}).then((result) => {
								if (result.isConfirmed) {
									postDeleteAjax(clubPostNo)
								}
							});
						});

						//수정 아이콘 클릭할때
						$('.postEditBtn').on("click", function (e) {

							//const postClubData = new URLSearchParams();
							let no = $(this).data('value');
							//console.log("이거 클럽 포스트 번호인데" + no);
							$('#postUpdateBtn').on("click", function (e) { //수정 버튼 눌렀을때
								console.log("수정 버튼 눌렀을때");
								let postClubData = $("#postEditForm").serialize() + "&clubPostNo=" + no;
								console.log(postClubData);
								$.ajax({
									url: 'postUpdate',  //컨트롤러에 맵핑에 있는 경로
									data: postClubData,
									type: 'post',
									datatype: 'JSON',
									success: function (result) {
										alert("수정성공")
										postListAjax()
										// getRepList(snsWrtNo); //다시 메인 페이지 보여줘야하나요?
										//DOM 조작 함수호츨 등 가능
									},
									error: function () {
										alert("수정 실패")

									}
								})
							});

						})

						//상세 조회 (제목 클릭)
					/* 	$(".boardContainer").on("click", function (e) {
							//const toggleAnswer = document.querySelector(".boardBody")

							$(this).parent().parent().next().toggle();
							let clubPostNo = $(this).data('value');
							console.log("댓글리스트에 게시글 번호"+clubPostNo);
							// 댓글 리스트 아작스
							repListAjax(clubPostNo);
						});
						 */
						
						//댓글 등록 버튼 클릭
						$('.repInserBtn').on("click", function(e) {
							console.log("등록번호 클릭");
							let clubPostNo = $(this).data('value');
							let clubRepCtt = $(this).prev().val();
							//console.log("댓글에 게시글 번호" + clubPostNo);
							repInsertAjax(clubPostNo,clubRepCtt)
							
						})
					} //success 끝


				})
			} //게시글 리스트 아작스 끝

			//댓글 리스트 아작스
			function repListAjax(clubPostNo) {
				$.ajax({
					type: 'GET',
					url: 'repList',
					data: { clubPostNo },
					success: function (data) {
						//$('#repList').empty();
						for(let [index, rep] of data.entries()){
							let List=`
							<tr>
								<td>${rep.name}</td>
								<td>${rep.clubRepCtt}</td>
								<td>${new Date(rep.clubRepWriteDate).toLocaleDateString()}</td>
								<td><i type="button" class="fa-regular fa-trash-can repDelBtn" data-value="${rep.clubRepNo}"></i></td>
							</tr>
							`
						$('#r'+clubPostNo).append(List)	
						}
						//댓글 삭제 버튼 클릭
						$('.repDelBtn').on("click", function (e) {
							let clubRepNo = $(this).data('value');
							console.log("댓글 번호:"+clubRepNo)
							Swal.fire({
								title: "댓글을 삭제하시겠습니까?",
								icon: "warning",
								showCancelButton: true,
								confirmButtonColor: "#3085d6",
								cancelButtonColor: "#d33",
								cancelButtonText: '취소',
								confirmButtonText: "삭제"
							}).then((result) => {
								if (result.isConfirmed) {
									repDeleteAjax(clubRepNo)
								}
							})
						}); 
					}//success 끝
					
					
					
					
				})
			};
			
			//댓글 등록 아작스
		 	function repInsertAjax(clubPostNo,clubRepCtt){
				$.ajax({
					type:'POST',
					url:'repInsert',
					data : {clubPostNo,clubRepCtt},
					dataType:'text',
					success:function(result){
						$('#repCtt').val('');
						postListAjax()
					},
					error: function(){
						alert("등록 실패")
					}
				})
			}; 
			
			//댓글 삭제 아작스
			function repDeleteAjax(clubRepNo) {
				$.ajax({
					type: 'POST',
					url: 'repDelete',
					data: { paramRepNo: clubRepNo },
					dataType: 'JSON',
					success: function (result) {
						if (result) {
							//삭제되면 리스트 다시 불러오기
							postListAjax()
						}
					},
					error: function () {
						alert("삭제실패");
					}
				})
			};
			
			
			
			//게시글 삭제 아작스
		 	function postDelteAjax(clubPostNo) {
				$.ajax({
					type: 'POST',
					url: 'postDelete',
					data: { paramPostNo: clubPostNo },
					dataType: 'JSON',
					success: function (result) {
						if (result) {
							//삭제되면 리스트 다시 불러오기
							postListAjax()
						}
					},
					error: function () {
						alert("삭제실패");
					}
				})
			}; 
			
			


			$(document).ready(function () {
				postListAjax()
			});


		</script>




	</body>
</th:block>

</html>