<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<th:block>
<body>
	<div class="content__body">
		<div class="col-md-11">
			<div class="product-detail__wrapper">
				<br/>
				<h2 class="product-detail__title"
					style="width: fit-content; display: inline-block;">[[${club.clubName}]]</h2>
				<a href="#" class="btn icon btn-secondary"><i
					data-feather="user"></i>[[${club.clubMemNum}]]명</a>

				<p class="product-detail__short_desc">[[${club.clubIntro}]]</p>
				<div class="product-detail__attr col-xxl-12">
					<div class="product__attr col-xxl-9">
						<p>
							<span class="product-detail--stroke">요일 </span>
							<span class="product-detail--stroke" style="color: gray">[[${club.clubDayName}]]요일</span>&nbsp;
						</p>
						<p>
							<span class="product-detail--stroke">시간</span> 
							<span class="product-detail--stroke" style="color: gray">[[${club.clubTimeName}]]</span>&nbsp;
						</p>
						<p>
							<span class="product-detail--stroke">지역</span>
                            <span class="product-detail--stroke" style="color: gray">[[${club.clubRegionName}]]</span>
						</p>
					</div>
				</div>
				<div class="product-detail__attr col-xxl-12">
					<div class="product__attr col-xxl-9">
						<p>
							<span class="product-detail--stroke">나이</span>&nbsp; <span
								class="product-detail--stroke" style="color: gray">[[${club.clubAgeName}]]</span>&nbsp;
						</p>
						<p>
							<span class="product-detail--stroke">성별</span>&nbsp; <span
								class="product-detail--stroke" style="color: gray">[[${club.clubGenName}]]</span>
						</p>
						<p>
							<span class="product-detail--stroke">경기장</span>&nbsp; <span
								class="product-detail--stroke" style="color: gray">[[${club.clubCrt}]]</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</th:block>
</html>