<!DOCTYPE html>
<html>
<head>
<style>
.boardContainer {
	margin-bottom: -16px;
}

.toggleBoardTitle {
	cursor: pointer;
}

.boardBody {
	height: 0;
	overflow: hidden;
	transition: all 1s;
}

/* #btn-all-close {
	margin-bottom: 10px;
	background-color: #726996;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 25px;
	float: right;
}

#btn-all-close:hover {
	background-color: yellow;
	color: #000;
	transition: all 0.35s;
} */
.boardBody.active {
  display: block;
  /* 높이를 정해줘야지만 transition이 적용됨 fit-content */
  height: 800px ;
  
}

</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="content__body">
		<section class="archive-category">
			<div class="col-12">
				<div class="filter__area" style="margin: 0;">
					<div class="email-fixed-search col-6 ">
						<div class="form-group position-relative  mb-0 has-icon-left">
							<input type="text" class="form-control"
								placeholder="Serch club...">
							<div class="form-control-icon">
								<svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                                        <use
										xlink:href="assets/static/images/bootstrap-icons.svg#search" />
                                                    </svg>
							</div>
						</div>
					</div>
					<div class="shortBy-select select__style d-lg-flex d-none">
						<label for="sortBy2">Sort by:</label> <select name="sortBy"
							id="sortBy2">
							<option value="0">최신순</option>
							<option value="0">인기순</option>
							<option value="0">이름순</option>
						</select>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- table hover -->
	<div class="table-responsive">
		<!-- <table class="table table-hover mb-0">
			<thead>
				<tr>
					<th>NO</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				 <tr class="toggleBoard" style="height: 70px;">
					<td>1</td>
					<td>
						<div class="boardContainer">
							<p class="toggleBoardTitle">이것은 자유게시판 제목1</p>
							게시글 상세 조회 토글 
							<div class="boardBody">
								<p>이것은 자유게시판 내용1</p>
								<p>사진</p>
							</div>
						</div>
					</td>
					<td>user kim</td>
					<td>2023-11-24</td>
					<td>6</td>
				</tr> 
			</tbody>
		</table> -->
		
		<table class="table mb-0">
			<thead>
				<tr>
					<th>NO</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				 <tr class="toggleBoard" style="height: 70px;">
				 	
					<td>1</td>
					<td>
						<div class="boardContainer">
							<p class="toggleBoardTitle">이것은 자유게시판 제목1</p>
						</div>
					</td>
					<td>user kim</td>
					<td>2023-11-24</td>
					<td>6</td>
				</tr>
				<!-- 게시글 상세보기 토글  -->
				<tr class="toggleBoard">
					<td colspan='5' style="padding: 0;">
						<div class="boardBody" style="text-align: center;">
							<div>
								<img src="./assets/img/card.jpg" style="width: 90%;">
							</div>
							<textarea class="form-control"
									  id="exampleFormControlTextarea1" rows="3"></textarea>
									  
							 <input type="text" id="" class="form-control is-valid" placeholder="댓글작성폼">
							<p>여기는 댓글</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<br>
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#"
				tabindex="-1" aria-disabled="true">이전</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">다음</a></li>
		</ul>
	</div>
	<script>
	/* window.onload = () => {
		  // panel-faq-container
		  const toggleContainer = document.querySelectorAll(".boardContainer"); // NodeList 객체
		  // panel-faq-answer
		  let toggleAnswer = document.querySelectorAll(".boardBody");

		  toggleContainer.addEventListener('click', function() {
			  console.log('====');
			  toggleAnswer.classList.toggle('active');
		  })
	}*/
		  
	
		  // panel-faq-answer
		  
          //let toggleAnswer = document.querySelectorAll(".boardBody");
		  document.querySelector(".boardContainer").addEventListener('click', function() {
			  
			  console.log("====");
			  const toggleAnswer = document.querySelector(".boardBody")
			  console.log(toggleAnswer);
			  toggleAnswer.classList.toggle('active');
		  })	  
		  
		  

		  // btn-all-close
		  // const btnAllClose = document.querySelector("#btn-all-close");
		  
		  // 반복문 순회하면서 해당 FAQ제목 클릭시 콜백 처리
		  
		  /* for( let i=0; i < toggleContainer.length; i++ ) {
			  toggleContainer[i].addEventListener('click', function() { // 클릭시 처리할 일
		      // FAQ 제목 클릭시 -> 본문이 보이게끔 -> active 클래스 추가
		      toggleAnswer[i].classList.toggle('active');
		    });
		  }; */
		  
		 /*  btnAllClose.addEventListener('click', function() {
		    // 버튼 클릭시 처리할 일  
		    for(let i=0; i < panelFaqAnswer.length; i++) {
		        panelFaqAnswer[i].classList.remove('active');
		    };
		  }); */
		
	</script>




</body>
</html>