<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<!-- club sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-list fs-3 text-info"></i>
					</div>클럽 목록</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-pen-square fs-3 text-primary"></i>
					</div>클럽 창설</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-m fs-3 text-warning"></i>
					</div>마이 클럽</a></li>
		</ul>
	</div>
	<!-- End club sub menu  -->

	<div class="container">
		
	</div>
	
</th:block>

</html>