<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<!-- club sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-list fs-3 text-info"></i>
					</div>클럽 목록</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-pen-square fs-3 text-primary"></i>
					</div>클럽 창설</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-m fs-3 text-warning"></i>
					</div>마이 클럽</a></li>
		</ul>
	</div>
	<!-- End club sub menu  -->

	<div class="container">

		<div class="page-title">
			<div class="row">
				<div class="col-12 col-md-6 order-md-1 order-last">
					<h3 style="color: black">클럽을 직접 개설하세요</h3>
					<p class="text-subtitle text-muted">클럽 만들고 함께 테니스를 치세요오오</p>
					<br>
				</div>
				<div class="col-12 col-md-6 order-md-2 order-first">
					<nav aria-label="breadcrumb"
						class="breadcrumb-header float-start float-lg-end">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">클럽</a></li>
							<li class="breadcrumb-item active" aria-current="page">클럽 창설</li>
						</ol>
					</nav>
				</div>
			</div>
			<hr>
		</div>

		<div class="col-md-12 col-12">
			<div class="card">
				<div class="card-content">
					<div class="card-body">
						<!-- 클럽 등록 폼 -->
						<form class="form form-vertical" th:action="@{/clubform}"
							method="POST" th:object="${clubVO}" enctype="multipart/form-data"
							data-parsley-validate>
							<div class="form-body">
								<div class="row">
									<div class="form-group mandatory col-10">
										<label for="formClubName" data-parsley-required="true" class="form-label">클럽명</label>
										 <input type="text" id="formClubName" class="form-control is-valid"
											name="clubName" th:value="${clubName}" placeholder="클럽 이름을 정해주세요">
									</div>
								<!-- 	<div class="form-group mandatory col-2">
										<label for="first-name-vertical" data-parsley-required="true"
											class="form-label" style="opacity: 0"></label> <a href="#"
											class="btn btn-outline-secondary" style="display: block;">중복체크</a>
									</div>
 -->
									<div class="col-12">
										<div class="form-group mandatory">
											<label for="contact-info-vertical">프로필사진</label> <input
												type="file" class="image-preview-filepond">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group mandatory">
											<label data-parsley-required="true" class="form-label">요일</label>
											<div>
												<input class="form-check-input" type="checkbox"
													name="clubDay" id="checkbox1" value="j1"
													style="display: inline-block;"> <label
													class="form-check-label" for="checkbox1"
													style="display: inline-block;">일요일</label>&nbsp; <input
													class="form-check-input" type="checkbox" name="clubDay"
													id="checkbox2" value="j2" style="display: inline-block;">
												<label class="form-check-label" for="checkbox2"
													style="display: inline-block;">월요일</label>&nbsp; <input
													class="form-check-input" type="checkbox" name="clubDay"
													id="checkbox3" value="j3" style="display: inline-block;">
												<label class="form-check-label" for="checkbox3"
													style="display: inline-block;">화요일</label>&nbsp; <input
													class="form-check-input" type="checkbox" name="clubDay"
													id="checkbox4" value="j4" style="display: inline-block;">
												<label class="form-check-label" for="checkbox4"
													style="display: inline-block;">수요일</label>&nbsp; <input
													class="form-check-input" type="checkbox" name="clubDay"
													id="checkbox5" value="j5" style="display: inline-block;">
												<label class="form-check-label" for="checkbox5"
													style="display: inline-block;">목요일</label>&nbsp; <input
													class="form-check-input" type="checkbox" name="clubDay"
													id="checkbox5" value="j6" style="display: inline-block;">
												<label class="form-check-label" for="checkbox5"
													style="display: inline-block;">금요일</label>&nbsp; <input
													class="form-check-input" type="checkbox" name="clubDay"
													id="checkbox7" value="j7" style="display: inline-block;">
												<label class="form-check-label" for="checkbox7"
													style="display: inline-block;">토요일</label>&nbsp;
											</div>
										</div>

									</div>
									<!-- <div class="col-12">
										<div class="form-group mandatory">
											<label data-parsley-required="true" class="form-label">요일</label>
											<ul class="list-unstyled mb-0" name="clubDay" data-parsley-required="true" th:field="*{clubDay}">
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox1"
																class="form-check-input" value="j1"> <label for="checkbox1">일요일</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox2"
																class="form-check-input" value="j2"> <label for="checkbox2">월요일</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox3"
																class="form-check-input" value="j3"> <label for="checkbox3">화요일</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox4"
																class="form-check-input" value="j4"> <label for="checkbox4">수요일</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox5"
																class="form-check-input" value="j5"> <label for="checkbox5">목요일</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox6"
																class="form-check-input" value="j6"> <label for="checkbox6">금요일</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox7"
																class="form-check-input" value="j7"> <label for="checkbox7">토요일</label>
														</div>
												</li>
												
											</ul>
										</div>
									</div> -->
									<!-- <div class="col-12">
										<div class="form-group mandatory">
											<label data-parsley-required="true" class="form-label">시간</label>
											<ul class="list-unstyled mb-0" data-parsley-required="true" th:field="*{clubTime}">
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox8"
																class="form-check-input" value="k1"> <label for="checkbox8">오전</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox9"
																class="form-check-input" value="k2"> <label for="checkbox9">오후</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox10"
																class="form-check-input" value="k3"> <label for="checkbox10">저녁</label>
														</div>
												</li>
												<li class="d-inline-block me-2 mb-1" >
														<div class="checkbox">
															<input type="checkbox" id="checkbox11"
																class="form-check-input" value="k4"> <label for="checkbox11">심야</label>
														</div>
												</li>
											</ul>
										</div>
									</div> -->
									
									<div class="col-12">
										<div class="form-group mandatory">
											<label data-parsley-required="true" class="form-label">시간</label>
											<div>
												<input class="form-check-input" type="checkbox"name="clubTime" id="checkbox8" value="k1"
													style="display: inline-block;"> 
												<label class="form-check-label" for="checkbox8" style="display: inline-block;">오전</label>&nbsp;
												 
												<input class="form-check-input" type="checkbox" name="clubTime" id="checkbox9" value="k2" 
													style="display: inline-block;">
												<label class="form-check-label" for="checkbox9" style="display: inline-block;">오후</label>&nbsp; 
												
												<input class="form-check-input" type="checkbox" name="clubTime" id="checkbox10" value="k3" 
													style="display: inline-block;">
												<label class="form-check-label" for="checkbox10" style="display: inline-block;">저녁</label>&nbsp; 
												
												<input class="form-check-input" type="checkbox" name="clubTime" id="checkbox11" value="k4" 
													style="display: inline-block;">
												<label class="form-check-label" for="checkbox11" style="display: inline-block;">심야</label>&nbsp;
											</div>
										</div>

									</div>
									
									<div class="col-6">
										<div class="form-group ">
											<label for="exampleFormControlTextarea1" class="form-label">지역</label>
											<select class="form-control"
												name="clubRegion" data-parsley-required="true"
		                                        th:field="*{clubRegion}">
												<option value="b1">서울</option>
	                                            <option value="b2">경기</option>
	                                            <option value="b3">인천</option>
	                                            <option value="b4">강원도</option>
	                                            <option value="b5">전라도</option>
	                                            <option value="b6">경상도</option>
	                                            <option value="b7">충청도</option>
	                                            <option value="b8">제주도</option>
											</select>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group ">
											<label for="exampleFormControlTextarea1" class="form-label">주 코트장</label>
											 <input type="text" id="formClubName" class="form-control"
											name="clubCrt" th:value="${clubCrt}" placeholder="주로 이용하는 코트장을 입력하세요.">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group ">
											<label for="exampleFormControlTextarea1" class="form-label">연령대</label>
											<select class="form-control" name="clubAge" 
											        data-parsley-required="true" th:field="*{clubAge}">
												<option value="a1">10대</option>
	                                            <option value="a2">20대</option>
	                                            <option value="a3">30대</option>
	                                            <option value="a4">40대</option>
	                                            <option value="a5">50대</option>
	                                            <option value="a6">60대 이상</option>
											</select>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group ">
											<label for="exampleFormControlTextarea1" class="form-label">성별</label>
											<select class="form-control" name="clubGen" 
											        data-parsley-required="true" th:field="*{clubGen}">
												<option value="c1">남성</option>
	                                            <option value="c2">여성</option>
	                                            <option value="c3">남녀모두</option>
											</select>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group mandatory">
											<label for="password-vertical">소개글</label>
											<textarea class="form-control" name="clubIntro"
												id="exampleFormControlTextarea1" rows="3"></textarea>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group ">
										<div>
											<label for="exampleFormControlTextarea1" class="form-label">모집여부</label> 
										</div>	
											  <input class="form-check-input" type="radio"
												name="clubRecruitment" value="l1" style="display: inline-block;">
												<label class="form-check-label" for="indoor"
												style="display: inline-block;">비활성화</label>&nbsp;
											  <input class="form-check-input" type="radio" 
											    name="clubRecruitment" value="l2" style="display: inline-block;">
											    <label class="form-check-label" for="outdoor"
												style="display: inline-block;">활성화</label>
										</div>
									</div>

									<div class="col-12 d-flex justify-content-end">
										<button type="submit" class="btn btn-primary me-1 mb-1">개설</button>
										<button type="reset" class="btn btn-light-secondary me-1 mb-1">취소</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script>
	
	</script>


</th:block>

</html>