<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<!-- club sub menu -->
	<div class="container mb-4">
		<ul class="nav d-flex justify-content-around text-center">
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-list fs-3 text-info"></i>
					</div>클럽 목록</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-pen-square fs-3 text-primary"></i>
					</div>클럽 창설</a></li>
			<li class="d-flex flex-column"><a href="javascript:void(0)"><div>
						<i class="fa-solid fa-m fs-3 text-warning"></i>
					</div>마이 클럽</a></li>
		</ul>
	</div>
	<!-- End club sub menu  -->

	<div class="container">
		<div class="page-heading email-application overflow-hidden">
			<div class="page-title">
				<div class="row">
					<div class="col-12 col-md-6 order-md-1 order-last">
						<h3 style="color: black">클럽을 직접 개설하세요</h3>
						<p class="text-subtitle text-muted">클럽 만들고 함께 테니스를 치세요오오</p>
						<br>
					</div>
					<div class="col-12 col-md-6 order-md-2 order-first">
						<nav aria-label="breadcrumb"
							class="breadcrumb-header float-start float-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">클럽</a></li>
								<li class="breadcrumb-item active" aria-current="page">클럽 창설</li>
							</ol>
						</nav>
					</div>
				</div>
				<hr>
							
			</div>
			<!-- Basic Vertical form layout section start -->
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-vertical">
                                <div class="form-body">
                                    <div class="row">
                                       
                                            <div class="form-group mandatory col-10">
                                                <label for="first-name-vertical" data-parsley-required="true" class="form-label" >클럽명</label>
                                                <input type="text" id="first-name-vertical" class="form-control is-valid" name="fname" placeholder="First Name">
                                            </div>
                                            <div class="form-group mandatory col-2">
                                                <label for="first-name-vertical" data-parsley-required="true" class="form-label" style="opacity: 0"> </label>
                                                <a href="#" class="btn btn-outline-secondary" style="display: block;">중복체크</a>
                                            </div>
                                           
                                           <div class="form-group mandatory col-10">
                                                <label for="first-name-vertical" data-parsley-required="true" class="form-label" >클럽코드</label>
                                                <input type="text" id="first-name-vertical" class="form-control is-valid" name="fname" placeholder="First Name">
                                            </div>
                                            <div class="form-group mandatory col-2">
                                                <label for="first-name-vertical" data-parsley-required="true" class="form-label" style="opacity: 0"> </label>
                                                <a href="#" class="btn btn-outline-secondary" style="display: block;">중복체크</a>
                                            </div>
                                        
                                        <div class="col-12">
                                            <div class="form-group mandatory">
                                                <label for="contact-info-vertical">프로필사진</label>
                                               <input type="file" class="image-preview-filepond">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group mandatory">
                                                <label for="password-vertical" data-parsley-required="true" class="form-label" >요일</label>
                                                 <ul class="list-unstyled mb-0">
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1" >월요일</label>
                                        </div>
                                    </div>
                                </li>   
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">화요일</label>
                                        </div>
                                    </div>
                                </li>  
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">수요일</label>
                                        </div>
                                    </div>
                                </li>  
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">목요일</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">금요일</label>
                                        </div>
                                    </div>
                                </li> 
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">토요일</label>
                                        </div>
                                    </div>
                                </li> 
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">일요일</label>
                                        </div>
                                    </div>
                                </li>                               
                            </ul>
                                            </div>
                                        </div>
                                         <div class="col-12">
                                            <div class="form-group mandatory">
                                                <label for="password-vertical" data-parsley-required="true" class="form-label" >시간</label>
                                                 <ul class="list-unstyled mb-0">
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">오전</label>
                                        </div>
                                    </div>
                                </li>   
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">오후</label>
                                        </div>
                                    </div>
                                </li>  
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">져녁</label>
                                        </div>
                                    </div>
                                </li>  
                                <li class="d-inline-block me-2 mb-1">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class="form-check-input">
                                            <label for="checkbox1">심야</label>
                                        </div>
                                    </div>
                                </li>                              
                            </ul>
                                            </div>
                                        </div>
                                         <div class="col-6">
                                             <div class="form-group ">
					                            <label for="exampleFormControlTextarea1" class="form-label">지역</label>
		                                        <select class="choices form-select">
		                                            <option value="square">Square</option>
		                                            <option value="rectangle">Rectangle</option>
		                                            <option value="rombo">Rombo</option>
		                                            <option value="romboid">Romboid</option>
		                                            <option value="trapeze">Trapeze</option>
		                                            <option value="traible">Triangle</option>
		                                            <option value="polygon">Polygon</option>
		                                        </select>
		                                    </div>
                                        </div>
                                        <div class="col-6">
                                             <div class="form-group ">
					                            <label for="exampleFormControlTextarea1" class="form-label">경기장</label>
		                                        <select class="choices form-select">
		                                            <option value="square">Square</option>
		                                            <option value="rectangle">Rectangle</option>
		                                            <option value="rombo">Rombo</option>
		                                            <option value="romboid">Romboid</option>
		                                            <option value="trapeze">Trapeze</option>
		                                            <option value="traible">Triangle</option>
		                                            <option value="polygon">Polygon</option>
		                                        </select>
		                                    </div>
                                        </div>
                                       
                                         <div class="col-12">
                                            <div class="form-group mandatory">
                                                <label for="password-vertical" data-parsley-required="true" class="form-label" >연령대</label>
                                                <input type="password" id="password-vertical" class="form-control"
                                                    name="contact" placeholder="Password">
                                            </div>
                                        </div>
                                         <div class="col-12">
                                            <div class="form-group mandatory">
                                                <label for="password-vertical" data-parsley-required="true" class="form-label" >성별</label>
                                                <input type="password" id="password-vertical" class="form-control"
                                                    name="contact" placeholder="Password">
                                            </div>
                                        </div>
                                         <div class="col-12">
                                            <div class="form-group mandatory">
                                                <label for="password-vertical" data-parsley-required="true" class="form-label" >레벨</label>
                                                <input type="password" id="password-vertical" class="form-control"
                                                    name="contact" placeholder="Password">
                                            </div>
                                        </div>
                                         <div class="col-12">
                                            <div class="form-group mandatory">
                                                <label for="password-vertical">소개글</label>
                                                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                            <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- // Basic Vertical form layout section end -->

			
		</div>
	</div>
	<script>

    document.querySelector('.email-compose-new-close-btn').addEventListener('click', () => {
        document.querySelector('.compose-new-mail-sidebar').classList.remove('show')
    })
</script>


</th:block>

</html>