<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<th:block layout:fragment="content">
	<body>
		<div class="content__body">
			<ul style="list-style: none;" id="realMemList">
				<!-- 여기에 멤버 리스트 -->
			</ul>
		</div>
		<br>
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#"
				tabindex="-1" aria-disabled="true">이전</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">다음</a></li>
		</ul>

		<script th:inline="javascript">
		
		
		
		//멤버 리스트
		function realMemListAjax(){
			let clubNo = [[${club.clubNo}]];
			console.log("진짜 멤버에서 클럽번호" + clubNo);
			$.ajax({
				type: 'GET',
				url: 'clubMemList',
				data:  {clubNo},
				success: function (data) {
					$('#realMemList').empty();
					for (let rep of data) {
						let List = `
							<li>
							<div class="recent-message d-flex px-4 py-3"
								style="border-bottom: 1px solid #e1e1e1; display: flex; justify-content: space-between; align-items: center;">
								<div class="d-flex-right">
									<div class="avatar avatar-lg">
										<img src="./assets/compiled/jpg/4.jpg">
									</div>
									<div class="name ms-4">
										<h5 class="mb-1">${rep.nick}</h5>
										<h7 class="text-muted mb-0">${rep.clubGenName} / ${rep.clubAgeName}</h7>
									</div>
								</div>
								<div>
									<i class="fa-regular fa-trash-can memNoBtn" type="button" data-mem-no="${rep.clubMemNo}"></i>	
								</div>
							</div>
						</li>
						`
						$('#realMemList').append(List)
					} // 반복문 끝
					
					//삭제 아이콘 클릭
					$(".memNoBtn").on("click", function(e){
						let clubMemNo = $(this).data('mem-no');
						Swal.fire({
							title: "멤버를 퇴출 하시겠습니까?",
							text: "해당 멤버의 모든 클럽 활동이 삭제되며 삭제내역은 복구되지 않습니다.",
							icon: "warning",
							showCancelButton: true,
							confirmButtonColor: "#3085d6",
							cancelButtonColor: "#d33",
							cancelButtonText: '취소',
							confirmButtonText: "퇴출"
						}).then((result) => {
							if (result.isConfirmed) {
								memberDeleteAjax(clubMemNo)
							}
						});
					});
						
				} //success 끝
			})
		}//
		
		/* function memberDeleteAjax(clubMemNo){
			$.ajax({
				type: 'POST',
				url: 'clubMemDelete',
				data: { paramMemNo: clubMemNo },
				dataType: 'JSON',
				success: function (result) {
					if (result) {
						//삭제되면 리스트 다시 불러오기
						realMemListAjax()
					}
				},
				error: function () {
					alert("삭제실패");
				}
			})
		  }; */
		  
		  function memberDeleteAjax(clubMemNo){
				$.ajax({
					type: 'POST',
					url: 'clubMemDelete',
					data: { paramMemNo: clubMemNo },
					dataType: 'JSON'
			 	 })
				.done(result => {
					//console.log('JSON', result);
					if(result > -1){
						Swal.fire({
							  icon: "success",
							  title: "퇴출 완료",
							  text: "멤버가 퇴출되었습니다.",
							}).then(
									realMemListAjax()
						    )
					} else {
						Swal.fire({
							  icon: "error",
							  title: "퇴출 실패",
							  text: "퇴출 중 문제 발생",
						}).then(function(){
							location.reload();
						})
					}
					
				})
		  }
		
		$(document).ready(function () {
			realMemListAjax()
		});
		</script>
	</body>
</th:block>
</html>