<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.tenniswing.project.match.mapper.MatchHistMapper">
  	<!-- 전체 조회  -->
  	<select id="selectAllMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, mem_id
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  		FROM match_hist
  		ORDER BY match_hist_no
   	</select>

	<!-- 클럽매치이력 전체조회  -->
  	<select id="selectAllClubMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, match_apply_club_no
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  				, accept_state
  		FROM club_match_hist
  		ORDER BY match_hist_no
   	</select>

	<!-- 대회매치이력 전체조회  -->
  	<select id="selectAllContMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, match_apply_mem_id
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  		FROM cont_match_hist
  		ORDER BY match_hist_no
   	</select>
   	
   	<!-- 스타터매치이력 전체조회  -->
  	<select id="selectAllStarterMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, mem_id
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  		FROM starter_match_hist
  		ORDER BY match_hist_no
   	</select>
   	
  	<!-- 단건조회 -->
  	<select id="selectMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, mem_id
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  		FROM match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</select>
  	
  	<!-- 클럽매치이력 단건조회 -->
  	<select id="selectClubMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, match_apply_club_no
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  				, accept_state
  		FROM club_match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</select>
  	
  	<!-- 대회매치이력 단건조회 -->
  	<select id="selectContMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, match_apply_mem_id
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  		FROM cont_match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</select>
  
  <!-- 스타터매치이력 단건조회 -->
  	<select id="selectStarterMatchHist" resultType="MatchHistVO">
  		SELECT match_hist_no
  				, match_no
  				, mem_id
  				, match_apply_date
  				, wrt_regi_date
  				, match_state
  		FROM starter_match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</select>
  
  	<!-- 등록 -->
  	<insert id="insertMatchHist" parameterType="MatchHistVO">
  	 	<selectKey keyProperty="matchHistNo" 
  	 			   resultType="int" 
  	 			   order="BEFORE">
  	 		SELECT NVL(MAX(match_hist_no), 0) + 1 
			FROM match_hist
  	 	</selectKey>
  	 	INSERT INTO match_hist
  	 			(
		  	 		match_hist_no
	  				, match_no
	  				, mem_id
	  				, wrt_regi_date
	  				, match_state	
  	 			)
  	 			VALUES
  	 			(
  	 				#{matchHistNo}
  	 				,#{matchNo}
  	 				,#{memId}
  	 				,sysdate
  	 				,'m3'
  	 			)
  	</insert>  	
  
  <!-- 클럽매치이력 등록 -->
  	<insert id="insertClubMatchHist" parameterType="MatchHistVO">
  	 	<selectKey keyProperty="matchHistNo" 
  	 			   resultType="int" 
  	 			   order="BEFORE">
  	 		SELECT NVL(MAX(match_hist_no), 0) + 1 
			FROM club_match_hist
  	 	</selectKey>
  	 	INSERT INTO club_match_hist
  	 			(
		  	 		match_hist_no
	  				, match_no
	  				, match_apply_club_no
	  				, match_state
	  				, div
  	 			)
  	 			VALUES
  	 			(
  	 				#{matchHistNo}
  	 				,#{matchNo}
  	 				,#{clubNo}
  	 				,'g1'
  	 				,'bj2'
  	 			)
  	</insert> 
  	
  	 <!-- 대회매치이력 등록 -->
  	<insert id="insertContMatchHist" parameterType="MatchHistVO">
  	 	<selectKey keyProperty="matchHistNo" 
  	 			   resultType="int" 
  	 			   order="BEFORE">
  	 		SELECT NVL(MAX(match_hist_no), 0) + 1 
			FROM cont_match_hist
  	 	</selectKey>
  	 	INSERT INTO cont_match_hist
  	 			(
			  	 	match_hist_no
			  	 	, match_apply_mem_id
	  				, match_no
	  				, match_state
  	 			)
  	 			VALUES
  	 			(
  	 				#{matchHistNo}
  	 				,#{memId}
  	 				,#{matchNo}
  	 				,'g1'
  	 			)
  	</insert> 
  	
  	 <!-- 스타터매치이력 등록 -->
  	<insert id="insertStarterMatchHist" parameterType="MatchHistVO">
  	 	<selectKey keyProperty="matchHistNo" 
  	 			   resultType="int" 
  	 			   order="BEFORE">
  	 		SELECT NVL(MAX(match_hist_no), 0) + 1 
			FROM starter_match_hist
  	 	</selectKey>
  	 	INSERT INTO starter_match_hist
  	 			(
				  	match_hist_no
	  				, match_no
	  				, mem_id
	  				, match_apply_date
	  				, wrt_regi_date
	  				, match_state
  	 			)
  	 			VALUES
  	 			(
  	 				#{matchHistNo}
  	 				,#{matchNo}
  	 				,#{memId}
  	 				,sysdate
  	 				,sysdate
  	 				,'g1'
  	 			)
  	</insert> 
  
  	<!-- 수정 -->
  	<update id="updateMatchHist" parameterType="MatchHistVO">
  		UPDATE match_hist
  			SET
  				match_hist_no = #{matchHistNo}
  				, match_no = #{matchNo}
  				, mem_id = #{memId}
  				, match_apply_date = #{matchApplyDate}
  				, wrt_regi_date = #{wrtRegiDate}
  				, match_state = #{matchState}
  		WHERE match_hist_no = #{matchHistNo}
  	</update>
  	
  	<!-- 클럽매치이력 수정 -->
  	<update id="updateClubMatchHist" parameterType="MatchHistVO">
  		UPDATE club_match_hist
  			SET
  				match_hist_no = #{matchHistNo}
  				, match_no = #{matchNo}
  				, match_apply_club_no = #{matchApplyClubNo}
  				, match_apply_date = #{matchApplyDate}
  				, wrt_regi_date = #{wrtRegiDate}
  				, match_state = #{matchState}
  				, accept_state = #{acceptState}
  		WHERE match_hist_no = #{matchHistNo}
  	</update>
  	
  		<!-- 대회매치이력 수정 -->
  	<update id="updateContMatchHist" parameterType="MatchHistVO">
  		UPDATE cont_match_hist
  			SET
  				match_hist_no = #{matchHistNo}
  				, match_no = #{matchNo}
  				, match_applye_mem_id = #{memId}
  				, match_apply_date = #{matchApplyDate}
  				, wrt_regi_date = #{wrtRegiDate}
  				, match_state = #{matchState}
  		WHERE match_hist_no = #{matchHistNo}
  	</update>
  	
  		<!-- 스타터매치이력 수정 -->
  	<update id="updateStarterMatchHist" parameterType="MatchHistVO">
  		UPDATE starter_match_hist
  			SET
  				match_hist_no = #{matchHistNo}
  				, match_no = #{matchNo}
  				, match_applye_mem_no = #{memId}
  				, match_state = #{matchState}
  				, wrt_regi_date = #{wrtRegiDate}
  				, match_apply_date = #{matchApplyDate}
  		WHERE match_hist_no = #{matchHistNo}
  	</update>
  	  	
  	<!-- 삭제 -->
  	<delete id="deleteMatchHist" parameterType="int">
  		DELETE FROM match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</delete>
  	
  	<!-- 클럽매치이력 삭제 -->
  	<delete id="deleteClubMatchHist" parameterType="int">
  		DELETE FROM club_match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</delete>
  	
  	<!-- 대회매치이력 삭제 -->
  	<delete id="deleteContMatchHist" parameterType="int">
  		DELETE FROM cont_match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</delete>
  	
  	<!-- 스타터매치이력 삭제 -->
  	<delete id="deleteStarterMatchHist" parameterType="int">
  		DELETE FROM starter_match_hist
  		WHERE match_hist_no = #{matchHistNo}
  	</delete>
  	
  	<!-- 마이페이지 매치 이력 리스트 -->
  	<select id="selectAllMyMatchHist" resultType="map">
  		SELECT  m.match_no
  				, m.match_date
        		,(select crtroom_name
        			FROM crtroom
       				WHERE crtroom_no = m.crtroom_no) as crtroom_name  				
                , (select nick
                	FROM pr
                	WHERE mem_id = mh.mem_id) as opp_match
  				, mh.match_apply_date
  				, mh.wrt_regi_date
  				, FIND_CATEGORY_NAME(mh.match_state) match_state
                , mhr.MATCH_REP_NO
                , mhr.REP_CTT
  		FROM match m JOIN match_hist mh
                ON m.match_no = mh.match_no
                 LEFT OUTER JOIN match_hist_rep mhr
                 ON m.match_no = mhr.match_no
        where m.mem_id = #{memId}
  		ORDER BY match_hist_no
   	</select>   	
  </mapper>