<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<th:block layout:fragment="content">
	<div class="container">
		<!-- // Basic multiple Column Form section start -->
		<section id="multiple-column-form">
			<div class="row match-height">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">코트 등록</h4>
						</div>
						<div class="card-content">
							<div class="card-body">
								<!-- 등록 폼 -->
								<form th:action="@{/courtroomInsert}" method="POST" th:object="${crtroomVO}" class="form" data-parsley-validate>
									<div class="row">
										<div class="col-md-6 col-12">
											<div class="form-group mandatory">
												<label for="crtroomName" class="form-label">
													코트장 이름
												</label> <input type="text" name="crtroomName"
													class="form-control" placeholder="코트장 이름을 입력하세요."
													data-parsley-required="true"
													th:field="*{crtroomName}" />
											</div>
										</div>
										<div>
											<div class="form-group">
												<div class="form-group mb-3">
						                            <label for="crtroomExp" class="form-label">
						                            	코트장 설명
						                          	</label>
						                            <textarea class="form-control" name="crtroomExp" rows="3"
						                            placeholder="코트장 설명을 입력하세요."
						                            data-parsley-required="true"
						                            th:field="*{crtroomExp}"></textarea>
						                        </div>
											</div>
										</div>
										<div class="col-md-6 mb-4">
		                                    <div class="form-group mb-3">
					                            <label for="crtroomRegion" class="form-label">지역</label>
		                                        <select class="choices form-select" name="crtroomRegion"
		                                        data-parsley-required="true"
		                                        th:field="*{crtroomRegion}">
		                                            <option value="b1">서울</option>
		                                            <option value="b2">경기</option>
		                                            <option value="b3">인천</option>
		                                            <option value="b4">강원도</option>
		                                            <option value="b5">전라도</option>
		                                            <option value="b6">경상도</option>
		                                            <option value="b7">충청도</option>
		                                            <option value="b8">제주도</option>
		                                        </select>
		                                    </div>
		                                </div>
										<div>
											<div class="form-group col-md-6 col-12">
												<label for="crtroomLocation" class="form-label">
													위치
												</label>
												<!-- <input type="text" id="crtroomLocation"
													class="form-control" name="crtroomLocation"
													placeholder="Country" data-parsley-required="true"
													th:field="*{crtroomLocation}" /> -->
												<input type="text" id="sample5_address" placeholder="주소"
												class="form-control" name="crtroomLocation"
												th:field="*{crtroomLocation}" data-parsley-required="true"
												>
												<input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
												<div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="form-group">
												<label for="crtOperateTime" class="form-label">
													코트장 운영 시간
												</label>
												<input type="date" class="form-control flatpickr-time-picker-24h" name="crtOperateStartTime"
												data-parsley-required="true" placeholder="Select Start time.."
												th:field="*{crtroomOperateStartTime}">
												<input type="date" class="form-control flatpickr-time-picker-24h" name="crtOperateEndTime"
												data-parsley-required="true" placeholder="Select End time.."
												th:field="*{crtroomOperateEndTime}">
											</div>
										</div>
										<div>
											<div class="form-group">
												<div class="form-group mb-3">
						                            <label for="crtroomCaution" class="form-label">주의사항</label>
						                            <textarea class="form-control" name="crtroomCaution" rows="3"
						                            data-parsley-required="true" placeholder="주의사항을 입력하세요."
													th:field="*{crtroomCaution}"></textarea>
						                        </div>
											</div>
										</div>
										<div>
											<div class="form-group">
												<div class="form-group mb-3">
						                            <label for="crtroomUseGuide" class="form-label">이용 안내</label>
						                            <textarea class="form-control" name="crtroomUseGuide" rows="3"
						                            data-parsley-required="true" placeholder="이용 안내를 입력하세요."
													th:field="*{crtroomUseGuide}"></textarea>
						                        </div>
											</div>
										</div>
										<!-- <div>
											<div class="form-group mandatory">
												<label for="crtOperatePermit" class="form-label">
													운영 허가증
												</label>
												<input type="file" class="image-preview-filepond" name=""
												data-parsley-required="true" placeholder="파일을 첨부해주세요."
												th:field="*{}">
											</div>
										</div> -->
										<hr>
										<div class="col-md-6 col-12">
											<div class="form-group mandatory">
												<label for="crtDetailNo" class="form-label">
													코트 번호
												</label>
												<input type="number" name="crtDetailNo"
													class="form-control"
													placeholder="코트 번호를 입력하세요" data-parsley-required="true"
													/>
											</div>
										</div>
										<div>
											<div class="form-group mandatory">
												<label for="crtroomIndoorOutdoor" class="form-label">
													실내 외
												</label>
												<div class="form-check">
						                            <input class="form-check-input" type="radio" name="crtroomIndoorOutdoor" id="indoor">
						                            <label class="form-check-label" for="indoor">
						                            실내
						                            </label>
						                        </div>
						                        <div class="form-check">
						                            <input class="form-check-input" type="radio" name="crtroomIndoorOutdoor" id="outdoor"
						                                checked>
						                            <label class="form-check-label" for="outdoor">
						                            실외
						                            </label>
						                        </div>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="form-group mandatory">
												<label for="email-id-column" class="form-label">
													코트 개수
												</label>
												<input type="number" id="email-id-column"
													class="form-control" name="email-id-column"
													placeholder="Email" data-parsley-required="true" />
											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="form-group mandatory">
												<label for="email-id-column" class="form-label">
													코트 이용 가격
												</label>
												<input type="number" id="email-id-column"
													class="form-control" name="email-id-column"
													placeholder="Email" data-parsley-required="true" />
											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="form-group mandatory">
												<label for="email-id-column" class="form-label">
													코트 이용 단위 시간
												</label>
												<input type="number" id="email-id-column"
													class="form-control" name="email-id-column"
													placeholder="Email" data-parsley-required="true" />
											</div>
										</div>
										<div>
											<div class="form-group mandatory">
												<label for="image" class="form-label">
													코트 이미지
												</label>
												<input type="file" class="multiple-files-filepond" multiple>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 d-flex justify-content-end">
											<button type="submit" class="btn btn-primary me-1 mb-1">
												Submit</button>
											<button type="reset"
												class="btn btn-light-secondary me-1 mb-1">
												Reset</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- // Basic multiple Column Form section end -->
	</div>
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=발급받은 API KEY를 사용하세요&libraries=services"></script>
	<script>
	    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
	        mapOption = {
	            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
	            level: 5 // 지도의 확대 레벨
	        };
	
	    //지도를 미리 생성
	    var map = new daum.maps.Map(mapContainer, mapOption);
	    //주소-좌표 변환 객체를 생성
	    var geocoder = new daum.maps.services.Geocoder();
	    //마커를 미리 생성
	    var marker = new daum.maps.Marker({
	        position: new daum.maps.LatLng(37.537187, 127.005476),
	        map: map
	    });
	
	
	    function sample5_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                var addr = data.address; // 최종 주소 변수
	
	                // 주소 정보를 해당 필드에 넣는다.
	                document.getElementById("sample5_address").value = addr;
	                // 주소로 상세 정보를 검색
	                geocoder.addressSearch(data.address, function(results, status) {
	                    // 정상적으로 검색이 완료됐으면
	                    if (status === daum.maps.services.Status.OK) {
	
	                        var result = results[0]; //첫번째 결과의 값을 활용
	
	                        // 해당 주소에 대한 좌표를 받아서
	                        var coords = new daum.maps.LatLng(result.y, result.x);
	                        // 지도를 보여준다.
	                        mapContainer.style.display = "block";
	                        map.relayout();
	                        // 지도 중심을 변경한다.
	                        map.setCenter(coords);
	                        // 마커를 결과값으로 받은 위치로 옮긴다.
	                        marker.setPosition(coords)
	                    }
	                });
	            }
	        }).open();
	    }
	</script>
</th:block>
</html>