<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
	
<head>
	<link rel="stylesheet" href="assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="./assets/compiled/css/table-datatable-jquery.css">
</head>

<th:block layout:fragment="content">
	<div class="container">
		<!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Court List
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                            	<th>Court No</th>
                                <th>image</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Operate Time</th>
                                <th>Court Count</th>
                                <th>Register Date</th>
                                <th>Button</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<th:block th:each="courtList, stat : ${courtList}">
	                            <tr>
	                            	<td>[[ ${courtList.crtroomNo} ]]</td>
	                                <td></td>
	                                <td>[[ ${courtList.crtroomName} ]]</td>
	                                <td>[[ ${courtList.crtroomLocation} ]]</td>
	                                <td>[[ ${courtList.crtroomOperateStartTime} ]] ~ [[ ${courtList.crtroomOperateEndTime} ]]</td>
	                                <td>[[ ${courtList.crtCount} ]]</td>
	                                <td>[[ ${#dates.format(courtList.crtroomRegiDate,'yyyy년MM월dd일')} ]]</td>
	                                <td>
	                                	<div th:onclick="|location.href='@{/hostCourtDetail(crtroomNo=${courtList.crtroomNo})}'|" class="btn icon btn-primary"><i class="icon dripicons dripicons-enter"></i></div>
	                           			<div class="btn icon btn-success"><i class="icon dripicons dripicons-pencil"></i></div>
										<div th:onclick="|location.href='@{/deleteCourtroom(crtroomNo=${courtList.crtroomNo})}'|" class="btn icon btn-danger"><i class="icon dripicons dripicons-trash"></i></div>
	                                </td>
	                            </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Tables end -->
	</div>
	<script th:inline="javascript">
		let msg = [[${result}]]
		if(msg != null) alert(msg);
	</script>
	<script src="assets/extensions/jquery/jquery.min.js"></script>
	<script src="assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/static/js/pages/datatables.js"></script>
</th:block>
</html>