<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">
	
<head>
	<script src="sweetalert2.min.js"></script>
	<link rel="stylesheet" href="sweetalert2.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="./assets/compiled/css/table-datatable-jquery.css">
</head>

<th:block layout:fragment="content">
	<div class="container">
		<!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Court List
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                            	<th>Court No</th>
                                <th>image</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Operate Time</th>
                                <th>Court Count</th>
                                <th>Register Date</th>
                                <th>Button</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<th:block th:each="courtList, stat : ${courtList}">
	                            <tr>
	                            	<td id="crtroomNo" th:attrappend="id=${stat.index}">[[ ${courtList.crtroomNo} ]]</td>
	                                <td></td>
	                                <td>[[ ${courtList.crtroomName} ]]</td>
	                                <td>[[ ${courtList.crtroomLocation} ]]</td>
	                                <td>[[ ${courtList.crtroomOperateStartTime} ]] ~ [[ ${courtList.crtroomOperateEndTime} ]]</td>
	                                <td>[[ ${courtList.crtCount} ]]</td>
	                                <td>[[ ${#dates.format(courtList.crtroomRegiDate,'yyyy년MM월dd일')} ]]</td>
	                                <td>
	                                	<div th:onclick="|location.href='@{/hostCourtDetail(crtroomNo=${courtList.crtroomNo})}'|" class="btn icon btn-primary"><i class="icon dripicons dripicons-enter"></i></div>
	                           			<div class="btn icon btn-success edit" data-bs-toggle="modal" id="courtroomEdit" th:attrappend="id=${stat.index}"
                                			data-bs-target="#exampleModalCenter"><i class="icon dripicons dripicons-pencil"></i></div>
										<div class="btn icon btn-danger courtroom" id="courtroomDelete" th:attrappend="id=${stat.index}"><i class="icon dripicons dripicons-trash"></i></div>
	                                </td>
	                            </tr>
	                            <!-- Vertically Centered modal Modal -->
					            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
					                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
					                    role="document">
					                    <div class="modal-content">
					                        <div class="modal-header">
					                            <h5 class="modal-title" id="exampleModalCenterTitle">Vertically Centered
					                            </h5>
					                            <button type="button" class="close" data-bs-dismiss="modal"
					                                aria-label="Close">
					                                <i data-feather="x"></i>
					                            </button>
					                        </div>
					                        <div class="modal-body">
					                            <button class="btn icon icon-left btn-primary"
					                            th:onclick="|location.href='@{/editCourtroom(crtroomNo=${courtList.crtroomNo})}'|">
					                            	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
					                            	fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
					                            	class="feather feather-edit">
						                            	<path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
						                            	<path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
					                            	</svg> 코트장 수정
					                            </button>
					                        </div>
					                        <div class="modal-footer">
					                            <button type="button" class="btn btn-light-secondary"
					                                data-bs-dismiss="modal">
					                                <i class="bx bx-x d-block d-sm-none"></i>
					                                <span class="d-none d-sm-block">Close</span>
					                            </button>
					                        </div>
					                    </div>
					                </div>
					            </div>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Tables end -->
	</div>
	<script th:inline="javascript">
	$('.courtroom').on('click',function(e){
		
		Swal.fire({
			  title: "",
			  text: "정말 삭제하시겠습니까?",
			  icon: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#3085d6",
			  cancelButtonColor: "#d33",
			  confirmButtonText: "Yes, delete it!"
			}).then((result) => {
			  if (result.isConfirmed) {
			    console.log($(e.target));
				let cnt = $(e.target).prop("id").replace("courtroomDelete","");
				console.log(cnt);
				let courtroomNo = Number($('#crtroomNo'+cnt).text());
				$.ajax({
					type: 'POST',
					url: 'deleteCourtroom',
					data: {crtNo: courtroomNo},
					dataType: 'json',
					success: function(result){
						if(result){
							Swal.fire({
								  icon: "success",
								  title: "",
								  text: "정상적으로 삭제되었습니다.",
								}).then(function(){
									location.reload();
								})
						}else{
							Swal.fire({
								  icon: "error",
								  title: "",
								  text: "정상적으로 삭제되지 않았습니다. \n정보를 확인해주시기바랍니다.",
							})
						}
					}
				})
		  	}
		});
	})
		/* let msg = [[${result}]]
		if(msg != null) alert(msg); */
	</script>
	<script src="assets/extensions/jquery/jquery.min.js"></script>
	<script src="assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/static/js/pages/datatables.js"></script>
</th:block>
</html>