<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main-layout}">

<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<th:block layout:fragment="content">

	<div class="container">
		<!-- // Basic multiple Column Form section start -->
		<section id="multiple-column-form">
			<div class="row match-height">
				<div class="col-12">
					<div class="card">
							<h4>코트 등록</h4>
							<p style="color: red; font-size: 13px;">모든 사항은 필수 입력 사항입니다.</p>
						<div class="card-content">
							<div class="card-body">
								<!-- 등록 폼 -->
								<form th:action="@{/registerCourtDetail}" method="POST" th:object="${crtDetailVO}" class="form" name="insertForm" data-parsley-validate>
									<div class="row">
										<!-- 코트 세부 등록 -->
											<!-- <label for="courtNo" class="form-label">
												코트장 번호
											</label> -->
										<div class="col-md-4">
											<label for="contact-info-horizontal">실내 외 선택<span style="color: red"> *</span></label>
										</div>
										<div class="col-md-8 form-group">
											<input class="form-check-input" type="radio" name="crtIndoorOutdoor" id="Success"
							                value="1" style="display: inline-block;">
							                <label class="form-check-label" for="indoor" style="display: inline-block;">
							                실내
							                </label>&nbsp;
							                <input class="form-check-input" type="radio" name="crtIndoorOutdoor" id="Success"
							                value="2" style="display: inline-block;">
							                <label class="form-check-label" for="outdoor" style="display: inline-block;">
							                실외
							                </label>
										</div>
										<div class="col-md-4">
											<label for="contact-info-horizontal">코트 이용 가격<span style="color: red"> *</span></label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" 
												class="form-control" name="crtUsePrice" placeholder="코트 이용 가격을 입력하세요."
												data-parsley-required="true">
										</div>
										<div class="col-md-4">
											<label for="contact-info-horizontal">코트 이용 단위 시간<span style="color: red"> *</span></label>
										</div>
										<div class="col-md-8 form-group">
											<input type="number" 
												class="form-control" name="useUnitTime" placeholder="코트 이용 단위 시간을 입력하세요."
												data-parsley-required="true">
										</div>
										<div class="col-md-4">
											<label for="contact-info-horizontal">코트 이미지<span style="color: red"> *</span></label>
										</div>
										<div class="col-md-8 form-group">
											<input type="file" class="multiple-files-filepond" multiple>
										</div>
										<input type="hidden"
												class="form-control" name="crtroomNo" th:value="${param.crtroomNo}"
												readonly/>
										<div class="col-12 d-flex justify-content-end">
											<button type="submit" name="action" value="complete" class="btn btn-primary me-1 mb-1">
												등록 완료</button>
											<button type="submit" name="action" value="add" class="btn btn-primary me-1 mb-1">
												코트 추가 등록</button>
											<button type="reset"
												class="btn btn-light-secondary me-1 mb-1">
												취소</button>
										</div>
									</div>
								</form>
								<!-- // Basic multiple Column Form section end -->
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
	<script>
		/* document.querySelector('form[name="insertForm"]')
				.addEventListener('submit', crtDetailInsertHandler);
		function crtDetailInsertHandler(e){
			e.preventDefault();
			let crtIndoor = document.getElementsByName('crtIndoorOutdoor')[0];
			let crtOutdoor = document.getElementsByName('crtIndoorOutdoor')[1];
			let crtUsePrice = document.getElementsByName('crtUsePrice')[0];
			let useUnitTime = document.getElementsByName('useUnitTime')[0];
			
			if(crtIndoor.checked && crtOutdoor.checked){
				Swal.fire({
					  icon: "error",
					  title: "",
					  text: "코트 실내외 여부가 입력되지 않았습니다.",
					});
				
				return;
			}
			
			let list = [crtUsePrice,useUnitTime];
			let listExp = ['이용 가격','이용 단위 시간'];
			for(let i=0; i < list.length; i++){
				if(list[i].value == ''){
					Swal.fire({
						  icon: "error",
						  title: "",
						  text: "코트 "+listExp[i]+"이 입력되지 않았습니다.",
						});
					list[i].focus();
					return;
				}
			}
			
			insertForm.submit();
		} */
	</script>
<!-- 	<script>

		function setCourtNo(){
			$('.courtNo').last().val(getMaxNo());
		}
		function getMaxNo(){
			if(!no){
				no = 1;
			}else{
				no += 1;
			}
			return no;
		}
	</script>

 -->
 </th:block>

</html>